{% from 'macro_dpv_document_family.jinja2' import dpv_document_family, sotd %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}DPV-DGA: DGA Extension for DPV{% endblock title%}</title>
  <script src="https://www.w3.org/Tools/respec/respec-w3c" class="remove" defer></script>
  {% block RESPEC %}
  <script class="remove">
   // All config options at https://respec.org/docs/ 
   var respecConfig = {
    shortName: "dpv-dga",
    title: "DPV-DGA: DGA Extension for DPV",
    subtitle: "version 0.5",
    publishDate: "2023-09-20",
    specStatus: "CG-DRAFT",
    group: "dpvcg",
    latestVersion: "https://w3id.org/dpv/dpv-dga",
    canonicalUri: "https://w3id.org/dpv/dpv-dga",
    edDraftURI: "https://w3id.org/dpv/ed/dpv-dga",
    github: "w3c/dpv",
    subjectPrefix: "[dpv-dga]",
    doJsonLd: true,
    lint: { "no-unused-dfns": false, "local-refs-exist": true },
    editors: [
    {
      name: "Harshvardhan J. Pandit",
      url: "https://harshp.com",
      "company": "{{ "Harshvardhan J. Pandit" | generate_author_affiliation }}"
    },
    {
        "name": "Beatriz Esteves",
        "company": "{{ "Beatriz Esteves" | generate_author_affiliation }}"
    }
    ],
    authors: [
      {
        "name": "Beatriz Esteves",
        "company": "{{ "Beatriz Esteves" | generate_author_affiliation }}"
      },
      {
        "name": "Georg P. Krog",
        "company": "{{ "Georg P. Krog" | generate_author_affiliation }}"
      },
      {
        "name": "Harshvardhan J. Pandit",
        "company": "{{ "Harshvardhan J. Pandit" | generate_author_affiliation }}"
      }
    ],
    localBiblio: {%  include 'references.json' %}
  };
</script>
{% endblock RESPEC %}
<style type="text/css">
  /* Table styles, March 2016 */
  table {border-collapse:collapse}
  th, td {
    border:thin solid black;
    padding: 0.3em;
  }
  figure {
    margin: 2px;
    padding: 2px;
    border: 1px solid black;
  }
</style>
</head>
<body>
{% block ABSTRACT %}
  <section id="abstract">
    <p>DPV-DGA extends the [[[DPV]]] to provide taxonomies of concepts such as legal bases, rights, other relevant concepts as defined within the [[[DGA]]].</p>
    <p>The canonical URL for DPV-DGA is <a href="https://w3id.org/dpv/dpv-dga">https://w3id.org/dpv/dpv-dga</a> which contains (this) specification. The namespace for DPV terms is <a href="https://w3id.org/dpv/dpv-dga#"><code>https://w3id.org/dpv/dpv-dga#</code></a>, the suggested prefix is <code>dpv-dga</code>, and this document along with source and releases are available at <a href="https://github.com/w3c/dpv">https://github.com/w3c/dpv</a>.</p>
    <p>This work is based on the article "Semantics for Implementing Data Reuse and Altruism under EU's Data Governance Act" by Beatriz Esteves, Victor Rodriguez Doncel, Harshvardhan J. Pandit, and Dave Lewis, accepted for presentation at SEMANTiCS 2023. Preprint is <a href="https://doi.org/10.5281/zenodo.8301900">here</a>.</p>
    {{ dpv_document_family(document='dpv-dga-spec') }}
      {{ sotd() }}
  </section>
{% endblock ABSTRACT %}
{% block INTRODUCTION %}
  <section id="motivation">
    <h2>Introduction</h2>
    
  </section>
{% endblock INTRODUCTION %}
{% block VOCAB %}

    <section id="vocab-entities">
    <h2>Entities</h2>
    
    {% if entities_classes %}
    <section id="entities-classes">
    {{ table_classes(entities_classes, prefix='entities') }}
    </section>
    {% endif %}
    {% if entities_properties %}
    <section id="entities-properties">
    {{ table_properties(entities_properties, prefix='rights') }}
    </section>
    {% endif %}
  </section>

    <section id="vocab-legal-basis-DGA">
    <h3>Legal Bases</h3>
    {% if legal_basis_classes %}
    <section id="legal_basis-classes">
    {{ table_classes(legal_basis_classes) }}
    </section>
    {% endif %}
    {% if legal_basis_properties %}
    <section id="legal_basis-properties">
    {{ table_properties(legal_basis_properties) }}
    </section>
    {% endif %}
    </section>

  <section id="vocab-rights">
    <h2>Rights under DGA</h2>
    <p>DGA provides several rights to the data subject, whose applicability depends on the context and nature of processing taking place. DPV lists these rights at an abstract level as concepts along with their origin in specific clauses of the DGA.</p>
    <p>In addition to DPV's concepts regarding exercise of rights, DPV-DGA provides additional concepts specific to the implementation of its rights.</p>

    {% if rights_classes %}
    <section id="legal-rights-classes">
    {{ table_classes(legal_rights_classes, prefix='rights') }}
    </section>
    {% endif %}
    {% if rights_properties %}
    <section id="legal-rights-properties">
    {{ table_properties(legal_rights_properties, prefix='rights') }}
    </section>
    {% endif %}
  </section>

  <section id="vocab-services">
    <h2>Services</h2>
    
    {% if services_classes %}
    <section id="services-classes">
    {{ table_classes(services_classes, prefix='services') }}
    </section>
    {% endif %}
    {% if services_properties %}
    <section id="services-properties">
    {{ table_properties(services_properties, prefix='rights') }}
    </section>
    {% endif %}
  </section>

  <section id="vocab-registers">
    <h2>Registers</h2>
    
    {% if registers_classes %}
    <section id="registers-classes">
    {{ table_classes(registers_classes, prefix='registers') }}
    </section>
    {% endif %}
    {% if registers_properties %}
    <section id="registers-properties">
    {{ table_properties(registers_properties, prefix='rights') }}
    </section>
    {% endif %}
  </section>

  <section id="vocab-toms">
    <h2>Tech/Org Measures</h2>
    
    {% if toms_classes %}
    <section id="toms-classes">
    {{ table_classes(toms_classes, prefix='toms') }}
    </section>
    {% endif %}
    {% if toms_properties %}
    <section id="toms-properties">
    {{ table_properties(toms_properties, prefix='rights') }}
    </section>
    {% endif %}
  </section>

{% endblock VOCAB %}

{% block ACKNOWLEDGEMENTS %}
<section id="funding-acknowledgements" class="notoc">
  <h2>Funding Acknowledgements</h2>

  

</section>
{% endblock ACKNOWLEDGEMENTS %}
{% block PROPOSED %}
{% if proposed %}
<section id="proposed-terms" class="appendix">
  <h2>Proposed Terms</h2>
  <p>The following terms have been proposed for inclusion, and are under discussion. They are provided here for illustrative purposes and should not be considered as part of DPV.</p>
  {% for name, terms in proposed.items() %}
    <strong>{{name}}</strong>
    <ul>{% for term in terms %}
      <li>{{term}}</li>
    {% endfor %}</ul>
  {% endfor %}
</section>
{% endif %}
{% endblock PROPOSED %}

<section class="appendix" id="issue-summary"></section>

{% block DEPRECATED %}
<section class="appendix" id="appendix-deprecated">
  <h2>Deprecated Terms</h2>
</section>
{% endblock DEPRECATED %}
</body>
</html>