{% macro dpv_document_family(document=None) %}
{# references.json contains the title/href for documents which is automatically expanded by ReSpec ; this macro contains only the document listing and text #}
<section id="dpv-document-family" class="noTOC">
    <h2>DPV Family of Documents</h2>
    <ul>
      <li>[[[DPV-Primer]]]: {{ "(this document)" if document == 'primer' }} An introductory document for DPV's concepts and taxonomies.
        <p class="note">Newcomers to the DPV are <strong>strongly recommended to first read through the Primer</strong> to familiarise themselves with the semantics and concepts of DPV.</p>
      </li>
      <li>[[[DPV]]]: {{ "(this document)" if document == 'dpv-spec' }} The formal and normative description of DPV and its concepts, with serialisations in RDFS & SKOS [[DPV-SKOS]] and OWL2 [[DPV-OWL]]</li>
      <li>Extensions to Concepts: <ul>
        <li>[[DPV-GDPR]]: {{ "(this document)" if document == 'dpv-gdpr-spec' }} for GDPR concepts; serialisations: [[DPV-SKOS-GDPR]], [[DPV-OWL-GDPR]]</li>
        <li>[[DPV-PD]] {{ "(this document)" if document == 'dpv-pd-spec' }} for Personal Data concepts; serialisations: [[DPV-SKOS-PD]], [[DPV-OWL-PD]]</li>
        <li>[[DPV-LEGAL]] {{ "(this document)" if document == 'dpv-legal-spec' }} for Jurisdiction-relevant concepts; serialisations: [[DPV-SKOS-LEGAL]], [[DPV-OWL-LEGAL]]</li>
        <li>[[DPV-TECH]] {{ "(this document)" if document == 'dpv-tech-spec' }} for Technology concepts; serialisations: [[DPV-SKOS-TECH]], [[DPV-OWL-TECH]]</li>
        <li>[[RISK]] {{ "(this document)" if document == 'risk-spec' }} for Risk Assessment and Management concepts; serialisations: [[RISK-SKOS]], [[RISK-OWL]]</li>
        </ul></li>
      <li>[[[DPV-GUIDES]]]: {{ "(this document)" if document == 'dpv-guides' }}<ul>
        <li>[[[DPV-GUIDE-Serialisations]]] {{ "(this document)" if document == 'dpv-guide-serialisations' }} (coming soon)</li>
        <li>[[[DPV-GUIDE-SKOS]]] {{ "(this document)" if document == 'dpv-guide-skos' }} (coming soon)</li>
        <li>[[[DPV-GUIDE-OWL2]]] {{ "(this document)" if document == 'dpv-guide-owl2' }}</li>
        <li>[[[DPV-GUIDE-Notice]]] {{ "(this document)" if document == 'dpv-guide-consent' }} (coming soon)</li>
        <li>[[[DPV-GUIDE-Consent]]] {{ "(this document)" if document == 'dpv-guide-consent' }} (being updated for v1)</li>
        <li>[[[DPV-GUIDE-GDPR-DPIA]]] {{ "(this document)" if document == 'dpv-guide-gdpr-dpia' }} (being updated for v1)</li>
        <li>[[[DPV-GUIDE-GDPR-ROPA]]] {{ "(this document)" if document == 'dpv-guide-gdpr-ropa' }} (being updated for v1)</li>
        </ul></li>
      <li>Other Resources:<ul>
        <li>[[[UseCases-Requirements]]]</li>
        <li>[[[Examples]]]</li>
        <li>[[[DPV-NACE]]]</li>
        <li>[[[RIGHTS-EU]]] serialisations: [[RIGHTS-EU-SKOS]], [[RIGHTS-EU-OWL]]</li>
        </ul></li>
    </ul>
    <p><strong>Related Links</strong></p>
    <ul>
      <li>Releases are published on <a href="https://github.com/w3c/dpv/releases">GitHub</a></li>
      <li>For a general overview of the Data Protection Vocabularies and Controls Community Group [[DPVCG]], its history, deliverables, and activities - refer to <a href="https://www.w3.org/community/dpvcg/"><u>DPVCG Website</u></a>.</p>
      </li>
      <li>
        <p>The peer-reviewed article “<a href="https://link.springer.com/chapter/10.1007%2F978-3-030-33246-4_44"><u>Creating A Vocabulary for Data Privacy</u></a>” presents a historical overview of the DPVCG, and describes the methodology and structure of the DPV along with describing its creation. An open-access version can be accessed <a href="http://hdl.handle.net/2262/91581"><u>here</u></a>, <a href="http://doras.dcu.ie/23801/"><u>here</u></a>, and <a href="https://aic.ai.wu.ac.at/~polleres/publications/pand-etal-2019ODBASE.pdf"><u>here</u></a>.</p>
      </li>
    </ul>
</section>
{% endmacro %}

{% macro sotd() %}
<section id="sotd">
  <!-- sotd: Status of this document -->
  <p>This document is published by the <a href="https://www.w3.org/community/dpvcg/">Data Privacy Vocabularies and Controls Community Group (DPVCG)</a> as a deliverable and report of its work in creating and maintaining the Data Privacy Vocabulary (DPV).</p>
  <div class="note">
    <p><strong>Contributing to the DPV and its extensions</strong> The DPVCG welcomes participation regarding the DPV, including expansion or refinement of its terms, addressing open issues, and welcomes suggestions on their resolution or mitigation. For further information, please see the <a href="https://github.com/w3c/dpv#contribution--participation">contribution section</a>.</p>
  </div>
</section>
{% endmacro %}