{% macro table_classes(term_list, prefix=None, skip_heading=False) %}
  {% if not skip_heading %}<h3>Classes</h3>
  {% endif %}
    <p>
      {% for term in term_list | sort(attribute='iri') %}
      <code><a href="#{% if term|get_namespace_reference %}{{prefix}}-{{term.iri|prefix_this}}{% else %}{{term.iri|fragment_this}}{% endif %}">{{term.skos_prefLabel}}</a></code> |
      {% endfor %}
    </p>

    {% for term in term_list | sort(attribute='iri') %}
    <section {% if prefix %}data-dfn-for="{{prefix}}"{% endif %}>
      <h4 id="{% if term|get_namespace_reference %}{{prefix}}-{{term.iri|prefix_this}}{% else %}{{term.iri|fragment_this}}{% endif %}">{{term.skos_prefLabel}}</h4>
      <table class="definition">
        <tbody>
          <tr>
            <td>IRI</td>
            <td>{% if term|get_namespace_reference %}<a href="{{term.iri}}"><code>{{ term.iri }}</code></a>{% else %}<code>{{ term.iri }}</code></a>{% endif %}</td>
          </tr>
          <tr>
            <td>Term:</td>
            <td><dfn>{% if term|get_namespace_reference %}<a href="{{term.iri}}">{{term.iri|prefix_this}}</a>{% else %}{{term.iri|fragment_this}}{% endif %}</dfn></td>
          </tr>
          {% if not term|get_namespace_reference %}<tr>
            <td>Label:</td>
            <td>{{term.skos_prefLabel}}</td>
          </tr>
          <tr>
            <td>Description:</td>
            <td>{{term.skos_definition}}</td>
          </tr>
          {% else %}
            <tr><td>Vocabulary:</td><td>{% set prefix, iri = term.skos_prefLabel|get_namespace_reference %}[[[{{prefix}}]]]</a></td></tr>
            <tr><td>Usage Note:</td><td>{{ term.skos_scopeNote }}</td></tr>
          {% endif %}
          {% if term.rdfs_subClassOf %}
          <tr>
            <td>SubClass of:</td>
            <td>
              {% if term.rdfs_subClassOf is sequence and not term.rdfs_subClassOf is string %}{% for parent in term.rdfs_subClassOf|sort %}
              <a href="{{parent.iri}}">{{parent|prefix_this}}</a>{{", " if not loop.last}}
              {% endfor %}{% else %}
              <a href="{{term.rdfs_subClassOf.iri}}">{{term.rdfs_subClassOf|prefix_this}}</a>
              {% endif %}
            </td>
          </tr>
          {% elif term.skos_broader %}
          <tr>
            <td>Narrower than:</td>
            <td>
              {% if term.skos_broader is sequence and not term.skos_broader is string %}{% for parent in term.skos_broader|sort %}
              <a href="{{parent.iri}}">{{parent|prefix_this}}</a>{{", " if not loop.last}}
              {% endfor %}{% else %}
              <a href="{{term.skos_broader.iri}}">{{term.skos_broader|prefix_this}}</a>
              {% endif %}
            </td>
          </tr>
          {% endif %}
          {% for pt in term.rdf_type %}{% if 'dpv' in pt.iri %}
          <tr>
            <td>Instance of:</td>
            <td>{% for cls in term.rdf_type %}{% if 'dpv' in cls.iri %}<a href="{{cls.iri}}">{{cls|prefix_this}}</a>{% endif %}{% endfor %}</td>
          </tr>
          {% endif %}{% endfor %}
          {% set children = term|subclasses %}
          {% if children %}
          <tr>
            <td>SuperType Of:</td>
            <td>
              {% for child in children|sort %}
              <a href="{{child.iri}}">{{child|prefix_this}}</a>{{", " if not loop.last}}
              {% endfor %}
            </td>
          </tr>
          {% endif %}
          {% if term.rdf_value %}
          <tr>
            <td>rdf:value</td>
            <td>{{ term.rdf_value }}</td>
          </tr>
          {% endif %}
          {% if term.skos_note %}
          <tr>
            <td>Note:</td>
             <td>{{term.skos_note}}</td>
          </tr>
          {% endif %}
          {% if term.dct_source %}
          <tr>
            <td>Source:</td>
            <td>
            {% if term.dct_source is sequence and not term.dct_source is string %}{% for parent in term.dct_source|sort %}
              <a href="{{parent}}">{{parent|saved_label}}</a>{{', ' if not loop.last }}
              {% endfor %}{% else %}
              <a href="{{term.dct_source}}">{{term.dct_source|saved_label}}</a>
              {% endif %}
            </td>
          </tr>
          {% endif %}
          {% for prop in term.metadata %}
            {% if prop.startswith('dpvs_') %}
          <tr><td>{{ prop.replace('_',':') }}</td><td>{{ term|attr(prop)|prefix_this }}</td></tr>
            {% endif %}
          {% endfor %}
          {% if term.dct_created %}
          <tr>
            <td>Created:</td>
            <td><time>{{term.dct_created}}</time></td>
          </tr>
          {% endif %}
          {% if term.dct_modified %}
          <tr>
            <td>Modified:</td>
            <td><time>{{term.dct_modified}}</time></td>
          </tr>
          {% endif %}
          {% if term.dct_creator %}
          <tr>
            <td>Contributor(s):</td>
            <td>
              {% if term.dct_creator is sequence and not term.dct_creator is string %}{% for person in term.dct_creator|sort %}
              {{person}}{{', ' if not loop.last }}
              {% endfor %}{% else %}
              {{term.dct_creator}}
              {% endif %}
            </td>
          </tr>
          {% endif %}
          {% if term.skos_related %}
          <tr>
            <td>See Also:</td>
            <td>
              {% if term.skos_related is sequence and not term.skos_related is string %}{% for link in term.skos_related %}
              <a href="{{link.iri}}">{{link|prefix_this}}</a>{{", " if not loop.last}}
              {% endfor %}{% else %}
              <a href="{{term.skos_related.iri}}">{{term.skos_related|prefix_this}}</a>
              {% endif %}
            </td>
          </tr>
          {% endif %}
          {% if term.vann_example %}
            <tr>
              <td>Examples:</td>
              <td>{% if term.vann_example is sequence %}{% for ex in term.vann_example|sort(attribute='iri') %}<a href="{{ex}}">{{ ex|prefix_this }} - {{ ex|get_example_title }}</a>{{ "<br/>"|safe if not loop.last }}{% endfor %}{% else %}<a href="{{term.vann_example}}">{{ term.vann_example|prefix_this }} - {{ term.vann_example|get_example_title }}</a>{% endif %}</td>
            </tr>
          {% endif %}
        </tbody>
      </table>
    </section>
    {% endfor %}
{% endmacro %}

{% macro table_properties(term_list, prefix=None, skip_heading=False) %}
  {% if not skip_heading %}<h3>Properties</h3>{% endif %}
    <p>
      {% for term in term_list | sort(attribute='iri') %}
      <code><a href="#{% if term|get_namespace_reference %}{{prefix}}-{{term.iri|prefix_this}}{% else %}{{term.iri|fragment_this}}{% endif %}">{{term.skos_prefLabel}}</a></code> |
      {% endfor %}
    </p>

    {% for term in term_list | sort(attribute='iri') %}
    <section {% if prefix %}data-dfn-for="{{prefix}}"{% endif %}>
      <h4 id="{% if term|get_namespace_reference %}{{prefix}}-{{term.iri|prefix_this}}{% else %}{{term.iri|fragment_this}}{% endif %}">{{term.skos_prefLabel}}</h4>
      <table class="definition">
        <tbody>
          <tr>
            <td>IRI</td>
            <td>{% if term|get_namespace_reference %}<a href="{{term.iri}}"><code>{{ term.iri }}</code></a>{% else %}<code>{{ term.iri }}</code></a>{% endif %}</td>
          </tr>
          <tr>
            <td>Term:</td>
            <td><dfn>{% if term|get_namespace_reference %}{{ term.iri|prefix_this }}{% else %}{{term.iri|fragment_this}}{% endif %}</dfn></td>
          </tr>
          {% if not term|get_namespace_reference %}<tr>
            <td>Label:</td>
            <td>{{term.skos_prefLabel}}</td>
          </tr>
          <tr>
            <td>Description:</td>
            <td>{{term.skos_definition}}</td>
          </tr>
          {% else %}
            <tr><td>Vocabulary:</td><td>{% set prefix, iri = term.skos_prefLabel|get_namespace_reference %}[[[{{prefix}}]]]</a></td></tr>
            <tr><td>Usage Note:</td><td>{{ term.skos_scopeNote }}</td></tr>
          {% endif %}
          {% if term.rdfs_subPropertyOf %}
          <tr>
            <td>Sub-Property Of:</td>
            <td>
              {% if term.rdfs_subPropertyOf is sequence and not term.rdfs_subPropertyOf is string %}{% for parent in term.rdfs_subPropertyOf|sort %}
              <a href="{{parent.iri}}">{{parent|prefix_this}}</a>{{", " if not loop.last}}
              {% endfor %}{% else %}
              <a href="{{term.rdfs_subPropertyOf.iri}}">{{term.rdfs_subPropertyOf|prefix_this}}</a>
              {% endif %}
            </td>
          </tr>
          {% endif %}
          {% if term.dct_source %}
          <tr>
            <td>Source:</td>
            <td>
            {% if term.dct_source is sequence and not term.dct_source is string %}{% for parent in term.dct_source|sort %}
              <a href="{{parent}}">{{parent|saved_label}}</a>{{', ' if not loop.last }}
              {% endfor %}{% else %}
              <a href="{{term.dct_source}}">{{term.dct_source|saved_label}}</a>
              {% endif %}
            </td>
          </tr>
          {% endif %}
          <tr>
            <td>Domain:</td>
            <td>{% if term.rdfs_domain %}<a href="{{ term.rdfs_domain}}">{{ term.rdfs_domain|prefix_this}}</a>{% else %}<i>left blank / unspecified</i>{% endif %}</td>
          </tr>
          <tr>
            <td>Range:</td>
            <td>{% if term.rdfs_range %}<a href="{{ term.rdfs_range}}">{{ term.rdfs_range|prefix_this}}</a>{% else %}<i>left blank / unspecified</i>{% endif %}</td>
          </tr>
          {% if term.dct_created %}
          <tr>
            <td>Created:</td>
            <td><time>{{term.dct_created}}</time></td>
          </tr>
          {% endif %}
          {% if term.dct_date_approved %}
          <tr>
            <td>Approved:</td>
            <td><time>{{term.dct_date_accepted}}</time></td>
          </tr>
          {% endif %}
          {% if term.dct_creator %}
          <tr>
            <td>Contributor(s):</td>
            <td>
              {% if term.dct_creator is sequence and not term.dct_creator is string %}{% for person in term.dct_creator|sort %}
              {{person}}{{', ' if not loop.last }}
              {% endfor %}{% else %}
              {{term.dct_creator}}
              {% endif %}
            </td>
          </tr>
          {% endif %}
          {% if term.skos_related %}
          <tr>
            <td>See Also:</td>
            <td>
              {% if term.skos_related is sequence and not term.skos_related is string %}{% for link in term.skos_related %}
              <a href="{{link.iri}}">{{link|prefix_this}}</a>{{", " if not loop.last}}
              {% endfor %}{% else %}
              <a href="{{term.skos_related.iri}}">{{term.skos_related|prefix_this}}</a>
              {% endif %}
            </td>
          </tr>
          {% endif %}
          {% if term.vann_example %}
            <tr>
              <td>Examples:</td>
              <td>{% if term.vann_example is sequence %}{% for ex in term.vann_example|sort(attribute='iri') %}<a href="{{ex}}">{{ ex|prefix_this }} - {{ ex|get_example_title }}</a>{{ "<br/>"|safe if not loop.last }}{% endfor %}{% else %}<a href="{{term.vann_example}}">{{ term.vann_example|prefix_this }} - {{ term.vann_example|get_example_title }}</a>{% endif %}</td>
            </tr>
          {% endif %}
        </tbody>
      </table>
    </section>
    {% endfor %}
{% endmacro %}
