{% from 'macro_dpv_document_family.jinja2' import dpv_document_family, sotd %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>DPV Examples</title>
  <script src="https://www.w3.org/Tools/respec/respec-w3c" class="remove" defer></script>
  <script class="remove">
   // All config options at https://respec.org/docs/ 
   var respecConfig = {
    title: "DPV Examples",
    publishDate: "2022-10-12",
    specStatus: "CG-DRAFT",
    group: "dpvcg",
    latestVersion: "https://w3id.org/dpv/use-cases",
    github: {
      repoURL: "https://github.com/w3c/dpv",
      branch: "master"
    },
    subjectPrefix: "[ucr]",
    doJsonLd: true,
    lint: { "no-unused-dfns": false },
    canonicalUri: "https://w3id.org/dpv/use-cases",
    editors: [
    {
      name: "Harshvardhan J. Pandit",
      url: "https://harshp.com/",
      "company": "{{ "Harshvardhan J. Pandit" | generate_author_affiliation }}"
    }
    ],
    localBiblio: {%  include 'references.json' %}
  };
  </script>
  <style type="text/css">
    .head img[src*="logos/W3C"] {
      display: inherit !important;
    }
    .head a:hover > img[src*='ogc'] {
      opacity: 0.8;
    }
    /* Table styles, March 2016 */
    table {border-collapse:collapse}
    th, td {
      border:thin solid black;
      padding: 0.3em;
    }
    .inlineCode {
      FONT-FAMILY: "courier new"; BACKGROUND-COLOR: #ddf
    }
    PRE.code {
      BORDER-RIGHT: #999999 1pt solid; PADDING-RIGHT: 0.5em; BORDER-TOP: #999999 1pt solid; PADDING-LEFT: 0.5em; PADDING-BOTTOM: 0.5em; BORDER-LEFT: #999999 1pt solid; PADDING-TOP: 0.5em; BORDER-BOTTOM: #999999 1pt solid; FONT-FAMILY: "courier new"; BACKGROUND-COLOR: #eef
    }
    PRE.code2 {
      BORDER-RIGHT: #999999 1pt solid; PADDING-RIGHT: 0.5em; BORDER-TOP: #999999 1pt solid; PADDING-LEFT: 0.5em; PADDING-BOTTOM: 0.5em; BORDER-LEFT: #999999 1pt solid; PADDING-TOP: 0.5em; BORDER-BOTTOM: #999999 1pt solid; FONT-FAMILY: "courier new"; BACKGROUND-COLOR: #ffa
    }
    .ednote {
      FONT-STYLE: italic ;
    }
    PRE.clientmsg {
      BORDER-RIGHT: #999 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #999 1px solid; PADDING-LEFT: 2px; BACKGROUND: #eee; PADDING-BOTTOM: 2px; MARGIN: 0px; BORDER-LEFT: #999 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #999 1px solid
    }
    PRE.servermsg {
      BORDER-RIGHT: #999 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #999 1px solid; PADDING-LEFT: 2px; BACKGROUND: #eee; PADDING-BOTTOM: 2px; MARGIN: 5px 0px 0px; BORDER-LEFT: #999 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #999 1px solid; TEXT-ALIGN: left
    }
    P.msg {
      PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; TEXT-ALIGN: center
    }
    DIV.interaction {
      BORDER-RIGHT: #999 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #999 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; BORDER-LEFT: #999 1px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #999 1px solid
    }
    DIV.interaction H4 {
      MARGIN: 0px 0px 10px
    }
    DIV.interaction P {
      MARGIN: 0px
    }
    DIV.test {
      BORDER-RIGHT: #999 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #999 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; BORDER-LEFT: #999 1px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #999 1px solid
    }
    DIV.test H4 {
      MARGIN: 0px 0px 10px
    }
    .todo {
      display: block;
      background-color: #F99;
      margin: 5px;
      padding-left: 5px;
      border: 2px solid #633;
    }
    .todo::before {
      content: "TODO: ";
      font-weight: bold;
    }
    figure {
      margin: 2px;
      padding: 2px;
      border: 1px solid black;
    }
  </style>
</head>
<body>
  <section id="abstract">
    <p>This document lists the examples for concepts in DPV and aligned vocabularies. The examples are available in DPVCG GitHub repo under <i>./examples</i> path.</p>
    {{ dpv_document_family(document='dpv-spec') }}
    {{ sotd() }}
    <p>The namespaces used in this document are as follows:</p>
    <table>
      <tr><td><code>: </code></td><td><code><&lt;https://w3id.org/dpv/examples/vocab#&gt;</code></td></tr>
      <tr><td><code>dpv:</code></td><td><code>&lt;https://w3id.org/dpv#&gt;</code></td></tr>
      <tr><td><code>dct:</code></td><td><code>&lt;http://purl.org/dc/terms/&gt;</code></td></tr>
      <tr><td><code>rdfs:</code></td><td><code>&lt;http://www.w3.org/2000/01/rdf&#45;schema#&gt;</code></td></tr>
      <tr><td><code>skos:</code></td><td><code>&lt;http://www.w3.org/2004/02/skos/core#&gt;</code></td></tr>
      <tr><td><code>owl:</code></td><td><code>&lt;http://www.w3.org/2002/07/owl#&gt;</code></td></tr>
      <tr><td><code>vann:</code></td><td><code>&lt;http://purl.org/vocab/vann/&gt;</code></td></tr>
      <tr><td><code>xsd:</code></td><td><code>&lt;http://www.w3.org/2001/XMLSchema#&gt;</code></td></tr>
      <tr><td><code>sh:</code></td><td><code>&lt;http://www.w3.org/ns/shacl#&gt;</code></td></tr>
    </table>
    </section>

  <section id="vocab">
    <h2>Vocabulary</h2>
    <section id="conformance"></section>
    <section id="vocab-usecase">
      <h3>Example</h3>
      <table>
        <tr><td>IRI</td><td><code>https://w3id.org/dpv/use&#45;cases/vocab#</code></td></tr>
        <tr><td><code>skos:definition</code></td><td>An Example provides a description where information within the scope of DPVCG is expected to be relevant or applied, and acts as the basis for identifying requirements (including but not limited to creation of concepts). Use cases can contain descriptions of systems, their operations, actors and entities involved, restrictions or constraints, or any other pertinent detail. They can be a simple textual paragraph or elaborative structured documents (in which case we prefer to reference them here as an URL).</td></tr>
      </table>
      <ol>
        <li>An Example MUST have a title (provided using <code>dct:title</code>)</li>
        <li>An Example MUST have a description (provided using <code>dct:description</code>)</li>
        <li>An Example MUST have an identifier with prefix 'U' (provided using <code>dct:identifier</code>)</li>
        <li>An Example MAY have one or more contributors (specified using <code>dct:contributor</code>)</li>
        <li>An Example MAY have a date (e.g. creation or modification) (specified using <code>dct:date</code>)</li>
        <li>An Example MAY specify the source of its information (using <code>dct:source</code>)</li>
        <li>An Example MAY specify its primary subject or concept (using <code>dct:subject</code>)</li>
        <li>An Example MAY specify relevant requirements derived from it (using <code>dct:references</code>)</li>
      </ol>
      </section>
    </section>

    <section id="examples">
      <h2>Examples</h2>
      {% for DEX in examples %}
        <section id="{{DEX.dct_identifier}}">
          <h4><strong><i>{{DEX.dct_identifier}}</i>:</strong> {{ DEX.dct_title }}</h4>
          <p>{{ DEX.dct_description }}</p>
          {% if DEX.dct_subject %}
            <p><strong>Relevant Concepts:</strong> 
            {% if DEX.dct_subject is sequence %}
              {% for concept in DEX.dct_subject|sort(attribute='iri') %}<a href="{{concept}}">{{ concept|prefix_this }}</a>{{ ", " if not loop.last }}{% endfor %}
                {% else %}<a href="{{ DEX.dct_subject }}">{{ DEX.dct_subject|prefix_this }}</a>
              {% endif %}</p>
          {% endif %}
          <p>source: <a href="{{DEX.dct_source}}">{{DEX.dct_source}}</a></p>
          {% if DEX.dex_isEmbedded == "true" %}<pre><code>{{ DEX.dct_source|retrieve_source }}</code></pre>{% endif %}
        </section>
      {% endfor %}
    </section>


    <section id='concept-mappings' class='appendix'>
      <h2>Concept Mappings</h2>
      <ul>
      {% for concept, data in mappings.items()|sort(attribute=0) %}
        <li><a href="{{ concept }}">{{ concept|prefix_this }}</a>
          <ul>
          {% if data %}<li>examples:
            {% for uc in data %}<a href="#{{uc}}">{{ uc }}</a>{{ ", " if not loop.last }}{% endfor %}</li>{% endif %}
          </ul></li>
      {% endfor %}
      </ul>
    </section>
  </body>
  </html>