{% from 'macro_dpv_document_family.jinja2' import dpv_document_family, sotd %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Guides for Data Privacy Vocabulary</title>
    <style type="text/css">
        body {
            max-width: 38rem;
            margin: auto;
            line-height: 1.5;
        }
    </style>
    <script src="https://www.w3.org/Tools/respec/respec-w3c" class="remove" defer></script>
    <script class="remove">
   // All config options at https://respec.org/docs/ 
   var respecConfig = {
    shortName: "dpv",
    title: "Guides for Data Privacy Vocabulary (DPV)",
    specStatus: "CG-DRAFT",
    group: "dpvcg",
    publishDate: "2022-04-02",
    latestVersion: "https://w3id.org/dpv/guides",
    // github: {
    //   repoURL: "https://github.com/w3c/dpv",
    //   branch: "master"
    // },
    subjectPrefix: "[dpv]",
    doJsonLd: true,
    lint: { "no-unused-dfns": false },
    canonicalUri: "https://w3id.org/dpv/guides",
    editors: [{
      name: "Harshvardhan J. Pandit",
      url: "https://harshp.com",
      company: "Trinity College Dublin",
      companyURL: "https://tcd.ie/"
    }],
    localBiblio: {%  include 'references.json' %}
  };
</script>
</head>
<body>
    <section id="abstract">
        <p>This document lists the various guides created by the DPVCG and the community providing guidance for the adoption and use of DPV in terms of its concepts and serialisations, or regarding the application of DPV for specific applications or domains.</p>
        <p>The <a href="https://www.w3.org/community/dpvcg/">DPVCG</a> invites contributions regarding additional guides as well as updates to existing guides.</blockquote>
    {{ dpv_document_family(document='dpv-guides') }}
    {{ sotd() }}
    </section>

    <section id="guide-owl">
        <h1>[[[DPV-GUIDE-OWL2]]]</h1>
        <p>The [[[DPV-GUIDE-OWL2]]] provides guidance for the use of DPV as an OWL2 ontology, and explains how DPV can be easily encoded in a low-complexity profile of OWL2 called OWL2-PL.</p>
    </section>
</body>
</html>