{% extends 'contents_pd.jinja2' %}
{% from 'macro_term_table_skos.jinja2' import table_classes %}
{% from 'macro_term_table_skos.jinja2' import table_properties %}

{% block title %}DPVS-PD: Extended Personal Data categories for DPV-SKOS{% endblock title %}
{% block RESPEC %}
  <script class="remove">
   // All config options at https://respec.org/docs/ 
   var respecConfig = {
    shortName: "dpv-skos-pd",
    title: "DPVS-PD: PD Extension for DPV-SKOS",
    subtitle: "version 1",
    publishDate: "2022-12-05",
    specStatus: "CG-FINAL",
    group: "dpvcg",
    latestVersion: "https://w3id.org/dpv/dpv-skos/dpv-pd",
    canonicalUri: "https://w3id.org/dpv/dpv-skos/dpv-pd",
    edDraftURI: "https://w3id.org/dpv/ed/dpv-skos/dpv-pd",
    github: "w3c/dpv",
    subjectPrefix: "[dpv-pd]",
    doJsonLd: true,
    lint: { "no-unused-dfns": false, "local-refs-exist": true },
    editors: [
    {
      name: "Harshvardhan J. Pandit",
      url: "https://harshp.com",
      "company": "{{ "Harshvardhan J. Pandit" | generate_author_affiliation }}"
    }
    ],
    formerEditors: [
    {
      name: "Axel Polleres",
      url: "https://www.polleres.net/",
      "company": "{{ "Axel Polleres" | generate_author_affiliation }}",
      retiredDate: "2019-12-31"
    }
    ],
    authors: [
      {
        "name": "Axel Polleres",
        "company": "{{ "Axel Polleres" | generate_author_affiliation }}"
      },
      {
        "name": "Beatriz Esteves",
        "company": "{{ "Beatriz Esteves" | generate_author_affiliation }}"
      },
      {
        "name": "Bert Bos",
        "company": "{{ "Bert Bos" | generate_author_affiliation }}"
      },
      {
        "name": "Bud Bruegger",
        "company": "{{ "Bud Bruegger" | generate_author_affiliation }}"
      },
      {
        "name": "Elmar Kiesling",
        "company": "{{ "Elmar Kiesling" | generate_author_affiliation }}"
      },
      {
        "name": "Eva Schlehahn",
        "company": "{{ "Eva Schlehahn" | generate_author_affiliation }}"
      },
      {
        "name": "David Hickey",
        "company": "{{ "David Hickey" | generate_author_affiliation }}"
      },
      {
        "name": "Fajar J. Ekaputra",
        "company": "{{ "Fajar J. Ekaputra" | generate_author_affiliation }}"
      },
      {
        "name": "Georg P. Krog",
        "company": "{{ "Georg P. Krog" | generate_author_affiliation }}"
      },
      {
        "name": "Harshvardhan J. Pandit",
        "company": "{{ "Harshvardhan J. Pandit" | generate_author_affiliation }}"
      },
      {
        "name": "Javier D. Fernández",
        "company": "{{ "Javier D. Fernández" | generate_author_affiliation }}"
      },
      {
        "name": "Julian Flake",
        "company": "{{ "Julian Flake" | generate_author_affiliation }}"
      },
      {
        "name": "Mark Lizar",
        "company": "{{ "Mark Lizar" | generate_author_affiliation }}"
      },
      {
        "name": "Paul Ryan",
        "company": "{{ "Paul Ryan" | generate_author_affiliation }}"
      },
      {
        "name": "Piero Bonatti",
        "company": "{{ "Piero Bonatti" | generate_author_affiliation }}"
      },
      {
        "name": "Ramisa Gachpaz Hamed",
        "company": "{{ "Ramisa Gachpaz Hamed" | generate_author_affiliation }}"
      },
      {
        "name": "Rigo Wenning",
        "company": "{{ "Rigo Wenning" | generate_author_affiliation }}"
      },
      {
        "name": "Rob Brennan",
        "company": "{{ "Rob Brennan" | generate_author_affiliation }}"
      },
      {
        "name": "Simon Steyskal",
        "company": "{{ "Simon Steyskal" | generate_author_affiliation }}"
      }
    ],
    localBiblio: {%  include 'references.json' %}
  };
</script>
{% endblock RESPEC %}
{% block ABSTRACT %}
  <section id="abstract">
    <p>DPVS-PD extends the [[[DPV-SKOS]]] to provide categories of personal data. The canonical URL for DPVS-PD is <a href="https://w3id.org/dpv/dpv-skos/dpv-pd">https://w3id.org/dpv-skos/dpv-pd</a> which contains (this) specification. The namespace for DPV terms is <a href="https://w3id.org/dpv/dpv-skos/dpv-pd#"><code>https://w3id.org/dpv/dpv-skos/dpv-pd#</code></a>, the suggested prefix is <code>dpvs-pd</code>, and this document along with source and releases are available at <a href="https://github.com/w3c/dpv">https://github.com/w3c/dpv</a>.</p>
    {{ dpv_document_family(document='dpv-pd-spec') }}
      {{ sotd() }}
  </section>
{% endblock ABSTRACT %}
