{% from 'macro_term_table.jinja2' import table_classes %}
{% from 'macro_term_table.jinja2' import table_properties %}
{% from 'macro_dpv_document_family.jinja2' import dpv_document_family, sotd %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Data Privacy Vocabulary (DPV)</title>
  <script src="https://www.w3.org/Tools/respec/respec-w3c" class="remove" defer></script>
  <script class="remove">
   // All config options at https://respec.org/docs/ 
   var respecConfig = {
    shortName: "dpv",
    title: "Data Privacy Vocabulary (DPV)",
    subtitle: "version 0.8.1",
    publishDate: "2022-09-10",
    specStatus: "CG-DRAFT",
    group: "dpvcg",
    latestVersion: "https://w3id.org/dpv",
    github: "w3c/dpv",
    subjectPrefix: "[dpv]",
    doJsonLd: true,
    lint: { "no-unused-dfns": false },
    canonicalUri: "https://w3id.org/dpv",
    editors: [
    {
      name: "Harshvardhan J. Pandit",
      url: "https://harshp.com/",
      "company": "{{ "Harshvardhan J. Pandit" | generate_author_affiliation }}"
    }
    ],
    formerEditors: [
    {
      name: "Axel Polleres",
      url: "https://www.polleres.net/",
      "company": "{{ "Axel Polleres" | generate_author_affiliation }}"
    }
    ],
    authors: [
      {
        "name": "Axel Polleres",
        "company": "{{ "Axel Polleres" | generate_author_affiliation }}"
      },
      {
        "name": "Beatriz Esteves",
        "company": "{{ "Beatriz Esteves" | generate_author_affiliation }}"
      },
      {
        "name": "Bert Bos",
        "company": "{{ "Bert Bos" | generate_author_affiliation }}"
      },
      {
        "name": "Bud Bruegger",
        "company": "{{ "Bud Bruegger" | generate_author_affiliation }}"
      },
      {
        "name": "Elmar Kiesling",
        "company": "{{ "Elmar Kiesling" | generate_author_affiliation }}"
      },
      {
        "name": "Eva Schlehahn",
        "company": "{{ "Eva Schlehahn" | generate_author_affiliation }}"
      },
      {
        "name": "David Hickey",
        "company": "{{ "David Hickey" | generate_author_affiliation }}"
      },
      {
        "name": "Fajar J. Ekaputra",
        "company": "{{ "Fajar J. Ekaputra" | generate_author_affiliation }}"
      },
      {
        "name": "Georg P. Krog",
        "company": "{{ "Georg P. Krog" | generate_author_affiliation }}"
      },
      {
        "name": "Harshvardhan J. Pandit",
        "company": "{{ "Harshvardhan J. Pandit" | generate_author_affiliation }}"
      },
      {
        "name": "Javier D. Fernández",
        "company": "{{ "Javier D. Fernández" | generate_author_affiliation }}"
      },
      {
        "name": "Julian Flake",
        "company": "{{ "Julian Flake" | generate_author_affiliation }}"
      },
      {
        "name": "Mark Lizar",
        "company": "{{ "Mark Lizar" | generate_author_affiliation }}"
      },
      {
        "name": "Paul Ryan",
        "company": "{{ "Paul Ryan" | generate_author_affiliation }}"
      },
      {
        "name": "Piero Bonatti",
        "company": "{{ "Piero Bonatti" | generate_author_affiliation }}"
      },
      {
        "name": "Ramisa Gachpaz Hamed",
        "company": "{{ "Ramisa Gachpaz Hamed" | generate_author_affiliation }}"
      },
      {
        "name": "Rigo Wenning",
        "company": "{{ "Rigo Wenning" | generate_author_affiliation }}"
      },
      {
        "name": "Rob Brennan",
        "company": "{{ "Rob Brennan" | generate_author_affiliation }}"
      },
      {
        "name": "Simon Steyskal",
        "company": "{{ "Simon Steyskal" | generate_author_affiliation }}"
      }
    ],
    localBiblio: {%  include 'references.json' %}
  };
</script>
<style type="text/css">
  .head img[src*="logos/W3C"] {
    display: inherit !important;
  }
  .head a:hover > img[src*='ogc'] {
    opacity: 0.8;
  }
  /* Table styles, March 2016 */
  table {border-collapse:collapse}
  th, td {
    border:thin solid black;
    padding: 0.3em;
  }
  .inlineCode {
    FONT-FAMILY: "courier new"; BACKGROUND-COLOR: #ddf
  }
  PRE.code {
    BORDER-RIGHT: #999999 1pt solid; PADDING-RIGHT: 0.5em; BORDER-TOP: #999999 1pt solid; PADDING-LEFT: 0.5em; PADDING-BOTTOM: 0.5em; BORDER-LEFT: #999999 1pt solid; PADDING-TOP: 0.5em; BORDER-BOTTOM: #999999 1pt solid; FONT-FAMILY: "courier new"; BACKGROUND-COLOR: #eef
  }
  PRE.code2 {
    BORDER-RIGHT: #999999 1pt solid; PADDING-RIGHT: 0.5em; BORDER-TOP: #999999 1pt solid; PADDING-LEFT: 0.5em; PADDING-BOTTOM: 0.5em; BORDER-LEFT: #999999 1pt solid; PADDING-TOP: 0.5em; BORDER-BOTTOM: #999999 1pt solid; FONT-FAMILY: "courier new"; BACKGROUND-COLOR: #ffa
  }
  .ednote {
    FONT-STYLE: italic ;
  }
  PRE.clientmsg {
    BORDER-RIGHT: #999 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #999 1px solid; PADDING-LEFT: 2px; BACKGROUND: #eee; PADDING-BOTTOM: 2px; MARGIN: 0px; BORDER-LEFT: #999 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #999 1px solid
  }
  PRE.servermsg {
    BORDER-RIGHT: #999 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #999 1px solid; PADDING-LEFT: 2px; BACKGROUND: #eee; PADDING-BOTTOM: 2px; MARGIN: 5px 0px 0px; BORDER-LEFT: #999 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #999 1px solid; TEXT-ALIGN: left
  }
  P.msg {
    PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; TEXT-ALIGN: center
  }
  DIV.interaction {
    BORDER-RIGHT: #999 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #999 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; BORDER-LEFT: #999 1px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #999 1px solid
  }
  DIV.interaction H4 {
    MARGIN: 0px 0px 10px
  }
  DIV.interaction P {
    MARGIN: 0px
  }
  DIV.test {
    BORDER-RIGHT: #999 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #999 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; BORDER-LEFT: #999 1px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #999 1px solid
  }
  DIV.test H4 {
    MARGIN: 0px 0px 10px
  }
  .todo {
    display: block;
    background-color: #F99;
    margin: 5px;
    padding-left: 5px;
    border: 2px solid #633;
  }
  .todo::before {
    content: "TODO: ";
    font-weight: bold;
  }
  figure {
    margin: 2px;
    padding: 2px;
    border: 1px solid black;
  }
</style>
</head>
<body>
    <section id="abstract">
      <p>The Data Privacy Vocabulary [[DPV]] enables expressing machine-readable metadata about the use and processing of personal data based on legislative requirements such as the General Data Protection Regulation [[GDPR]]. This document describes the DPV specification along with its data model.</p>
      <p>The canonical URL for DPV is <a href="https://w3id.org/dpv">https://w3id.org/dpv#</a> which contains (this) specification. The namespace for DPV terms is <a href="https://w3id.org/dpv#"><code>https://w3id.org/dpv#</code></a>, the suggested prefix for is <code>dpv</code>, and this document along with its various serializations are available on <a href="https://github.com/w3c/dpv">GitHub</a>.
      {{ dpv_document_family(document='dpv-spec') }}
      {{ sotd() }}
    </section>
    
  <section id="introduction">
    <h2>Introduction</h2>
    <blockquote>This document assumes the reader is familiar with DPV through the [[[DPV-Primer]]], and provides a specification documenting the concepts defined by DPV, structured as topical sections.</blockquote>

    <section>
      <h3>Semantics</h3>
      <p>DPV's terms are defined using abstract semantic notions <span data-dfn-for="Concept"><dfn>Concept</dfn></span> and <span data-dfn-for="Relation"><dfn>Relation</dfn></span> derived from SKOS concepts and semantic relations respectively. The use of relations is bounded using <span data-dfn-for="hasDomain"><dfn>hasDomain</dfn></span> and <span data-dfn-for="hasRange"><dfn>hasRange</dfn></span>. These enable representing DPV's concepts as a <i>thesauri</i>, i.e. a list of concepts using SKOS, without any inherent semantics of their own.</p>
      <p>The interpretation of DPV's concept can be done through serialisation. DPV provides two such serialisations: [[DPV-OWL]] that uses OWL2 and [[DPV-SKOS]] that uses RDFS+SKOS. The <a href="#dpv-document-family">DPV Family of Documents</a> provides an overview of all serialisations related to the DPV.</p>

      <p>DPV consists of certain 'core concept' that are intended to be independent representations of specific information, and are distinct from other core concepts. For example, the <a href="https://www.w3id.org/dpv#Purpose">[=Purpose=]</a> (e.g. <a href="https://www.w3id.org/dpv">Optimisation</a>) refers only to the <i>purpose of why personal data is processed</i> and is independent as a concept from the <a href="https://www.w3id.org/dpv#PersonalData">[=PersonalData=]</a> (e.g. <a href="https://www.w3id.org/dpv-pd#Location">[=Location=]</a>) or the <a href="https://www.w3id.org/dpv#Processing">[=Processing=]</a> activities (e.g. <a href="https://www.w3id.org/dpv#Collect">[=collect=]</a>, <a href="https://www.w3id.org/dpv#Store">[=store=]</a>) involved to carry out that purpose.</p>

      <p>The structuring of DPV is based on providing rich and comprehensive taxonomies that group concepts together based on each core concept, e.g. taxonomy of purposes, which is reflected in the serialisation and documentation (e.g. this document). Other extentions provide additional concepts that expand DPV's concept or complement them with separation and optionality through namespaces. For a list of all DPV related documents, see <a href="#dpv-document-family">document family</a> section.</p>

    </section>

    <section id="vocab-base">
      <h3>Base Vocabulary</h3>
      <div class="issue" title="Base vocabulary diagram"></div>
      <figure>
        <img title="DPV Base Vocabulary" alt="DPV base vocabulary" src="diagrams/personaldatahandling.png">
        <figcaption>Base Vocabulary</figcaption>
      </figure>

      <p>DPV can be viewed as a hierarchical taxonomy of concepts where each <code><code>core concept</code></code> represents the top-most abstract concept in a tree and each of its children provide a lesser abstract or more concrete concept. For example, consider the concept of <a href="https://www.w3id.org/dpv#PersonalData">[=PersonalData=]</a> which is the abstract representation of <em>personal data</em>. It can be further <i>refined</i> or <i>extended</i> as [=SensitivePersonalData=], and further as [=SpecialCategoryPersonalData=] and then as <i>GeneticData</i> and so on.</p>
      <p>From this perspective, the top-most abstract concepts are collectively referred to as the <i>core vocabulary</i> within DPV. The goal of the DPV is to provide a rich collection of concepts for each of top concepts so as to enable their application within real-world use-cases. The identification of what constitutes a core concept is based on the need to represent information about it in a modular and independent form, such as that required for legal compliance.</p>
      
      <p>The 'Base' or 'Core' concepts in DPV represent the most relevant concepts for representing information regarding the what, how, where, who, why of personal data and its processing. Each of these concepts is further elaborated as a taxonomy of concepts in a hierarchical fashion. The DPV provides the following as 'top-level' concepts and relations to associate them with other concepts:</p>
      <table>
      <tr>
          <td>Concept</td>
          <td>Relevant Section</td>
      </tr>
      <tr>
          <td>[=PersonalData=]</td>
          <td><a href="vocab-personaldata">link</a></td>
      </tr>
      <tr>
          <td>[=Purpose=]</td>
          <td>[=hasPurpose=]</td>
      </tr>
      <tr>
          <td>[=Processing=]</td>
          <td>[=hasProcessing=]</td>
      </tr>
      <tr>
          <td>[=DataController=]</td>
          <td>[=hasDataController=]</td>
      </tr>
      <tr>
          <td>[=DataSubject=]</td>
          <td>[=hasDataSubject=]</td>
      </tr>
      <tr>
          <td>[=Recipient=]</td>
          <td>[=hasRecipient=]</td>
      </tr>
      <tr>
          <td>[=TechnicalOrganisationalMeasure=]</td>
          <td>[=hasTechnicalOrganisationalMeasure=]</td>
      </tr>
      <tr>
          <td>[=LegalBasis=]</td>
          <td>[=hasLegalBasis=]</td>
      </tr>
      <tr>
          <td>[=Right=]</td>
          <td>[=hasRight=]</td>
      </tr>
      <tr>
          <td>[=Risk=]</td>
          <td>[=hasRisk=]</td>
      </tr>
      <tr>
          <td>[=PersonalDataHandling=]</td>
          <td>[=hasPersonalDataHandling=]</td>
      </tr>
  </table>
      <p>DPV provides taxonomies for all core concepts except the ones specified below:</p>
      <ul>
        <li data-dfn-for="PersonalDataHandling"><dfn>PersonalDataHandling</dfn>: DPV defines the concept of  for representing a 'policy' or 'grouping' that associates the top-level concepts with one another. The relation <span data-dfn-for="hasPersonalDataHandling"><dfn>hasPersonalDataHandling</dfn> provides a relation to associate a [=PersonalDataHandling=] with other concepts, including like itself.</span></li>
        <li><span data-dfn-for="Right"><dfn>Right</dfn>: The concept [=Right=] represents a generic rights provided or recognised by some law or convention.</span> The relation <span data-dfn-for="hasRight"><dfn>hasRight</dfn> provides the relation to associate a [=Right=] with concepts.</span>. In addition, <span data-dfn-for="DataSubjectRight"><dfn>DataSubjectRight</dfn> refers to rights specifically available to applicable for Data Subjects.</span></li>
      </ul>
  </section>

  <section>
    <h3>Taxonomies</h3>
    <p>The rest of the document expands on the core concepts through the following taxonomies.</p>
    <ul>
      <li><a href="#vocab-entities"><strong>Entities</strong></a> - different kinds of entities, the specific <a href="#vocab-entities-legalrole">Legal Roles</a> they can take, and categories of <a href="#vocab-entities-organisation">Organisations</a>, <a href="#vocab-entities-authorities">Authorities</a>, and <a href="#vocab-entities-datasubject">Data Subjects</a>.</li>
      <li><a href="#vocab-purpose"><strong>Purposes</strong></a> that justify the need or goal for which personal data is processd.</li>
      <li><a href="#vocab-processing"><strong>Processing</strong> operations over personal data.</a></li>
      <li><a href="#vocab-personaldata"><strong>Personal Data</strong> that is relevant for processing.</a></li>
      <li><a href="#vocab-technical_organisational_measures"><strong>Technical &amp; Organisational Measures</strong></a> with dedicated sections for <a href="#vocab-technical-measures">technical</a> and <a href="#vocab-organisational-measures">organisational</a> measures.</li>
      <li><a href="#vocab-legal_basis"><strong>Legal Bases</strong></a> that justify the processing, with a dedicated section for <a href="#vocab-consent">Consent</a>.</li>
      <li><a href="#vocab-processing-context"><strong>Processing Contextual information</strong></a> such as storage conditions and automation, as well as <a href="#vocab-processing-scale"><strong>Scale of Processing</strong></a>.</li>
      <li><a href="#vocab-context"><strong>General Contextual information</strong></a> such as frequency and duration, and <a href="#vocab-status"><strong>Statuses</strong></a> associated with activities.</li>
      <li><a href="#vocab-jurisdiction"><strong>Locations &amp; Jurisdictions</strong></a> providing relevance to laws, authorities, and location contexts.</li>
      <li><a href="#vocab-risk"><strong>Risk &amp; Impacts</strong></a> for risk assessment, management, and expressino of consequences and impacts associated with processing.</li>
    </ul>
    <p>Further to these, there are separate extensions that provide additional concepts. These are:</p>
    <ul>
      <li>[[[DPV-PD]]]</li>
      <li>[[[DPV-GDPR]]]</li>
      <li>[[[DPV-TECH]]]</li>
      <li>[[[DPV-LEGAL]]]</li>
      <li>[[[RISK]]]</li>
      <li>[[[RIGHTS]]]</li>
    </ul>
  </section>
</section>

<section id="vocab-entities">
  <h2>Entities</h2>
  <div class="issue" title="Entities diagram"></div>
  <p>DPV distinguishes between <i>Entity</i> and <i>Legal Entity</i> based on the use of roles defined legally or within legal norms. To support this, DPV first provides a taxonomy of entities (see below), and then specialises them for <a href="#vocab-entities-legalrole">Legal Roles</a> (e.g. [=DataController=] and [=DataSubject=]). Further sections provide taxonomies for <a href="#vocab-entities-organisation">Organisations</a>, <a href="#vocab-entities-authorities">Authorities</a>, and <a href="#vocab-entities-datasubject">Data Subjects</a>.</p>
    {% if entities_classes %}
  <section id="entities-classes">
    {{ table_classes(entities_classes) }}
  </section>
  {% endif %}
  {% if entities_properties %}
  <section id="entities-properties">
    {{ table_properties(entities_properties) }}
  </section>
  {% endif %}

  <section id="vocab-entities-legalrole">
    <h3>Legal Roles</h3>
    <p><i>Legal Role</i> is the role taken on by a legal entity based on definitions or criterias from laws, regulations, or other such normative sources. Legal roles assist in representing the role and responsibility of an entity within the context of processing, and from this to determine the requirements and obligations that should apply, and their compliance or conformance.</p>
    {% if entities_legalrole_classes %}
    <section id="entities_legalrole-classes">
      {{ table_classes(entities_legalrole_classes) }}
    </section>
    {% endif %}
    {% if entities_legalrole_properties %}
    <section id="entities_legalrole-properties">
      {{ table_properties(entities_legalrole_properties) }}
    </section>
    {% endif %}
  </section>

  <section id="vocab-entities-authorities">
    <h3>Authorities</h3>
    <p>The concept Authority is a specific Governmental Organisation authorised to enforce a law or regulation. Authorities can be associated with a specific domain, topic, or jurisdiction. DPV currently defines regional authorities for NationalAuthority, RegionalAuthority, and SupraNationalAuthority, and DataProtectionAuthority represents authorities associated with data protection and privacy. To associate authorities with concepts, the relations hasAuthority and isAuthorityFor are provided.</p>
    {% if entities_authority_classes %}
    <section id="entities_authority-classes">
      {{ table_classes(entities_authority_classes) }}
    </section>
    {% endif %}
    {% if entities_authority_properties %}
    <section id="entities_authority-properties">
      {{ table_properties(entities_authority_properties) }}
    </section>
    {% endif %}
  </section>

  <section id="vocab-entities-organisation">
    <h3>Organisation</h3>
    {% if entities_organisation_classes %}
    <section id="entities_organisation-classes">
      {{ table_classes(entities_organisation_classes) }}
    </section>
    {% endif %}
    {% if entities_organisation_properties %}
    <section id="entities_organisation-properties">
      {{ table_properties(entities_organisation_properties) }}
    </section>
    {% endif %}
  </section>

  <section id="vocab-entities-datasubject">
    <h3>Data Subjects</h3>
    <p>DPV provides a taxonomy of data subject types to assist with describing what kind of individuals or groups are associated with an use-case. Some examples of such types are age-based roles: Adult and Child, ParentOfDataSubject, GuardianOfDataSubject; vulnerability: VulnerableDataSubject, ElderlyDataSubject, AsylumSeeker; domain-specific roles such as Patient, Employee, Student, jurisdictional roles such as Citizen, NonCitizen, Immigrant; and general roles such as User, Member, Participant, and Client. </p>
    {% if entities_datasubject_classes %}
    <section id="entities_datasubject-classes">
      {{ table_classes(entities_datasubject_classes) }}
    </section>
    {% endif %}
    {% if entities_datasubject_properties %}
    <section id="entities_datasubject-properties">
      {{ table_properties(entities_datasubject_properties) }}
    </section>
    {% endif %}
  </section>
</section>

<section id="vocab-purpose">
  <h2>Purposes</h2>
  <div class="issue" title="Purpose diagram"></div>
  <p>DPV’s taxonomy of purposes is used to represent the reason or justification for processing of personal data. For this, purposes are organised within DPV based on how they relate to the processing of personal data in terms of several factors, such as: management functions related to information (e.g. records, account, finance), fulfilment of objectives (e.g. delivery of goods), providing goods and services (e.g. service provision), intended benefits (e.g. optimisations for service provider or consumer), and legal compliance.</p>
    {% if purpose_classes %}
  <section id="purpose-classes">
    {{ table_classes(purpose_classes) }}
  </section>
  {% endif %}
  {% if purpose_properties %}
  <section id="purpose-properties">
    {{ table_properties(purpose_properties) }}
  </section>
  {% endif %}
</section>

<section id="vocab-processing">
  <h2>Processing</h2>
  <div class="issue" title="Processing diagram"></div>
  <p>DPV’s taxonomy of processing concepts reflects the variety of terms used to denote processing activities or operations involving personal data, such as those from [GDPR] Article.4-2 definition of processing. Real-world use of terms associated with processing rarely uses this same wording or terms, except in cases of specific domains and in legal documentation. On the other hand, common terms associated with processing are generally restricted to: collect, use, store, share, and delete.</p>
  <p>DPV provides a taxonomy that aligns both the legal terminologies such as those defined by GDPR with those commonly used. For this, concepts are organised based on whether they subsume other concepts, e.g. Use is a broad concept indicating data is used, which DPV extends to define specific processing concepts for Analyse, Consult, Profiling, and Retrieving. Through this mechanism, whenever an use-case indicates it consults some data, it can be inferred that it also uses that data.</p>
  <p>For concepts related to expressing contextual information associated with processing, such as storage conditions, automation, scale, see <a href="#vocab-processing-context">Processing Context</a> and <a href="#vocab-processing-scale">Processing Scale</a> sections.</p>
    {% if processing_classes %}
  <section id="processing-classes">
    {{ table_classes(processing_classes) }}
  </section>
  {% endif %}
  {% if processing_properties %}
  <section id="processing-properties">
    {{ table_properties(processing_properties) }}
  </section>
  {% endif %}
</section>

<section id="vocab-personaldata">
  <h2>Personal Data</h2>
  <div class="issue" title="Personal Data diagram"></div>
  <p>DPV provides the concept [=PersonalData=] and the relation [=hasPersonalData=] to indicate what categories or instances of personal data are being processed. The DPV specification only provides a structure for describing personal data, e.g. as being sensitive. For specific categories of personal data for use-cases, [[[DPV-PD]]] provides additional concepts that extend the DPV's personal data taxonomy. This separation is to enable adopters to decide whether the extension's concepts are useful to them, or to use other external vocabularies, or define their own.</p>
  <p>In addition to <i>Personal Data</i>, there may be a need to represent <i>Non-Personal Data</i> within the same contextual use-cases. For this, DPV provides the concepts [=Data=], [=NonPersonalData=] and [=SyntheticData=].</p>
  <p>To indicate data categorised based on [=DataSource=], e.g. as "collected personal data", DPV provides: [=CollectedPersonalData=], [=DerivedPersonalData=], [=InferredPersonalData=], [=GeneratedPersonalData=], and [=ObservedPersonalData=].</p>
  <p>For indicating personal data which is sensitive, the concept [=SensitivePersonalData=] is provided. For indicating special categories of data, the concept [=SpecialCategoryPersonalData=] is provided. In this, the concept <i>sensitive</i> indicates that the data needs additional considerations (and perhaps caution) when processing, such as by increasing its security, reducing usage, or performing impact assessments. <i>Special categories</i>, by contrast, are a 'special' type of sensitive personal data requiring additional considerations or obligations defined in laws (or through other forms) that regulate how they should be used or prohibit their use until specific obligations are met.</p>
  <p>To specify data is anonymised, DPV provides two concepts. [=AnonymisedData=] for when data is completely anonymised and cannot be de-anonymised, which is a subtype of [=NonPersonalData=]. And, [=PseudoAnonymisedData=] for when data has only been partially anonymised or de-anonymisation is possible, which is a subtype of [=PersonalData=].</p>      
    {% if personaldata_classes %}
  <section id="personaldata-classes">
    {{ table_classes(personaldata_classes) }}
  </section>
  {% endif %}
  {% if personaldata_properties %}
  <section id="personaldata-properties">
    {{ table_properties(personaldata_properties) }}
  </section>
  {% endif %}
</section>

<section id="vocab-technical_organisational_measures">
  <h2>Tech/Org Measures</h2>
  <div class="issue" title="Tech/Org measures diagram"></div>
  <p>DPV's taxonomy of tech/org measures are structured into two groups representing and [=TechnicalMeasure=] and [=OrganisationalMeasure=] along with specific properties for each. Each term has a dedicated taxonomy that expands upon the core idea to provide a rich list of technial and organisational measures that are intended to protect personal data (and its associated entities and consequences).</p>
  <p>This taxonomy also includes relations that are associated with measures, such as [=hasNotice=] or [=hasPolicy=], which are generic and can be applied to other contexts (e.g. notice for consent, policy for data storage).</p>
    {% if technical_organisational_measures_classes %}
  <section id="technical_organisational_measures-classes">
    {{ table_classes(technical_organisational_measures_classes) }}
  </section>
  {% endif %}
  {% if technical_organisational_measures_properties %}
  <section id="technical_organisational_measures-properties">
    {{ table_properties(technical_organisational_measures_properties) }}
  </section>
  {% endif %}
  <section id="vocab-technical-measures">
    <h3>Technical Measures</h3>
    <div class="issue" title="Tech measures diagram"></div>
    {% if technical_measures_classes %}
      {{ table_classes(technical_measures_classes, skip_heading=True) }}
    {% endif %}
    {% if technical_measures_properties %}
      {{ table_properties(technical_measures_properties, skip_heading=True) }}
    {% endif %}
    </section>
  <section id="vocab-organisational-measures">
    <h3>Organisational Measures</h3>
    <div class="issue" title="Org measures diagram"></div>
    {% if organisational_measures_classes %}
      {{ table_classes(organisational_measures_classes, skip_heading=True) }}
    {% endif %}
    {% if organisational_measures_properties %}
      {{ table_properties(organisational_measures_properties, skip_heading=True) }}
    {% endif %}
  </section>
</section>

<section id="vocab-legal_basis">
  <h2>Legal Bases</h2>
  <div class="issue" title="Legal Bases diagram"></div>
  <p>DPV provides the following categories of legal bases based on [[GDPR]] Article 6: consent of the data subject, contract, compliance with legal obligation, protecting vital interests of individuals, legitimate interests, public interest, and official authorities. Though derived from GDPR, these concepts can be applied for other jurisdictions and general use-cases. The legal bases are represented by the concept [=LegalBasis=] and associated using the relation [=hasLegalBasis=].</p>

  <p>When declaring a legal basis, it is important to denote under what law or jurisdiction that legal basis applies. For instance, using [=Consent=] as a legal basis has different obligations and requirements in EU (i.e. [[GDPR]]) as compared to other jurisdictions. Therefore, unless the information is to be implicitly interpreted through some specific legal lens or jurisdictional law, DPV recommends indicating the specific law or legal clause associated with the legal basis so as to scope its interpretation. This can be done using the relation [=hasJurisdiction=] or [=hasApplicableLaw=].</p>

  <p>For GDPR, DPVCG provides the [[[DPV-GDPR]]] which defines the legal bases within [[GDPR]] by extending them from relevant concepts within the DPV. We welcome similar contributions for extending the GDPR extension as well as creating extensions for other laws and domains.</p>
    {% if legal_basis_classes %}
  <section id="legal_basis-classes">
    {{ table_classes(legal_basis_classes) }}
  </section>
  {% endif %}
  {% if legal_basis_properties %}
  <section id="legal_basis-properties">
    {{ table_properties(legal_basis_properties) }}
  </section>
  {% endif %}

  <section id="vocab-consent">
    <h3>Consent</h3>
    <div class="issue" title="Consent diagram"></div>
    <p>Consent in DPV is a specific legal basis representing <i>information associated with consent</i> rather than only <i>given consent</i>. Common information associated with consent includes tasks such as keeping track of whether "consent has been given/obtained", "issuing a consent request", and "withdrawing consent", as well as expressing requirements through terms such as "informed" and "explicit". To assist with representing these concepts as well as keeping records about how they are being applied, DPV provides the following consent concepts.</p>
    <ul>
      <li>[=Consent=] - a type of legal basis representing consent of the individual.</li>
      <li><a href="#vocab-consent-types">Consent Types</a> - to represent criteria for consent, such as [=InformedConsent=] and [=ExplicitlyExpressedConsent=].</li>
      <li><a href="#vocab-consent-status">Consent Status</a> - to represent and keep track of what state/status/stage the consenting process is at, for example indicating the journey or lifecycle from [=ConsentRequested=] to [=ConsentGiven=] and then [=ConsentWithdrawn=].</li>
      <li><a href="vocab-consent-relations">Consent Relations</a> - to enable association of relevant information with consent, such as the notice used or provided, status of consent, or who indicated it.</li>
    </ul>
    <p>To indicate the duration or validity of a given consent instance, the existing contextual relation [=hasDuration=] along with specific forms of [=Duration=] can be used. For example, to indicate consent is valid until a specific event such as account closure, the duration subtype [=UntilEventDuration=] can be used with additional instantiation or annotation to indicate more details about the event (in this case the closure of account). Similarly, [=UntilTimeDuration=] indicates validity until a specific time instance or timestamp (e.g. 31 December 2022), and [=TemporalDuration=] indicates a relative time duration (e.g. 6 months). To indicate validity without an end condition, [=EndlessDuration=] can be used.</p>
    <p>To specify consent provided by delegation, such as in the case of a parent or guardian providing consent for/with a child, the [=isIndicatedBy=] relation can be used to associate the parent or guardian responsible for providing consent (or its affirmation). Since by default the consent is presumed to be provided by the individual, when such individuals are associated with their consent, i.e. through [=hasDataSubject=], the additional information provided by [=isIndicatedBy=] can be considered redundant and is often omitted.</p>
    {% if consent_classes %}
    <section id="vocab-consent-classes">
      {{ table_classes(consent_classes) }}
    </section>
    {% endif %}

    <section id="vocab-consent-types">
      <h4>Consent Types</h4>
        {{ table_classes(consent_types_classes, skip_heading=True) }}
    </section>

    <section id="vocab-consent-status">
      <h4>Consent Status</h4>
        {{ table_classes(consent_status_classes, skip_heading=True) }}
    </section>

    <section id="vocab-consent-relations">
      <h4>Consent Relations</h4>
      <div class="note" title="Planned deprecation of properties">
        <p>The concepts/relations provided for consent in DPV v0.7 and earlier have been put on a <i>sunset schedule</i> with planned deprecation in favour of newer concepts/relations that offer a harmonised representation of information and consistency with other legal basis. The sunset concepts/relations have been retained for now given their prevalence in adopter's implementations. It is therefore suggested to use or to migrate existing uses to the newer concepts/relations described in this section.</p>
       <p>Properties to be deprecated include: [=hasExpiry=], [=hasExpiryTime=], [=hasExpiryCondition=], [=hasProvisionMethod=], [=hasProvisionTime=], [=hasWithdrawalMethod=], [=hasWithdrawalTime=], [=hasWithdrawalBy=], [=hasProvisionBy=], [=hasProvisionByJustification=], [=hasWithdrawalByJustification=], [=hasConsentNotice=], [=isExplicit=].</p>
     </div>
      {% if consent_properties %}
        {{ table_properties(consent_properties, skip_heading=True) }}
      {% endif %}
    </section>
  </section>
</section>

<section id="vocab-processing-context">
  <h2>Context of Processing</h2>
  <div class="issue" title="Processing Context diagram"></div>
  <section>
    <h3>Storage Conditions, Automation</h3>
    <p>This taxonomy provides concepts for representing information about storage conditions, e.g. how long the data will be stored for, its erasure, or its restoration. It also enables representing the source(s) of data, the use of automation, and the extent of human involvement within the automation.</p>
    <p>The processing taxonomy uses the concept [=Store=] to indicate data is being stored. To specify additionally information such as its location, erasure or deletion, the generic concepts and relations associated with processing (i.e. <i>location</i> and <i>duration</i>) can be used. However, to emphasise that information about storage - such as policies, conditions, rules, or documentation - are critical on considerations of data protection and privacy as well as legal compliance, DPV provide specific concepts related to these.</p>
    <p>The concept [=StorageCondition=] and the relation [=hasStorageCondition=] represent the general or abstract conditions associated with storage of data. This is specialised to indicate [=StorageDuration=], [=StorageDeletion=], [=StorageRestoration=], and [=StorageLocation=]. This enables a document to directly specify information such as: "storage duration is 6 months" or "storage restoration uses 3 geo-distinct backup servers".</p>
    <p>For declaring the source of data, the [=DataSource=] concept along with [=hasDataSource=] relationship is provided to indicate where the data is collected or acquired from. For example, data can be obtained from the data subject directly (e.g. given via forms) or indirectly (e.g observed from activity, or inferred from existing data), or from another entity such as a third party.</p>
    <p>DPV provides [=AutomationOfProcessing=] to represent the degree of automation, and the relation [=hasProcessingAutomation=] to associate it with contextual concepts. The degrees of automation are represented by [=FullyAutomatedProcessing=], [=PartiallyAutomatedProcessing=], and [=CompletelyManualProcessing=].</p>
    <p>To represent how humans are involved, the concept [=HumanInvolvement=] and relation [=hasHumanInvolvement=] are provided. Specific types of  [=HumanInvolvement=] include [=HumanInvolvementForOversight=], and [=HumanInvolvementForVerification=].
    <p>To indicate more specific applications: [=DecisionMaking=] and [=AutomatedDecisionMaking=] refer to use of processing to make decisions, [=AlgorithmicLogic=] for explaining the use of algorithms and specifics of processing logic, [=EvaluationScoring=] to indicate the processing evaluates or assigns scores (or metrics), [=InnovativeUseOfNewTechnologies=] to indicate there are innovative uses of novel technologies, and [=SystematicMonitoring=] to indicate the processing performs a systematic (or systemic) monitoring. These additional concepts are intended to model areas or topics that are considered sensitive or high-risk or require caution.</p>
      {% if processing_context_classes %}
    <section id="processing-context-classes">
      {{ table_classes(processing_context_classes) }}
    </section>
    {% endif %}
    {% if processing_context_properties %}
    <section id="processing-context-properties">
      {{ table_properties(processing_context_properties) }}
    </section>
    {% endif %}
  </section>

  <section id="vocab-processing-scale">
    <h3>Scale of Processing</h3>
    <p>DPV provides (qualitative) scales for expressing <i>Data Volume</i>, <i>Data subjects</i>, and <i>Geographical Coverage</i> of processing. Along with these, DPV also provides a <i>Processing Scale</i> to express combinations of these. NOTE: The actual meaning or quantified amounts for each concept are not defined due to their interpretation based on contextual factors such as legislations, guidelines, domains, and variations across industries.</p>
      {% if processing_scale_classes %}
    <section id="processing-scale-classes">
      {{ table_classes(processing_scale_classes) }}
    </section>
    {% endif %}
    {% if processing_scale_properties %}
    <section id="processing-scale-properties">
      {{ table_properties(processing_scale_properties) }}
    </section>
    {% endif %}
  </section>
</section>

<section id="vocab-context">
  <h2>General Context</h2>
  <div class="issue" title="General Context diagram"></div>
  <section>
    <h3>Duration and Frequency</h3>
    <p>To express the duration of events or operations, such as how long processing will take or the validity of consent, the concept [=Duration=] can be used. Duration is indicated using the relation [=hasDuration=], and has the following subtypes:</p>
    <ul>
    <li>[=TemporalDuration=] - indicating a relative temporal duration, e.g. 6 months.</li>
    <li>[=UntilTimeDuration=] - indicating duration that occurs until the end of specified time, e.g. until 31 DEC 2022.</li>
    <li>[=UntilEventDuration=] - indicating duration that occurs until the end of specified event, e.g. until account is closed.</li>
    <li>[=FixedOccurencesDuration=] - a duration that is based on number of occurences, e.g. until you view it 3 times</li>
    <li>[=EndlessDuration=] - indicating a duration without an end condition or temporal notation.</li>
    </ul>
    <p>[=Frequency=] indicates how frequently something occurs. Statistically, this can be expressed as the combination of number of occurences and a time period, which can further be expressed as a probabilitic value or a percentage. For example, for something occuring once every year, the frequency is: 1 or 100% for 1 year. While such <i>quantified</i> representations are important for determining metrics and performing operations, DPV focuses on the <i>qualitative</i> labelling of such representations within a specific context.</p>
    <p>The relation [=hasFrequency=] associates a frequency with a context, and can be expressed using the following subtypes:</p>
    <ul>
      <li>[=ContinousFrequency=] - indicates things occuring continously, e.g. location collection happens continously.</li>
      <li>[=SporadicFrequency=] - indicates things occuring sporadically or rarely or not often, e.g. collecting system usage logs every month.</li>
      <li>[=OftenFrequency=] - indicates things happen often or regularly or commonly, e.g. online status is reported every 5 mins.</li>
      <li>[=SingularFrequency=] - indicates things happen only once.</li>
    </ul>
    <p>DPV provides two subtypes of concepts to denote contextual - [=Importance=] and [=Necessity=], which can be applied to specific contexts such as [=PersonalDataHandling=], [=Purpose=], [=PersonalData=].</p>
        <p>[=Importance=] is similar in application to [=Necessity=], and provides a way to indicate how <i>central</i> or <i>significant</i> the indicated operation(s) are to the context (e.g. to the Controller). Subtypes of importance are [=PrimaryImportance=] to indicate 'main' or 'central' or 'primary' importance, and [=SecondaryImportance=] to indicate 'auxiliary' or 'peripheral' or 'secondary' importance.</p>
        <p>[=Necessity=] enables specifying whether the contextual information is [=Required=], is [=Optional=], or is [=NotRequired=]. These can be used to indicate, for example, which parts of processing operations (e.g. purposes, personal data) are optional, and whether a particular processing operation is required to be carried out.</i></p>
      {% if context_classes %}
    <section id="context-classes">
      {{ table_classes(context_classes) }}
    </section>
    {% endif %}
    {% if context_properties %}
    <section id="context-properties">
      {{ table_properties(context_properties) }}
    </section>
    {% endif %}
  </section>

  <section id="vocab-status">
    <h3>Status</h3>
    <p>To assist with expressing the state or status associated with various activities, DPV provides the [=Status=] concept that can be associated contextually using the [=hasStatus=] relation. Specific subtypes are provided as [=ActivityStatus=], [=ComplianceStatus=], and [=AuditStatus=].</p>
      {% if status_classes %}
    <section id="status-classes">
      {{ table_classes(status_classes) }}
    </section>
    {% endif %}
    {% if status_properties %}
    <section id="status-properties">
      {{ table_properties(status_properties) }}
    </section>
    {% endif %}
  </section>
</section>

<section id="vocab-jurisdiction">
  <h2>Location &amp; Jurisdiction</h2>
  <div class="issue" title="Location/Jurisdiction diagram"></div>
  <p>To represent location, the concept [=Location=] along with relations [=hasLocation=] is provided. For geo-political locations, the concepts such as [=Country=] and [=SupraNationalUnion=] are subtyped, with [=hasCountry=] and [=ThirdCountry=] with [=hasThirdCountry=] provided for convenience in common uses (e.g. data storage, transfers).</p>
  <p>To define contextual location concepts, such as there being several locations, or that the location is 'local' to an event, DPV provides two concepts. [=LocationFixture=] specifies whether the location is 'fixed' or 'deterministic', with subtypes for <i>fixed single</i>, <i>fixed multiple</i>, and <i>variable</i> locations. [=LocationLocality=] specifies whether the location is 'local' within the context, with subtypes for <i>local</i>, <i>remote</i>, <i>within a device</i>, or <i>in cloud</i>.</p>
  <p>To represent locations as jurisdictions, the relation [=hasJurisdiction=] is provided. The concept [=Law=] represents an official or authoritative law or regulation created by a government or an authority. To indicate applicability of laws within a jurisdiction, the relation [=hasApplicableLaw=] is provided.</p>
  <p>The [[[DPV-LEGAL]]] provides taxonomies extending these concepts, such as to represent specific countries, their laws, authorities, memberships, adequacy decisions, and other information.</p>
    {% if jurisdiction_classes %}
  <section id="jurisdiction-classes">
    {{ table_classes(jurisdiction_classes) }}
  </section>
  {% endif %}
  {% if jurisdiction_properties %}
  <section id="jurisdiction-properties">
    {{ table_properties(jurisdiction_properties) }}
  </section>
  {% endif %}
</section>

<section id="vocab-risk">
  <h2>Risk and Impacts</h2>
  <div class="issue" title="Risk diagram"></div>
  <p>For risk management, DPV's provides a lightweight risk ontology based on commonly utilised concepts regarding risk mitigation and risk management. While these concepts permit rudimentary association of risks and mitigations within a use-case, it is important to note that DPV (currently)
    does not provide comprehensive concepts for risk management.</p>
    <p>For more developed representations of risk assessment, mitigation, and management vocabularies, we suggest the adoption of relevant standards, such as the ISO/IEC 31000 series, and welcome contribution for their representation within DPV through [[[RISK]]].</p>
    {% if risk_classes %}
  <section id="risk-classes">
    {{ table_classes(risk_classes) }}
  </section>
  {% endif %}
  {% if risk_properties %}
  <section id="risk-properties">
    {{ table_properties(risk_properties) }}
  </section>
  {% endif %}
</section>

<section id="funding-acknowledgements" class="notoc">
  <h2>Funding Acknowledgements</h2>

  <h3>Funding Sponsors</h3>
  <p>The DPVCG and DPV were initiated as part of the <a href="https://specialprivacy.ercim.eu/">SPECIAL H2020 Project</a>, which received funding from the European Union’s Horizon 2020 research and innovation programme under grant agreement No. 731601. The SPECIAL project ran over a 3-year period from 2017 to 2019.</p>
  <p>Harshvardhan J. Pandit was funded by the Irish Research Council  Government of Ireland Postdoctoral Fellowship Grant#GOIPD/2020/790 for working within the DPVCG and contributing to the DPV. The fellowship lasted from 2020 to 2022.</p>

  <h3>Funding Acknowledgements for Contributors</h3>
  <p>The contributions of Piero Bonatti and Luigi Sauro to the DPVCG have been funded by the European Union’s Horizon 2020 research and innovation programme under grant agreement N. 731601 (<a href="https://specialprivacy.ercim.eu/">project SPECIAL</a>) until 2019, and under grant agreement N. 883464 (<a href="https://trapeze-project.eu/">project TRAPEZE</a>) from 2020 until 2023.</p>
  <p>The contributions of Beatriz Esteves have received funding through the <a href="https://protect-network.eu/">PROTECT ITN Project</a> from the European Union’s Horizon 2020 research and innovation programme under the Marie Skłodowska-Curie grant agreement No 813497.</p>
  <p>The contributions of Harshvardhan J. Pandit have received funding from the ADAPT SFI Centre for Digital Media Technology is funded by Science Foundation Ireland through the SFI Research Centres Programme and is co-funded under the European Regional Development Fund (ERDF) through Grant#13/RC/2106 (2018 to 2020) and Grant#13/RC/2106_P2 (2021 onwards)</p>

</section>

{% if proposed %}
<section id="proposed-terms" class="appendix">
  <h2>Proposed Terms</h2>
  <p>The following terms have been proposed for inclusion, and are under discussion. They are provided here for illustrative purposes and should not be considered as part of DPV.</p>
  {% for name, terms in proposed.items() %}
    <strong>{{name}}</strong>
    <ul>{% for term in terms %}
      <li>{{term}}</li>
    {% endfor %}</ul>
  {% endfor %}
</section>
{% endif %}

<section id="serialisation-overview" class="appendix">
  <h2>DPV concepts across serialisations</h2>
  <p>The table provides an overview of the expression of concepts across the three DPV serialisations. These may be expanded in the future, including to non-semantic-web serialisations.</p>
  <table>
    <thead>
      <th>Concept</th>
      <th>[[DPV]]</th>
      <th>[[DPV-SKOS]]</th>
      <th>[[DPV-OWL]]</th>
    </thead>
    <tbody>
      <tr>
        <td>Concept</td>
        <td><code>dpv:Concept</code>
        </td><td><code>skos:Concept</code></td>
        <td><code>owl:Class</code></td>
      </tr>
      <tr>
        <td>is subtype of</td>
        <td><code>dpv:isSubTypeOf</code>
        </td><td><code>skos:broader</code></td>
        <td><code>owl:subClassOf</code></td>
      </tr>
      <tr>
        <td>is instance of</td>
        <td><code>dpv:isInstanceOf</code>
        </td><td><code>rdf:type</code></td>
        <td><code>rdf:type</code></td>
      </tr>
      <tr>
        <td>has concept</td>
        <td><code>dpv:Relation</code>
        </td><td><code>rdf:Property</code></td>
        <td><code>owl:ObjectProperty</code></td>
      </tr>
      <tr>
        <td>relationship domain</td>
        <td><code>dpv:domain</code>
        </td><td><code>rdfs:domain</code></td>
        <td><code>rdfs:domain</code></td>
      </tr>
      <tr>
        <td>relationship range</td>
        <td><code>dpv:range</code>
        </td><td><code>rdfs:range</code></td>
        <td><code>rdfs:range</code></td>
      </tr>
    </tbody>
  </table>
</section>

<section class="appendix" id="issue-summary"></section>

</body>
</html>