{% from 'macro_term_table_skos.jinja2' import table_classes %}
{% from 'macro_term_table_skos.jinja2' import table_properties %}
{% from 'macro_dpv_document_family.jinja2' import dpv_document_family, sotd %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>DPV-SKOS: Data Privacy Vocabulary (DPV) expressed using SKOS+RDF</title>
  <script src="https://www.w3.org/Tools/respec/respec-w3c" class="remove" defer></script>
  <script class="remove">
   // All config options at https://respec.org/docs/ 
   var respecConfig = {
    shortName: "dpv",
    title: "DPV-SKOS: Data Privacy Vocabulary (DPV) in SKOS+RDF",
    subtitle: "version 0.7",
    publishDate: "2022-05-25",
    specStatus: "CG-DRAFT",
    group: "dpvcg",
    latestVersion: "https://w3id.org/dpv/dpv-skos",
    // github: {
    //   repoURL: "https://github.com/w3c/dpv",
    //   branch: "master"
    // },
    subjectPrefix: "[dpvs]",
    doJsonLd: true,
    lint: { "no-unused-dfns": false },
    canonicalUri: "https://w3id.org/dpv/dpv-skos",
    editors: [
    {
      name: "Harshvardhan J. Pandit",
      url: "https://harshp.com",
      company: "Trinity College Dublin",
      companyURL: "https://tcd.ie/"
    }
    ],
    formerEditors: [
    {
      name: "Axel Polleres",
      url: "https://www.polleres.net/",
      company: "Vienna University of Economics and Business",
      companyURL: "https://wu.ac.at/"
    }
    ],
    authors: [
      {
        "name": "Axel Polleres",
        "company": "Vienna University of Economics and Business"
      },
      {
        "name": "Beatriz Esteves",
        "company": "Universidad Politécnica de Madrid"
      },
      {
        "name": "Bert Bos",
        "company": "W3C/ERCIM"
      },
      {
        "name": "Bud Bruegger",
        "company": "Unabhängige Landeszentrum für Datenschutz Schleswig-Holstein"
      },
      {
        "name": "Elmar Kiesling",
        "company": "Vienna University of Technology"
      },
      {
        "name": "Eva Schlehahn",
        "company": "Unabhängige Landeszentrum für Datenschutz Schleswig-Holstein"
      },
      {
        "name": "David Hickey",
        "company": "Dublin City University"
      },
      {
        "name": "Fajar J. Ekaputra",
        "company": "Vienna University of Technology"
      },
      {
        "name": "Georg P. Krog",
        "company": "Signatu AS"
      },
      {
        "name": "Harshvardhan J. Pandit",
        "company": "Trinity College Dublin"
      },
      {
        "name": "Javier D. Fernández",
        "company": "Vienna University of Economics and Business"
      },
      {
        "name": "Julian Flake",
        "company": "University of Koblenz-Landau",
      },
      {
        "name": "Mark Lizar",
        "company": "OpenConsent/Kantara Initiative"
      },
      {
        "name": "Paul Ryan",
        "company": "Uniphar PLC"
      },
      {
        "name": "Piero Bonatti",
        "company": "Università di Napoli Federico II"
      },
      {
        "name": "Ramisa Gachpaz Hamed",
        "company": "Trinity College Dublin"
      },
      {
        "name": "Rigo Wenning",
        "company": "W3C/ERCIM"
      },
      {
        "name": "Rob Brennan",
        "company": "Dublin City University"
      },
      {
        "name": "Simon Steyskal",
        "company": "Siemens"
      }
    ],
    localBiblio: {%  include 'references.json' %}
  };
</script>
<style type="text/css">
  .head img[src*="logos/W3C"] {
    display: inherit !important;
  }
  .head a:hover > img[src*='ogc'] {
    opacity: 0.8;
  }
  /* Table styles, March 2016 */
  table {border-collapse:collapse}
  th, td {
    border:thin solid black;
    padding: 0.3em;
  }
  .inlineCode {
    FONT-FAMILY: "courier new"; BACKGROUND-COLOR: #ddf
  }
  PRE.code {
    BORDER-RIGHT: #999999 1pt solid; PADDING-RIGHT: 0.5em; BORDER-TOP: #999999 1pt solid; PADDING-LEFT: 0.5em; PADDING-BOTTOM: 0.5em; BORDER-LEFT: #999999 1pt solid; PADDING-TOP: 0.5em; BORDER-BOTTOM: #999999 1pt solid; FONT-FAMILY: "courier new"; BACKGROUND-COLOR: #eef
  }
  PRE.code2 {
    BORDER-RIGHT: #999999 1pt solid; PADDING-RIGHT: 0.5em; BORDER-TOP: #999999 1pt solid; PADDING-LEFT: 0.5em; PADDING-BOTTOM: 0.5em; BORDER-LEFT: #999999 1pt solid; PADDING-TOP: 0.5em; BORDER-BOTTOM: #999999 1pt solid; FONT-FAMILY: "courier new"; BACKGROUND-COLOR: #ffa
  }
  .ednote {
    FONT-STYLE: italic ;
  }
  PRE.clientmsg {
    BORDER-RIGHT: #999 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #999 1px solid; PADDING-LEFT: 2px; BACKGROUND: #eee; PADDING-BOTTOM: 2px; MARGIN: 0px; BORDER-LEFT: #999 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #999 1px solid
  }
  PRE.servermsg {
    BORDER-RIGHT: #999 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #999 1px solid; PADDING-LEFT: 2px; BACKGROUND: #eee; PADDING-BOTTOM: 2px; MARGIN: 5px 0px 0px; BORDER-LEFT: #999 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #999 1px solid; TEXT-ALIGN: left
  }
  P.msg {
    PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; TEXT-ALIGN: center
  }
  DIV.interaction {
    BORDER-RIGHT: #999 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #999 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; BORDER-LEFT: #999 1px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #999 1px solid
  }
  DIV.interaction H4 {
    MARGIN: 0px 0px 10px
  }
  DIV.interaction P {
    MARGIN: 0px
  }
  DIV.test {
    BORDER-RIGHT: #999 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #999 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; BORDER-LEFT: #999 1px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #999 1px solid
  }
  DIV.test H4 {
    MARGIN: 0px 0px 10px
  }
  .todo {
    display: block;
    background-color: #F99;
    margin: 5px;
    padding-left: 5px;
    border: 2px solid #633;
  }
  .todo::before {
    content: "TODO: ";
    font-weight: bold;
  }
  figure {
    margin: 2px;
    padding: 2px;
    border: 1px solid black;
  }
</style>
</head>
<body>
    <section id="abstract">
      <p>The Data Privacy Vocabulary [[DPV]] enables expressing machine-readable metadata about the use and processing of personal data based on legislative requirements such as the General Data Protection Regulation [[GDPR]]. This document describes the DPV-SKOS specification that provides the DPV as an RDFS ontology and using SKOS semantics to describe its hierarchies.</p>
      <p>The canonical URL for DPV-SKOS is <a href="https://w3id.org/dpv/dpv-skos">https://w3id.org/dpv/dpv-skos#</a> which contains (this) specification. The namespace for DPV terms is <a href="https://w3id.org/dpv/dpv-skos#"><code>https://w3id.org/dpv/dpv-skos#</code></a>, the suggested prefix for is <code>dpvo</code>, and this document along with its various serializations are available on <a href="https://github.com/w3c/dpv">GitHub</a>.
      {{ dpv_document_family(document='dpv-skos-spec') }}
      {{ sotd() }}
    </section>
  <section id="dpvs-semantics">
    <h2>DPV-SKOS Semantics</h2>
    <p>This specification provides a serialisation of [[DPV]] by using RDFS to model the 'ontology' aspects and SKOS to model the 'hierarchy of concepts'. This is necessary to provide the ability to express information with greater flexibility than is permitted within the stricter semantics of OWL.</p>
    <p>For example, consider the case where the <code>Purpose</code> is to be specified as <code>RequestedServiceProvision</code>. Given that ontologies, schemas, or data models should define domains and ranges for properties where applicable or suitable to enable their use within tools, for validation, inferences, and so on - it necessitates <code>RequestedServiceProvision</code> be an <i>instance</i> of <code>Purpose</code>. However, doing so prevents <code>RequestedServiceProvision</code> from being further extended, such as via <i>subclass mechanism</i>. While OWL2 permits <i>punning</i>, utilising it in this situation results in a large amount of assertions regarding each class being an instance of itself and of all its parent classes.</p>
    <p>To prevent the above, and to provide the ability to express relationships between concepts whilst still permitting their usage with properties, this serialisation is designed where RDFS is used to express the basic structure or schema of the ontology i.e. the classes and properties, and SKOS is then utilised to express relationships between their instances. In this, each concept is defined as a <code>rdfs:Class</code> and a <code>skos:Concept</code> so that their usage can be applied based on either semantics. As a result, the taxonomies within DPV-SKOS are of two types:</p>
    <ol>
      <li>RDFS subclasses: these are classes with a subclass relationship to their parents.</li>
      <li>SKOS broader (transitive): these are concepts that instances of a 'top concept' where relationship with 'parent' is defined using <code>skos:broaderTransitive</code> instead.</li>
    </ol>
    <figure>
      <img src="img/semantics-01.png">
      <figcaption>SKOS semantics providing ability to express relationships between concepts so that they can be used as value of properties</figcaption>
    </figure>
    <p>As an example, consider the <code>Purpose</code> taxonomy, part of which is illustrated in the figure above. Here, <code>ServiceProvision</code> and <code>RequestedServiceProvision</code> are part of the purpose hierarchy, where <i>RequestedServiceProvision</i> is a more specialised type of <i>ServiceProvision</i>. While DPV suggests best practice as extending (via subclass or instantiation) its concepts to make them specific to the applied use-case, this may not always be desired or required. Such as when the use-case wants to indicate its purpose is <code>RequestedServiceProvision</code> without additional details (e.g. for planning what they would like to do).</p>
    <p>Instead, by declaring both these concepts as instances of <code>Purpose</code>, the property <code>hasPurpose</code> can be used to refer to either of them. To extend them, one must create another instance of <code>Purpose</code> and relate it to the closest concept within the hierarchy by using <code>skos:broaderTransitive</code> to indicate relevance.</p>
    <aside class="example" title="Using the RDFS+SKOS semantics">
    <pre class="nohighlight">
ex:PDH a dpvs:PersonalDataHandling ;
    dpvs:hasPurpose dpvs:RequestedServiceProvision .

ex:PDH a dpvs:PersonalDataHandling ;
    dpvs:hasPurpose ex:PurposeXYZ .
ex:PurposeXYZ a dpvs:Purpose ;
    skos:broaderTransitive dpvs:RequestedServiceProvision .

# 'hacks that are invalid or no longer necessary

# 1: Creating empty blank nodes to satisfy property range assertions
ex:PDH a dpvs:PersonalDataHandling ;
    dpvs:hasPurpose [ a dpvs:RequestedServiceProvision ] .

# 2: Creating a node only to subclass existing concept
ex:PDH a dpvs:PersonalDataHandling ;
    dpvs:hasPurpose ex:Purpose XYZ .
ex:PurposeXYZ rdfs:subClassOf dpvs:RequestedServiceProvision
    </pre>
    </aside>
    <figure>
      <img src="img/semantics-02.png">
      <figcaption>SKOS semantics providing ability to express relationships between concepts so that they can be used as value of properties</figcaption>
    </figure>
    <p>Not all taxonomies make sense when expressed as an instance of a top concept. For example, consider the <i>Entities</i> taxonomy, where various entities are described as a hierarchy, as depicted in the figure above. In its case, it would not be accurate or correct to express relationships between instances such as <code>skos:broader dpvs:DataController</code>. For such cases, the expression of hierarchies continues to utilise the <code>rdfs:subClassOf</code> relationship to enforce the creation of specific instances representing that entity e.g. a specific data controller.</p>
  </section>
  <section id="vocab-base">
    <h2>Base Vocabulary</h2>
    <figure>
    <img title="DPV Base Vocabulary" alt="DPV base vocabulary" src="/dpv/dpv/diagrams/personaldatahandling.png">
      <figcaption>Base Vocabulary</figcaption>
    </figure>
    <p>The 'Base' or 'Core' concepts in DPV represent the most relevant concepts for representing information regarding the what, how, where, who, why of personal data and its processing. Each of these concepts is further elaborated as a taxonomy of concepts in a hierarchical fashion. The DPV provides the following as 'top-level' concepts and relations to associate them with other concepts:</p>
    <table>
      <thead>
        <tr>
          <th>Class</th>
          <th>Property</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>[=PersonalData=]</td>
          <td>[=hasPersonalData=]</td>
          <td>Personal data categories</td>
        </tr>
        <tr>
          <td>[=Purpose=]</td>
          <td>[=hasPurpose=]</td>
          <td>Purpose of Processing</td>
        </tr>
        <tr>
          <td>[=Processing=]</td>
          <td>[=hasProcessing=]</td>
          <td>Category or type of processing of personal data</td>
        </tr>
        <tr>
          <td>[=DataController=]</td>
          <td>[=hasDataController=]</td>
          <td>Data Controller responsible for processing</td>
        </tr>
        <tr>
          <td>[=DataSubject=]</td>
          <td>[=hasDataSubject=]</td>
          <td>Data Subject or Individual whose data is being processing</td>
        </tr>
        <tr>
          <td>[=Recipient=]</td>
          <td>[=hasRecipient=]</td>
          <td>Recipient of personal data</td>
        </tr>
        <tr>
          <td>[=TechnicalOrganisationalMeasure=]</td>
          <td>[=hasTechnicalOrganisationalMeasure=]</td>
          <td>Technical and/or Organisational measures associated with processing</td>
        </tr>
        <tr>
          <td>[=LegalBasis=]</td>
          <td>[=hasLegalBasis=]</td>
          <td>Legal bases or justifications for processing</td>
        </tr>
        <tr>
          <td>[=Right=]</td>
          <td>[=hasRight=]</td>
          <td>Rights applicable or provided</td>
        </tr>
        <tr>
          <td>[=Risk=]</td>
          <td>[=hasRisk=]</td>
          <td>Risks applicable or probable regarding processing</td>
        </tr>
        <tr>
          <td>[=PersonalDataHandling=]</td>
          <td>[=hasPersonalDataHandling=]</td>
          <td>A concept for associating the other core concepts as a 'group, 'policy', or 'set' - so as to express different use-cases and combinations</td>
        </tr>
      </tbody>
    </table>
    <p>DPV provides taxonomies for all core concepts except the ones specified below:</p>
    <ul>
      <li data-dfn-for="PersonalDataHandling"><dfn>PersonalDataHandling</dfn>: DPV defines the concept of  for representing a 'policy' or 'grouping' that associates the top-level concepts with one another. The relation <span data-dfn-for="hasPersonalDataHandling"><dfn>hasPersonalDataHandling</dfn> provides a relation to associate a <code>PersonalDataHandling</code> with other concepts, including like itself.</span></li>
      <li><span data-dfn-for="Right"><dfn>Right</dfn>: The concept <code>Right</code> represents a generic rights provided or recognised by some law or convention.</span> The relation <span data-dfn-for="hasRight"><dfn>hasRight</dfn> provides the relation to associate a <code>Right</code> with concepts.</span>. In addition, <span data-dfn-for="DataSubjectRight"><dfn>DataSubjectRight</dfn> refers to rights specifically available to applicable for Data Subjects.</span></li>
      <li>[=Risk=] represents the generic concept of <i>Risk</i> that can be associated with other concepts using [=hasRisk=].</li>
    </ul>

  {% if core_classes %}
  <section id="baseontology-classes">
    {{ table_classes(core_classes, 'base') }}
  </section>
  {% endif %}
  {% if core_properties %}
  <section id="baseontology-properties">
    {{ table_properties(core_properties, 'base') }}
  </section>
  {% endif %}
</section>

<section id="vocab-entities">
  <h2>Entities</h2>
    {% if entities_classes %}
  <section id="entities-classes">
    {{ table_classes(entities_classes) }}
  </section>
  {% endif %}
  {% if entities_properties %}
  <section id="entities-properties">
    {{ table_properties(entities_properties) }}
  </section>
  {% endif %}

  <section id="vocab-entities-legalrole">
    <h3>Legal Roles</h3>
    {% if entities_legalrole_classes %}
    <section id="entities_legalrole-classes">
      {{ table_classes(entities_legalrole_classes) }}
    </section>
    {% endif %}
    {% if entities_legalrole_properties %}
    <section id="entities_legalrole-properties">
      {{ table_properties(entities_legalrole_properties) }}
    </section>
    {% endif %}
  </section>

  <section id="vocab-entities-authorities">
    <h3>Authorities</h3>
    {% if entities_authority_classes %}
    <section id="entities_authority-classes">
      {{ table_classes(entities_authority_classes) }}
    </section>
    {% endif %}
    {% if entities_authority_properties %}
    <section id="entities_authority-properties">
      {{ table_properties(entities_authority_properties) }}
    </section>
    {% endif %}
  </section>

  <section id="vocab-entities-organisation">
    <h3>Organisation</h3>
    {% if entities_organisation_classes %}
    <section id="entities_organisation-classes">
      {{ table_classes(entities_organisation_classes) }}
    </section>
    {% endif %}
    {% if entities_organisation_properties %}
    <section id="entities_organisation-properties">
      {{ table_properties(entities_organisation_properties) }}
    </section>
    {% endif %}
  </section>

  <section id="vocab-entities-datasubject">
    <h3>Data Subjects</h3>
    {% if entities_datasubject_classes %}
    <section id="entities_datasubject-classes">
      {{ table_classes(entities_datasubject_classes) }}
    </section>
    {% endif %}
    {% if entities_datasubject_properties %}
    <section id="entities_datasubject-properties">
      {{ table_properties(entities_datasubject_properties) }}
    </section>
    {% endif %}
  </section>
</section>

<section id="vocab-purpose">
  <h2>Purposes</h2>
    {% if purpose_classes %}
  <section id="purpose-classes">
    {{ table_classes(purpose_classes) }}
  </section>
  {% endif %}
  {% if purpose_properties %}
  <section id="purpose-properties">
    {{ table_properties(purpose_properties) }}
  </section>
  {% endif %}
</section>

<section id="vocab-processing">
  <h2>Processing</h2>
    {% if processing_classes %}
  <section id="processing-classes">
    {{ table_classes(processing_classes) }}
  </section>
  {% endif %}
  {% if processing_properties %}
  <section id="processing-properties">
    {{ table_properties(processing_properties) }}
  </section>
  {% endif %}
</section>

<section id="vocab-personaldata">
  <h2>Personal Data</h2>
    {% if personaldata_classes %}
  <section id="personaldata-classes">
    {{ table_classes(personaldata_classes) }}
  </section>
  {% endif %}
  {% if personaldata_properties %}
  <section id="personaldata-properties">
    {{ table_properties(personaldata_properties) }}
  </section>
  {% endif %}
</section>

<section id="vocab-technical_organisational_measures">
  <h2>Tech/Org Measures</h2>
    {% if technical_organisational_measures_classes %}
  <section id="technical_organisational_measures-classes">
    {{ table_classes(technical_organisational_measures_classes) }}
  </section>
  {% endif %}
  {% if technical_organisational_measures_properties %}
  <section id="technical_organisational_measures-properties">
    {{ table_properties(technical_organisational_measures_properties) }}
  </section>
  {% endif %}
</section>

<section id="vocab-context">
  <h2>Contextual Info</h2>
    {% if context_classes %}
  <section id="context-classes">
    {{ table_classes(context_classes) }}
  </section>
  {% endif %}
  {% if context_properties %}
  <section id="context-properties">
    {{ table_properties(context_properties) }}
  </section>
  {% endif %}
</section>

<section id="vocab-processing-context">
  <h2>Context of Processing</h2>
    {% if processing_context_classes %}
  <section id="processing-context-classes">
    {{ table_classes(processing_context_classes) }}
  </section>
  {% endif %}
  {% if processing_context_properties %}
  <section id="processing-context-properties">
    {{ table_properties(processing_context_properties) }}
  </section>
  {% endif %}
</section>

<section id="vocab-risk">
  <h2>Risk and Impacts</h2>
    {% if risk_classes %}
  <section id="risk-classes">
    {{ table_classes(risk_classes) }}
  </section>
  {% endif %}
  {% if risk_properties %}
  <section id="risk-properties">
    {{ table_properties(risk_properties) }}
  </section>
  {% endif %}
</section>

<section id="vocab-jurisdiction">
  <h2>Location &amp; Jurisdiction</h2>
    {% if jurisdiction_classes %}
  <section id="jurisdiction-classes">
    {{ table_classes(jurisdiction_classes) }}
  </section>
  {% endif %}
  {% if jurisdiction_properties %}
  <section id="jurisdiction-properties">
    {{ table_properties(jurisdiction_properties) }}
  </section>
  {% endif %}
</section>

<section id="vocab-legal_basis">
  <h2>Legal Bases</h2>
    {% if legal_basis_classes %}
  <section id="legal_basis-classes">
    {{ table_classes(legal_basis_classes) }}
  </section>
  {% endif %}
  {% if legal_basis_properties %}
  <section id="legal_basis-properties">
    {{ table_properties(legal_basis_properties) }}
  </section>
  {% endif %}

  <section id="vocab-consent">
    <h3>Consent</h3>
      {% if consent_classes %}
    <section id="consent-classes">
      {{ table_classes(consent_classes) }}
    </section>
    {% endif %}
    {% if consent_properties %}
    <section id="consent-properties">
      {{ table_properties(consent_properties) }}
    </section>
    {% endif %}
  </section>
</section>

{% if proposed %}
<section id="proposed-terms" class="appendix">
  <h2>Proposed Terms</h2>
  <p>The following terms have been proposed for inclusion, and are under discussion. They are provided here for illustrative purposes and should not be considered as part of DPV.</p>
  {% for name, terms in proposed.items() %}
    <strong>{{name}}</strong>
    <ul>{% for term in terms %}
      <li>{{term}}</li>
    {% endfor %}</ul>
  {% endfor %}
</section>
{% endif %}

</body>
</html>