{% extends 'contents_dpv.jinja2' %}
{% from 'macro_term_table_skos.jinja2' import table_classes %}
{% from 'macro_term_table_skos.jinja2' import table_properties %}
{% from 'macro_dpv_document_family.jinja2' import dpv_document_family, sotd %}

{% block title %}DPV-SKOS: Data Privacy Vocabulary (DPV) in SKOS+RDF{% endblock title %}
{% block RESPEC %}
  <script class="remove">
   // All config options at https://respec.org/docs/ 
   var respecConfig = {
    shortName: "dpv-skos",
    title: "DPV-SKOS: Data Privacy Vocabulary (DPV) in SKOS+RDF",
    subtitle: "version 1",
    publishDate: "2022-12-05",
    specStatus: "CG-FINAL",
    group: "dpvcg",
    latestVersion: "https://w3id.org/dpv/dpv-skos",
    edDraftURI: "https://w3id.org/dpv/ed/dpv-skos",
    canonicalUri: "https://w3id.org/dpv/dpv-skos",
    github: "w3c/dpv",
    subjectPrefix: "[dpvs]",
    doJsonLd: true,
    lint: { "no-unused-dfns": false, "local-refs-exist": true },
    editors: [
    {
      name: "Harshvardhan J. Pandit",
      url: "https://harshp.com",
      "company": "{{ "Harshvardhan J. Pandit" | generate_author_affiliation }}"
    }
    ],
    formerEditors: [
    {
      name: "Axel Polleres",
      url: "https://www.polleres.net/",
      "company": "{{ "Axel Polleres" | generate_author_affiliation }}",
      retiredDate: "2019-12-31"
    }
    ],
    authors: [
      {
        "name": "Axel Polleres",
        "company": "{{ "Axel Polleres" | generate_author_affiliation }}"
      },
      {
        "name": "Beatriz Esteves",
        "company": "{{ "Beatriz Esteves" | generate_author_affiliation }}"
      },
      {
        "name": "Bert Bos",
        "company": "{{ "Bert Bos" | generate_author_affiliation }}"
      },
      {
        "name": "Bud Bruegger",
        "company": "{{ "Bud Bruegger" | generate_author_affiliation }}"
      },
      {
        "name": "Elmar Kiesling",
        "company": "{{ "Elmar Kiesling" | generate_author_affiliation }}"
      },
      {
        "name": "Eva Schlehahn",
        "company": "{{ "Eva Schlehahn" | generate_author_affiliation }}"
      },
      {
        "name": "David Hickey",
        "company": "{{ "David Hickey" | generate_author_affiliation }}"
      },
      {
        "name": "Fajar J. Ekaputra",
        "company": "{{ "Fajar J. Ekaputra" | generate_author_affiliation }}"
      },
      {
        "name": "Georg P. Krog",
        "company": "{{ "Georg P. Krog" | generate_author_affiliation }}"
      },
      {
        "name": "Harshvardhan J. Pandit",
        "company": "{{ "Harshvardhan J. Pandit" | generate_author_affiliation }}"
      },
      {
        "name": "Javier D. Fernández",
        "company": "{{ "Javier D. Fernández" | generate_author_affiliation }}"
      },
      {
        "name": "Julian Flake",
        "company": "{{ "Julian Flake" | generate_author_affiliation }}"
      },
      {
        "name": "Mark Lizar",
        "company": "{{ "Mark Lizar" | generate_author_affiliation }}"
      },
      {
        "name": "Paul Ryan",
        "company": "{{ "Paul Ryan" | generate_author_affiliation }}"
      },
      {
        "name": "Piero Bonatti",
        "company": "{{ "Piero Bonatti" | generate_author_affiliation }}"
      },
      {
        "name": "Ramisa Gachpaz Hamed",
        "company": "{{ "Ramisa Gachpaz Hamed" | generate_author_affiliation }}"
      },
      {
        "name": "Rigo Wenning",
        "company": "{{ "Rigo Wenning" | generate_author_affiliation }}"
      },
      {
        "name": "Rob Brennan",
        "company": "{{ "Rob Brennan" | generate_author_affiliation }}"
      },
      {
        "name": "Simon Steyskal",
        "company": "{{ "Simon Steyskal" | generate_author_affiliation }}"
      }
    ],
    localBiblio: {%  include 'references.json' %}
  };
</script>
{% endblock RESPEC %}
{% block ABSTRACT %}
    <section id="abstract">
      <p>The Data Privacy Vocabulary [[DPV]] enables expressing machine-readable metadata about the use and processing of personal data based on legislative requirements such as the General Data Protection Regulation [[GDPR]]. This document describes the DPV-SKOS specification that provides the DPV as an RDFS ontology with SKOS semantics for concept hierarchies.</p>
      <p>The canonical URL for DPV-SKOS is <a href="https://w3id.org/dpv/dpv-skos">https://w3id.org/dpv/dpv-skos</a> which contains (this) specification. The namespace for DPV terms is <a href="https://w3id.org/dpv/dpv-skos#"><code>https://w3id.org/dpv/dpv-skos#</code></a>, the suggested prefix for is <code>dpvs</code>, and this document along with source and releases are available at <a href="https://github.com/w3c/dpv">https://github.com/w3c/dpv</a>.</p>
      {{ dpv_document_family(document='dpv-skos-spec') }}
      {{ sotd() }}
    </section>
{% endblock ABSTRACT %}
{% block INTRODUCTION %}
  <section id="introduction">
    <h2>Introduction</h2>
    <blockquote>This document assumes the reader is familiar with DPV through the [[[DPV-Primer]]] and has gone through the [[[DPV]]] (primary specification), and thus focuses on providing a topically structured documentation of concepts defined by DPV-SKOS</blockquote>

    <section>
      <h3>Semantics</h3>
      <p>This specification provides a serialisation of [[DPV]] by using RDFS to model the 'ontology' aspects and SKOS to model the 'hierarchy of concepts'. This is necessary to provide the ability to express information with greater flexibility than is permitted within the stricter semantics of OWL.</p>
      <p>For example, consider the case where the <code>Purpose</code> is to be specified as <code>RequestedServiceProvision</code>. Given that ontologies, schemas, or data models should define domains and ranges for properties where applicable or suitable to enable their use within tools, for validation, inferences, and so on - it necessitates <code>RequestedServiceProvision</code> be an <i>instance</i> of <code>Purpose</code>. However, doing so prevents <code>RequestedServiceProvision</code> from being further extended, such as via <i>subclass mechanism</i>. While OWL2 permits <i>punning</i>, utilising it in this situation results in a large amount of assertions regarding each class being an instance of itself and of all its parent classes.</p>
      <p>To prevent the above, and to provide the ability to express relationships between concepts whilst still permitting their usage with properties, this serialisation is designed where RDFS is used to express the basic structure or schema of the ontology i.e. the classes and properties, and SKOS is then utilised to express relationships between their instances. In this, each concept is defined as a <code>rdfs:Class</code> and a <code>skos:Concept</code> so that their usage can be applied based on either semantics. As a result, the taxonomies within DPV-SKOS are of two types:</p>
      <ol>
        <li>RDFS subclasses: these are classes with a subclass relationship to their parents.</li>
        <li>SKOS broader (transitive): these are instances of a 'top concept' where hierarchical relationships with other instances is defined using <code>skos:broader</code> instead of subclasses.</li>
      </ol>
      <figure>
        <img src="../diagrams/skos-semantics-01.png">
        <figcaption>SKOS semantics providing ability to express relationships between concepts so that they can be used as value of properties</figcaption>
      </figure>
      <p>As an example, consider the <code>Purpose</code> taxonomy, part of which is illustrated in the figure above. Here, <code>ServiceProvision</code> and <code>RequestedServiceProvision</code> are part of the purpose hierarchy, where <i>RequestedServiceProvision</i> is a more specialised type of <i>ServiceProvision</i>. While DPV suggests best practice as extending (via subclass or instantiation) its concepts to make them specific to the applied use-case, this may not always be desired or required. Such as when the use-case wants to indicate its purpose is <code>RequestedServiceProvision</code> without additional details (e.g. for planning what they would like to do).</p>
      <p>Instead, by declaring both these concepts as instances of <code>Purpose</code>, the property <code>hasPurpose</code> can be used to refer to either of them. To extend them, one must create another instance of <code>Purpose</code> and relate it to the closest concept within the hierarchy by using <code>skos:broader</code> to indicate relevance.</p>
      <aside class="example" title="Using the RDFS+SKOS semantics">
      <pre class="nohighlight">
}
}
ex:PDH a dpvs:PersonalDataHandling ;
    dpvs:hasPurpose dpvs:RequestedServiceProvision .

ex:PDH a dpvs:PersonalDataHandling ;
    dpvs:hasPurpose ex:PurposeXYZ .
ex:PurposeXYZ a dpvs:Purpose ;
    skos:broader dpvs:RequestedServiceProvision .

# 'hacks that are invalid or no longer necessary

# 1: Creating empty blank nodes to satisfy property range assertions
ex:PDH a dpvs:PersonalDataHandling ;
    dpvs:hasPurpose [ a dpvs:RequestedServiceProvision ] .

# 2: Creating a node only to subclass existing concept
ex:PDH a dpvs:PersonalDataHandling ;
    dpvs:hasPurpose ex:Purpose XYZ .
ex:PurposeXYZ rdfs:subClassOf dpvs:RequestedServiceProvision
      </pre>
      </aside>
      <figure>
        <img src="../diagrams/skos-semantics-02.png">
        <figcaption>SKOS semantics providing ability to express relationships between concepts so that they can be used as value of properties</figcaption>
      </figure>
      <p>Not all taxonomies make sense when expressed as an instance of a top concept. For example, consider the <i>Entities</i> taxonomy, where various entities are described as a hierarchy, as depicted in the figure above. In its case, it would not be accurate or correct to express relationships between instances such as <code>skos:broader dpvs:DataController</code>. For such cases, the expression of hierarchies continues to utilise the <code>rdfs:subClassOf</code> relationship to enforce the creation of specific instances representing that entity e.g. a specific data controller.</p>

      <p>DPV consists of certain 'core concept' that are intended to be independent representations of specific information, and are distinct from other core concepts. For example, the <a href="https://www.w3id.org/dpv#Purpose">[=Purpose=]</a> (e.g. <a href="https://www.w3id.org/dpv">Optimisation</a>) refers only to the <i>purpose of why personal data is processed</i> and is independent as a concept from the <a href="https://www.w3id.org/dpv#PersonalData">[=PersonalData=]</a> (e.g. <a href="https://www.w3id.org/dpv-pd#Location">[=Location=]</a>) or the <a href="https://www.w3id.org/dpv#Processing">[=Processing=]</a> activities (e.g. <a href="https://www.w3id.org/dpv#Collect">[=collect=]</a>, <a href="https://www.w3id.org/dpv#Store">[=store=]</a>) involved to carry out that purpose.</p>

      <p>The structuring of DPV is based on providing rich and comprehensive taxonomies that group concepts together based on each core concept, e.g. taxonomy of purposes, which is reflected in the serialisation and documentation (e.g. this document). Other extentions provide additional concepts that expand DPV's concept or complement them with separation and optionality through namespaces. For a list of all DPV related documents, see <a href="#dpv-document-family">document family</a> section.</p>

    </section>

    <section id="vocab-base">
      <h3>Base Vocabulary</h3>
      <figure>
        <img title="DPV Base Vocabulary" alt="DPV base vocabulary" src="../diagrams/base.png">
        <figcaption>Base Vocabulary</figcaption>
      </figure>

      <p>DPV can be viewed as a hierarchical taxonomy of concepts where each <code><code>core concept</code></code> represents the top-most abstract concept in a tree and each of its children provide a lesser abstract or more concrete concept. For example, consider the concept of <a href="https://www.w3id.org/dpv#PersonalData">[=PersonalData=]</a> which is the abstract representation of <em>personal data</em>. It can be further <i>refined</i> or <i>extended</i> as [=SensitivePersonalData=], and further as [=SpecialCategoryPersonalData=] and then as <i>GeneticData</i> and so on.</p>
      <p>From this perspective, the top-most abstract concepts are collectively referred to as the <i>core vocabulary</i> within DPV. The goal of the DPV is to provide a rich collection of concepts for each of top concepts so as to enable their application within real-world use-cases. The identification of what constitutes a core concept is based on the need to represent information about it in a modular and independent form, such as that required for legal compliance.</p>
      
      <p>The 'Base' or 'Core' concepts in DPV represent the most relevant concepts for representing information regarding the what, how, where, who, why of personal data and its processing. Each of these concepts is further elaborated as a taxonomy of concepts in a hierarchical fashion. The DPV provides the following as 'top-level' concepts and relations to associate them with other concepts:</p>
      <table>
      <tr>
          <td>Concept</td>
          <td>Relevant Section</td>
      </tr>
      <tr>
          <td>[=PersonalData=]</td>
          <td>[=hasPersonalData=]</td>
      </tr>
      <tr>
          <td>[=Purpose=]</td>
          <td>[=hasPurpose=]</td>
      </tr>
      <tr>
          <td>[=Processing=]</td>
          <td>[=hasProcessing=]</td>
      </tr>
      <tr>
          <td>[=DataController=]</td>
          <td>[=hasDataController=]</td>
      </tr>
      <tr>
          <td>[=DataSubject=]</td>
          <td>[=hasDataSubject=]</td>
      </tr>
      <tr>
          <td>[=Recipient=]</td>
          <td>[=hasRecipient=]</td>
      </tr>
      <tr>
          <td>[=TechnicalOrganisationalMeasure=]</td>
          <td>[=hasTechnicalOrganisationalMeasure=]</td>
      </tr>
      <tr>
          <td>[=LegalBasis=]</td>
          <td>[=hasLegalBasis=]</td>
      </tr>
      <tr>
          <td>[=Right=]</td>
          <td>[=hasRight=]</td>
      </tr>
      <tr>
          <td>[=Risk=]</td>
          <td>[=hasRisk=]</td>
      </tr>
      <tr>
          <td>[=PersonalDataHandling=]</td>
          <td>[=hasPersonalDataHandling=]</td>
      </tr>
  </table>
      <p>DPV provides taxonomies for all core concepts except the ones specified below:</p>
      <ul>
        <ul>
        <li data-dfn-for="PersonalDataHandling"><dfn>PersonalDataHandling</dfn>: DPV defines the concept of  for representing a 'policy' or 'grouping' that associates the top-level concepts with one another. The relation <span data-dfn-for="hasPersonalDataHandling"><dfn>hasPersonalDataHandling</dfn> provides a relation to associate a [=PersonalDataHandling=] with other concepts, including like itself.</span></li>
        <li>[=Right=]: The concept [=Right=] represents a generic rights provided or recognised by some law or convention.</span> The relation [=hasRight=] provides the relation to associate a [=Right=] with concepts.</span>. In addition, [=DataSubjectRight=]</dfn> refers to rights specifically available to applicable for Data Subjects.</span></li>
      </ul>
  </section>

  <section>
    <h3>Taxonomies</h3>
    <p>The rest of the document expands on the core concepts through the following taxonomies.</p>
    <ul>
      <li><a href="#vocab-entities"><strong>Entities</strong></a> - different kinds of entities, the specific <a href="#vocab-entities-legalrole">Legal Roles</a> they can take, and categories of <a href="#vocab-entities-organisation">Organisations</a>, <a href="#vocab-entities-authorities">Authorities</a>, and <a href="#vocab-entities-datasubject">Data Subjects</a>.</li>
      <li><a href="#vocab-purpose"><strong>Purposes</strong></a> that justify the need or goal for which personal data is processd.</li>
      <li><a href="#vocab-processing"><strong>Processing</strong> operations over personal data.</a></li>
      <li><a href="#vocab-personaldata"><strong>Personal Data</strong> that is relevant for processing.</a></li>
      <li><a href="#vocab-technical_organisational_measures"><strong>Technical &amp; Organisational Measures</strong></a> with dedicated sections for <a href="#vocab-technical-measures">technical</a> and <a href="#vocab-organisational-measures">organisational</a> measures.</li>
      <li><a href="#vocab-legal_basis"><strong>Legal Bases</strong></a> that justify the processing, with a dedicated section for <a href="#vocab-consent">Consent</a>.</li>
      <li><a href="#vocab-processing-context"><strong>Processing Contextual information</strong></a> such as storage conditions and automation, as well as <a href="#vocab-processing-scale"><strong>Scale of Processing</strong></a>.</li>
      <li><a href="#vocab-context"><strong>General Contextual information</strong></a> such as frequency and duration, and <a href="#vocab-status"><strong>Statuses</strong></a> associated with activities.</li>
      <li><a href="#vocab-jurisdiction"><strong>Locations &amp; Jurisdictions</strong></a> providing relevance to laws, authorities, and location contexts.</li>
      <li><a href="#vocab-risk"><strong>Risk &amp; Impacts</strong></a> for risk assessment, management, and expressino of consequences and impacts associated with processing.</li>
      <li><a href="#vocab-rights"><strong>Rights and Rights Exercise</strong></a> for specifying what rights are applicable, how they can be exercised, and how to provide information associated with rights.</li>
      <li><a href="#vocab-rules"><strong>Rules</strong></a> for expressing constraints, requirements, and other forms of rules that can specify or assist in interpreting what is permitted, prohibited, mandatory, etc.</li>
    </ul>
    <p>Further to these, there are separate extensions that provide additional concepts. These are:</p>
    <ul>
      <li>[[[DPV-PD]]]</li>
      <li>[[[DPV-GDPR]]]</li>
      <li>[[[DPV-TECH]]]</li>
      <li>[[[DPV-LEGAL]]]</li>
      <li>[[[RISK]]]</li>
      <li>[[[RIGHTS]]]</li>
    </ul>
  </section>
</section>
{% endblock INTRODUCTION %}