{% extends 'contents_gdpr.jinja2' %}
{% from 'macro_term_table_skos.jinja2' import table_classes %}
{% from 'macro_term_table_skos.jinja2' import table_properties %}

{% block title %}DPVS-GDPR: GDPR Extension for DPV-SKOS{% endblock title %}
{% block RESPEC %}
  <script class="remove">
   // All config options at https://respec.org/docs/ 
   var respecConfig = {
    shortName: "dpv-skos-gdpr",
    title: "DPVS-GDPR: GDPR Extension for DPV-SKOS",
    subtitle: "version 1",
    publishDate: "2022-12-05",
    specStatus: "CG-FINAL",
    group: "dpvcg",
    latestVersion: "https://w3id.org/dpv/dpv-skos/dpv-gdpr",
    canonicalUri: "https://w3id.org/dpv/dpv-skos/dpv-gdpr",
    edDraftURI: "https://w3id.org/dpv/ed/dpv-skos/dpv-gdpr",
    github: "w3c/dpv",
    subjectPrefix: "[dpv-gdpr]",
    doJsonLd: true,
    lint: { "no-unused-dfns": false, "local-refs-exist": true },
    editors: [
    {
      name: "Harshvardhan J. Pandit",
      url: "https://harshp.com",
      "company": "{{ "Harshvardhan J. Pandit" | generate_author_affiliation }}"
    }
    ],
    formerEditors: [
    {
      name: "Axel Polleres",
      url: "https://www.polleres.net/",
      "company": "{{ "Axel Polleres" | generate_author_affiliation }}",
      retiredDate: "2019-12-31"
    }
    ],
    authors: [
      {
        "name": "Axel Polleres",
        "company": "{{ "Axel Polleres" | generate_author_affiliation }}"
      },
      {
        "name": "Beatriz Esteves",
        "company": "{{ "Beatriz Esteves" | generate_author_affiliation }}"
      },
      {
        "name": "Bert Bos",
        "company": "{{ "Bert Bos" | generate_author_affiliation }}"
      },
      {
        "name": "Bud Bruegger",
        "company": "{{ "Bud Bruegger" | generate_author_affiliation }}"
      },
      {
        "name": "Elmar Kiesling",
        "company": "{{ "Elmar Kiesling" | generate_author_affiliation }}"
      },
      {
        "name": "Eva Schlehahn",
        "company": "{{ "Eva Schlehahn" | generate_author_affiliation }}"
      },
      {
        "name": "David Hickey",
        "company": "{{ "David Hickey" | generate_author_affiliation }}"
      },
      {
        "name": "Fajar J. Ekaputra",
        "company": "{{ "Fajar J. Ekaputra" | generate_author_affiliation }}"
      },
      {
        "name": "Georg P. Krog",
        "company": "{{ "Georg P. Krog" | generate_author_affiliation }}"
      },
      {
        "name": "Harshvardhan J. Pandit",
        "company": "{{ "Harshvardhan J. Pandit" | generate_author_affiliation }}"
      },
      {
        "name": "Javier D. Fernández",
        "company": "{{ "Javier D. Fernández" | generate_author_affiliation }}"
      },
      {
        "name": "Julian Flake",
        "company": "{{ "Julian Flake" | generate_author_affiliation }}"
      },
      {
        "name": "Mark Lizar",
        "company": "{{ "Mark Lizar" | generate_author_affiliation }}"
      },
      {
        "name": "Paul Ryan",
        "company": "{{ "Paul Ryan" | generate_author_affiliation }}"
      },
      {
        "name": "Piero Bonatti",
        "company": "{{ "Piero Bonatti" | generate_author_affiliation }}"
      },
      {
        "name": "Ramisa Gachpaz Hamed",
        "company": "{{ "Ramisa Gachpaz Hamed" | generate_author_affiliation }}"
      },
      {
        "name": "Rigo Wenning",
        "company": "{{ "Rigo Wenning" | generate_author_affiliation }}"
      },
      {
        "name": "Rob Brennan",
        "company": "{{ "Rob Brennan" | generate_author_affiliation }}"
      },
      {
        "name": "Simon Steyskal",
        "company": "{{ "Simon Steyskal" | generate_author_affiliation }}"
      }
    ],
    localBiblio: {%  include 'references.json' %}
  };
</script>
{% endblock RESPEC %}
{% block ABSTRACT %}
  <section id="abstract">
    <p>DPVS-GDPR extends the [[[DPV-SKOS]]] to provide taxonomies of concepts such as legal bases, rights, and data transfer tools as defined within the [[[GDPR]]].</p>
    <p>The canonical URL for DPVS-GDPR is <a href="https://w3id.org/dpv/dpv-skos/dpv-gdpr">https://w3id.org/dpv-skos/dpv-gdpr</a> which contains (this) specification. The namespace for DPV terms is <a href="https://w3id.org/dpv/dpv-skos/dpv-gdpr#"><code>https://w3id.org/dpv/dpv-skos/dpv-gdpr#</code></a>, the suggested prefix is <code>dpvs-gdpr</code>, and this document along with source and releases are available at <a href="https://github.com/w3c/dpv">https://github.com/w3c/dpv</a>.</p>
    {{ dpv_document_family(document='dpv-gdpr-spec') }}
      {{ sotd() }}
  </section>
{% endblock ABSTRACT %}
{% block INTRODUCTION %}
  <section id="motivation">
    <h2>Introduction</h2>
    <p>The Data Privacy Vocabulary (DPV) provides terms to annotate and categorise instances of legally compliant personal data handling. In particular, the vocabulary provides <code>LegalBasis</code> and <code>DataSubjectRight</code> as top-level concepts representing the various legal bases for justifying processing of personal data and rights provided to the data subject respectively. Since these concepts are specifically defined within the scope of jurisdictional laws, their implementation is provided as a separate vocabulary that extends the DPV, thereby permitting continued usage of DPV as a jurisdiction-agnostic and generic vocabulary.</p>
    <p>The DPV-GDPR vocabulary extends the concepts within DPV-SKOS, i.e. by using RDFS to model the ontology and SKOS to represent hierarchies. It provides concepts regarding <a href="#vocab-legal-basis">legal bases</a>, <a href="#vocab-rights">data subject rights</a>, <a href="#vocab-data-transfers">data transfer tools</a>, <a href="#vocab-DPIA">data protection impact assessment (DPIA)</a>, and <a href="#vocab-compliance">compliance</a>, and provides a compatible extension to be used in combination with the DPV to represent GDPR-specific information.</p>
  </section>
{% endblock INTRODUCTION %}
