{% macro example_aside(exampleID) %}
  {% set ex, ex_contents = exampleID|retrieve_example %}
  <aside class="example" title="{{ex['dct:title']}}">
    {% if ex['dct:description'].startswith("<p>") %}{{ex['dct:description']|safe}}{% else %}<p>{{ ex['dct:description'] }}{% endif %}
    {{ex_contents|safe}}
    <p><small>(<em>META</em> 
      Example ID: <a href="{{ex['iri']}}"><code>{{ex['term']}}</code></a>;
      {% if 'dct:source' in ex %}link: <a href="https://w3id.org/dpv/examples/{{ex['dct:source']}}">source file</a>;{% endif %}
      contributed by {{ex['dct:contributor']}} on {{ex['dct:created']}})
    </small></p>
  </aside>
{% endmacro %}
