{% macro dpv_document_family(document=None) %}
{# references.json contains the title/href for documents which is automatically expanded by ReSpec ; this macro contains only the document listing and text #}
<section id="dpv-document-family" class="noTOC">
    <h2>DPV Family of Documents</h2>
    <ul>
      <li>[[[PRIMER]]]: {{ "(this document)" if document == 'primer' }} An introductory document for DPV's concepts and taxonomies.
        <p class="note">Newcomers to the DPV are <strong>strongly recommended to first read through the Primer</strong> to familiarise themselves with the semantics and concepts of DPV.</p>
      </li>
      <li>[[[DPV]]]: {{ "(this document)" if document == 'dpv-spec' }} The base/core 'Data Privacy Vocabulary'</li>
      <li>Extensions:<ul>
        <li>[[[PD]]] {{ "(this document)" if document == 'dpv-pd-spec' }}</li>
        <li>[[[TECH]]] {{ "(this document)" if document == 'dpv-tech-spec' }}</li>
        <li>[[[RISK]]] {{ "(this document)" if document == 'risk-spec' }}</li>
        <li>[[[LOC]]] {{ "(this document)" if document == 'loc-spec' }}</li>
        <li>[[[LEGAL]]] {{ "(this document)" if document == 'dpv-legal-spec' }}, with extensions for specific jurisdictions:<ul>
          <li>[[[LEGAL-EU]]] - with extensions for laws [[EU-GDPR]], [[EU-DGA]], and [[EU-RIGHTS]]</li>
          <li>[[[LEGAL-US]]]</li>
          <li>[[[LEGAL-DE]]]</li>
          <li>[[[LEGAL-GB]]]</li>
          <li>[[[LEGAL-IE]]]</li>
        </ul></li>
      <li>[[[GUIDES]]]: {{ "(this document)" if document == 'dpv-guides' }}<ul>
        <li>[[[GUIDE-Serialisations]]] {{ "(this document)" if document == 'dpv-guide-serialisations' }} (coming soon)</li>
        <li>[[[GUIDE-OWL2]]] {{ "(this document)" if document == 'dpv-guide-owl2' }}</li>
        </ul></li>
      <li>Other Resources:<ul>
        <li>[[[UseCases-Requirements]]]</li>
        <li>[[[EXAMPLES]]]</li>
        <li>[[[DPV-NACE]]]</li>
        </ul></li>
    </ul>
    <p><strong>Related Links</strong></p>
    <ul>
      <li>Releases are published on <a href="https://github.com/w3c/dpv/releases">GitHub</a></li>
      <li>For a general overview of the Data Protection Vocabularies and Controls Community Group [[DPVCG]], its history, deliverables, and activities - refer to <a href="https://www.w3.org/community/dpvcg/"><u>DPVCG Website</u></a>.</p>
      </li>
      <li>
        <p>The peer-reviewed article “<a href="https://link.springer.com/chapter/10.1007%2F978-3-030-33246-4_44"><u>Creating A Vocabulary for Data Privacy</u></a>” presents a historical overview of the DPVCG, and describes the methodology and structure of the DPV along with describing its creation. An open-access version can be accessed <a href="http://hdl.handle.net/2262/91581"><u>here</u></a>, <a href="http://doras.dcu.ie/23801/"><u>here</u></a>, and <a href="https://aic.ai.wu.ac.at/~polleres/publications/pand-etal-2019ODBASE.pdf"><u>here</u></a>.</p>
      </li>
    </ul>
</section>
{% endmacro %}

{% macro sotd() %}
<section id="sotd">
    <p><strong>Contributing:</strong> The DPVCG welcomes participation to improve the DPV and associated resources, including expansion or refinement of concepts, requesting information and applications, and addressing open issues. <a href="https://w3id.org/dpv/contributing">See contributing page</a> for further information.</p>
  </div>
</section>
{% endmacro %}

{% macro funding_acknowledgements() %}
<p>The DPVCG was established as part of the <a href="https://specialprivacy.ercim.eu/">SPECIAL H2020 Project</a>, which received funding from the European Union’s Horizon 2020 research and innovation programme under grant agreement No. 731601 from 2017 to 2019.</p>
<p>Harshvardhan J. Pandit was funded to work on DPV from 2020 to 2022 by the <a href="https://research.ie/">Irish Research Council's</a> Government of Ireland Postdoctoral Fellowship Grant#GOIPD/2020/790.</p>
<p>The <a href="https://www.adaptcentre.ie/">ADAPT SFI Centre</a> for Digital Media Technology is funded by Science Foundation Ireland through the SFI Research Centres Programme and is co-funded under the European Regional Development Fund (ERDF) through Grant#13/RC/2106 (2018 to 2020) and Grant#13/RC/2106_P2 (2021 onwards).</p>
{% endmacro %}

{% macro ref_dedicated_documentation(link, title) %}
{# this is the note shown for additional documentation provided
at the specified link e.g. for specific module #}
<div class="note">
  <p><strong>Please refer to <a href="{{link}}">{{title}} page</a> for additional documentation, examples, references, and best practices</strong>. This document provides only a brief summary of the {{title}} concepts.</p>
</div>
{% endmacro %}

{% macro language_selector(lang) %}
<form id="language-selector">
  <label>Language</label>
  <select style="top: 5px;" onchange="location=this.value">
    <option value="index-en.html" {% if lang=="en" %}selected="selected"{% endif %}>English</option>
    <option value="index-de.html" {% if lang=="de" %}selected="selected"{% endif %}>Deutsch</option>
  </select>
</form>
{% if lang != "en" %}<div id="lang-notice" style="background-color: #FEE; border: 1px solid #EDD; color: #A66;"><p><strong>Language suppport for this page is incomplete. Information not translated is provided in English.</strong></p></div>{% endif %}
{% endmacro %}