{% from 'macro_term_table.jinja2' import table_classes %}
{% from 'macro_term_table.jinja2' import table_properties %}
{% from 'macro_term_table.jinja2' import list_hierarchy, index_concepts %}
{% from 'macro_dpv_document_family.jinja2' import dpv_document_family, sotd %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}EU-DGA Extension{% endblock title%}</title>
  <script src="https://www.w3.org/Tools/respec/respec-w3c" class="remove" defer></script>
  {% block RESPEC %}
  <script class="remove">
   // All config options at https://respec.org/docs/ 
   var respecConfig = {
    shortName: "eu-dga",
    title: "EU DGA Extension",
    subtitle: "Data Privacy Vocabulary (DPV)",
    publishDate: "2023-11-13",
    specStatus: "CG-DRAFT",
    group: "dpvcg",
    latestVersion: "https://w3id.org/dpv/legal/eu/dga",
    canonicalUri: "https://w3id.org/dpv/legal/eu/dga",
    edDraftURI: "https://w3id.org/dpv/ed/legal/eu/dga",
    github: "w3c/dpv",
    subjectPrefix: "[eu-dga]",
    doJsonLd: true,
    lint: { "no-unused-dfns": false, "local-refs-exist": true },
    editors: [
    {
      name: "Harshvardhan J. Pandit",
      url: "https://harshp.com",
      "company": "{{ "Harshvardhan J. Pandit" | generate_author_affiliation }}"
    },
    {
        "name": "Beatriz Esteves",
        "company": "{{ "Beatriz Esteves" | generate_author_affiliation }}"
    }
    ],
    authors: [
      {
        "name": "Beatriz Esteves",
        "company": "{{ "Beatriz Esteves" | generate_author_affiliation }}"
      },
      {
        "name": "Georg P. Krog",
        "company": "{{ "Georg P. Krog" | generate_author_affiliation }}"
      },
      {
        "name": "Harshvardhan J. Pandit",
        "company": "{{ "Harshvardhan J. Pandit" | generate_author_affiliation }}"
      }
    ],
    localBiblio: {%  include 'references.json' %}
  };
</script>
{% endblock RESPEC %}
<link rel="stylesheet" type="text/css" href="../../../media/common.css">
</head>
<body>
{% block ABSTRACT %}
  <section id="abstract">
    <p>DPV-DGA extends the [[[DPV]]] to provide taxonomies of concepts such as legal bases, rights, other relevant concepts as defined within the [[[DGA]]].</p>
    <p>The canonical URL for DPV-DGA is <a href="https://w3id.org/dpv/dpv-dga">https://w3id.org/dpv/dpv-dga</a> which contains (this) specification. The namespace for DPV terms is <a href="https://w3id.org/dpv/dpv-dga#"><code>https://w3id.org/dpv/dpv-dga#</code></a>, the suggested prefix is <code>dpv-dga</code>, and this document along with source and releases are available at <a href="https://github.com/w3c/dpv">https://github.com/w3c/dpv</a>.</p>
    <p>This work is based on the article "Semantics for Implementing Data Reuse and Altruism under EU's Data Governance Act" by Beatriz Esteves, Victor Rodriguez Doncel, Harshvardhan J. Pandit, and Dave Lewis, accepted for presentation at SEMANTiCS 2023. Preprint is <a href="https://doi.org/10.5281/zenodo.8301900">here</a>.</p>
    {{ dpv_document_family(document='dpv-dga-spec') }}
      {{ sotd() }}
  </section>
{% endblock ABSTRACT %}
{% block INTRODUCTION %}
  <section id="motivation">
    <h2>Introduction</h2>
    <div class="issue" title="Content missing - Introduction"></div>
  </section>
{% endblock INTRODUCTION %}
{% block VOCAB %}

    <section id="vocab-entities">
    <h2>Entities</h2>
    <div class="issue" title="Content missing - Entities"></div>
    
    {{ list_hierarchy(modules['entities']['classes']) }}
  </section>

    <section id="vocab-legal-basis-DGA">
    <h2>Legal Bases</h2>
    <div class="issue" title="Content missing - Legal Bases"></div>
    {{ list_hierarchy(modules['legal_basis']['classes']) }}
    </section>

  <section id="vocab-rights">
    <h2>Rights under DGA</h2>
    <p>DGA provides several rights to the data subject, whose applicability depends on the context and nature of processing taking place. DPV lists these rights at an abstract level as concepts along with their origin in specific clauses of the DGA.</p>
    <p>In addition to DPV's concepts regarding exercise of rights, DPV-DGA provides additional concepts specific to the implementation of its rights.</p>

    {{ list_hierarchy(modules['legal_rights']['classes']) }}
  </section>

  <section id="vocab-services">
    <h2>Services</h2>
    <div class="issue" title="Content missing - Services"></div>
    
    {{ list_hierarchy(modules['services']['classes']) }}
  </section>

  <section id="vocab-registers">
    <h2>Registers</h2>
    <div class="issue" title="Content missing - Registers"></div>
    
    {{ list_hierarchy(modules['registers']['classes']) }}
  </section>

  <section id="vocab-toms">
    <h2>Tech/Org Measures</h2>
    <div class="issue" title="Content missing - Tech/Org Measures"></div>
    
    {{ list_hierarchy(modules['toms']['classes']) }}
  </section>

  <section id="vocabulary">
<h2>Vocabulary Index</h2>
  <div class="issue" title="Content missing - parent missing SIP - should be SingleInformationPoint"></div>
  <section id="dpv-classes">
    {{ index_concepts(vocab, vocab_name, filter="classes") }}
  </section>
  <section id="dpv-properties">
    {{ index_concepts(vocab, vocab_name, filter="properties") }}
  </section>
  <section id="external-concepts">
    <p>DPV uses the following terms from [[RDF]] and  [[RDFS]] with their defined meanings:</p>
    <ul>
      <li id="rdf:type"><dfn>rdf:type</dfn> to denote a concept is an instance of another concept</li>
      <li id="rdfs:Class"><dfn>rdfs:Class</dfn> to denote a concept is a Class or a category</li>
      <li id="rdfs:subClassOf"><dfn>rdfs:subClassOf</dfn> to specify the concept is a subclass (subtype, sub-category, subset) of another concept</li>
      <li id="rdf:Property"><dfn>rdf:Property</dfn> to denote a concept is a property or a relation</li>
      </ul>
    <p>The following external concepts are re-used within DPV:</p>
    {{ index_concepts(vocab, vocab_name, filter="external") }}
  </section>
</section>

{% endblock VOCAB %}

{% block ACKNOWLEDGEMENTS %}
<section id="funding-acknowledgements" class="notoc">
  <h2>Funding Acknowledgements</h2>

  

</section>
{% endblock ACKNOWLEDGEMENTS %}
{% block PROPOSED %}
{% if proposed %}
<section id="proposed-terms" class="appendix">
  <h2>Proposed Terms</h2>
  <p>The following terms have been proposed for inclusion, and are under discussion. They are provided here for illustrative purposes and should not be considered as part of DPV.</p>
  {% for name, terms in proposed.items() %}
    <strong>{{name}}</strong>
    <ul>{% for term in terms %}
      <li>{{term}}</li>
    {% endfor %}</ul>
  {% endfor %}
</section>
{% endif %}
{% endblock PROPOSED %}

<section class="appendix" id="issue-summary"></section>

{% block DEPRECATED %}
<section class="appendix" id="appendix-deprecated">
  <h2>Deprecated Terms</h2>
</section>
{% endblock DEPRECATED %}
<script type="text/javascript" src="../../../media/common.js" defer></script>
</body>
</html>