{% from 'macro_dpv_document_family.jinja2' import dpv_document_family, sotd %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>DPV Use-Cases and Requirements</title>
  <script src="https://www.w3.org/Tools/respec/respec-w3c" class="remove" defer></script>
  <script class="remove">
   // All config options at https://respec.org/docs/ 
   var respecConfig = {
    shortName: "ucr",
    title: "DPV Use-Cases and Requirements",
    publishDate: "2022-10-10",
    specStatus: "CG-DRAFT",
    group: "dpvcg",
    latestVersion: "https://w3id.org/dpv/use-cases",
    canonicalUri: "https://w3id.org/dpv/use-cases",
    edDraftURI: "https://w3id.org/dpv/ed/use-cases",
    github: "w3c/dpv",
    subjectPrefix: "[ucr]",
    doJsonLd: true,
    lint: { "no-unused-dfns": false },
    editors: [
    {
      name: "Harshvardhan J. Pandit",
      url: "https://harshp.com/",
      "company": "{{ "Harshvardhan J. Pandit" | generate_author_affiliation }}"
    }
    ],
    localBiblio: {%  include 'references.json' %}
  };
  </script>
  <link rel="stylesheet" type="text/css" href="../media/common.css">
</head>
<body>
  <section id="abstract">
    <p>This document lists the use-cases and requirements that motivate the development and provision of resources within the [[[DPVCG]]]. Specifically, it lists the background information that feeds into the continued development of the [[[DPV]]] and its associated resources. It draws inspiration (and methodology) from [[[SHACL-UseCases]]]. The vocabulary, and instances of use-cases and requirements are available in DPVCG GitHub repo under <i>./use-cases</i> path.</p>
    {{ dpv_document_family(document='dpv-spec') }}
    {{ sotd() }}
    <p>The namespaces used in this document are as follows:</p>
    <table>
      <tr><td><code>: </code></td><td><code><&lt;https://w3id.org/dpv/use&#45;cases/vocab#&gt;</code></td></tr>
      <tr><td><code>dpv:</code></td><td><code>&lt;https://w3id.org/dpv#&gt;</code></td></tr>
      <tr><td><code>dct:</code></td><td><code>&lt;http://purl.org/dc/terms/&gt;</code></td></tr>
      <tr><td><code>rdfs:</code></td><td><code>&lt;http://www.w3.org/2000/01/rdf&#45;schema#&gt;</code></td></tr>
      <tr><td><code>skos:</code></td><td><code>&lt;http://www.w3.org/2004/02/skos/core#&gt;</code></td></tr>
      <tr><td><code>owl:</code></td><td><code>&lt;http://www.w3.org/2002/07/owl#&gt;</code></td></tr>
      <tr><td><code>vann:</code></td><td><code>&lt;http://purl.org/vocab/vann/&gt;</code></td></tr>
      <tr><td><code>xsd:</code></td><td><code>&lt;http://www.w3.org/2001/XMLSchema#&gt;</code></td></tr>
      <tr><td><code>sh:</code></td><td><code>&lt;http://www.w3.org/ns/shacl#&gt;</code></td></tr>
    </table>
    </section>

  <section id="vocab">
    <h2>Vocabulary</h2>
    <section id="conformance"></section>
    <section id="vocab-usecase">
      <h3>UseCase</h3>
      <table>
        <tr><td>IRI</td><td><code>https://w3id.org/dpv/use&#45;cases/vocab#UseCase</code></td></tr>
        <tr><td><code>skos:definition</code></td><td>An UseCase provides a description where information within the scope of DPVCG is expected to be relevant or applied, and acts as the basis for identifying requirements (including but not limited to creation of concepts). Use cases can contain descriptions of systems, their operations, actors and entities involved, restrictions or constraints, or any other pertinent detail. They can be a simple textual paragraph or elaborative structured documents (in which case we prefer to reference them here as an URL).</td></tr>
      </table>
      <ol>
        <li>An UseCase MUST have a title (provided using <code>dct:title</code>)</li>
        <li>An UseCase MUST have a description (provided using <code>dct:description</code>)</li>
        <li>An UseCase MUST have an identifier with prefix 'U' (provided using <code>dct:identifier</code>)</li>
        <li>An UseCase MAY have one or more contributors (specified using <code>dct:contributor</code>)</li>
        <li>An UseCase MAY have a date (e.g. creation or modification) (specified using <code>dct:date</code>)</li>
        <li>An UseCase MAY specify the source of its information (using <code>dct:source</code>)</li>
        <li>An UseCase MAY specify its primary subject or concept (using <code>dct:subject</code>)</li>
        <li>An UseCase MAY specify relevant requirements derived from it (using <code>dct:references</code>)</li>
      </ol>
      </section>
      <section id="vocab-req">
        <h3>Requirement</h3>
      <table>
        <tr><td>IRI</td><td><code>https://w3id.org/dpv/use&#45;cases/vocab#Requirement</code></td></tr>
        <tr><td><code>skos:definition</code></td><td>A Requirement is a functional or non-functional requirement desirable to provided by or implemented within DPVCG's outputs, primarily the DPV and its extensions. Requirements can relate to the design of the resource, specific concepts and relations within it, provision of a resource and its documentation, or any other pertinent usage or behaviour exhibited by resources developed within the scope of the DPVCG.</td></tr>
      </table>
      <ol>
        <li>A Requirement MUST have a title (provided using <code>dct:title</code>)</li>
        <li>A Requirement MUST have a description (provided using <code>dct:description</code>)</li>
        <li>A Requirement MUST have an identifier with prefix 'R' (provided using <code>dct:identifier</code>)</li>
        <li>A Requirement MUST specify the relevant UseCases used to derive it (using <code>dct:references</code>)</li>
        <li>A Requirement MAY have one or more contributors specified (using <code>dct:contributor</code>)</li>
        <li>A Requirement MAY specify the source of its information (using <code>dct:source</code>)</li>
        <li>A Requirement MAY specify its primary subject or concept (using <code>dct:subject</code>)</li>
      </ol>
      </section>
    </section>

    <section id="use-cases">
      <h2>Use Cases</h2>
      {% for UC in usecases %}
        <section id="{{UC.dct_identifier}}">
          <h4><strong><i>{{UC.dct_identifier}}</i>:</strong> {{ UC.dct_title }}</h4>
          <p>{{ UC.dct_description }}</p>
          {% if UC.dct_references %}
            <p><strong>Related Requirements:</strong> 
            {% if UC.dct_references is sequence %}
              {% for req in UC.dct_references|sort(attribute='iri') %}<a href="#{{req.dct_identifier}}">{{ req.dct_identifier }}</a>{{ ", " if not loop.last }}{% endfor %}
                {% else %}<a href="#{{ UC.dct_references .dct_identifier}}">{{ UC.dct_references.dct_identifier }}</a>
              {% endif %}</p>
          {% endif %}
          {% if UC.dct_subject %}
            <p><strong>Relevant Concepts:</strong> 
            {% if UC.dct_subject is sequence %}
              {% for concept in UC.dct_subject|sort(attribute='iri') %}<a href="{{concept}}">{{ concept|prefix_this }}</a>{{ ", " if not loop.last }}{% endfor %}
                {% else %}<a href="{{ UC.dct_subject }}">{{ UC.dct_subject|prefix_this }}</a>
              {% endif %}</p>
          {% endif %}
        </section>
      {% endfor %}
    </section>

    <section id="req">
      <h2>Requirements</h2>
      {% for REQ in requirements %}
        <section id="{{REQ.dct_identifier}}">
          <h4><strong><i>{{REQ.dct_identifier}}</i>:</strong> {{ REQ.dct_title }}</h4>
          <p>{{ REQ.dct_description }}</p>
          {% if REQ.dct_references %}
            <p><strong>Motivation:</strong> 
            {% if REQ.dct_references is sequence %}
              {% for uc in REQ.dct_references %}<a href="#{{uc.dct_identifier}}">{{ uc.dct_identifier }}</a>{{ ", " if not loop.last }}{% endfor %}
                {% else %}<a href="#{{ REQ.dct_references.dct_identifier }}">{{ REQ.dct_references.dct_identifier }}</a>
              {% endif %}</p>
          {% endif %}
          {% if REQ.dct_subject %}
            <p><strong>Relevant Concepts:</strong> 
            {% if REQ.dct_subject is sequence %}
              {% for concept in REQ.dct_subject|sort(attribute='iri') %}<a href="{{concept}}">{{ concept|prefix_this }}</a>{{ ", " if not loop.last }}{% endfor %}
                {% else %}<a href="{{ REQ.dct_subject }}">{{ REQ.dct_subject|prefix_this }}</a>
              {% endif %}</p>
          {% endif %}
        </section>
      {% endfor %}
    </section>

    <section id='concept-mappings' class='appendix'>
      <h2>Concept Mappings</h2>
      <ul>
      {% for concept, data in mappings.items()|sort(attribute=0) %}
        <li><a href="{{ concept }}">{{ concept|prefix_this }}</a>
          <ul>
          {% if data['usecases'] %}<li>use-cases:
            {% for uc in data['usecases'] %}<a href="#{{uc}}">{{ uc }}</a>{{ ", " if not loop.last }}{% endfor %}</li>{% endif %}
          {% if data['requirements'] %}<li>requirements: 
            {% for req in data['requirements'] %}<a href="#{{req}}">{{ req }}</a>{{ ", " if not loop.last }}{% endfor %}</li>{% endif %}
          </ul></li>
      {% endfor %}
      </ul>
    </section>
    <script type="text/javascript" src="../media/common.js" defer></script>
  </body>
  </html>