{% from 'macro_term_table.jinja2' import table_classes %}
{% from 'macro_term_table.jinja2' import table_properties %}
{% from 'macro_term_table.jinja2' import list_hierarchy, index_concepts %}
{% from 'macro_dpv_document_family.jinja2' import dpv_document_family, sotd, funding_acknowledgements %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}{{data[vocab_name+'-metadata']['dct:title']}}{% endblock title %}</title>
  <script src="https://www.w3.org/Tools/respec/respec-w3c" class="remove" defer></script>
  {% block RESPEC %}
  <script class="remove">
   // All config options at https://respec.org/docs/ 
   var respecConfig = {
    shortName: "legal",
    title: "{{data[vocab_name+'-metadata']['dct:title']}} ({{vocab_name|upper}})",
    subtitle: "version {{data[vocab_name+'-metadata']['schema:version']}}",
    publishDate: "{{data[vocab_name+'-metadata']['dct:modified']}}",
    specStatus: "{{DOCUMENT_STATUS}}",
    group: "dpvcg",
    latestVersion: "{{RDF_VOCABS[vocab_name]['metadata']['iri']}}",
    canonicalUri: "{{RDF_VOCABS[vocab_name]['metadata']['iri']}}",
    edDraftURI: "{{RDF_VOCABS[vocab_name]['metadata']['iri'].replace('w3id.org/dpv', 'dev.dpvcg.org')}}",
    github: "w3c/dpv",
    subjectPrefix: "[loc]",
    doJsonLd: true,
    lint: { "no-unused-dfns": false, "local-refs-exist": true },
    editors: [
    {
      name: "Harshvardhan J. Pandit",
      url: "https://harshp.com",
      "company": "{{ "Harshvardhan J. Pandit" | generate_author_affiliation }}"
    }
    ],
    authors: [{% for person in data[vocab_name+'-metadata']['dct:creator']|ensure_list|sort %}
      {
        "name": "{{person}}",
        "company": "{{ person | generate_author_affiliation }}"
      }{{"," if not loop.last}}
      {% endfor %}],
    otherLinks: [
      {
        "key": "This Release",
        "data": [
            {
              "value": "{{data[vocab_name+'-metadata']['iri']}}",
              "href": "{{data[vocab_name+'-metadata']['iri']}}"
            }
        ]
      },
      {
        "key": "Previous Release",
        "data": [
            {
              "value": "https://w3id.org/dpv/1.0/dpv-legal",
              "href": "https://w3id.org/dpv/1.0/dpv-legal"
            }
        ]
      },
      {
        "key": "Key Publications",
        "data": [
            {
              "value": "Data Privacy Vocabulary (DPV) -- Version 2 (2024)",
              "href": "https://arxiv.org/abs/2404.13426"
            },
        ]
      }
    ],
    localBiblio: {%  include 'references.json' %}
  };
</script>
{% endblock RESPEC %}
<link rel="stylesheet" type="text/css" href="../../diagrams/common.css">
<link rel="shortcut icon" href="../../diagrams/favicon-16x16.png" type="image/x-icon" sizes="16x16" />
  <link rel="shortcut icon" href="../../diagrams/favicon-32x32.png" type="image/x-icon" sizes="32x32" />
</head>
<body>
{% block ABSTRACT %}
  <section id="abstract">
    <p>The {{vocab_name|upper}} extension extends the [[[DPV]]] to represent laws, authorities, and other legal concepts in {% if '-' in vocab_name %} {{vocab_name.split('-')[1]|upper}} jurisdiction{% else %}various jurisdictions{% endif %}.</p>
    <p>The canonical URL for {{vocab_name|upper}} extension is <a href="{{RDF_VOCABS[vocab_name]['metadata']['iri']}}">{{RDF_VOCABS[vocab_name]['metadata']['iri']}}</a>, the namespace is <a href="{{RDF_VOCABS[vocab_name]['metadata']['iri']}}#"><code>{{RDF_VOCABS[vocab_name]['metadata']['iri']}}#</code></a>, the suggested prefix is <code>{{vocab_name}}</code>, and this document along with source and releases are available at <a href="https://github.com/w3c/dpv">https://github.com/w3c/dpv</a>.</p>
    {{ sotd(data[vocab_name+'-metadata']) }}
    {{ dpv_document_family(document='dpv-pd-spec') }}
  </section>
{% endblock ABSTRACT %}
{% block INTRODUCTION %}

{% endblock INTRODUCTION %}
{% block VOCAB %}
<section id="vocab-legal">
    <h2>Overview</h2>
    <p>The Legal extension uses the following concepts and properties to define laws, authorities, and jurisdictions.</p>
    <figure>
        {% if vocab_name == 'legal' %}<img src="../diagrams/legal_Law.svg">{% else %}<img src="../../diagrams/legal_Law.svg">{% endif %}
        <figcaption></figcaption>
      </figure>
    <p>This page provides the following legal concepts:</p>
    <ol>
        {% if modules['legal']['classes']|filter_type('dpv:Law')|length > 0 %}
        <li><a href="#laws">Laws</a></li>{% endif %}
        {% if modules['legal']['classes']|filter_type(('dpv:Authority', 'dpv:DataProtectionAuthority'))|length > 0 %}
        <li><a href="#authorities">Authorities</a></li>{% endif %}
        {% if vocab_name == 'legal-eu' and modules['legal']['classes']|filter_type('eu-gdpr:AdequacyDecision')|length > 0 %}
        <li><a href="#vocab-adequacy">Adequacy Decisions</a></li>{% endif %}
    </ol>
</section>

{% if vocab_name == 'legal' or vocab_name == 'legal-eu' %}
    <section id="dpv-extensions">
        <h2>DPV Extensions for Laws</h2>
        <p>The following extensions to the [[DPV]] exist for modelling concepts from laws and regulations:</p>
        <ul>
            <li>[[[EU-GDPR]]]</li>
            <li>[[[EU-DGA]]]</li>
            <li>[[[EU-NIS2]]]</li>
            <li>[[[EU-AIAct]]]</li>
        </ul>
    </section>
{% endif %}

{% if modules['legal']['classes']|filter_type('dpv:Law')|length > 0 %}
<section id="laws">
    <h2>Laws</h2>
    <p>Laws are represented as instances of <code>dpv:Law</code>, and are associated with their jurisdictions using the [[LOC]] taxonomy and <code>dpv:hasJurisdiction</code> relation. The webpage for the law, if available, is indicated using <code>foaf:homepage</code>, and the temporal start and end if available, is represented using <code>dct:temporal</code> relation with an instance of <code>time:ProperInterval</code>.</p> 
    <table>
        <thead>
            <th>ID</th>
            <th>Name</th>
            <th>Jurisdictions</th>
            <th>Webpage</th>
            <th>Start/End</th>
        </thead>
        <tbody>
        {% for law in modules['legal']['classes']|filter_type('dpv:Law')|ensure_list_unique|sort_iris %}
            <tr>
                <td> {# ID #}
                    {% if law['prefix'] != vocab_name %}<a href="#{{law['prefixed']}}"><code>{{ law['prefixed'] }}</code></a>
                    {% else %}<a href="#{{law['term']}}"><code>{{ law['term'] }}</code></a>
                {% endif %}</td>
                <td> {# NAME #}
                    {{ law['skos:prefLabel'] }}
                </td>
                {# LOCATION #}
                <td>{% for loc in law['dpv:hasJurisdiction']|ensure_list_unique|sort_iris %}
                {% set loc=data[(loc|prefix_this).split(':')[0]][loc|prefix_this] %}
                <a href="{{loc['iri']}}">{{ loc['skos:prefLabel'] }}</a>{% if 'skos:broader' in loc %}{% for loc_broader in loc['skos:broader']|ensure_list|filter_type("dpv:Country", vocab="loc") %}, <a href="{{loc_broader['iri']}}">{{ loc_broader['skos:prefLabel'] }}</a>
                    {% endfor %}{% endif %}
                {{ "; " if not loop.last }}{% endfor %}</td>
                <td>{% for page in law['foaf:homepage']|ensure_list_unique %}<a href="{{page}}">link</a>{{ ", " if not loop.first }}{% endfor %}</td>
                <td>{{ law|expand_time_interval('dct:temporal') }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</section>
{% endif %}

{% set authority_types = ['dpv:Authority', 'dpv:DataProtectionAuthority', 'eu-gdpr:DataProtectionAuthority'] %}
{% if modules['legal']['classes']|filter_type(authority_types)|length > 0 %}
<section id="authorities">
    <h2>Authorities</h2>
    <p>Authorities are represented as instances of <code>dpv:Authority</code>, and are associated with specific jurisdictions using <code>dpv:hasJurisdiction</code>. The law which the authorities enforce is indicated by <code>dpv:hasApplicableLaw</code>. The webpage for the authority, if available, is indicated using <code>foaf:homepage</code>.</p>
    <table>
        <thead>
            <th>ID</th>
            <th>Name</th>
            <th>Jurisdictions</th>
            <th>Laws</th>
            <th>Webpage</th>
        </thead>
        <tbody>
        {% for law in modules['legal']['classes']|filter_type(authority_types)|ensure_list_unique|sort_iris %}
            <tr>
                <td>
                    {% if law['prefix'] != vocab_name %}<a href="#{{law['prefixed']}}"><code>{{ law['prefixed'] }}</code></a>
                    {% else %}<a href="#{{law['term']}}"><code>{{ law['term'] }}</code></a>{% endif %}
                </td>
                <td>{{ law['skos:prefLabel'] }}</td>
                <td>{% for loc in law['dpv:hasJurisdiction']|ensure_list_unique|sort_iris %}
                    {% set loc=data[(loc|prefix_this).split(':')[0]][loc|prefix_this] %}
                    <a href="{{loc['iri']}}">{{ loc['skos:prefLabel'] }}</a>{% if 'skos:broader' in loc %}{% for loc_broader in loc['skos:broader']|ensure_list|filter_type("dpv:Country", vocab="loc") %}, <a href="{{loc_broader['iri']}}">{{ loc_broader['skos:prefLabel'] }}</a>
                        {% endfor %}{% endif %}
                    {{ "; " if not loop.last }}{% endfor %}
                </td>
                <td>{% for law in law['dpv:hasApplicableLaw']|ensure_list_unique|sort_iris %}
                    {% set law=data[(law|prefix_this).split(':')[0]][law|prefix_this] %}
                    <a href="{{law['iri']}}">{{ law['prefixed'] }}</a>{{ "<br/>"|safe if not loop.last }}{% endfor %}
                </td>
                <td>{% for page in law['foaf:homepage']|ensure_list_unique %}<a href="{{page}}">link</a>{{ ", " if not loop.first }}{% endfor %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</section>
{% endif %}

{% if vocab_name =='legal-eu' and modules['legal']['classes']|filter_type('eu-gdpr:AdequacyDecision')|length > 0 %}
<section id="vocab-adequacy">
    <h2>Adequacy Decisions</h2>
    <p>Adequacy decisions representing agreements between jurisdictions such as for free flow of data, are currently only defined in [[GDPR]]. They are represented as instances of <code>eu-gdpr:AdequacyDecision</code>, and are associated with relevant jurisdictions using <code>dpv:hasJurisdiction</code>. The start and end, if available, is represented using <code>dct:temporal</code> with an instance of <code>time:ProperInterval</code>. The webpage, if available, is indicated using <code>foaf:homepage</code>.</p>
    <table>
        <thead>
            <th>ID</th>
            <th>Name</th>
            <th>Jurisdictions</th>
            <th>Webpage</th>
            <th>Start/End</th>
        </thead>
        <tbody>
        {% for law in modules['legal']['classes']|filter_type('eu-gdpr:AdequacyDecision')|ensure_list_unique|sort_iris %}
            <tr>
                <td>
                    {% if law['prefix'] != vocab_name %}<a href="#{{law['prefixed']}}"><code>{{ law['prefixed'] }}</code></a>
                    {% else %}<a href="#{{law['term']}}"><code>{{ law['term'] }}</code></a>
                {% endif %}</td>
                <td>{{ law['skos:prefLabel'] }}</td>
                <td>{% for loc in law['dpv:hasJurisdiction']|ensure_list_unique|sort_iris %}
                {% set loc=data[(loc|prefix_this).split(':')[0]][loc|prefix_this] %}
                <a href="{{loc['iri']}}">{{ loc['skos:prefLabel'] }}</a>{{ ", " if not loop.last }}{% endfor %}</td>
                <td>{% for page in law['foaf:homepage']|ensure_list_unique|sort %}<a href="{{page}}">link</a>{{ ", " if not loop.first }}{% endfor %}</td>
                <td>{{ law|expand_time_interval('dct:temporal') }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</section>
{% endif %}

<section id="vocabulary">
<h2>Vocabulary Index</h2>
  <section id="dpv-classes">
    {{ index_concepts(vocab, vocab_name, filter="classes") }}
  </section>
  <section id="dpv-properties">
    {{ index_concepts(vocab, vocab_name, filter="properties") }}
  </section>
  <section id="external-concepts">
    <p>DPV uses the following terms from [[RDF]] and  [[RDFS]] with their defined meanings:</p>
    <ul>
      <li id="rdf:type"><dfn>rdf:type</dfn> to denote a concept is an instance of another concept</li>
      <li id="rdfs:Class"><dfn>rdfs:Class</dfn> to denote a concept is a Class or a category</li>
      <li id="rdfs:subClassOf"><dfn>rdfs:subClassOf</dfn> to specify the concept is a subclass (subtype, sub-category, subset) of another concept</li>
      <li id="rdf:Property"><dfn>rdf:Property</dfn> to denote a concept is a property or a relation</li>
      </ul>
    <p>The following external concepts are re-used within DPV:</p>
    {{ index_concepts(vocab, vocab_name, filter="external") }}
  </section>
</section>

{% block ACKNOWLEDGEMENTS %}
<section id="contributors">
  <h2>Contributors</h2>
  <p>The following people have contributed to this vocabulary. The names are ordered alphabetically. The affiliations are informative do not represent formal endorsements. Affiliations may be outdated. The list is generated automatically from the contributors listed for defined concepts.</p>
  <ul>
  {% for person in data[vocab_name+'-metadata']['dct:contributor']|ensure_list|sort %}
    <li>{{ person }} ({{person|generate_author_affiliation}})</li>
  {% endfor %}
  </ul>
</section>
<section id="funding-acknowledgements" class="notoc">
  <h2>Funding Acknowledgements</h2>

  <h3>Funding Sponsors</h3>
  {{ funding_acknowledgements() }}

  <h3>Funding Acknowledgements for Contributors</h3>
  <p>The contributions of Harshvardhan J. Pandit have been made with the financial support of Science Foundation Ireland under Grant Agreement No. 13/RC/2106_P2 at the ADAPT SFI Research Centre.</p>

</section>
{% endblock ACKNOWLEDGEMENTS %}

{% endblock VOCAB %}

</body>
</html>