<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>DPV Search Index</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" type="text/css" href="diagrams/jstree-theme/style.min.css">
        <link rel="shortcut icon" href="diagrams/favicon-16x16.png" type="image/x-icon" sizes="16x16" />
        <link rel="shortcut icon" href="diagrams/favicon-32x32.png" type="image/x-icon" sizes="32x32" />
        <style type="text/css">
#tree {
    background-color: #EEE;
    padding: 8px 16px;
    margin-bottom: 16px;
}

#tree.block-style {
    background-color: #fafafa;
}
#search-term {
    border: 1px solid blue;
    min-height: 1.5rem;
}
#search {
  background-color: #222299;
  border: 1px solid transparent;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  color: #fff;
  font-family: monospace;
  min-height: 2rem;
  margin-right: 5px;
}
#collapse,#expand,#reset {
  background-color: #9999EE;
  border: 1px solid transparent;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  color: #fff;
  font-family: monospace;
  min-height: 2rem;
  margin-right: 5px;
}
body {
    max-width: 800px;
    margin: auto;
}
        </style>
    </head>
    <body>
        <h1>DPV Search Index</h1>
        <p>Search through {{num_classes}} classes and {{num_properties}} properties from DPV specifications version {{DPV_VERSION}}.<br/>
            Purl for this page: <a href="https://w3id.org/dpv/{{DPV_VERSION}}/search">https://w3id.org/dpv/{{DPV_VERSION}}/search</a>
        </p>
<div style="padding-bottom: 20px;">
    <input id="search-term" autofocus>
    <button id="search" >Search</button>
    <button id="collapse">collapse all</button>
    <button id="expand">expand all</button>
    <button id="reset">reset</button>
</div>
<hr/>
<div id="tree" class="not-prose"></div>

<script src="diagrams/jquery.min.js"></script>
<script src="diagrams/jstree.min.js"></script>
    
<script type="text/javascript">
const DPVDATA = {};

DPVDATA.data = {{data|safe}};

</script>
<script type="text/javascript">
$(function() {
    /** Uses https://www.jstree.com/ for rendering the concepts hierarchically
     * functionality:
     * - click and expand/collapse individual nodes -- done by jstree
     * - click and open concept in new tab -- href is in data + jstree
     * - styling -- css + js tree css (see link ref)
     * - search -- handle strings + jstree
     * - history -- custom code (see below)
     * - expand/collapse all -- jstree 
     **/
    const $tree = $("#tree");

    $("#tree").jstree({
        "core" : {
            "data" : DPVDATA.data,
            "themes": {"dots": true},
        },
        "types" : {
          "default" : {
            "icon" : "glyphicon glyphicon-record"
          }
        },
        "plugins": ["search", "types"],
        "search": {
            "case_insensitive": true,
            "show_only_matches": true,
            "show_only_matches_children": true,
            "fuzzy": false
        }
    }).bind("select_node.jstree", function (e, data) {
        /** attached a href to each concept from data iri **/
        var href = data.node.a_attr.href;
        var parentId = data.node.a_attr.parent_id;
        window.open(href);
    }).bind('ready.jstree', function(e, data) {
        /** if newly opened, check if there are search params, and call search **/
        let url = new URL(window.location.href);
        // console.log(url);
        if (url.searchParams.has("query")) {
            var searchstring = url.searchParams.get("query");
            $("#search-term").val(searchstring);
            // console.log("searching for " + url.searchParams.get("query"));
            search(searchstring);
        }
     });

    /** search through concepts by calling jstree api **/
    function search(searchstring) {
        // console.log("call search " + searchstring);
        $("#tree").jstree("clear_search");
        $("#tree").jstree("search", searchstring);
    }

    /** handler for search button -- also saves query in history **/
    $("#search").click(function(){
        var searchstring = $("#search-term").val();
        search(searchstring);
        let url = new URL(window.location.href);
        url.searchParams.delete("query");
        url.searchParams.append('query', searchstring)
        history.pushState({}, '', url.href)
    });
    $("#search-term").on("keypress", function(e) {
        if (e.which == 13) { // ENTER key
            $("#search").click();
        }
    });
    /** on back button, handle previous query, if any **/
    window.addEventListener("popstate", (event) => {
        let url = new URL(window.location.href);
        if (url.searchParams.has("query")) {
            search(url.searchParams.get("query"));
        }
    });

    $("#reset").click(function() {
        $("#search-term").val("");
        $("#tree").jstree("clear_search");
    });

    $("#expand").click(function() {
        $("#tree").jstree("open_all");
    });

    $("#collapse").click(function() {
        $("#tree").jstree("close_all");
    });
});
</script>

<footer>
    <p>This page is provided by the <a href="https://www.w3.org/groups/cg/dpvcg/">Data Privacy Vocabularies and Controls Privacy Controls (DPVCG)</a>. Source and issues are managed on <a href="https://github.com/w3c/dpv">GitHub</a> under the <a href="https://www.w3.org/copyright/software-license-2023/">W3C Software and Document License</a>.</p>
</footer>

</body>
</html>
