<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>DPV Search Index</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="diagrams/jqtree.css" />
        <link rel="shortcut icon" href="diagrams/favicon-16x16.png" type="image/x-icon" sizes="16x16" />
        <link rel="shortcut icon" href="diagrams/favicon-32x32.png" type="image/x-icon" sizes="32x32" />
        <!-- demo adapted from https://github.com/mbraak/jqTree/ example -->
        <style type="text/css">
#tree {
    background-color: #EEE;
    padding: 8px 16px;
    margin-bottom: 16px;
}

#tree.block-style {
    background-color: #fafafa;
}

.jqtree-tree .jqtree-loading > div .jqtree-title:after {
    content: url(spinner.gif);
    margin-left: 8px;
}

#tree.jqtree-loading:after {
    content: url(spinner.gif);
}

#scroll-container {
    height: 200px;
    overflow-y: scroll;
    -ms-user-select: none;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
    margin-bottom: 16px;
}

.block-style ul.jqtree-tree {
        margin-left: 0;
    }

.block-style ul.jqtree-tree ul.jqtree_common {
            margin-left: 2em;
        }

.block-style ul.jqtree-tree .jqtree-element {
            margin-bottom: 8px;
            background-color: #ddd;
            padding: 8px;
        }

.block-style ul.jqtree-tree .jqtree-element .jqtree-title {
                margin-left: 0;
            }

.block-style ul.jqtree-tree li.jqtree-selected > .jqtree-element,
            .block-style ul.jqtree-tree li.jqtree-selected > .jqtree-element:hover {
                background-color: #97bdd6;
                text-shadow: none;
            }

.hidden-node {
    display: none;
}

.highlight-node > .jqtree-element > .jqtree-title > a {
    font-weight: bold;
    color: red;
}

.jqtree-tree .jqtree-toggler {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.concept-type {
    padding-left: 5px;
}
#search-term {
    border: 1px solid blue;
    min-height: 1.5rem;
}
#search {
  background-color: #222299;
  border: 1px solid transparent;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  color: #fff;
  font-family: monospace;
  min-height: 2rem;
  margin-right: 5px;
}
#collapse,#expand,#reset {
  background-color: #9999EE;
  border: 1px solid transparent;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  color: #fff;
  font-family: monospace;
  min-height: 2rem;
  margin-right: 5px;
}
body {
    max-width: 800px;
    margin: auto;
}
        </style>
    </head>
    <body>
        <h1>DPV Search Index</h1>
        <p>Search through {{num_classes}} classes and {{num_properties}} properties from DPV and its extensions. Concepts are from DPV version {{DPV_VERSION}}.<br/>
            Purl for this page: <a href="https://w3id.org/dpv/2.0/search">https://w3id.org/dpv/2.0/search</a>
        </p>
<div style="padding-bottom: 20px;">
    <input id="search-term" autofocus>
    <button id="search" >Search</button>
    <button id="collapse">collapse all</button>
    <button id="expand">expand all</button>
    <button id="reset">reset</button>
</div>
<hr/>
<div id="tree" class="not-prose"></div>

<script src="diagrams/jquery.min.js"></script>
<script src="diagrams/tree.jquery.js"></script>
    
<script type="text/javascript">
const ExampleData = {};

ExampleData.exampleData = {{data|safe}};

</script>
<script type="text/javascript">
const $tree = $("#tree");

let foundMatch = false;

$tree.tree({
    autoEscape: false,
    autoOpen: false,
    data: ExampleData.exampleData,
    useContextMenu: false,
    onCreateLi: (node, $el) => {
        if (foundMatch && !node.openForMatch && !node.parent.matches) {
            $el.addClass("hidden-node");
        }

        if (node.matches) {
            $el.addClass("highlight-node");
        }
    },
});

function handleSearch() {
    const searchTerm = $("#search-term").val().toLowerCase();
    const tree = $tree.tree("getTree");

    if (!searchTerm) {
        foundMatch = false;

        tree.iterate((node) => {
            node["openForMatch"] = false;
            node["matches"] = false;
            return true;
        });

        $tree.tree("refresh");
        return;
    }

    foundMatch = false;

    tree.iterate((node) => {
        const matches = node.name.toLowerCase().includes(searchTerm);
        node["openForMatch"] = matches;
        node["matches"] = matches;

        if (matches) {
            foundMatch = true;

            if (node.isFolder()) {
                node.is_open = true;
            }

            let parent = node.parent;
            while (parent) {
                parent["openForMatch"] = true;
                parent.is_open = true;
                parent = parent.parent;
            }
        }

        return true;
    });

    $tree.tree("refresh");
};
$("#search").on("click", handleSearch);
$("#search-term").keypress(function(e){
    if(e.keyCode==13) { $('#search').click(); }
});

$('#reset').click(() => {
    $("#search-term").val("");
    $("#search").click();
    $('#collapse').click();
});

$('#collapse').click(function() {
  var tree = $tree.tree('getTree');
  tree.iterate(function(node) {

    if (node.hasChildren()) {
      $tree.tree('closeNode', node, true);
    }
    return true;
  });
});

$('#expand').click(function() {
  var tree = $tree.tree('getTree');
  tree.iterate(function(node) {

    if (node.hasChildren()) {
      $tree.tree('openNode', node, true);
    }
    return true;
  });
});
</script>

<footer>
    <p>This page is provided by the <a href="https://www.w3.org/groups/cg/dpvcg/">Data Privacy Vocabularies and Controls Privacy Controls (DPVCG)</a>. Source and issues are managed on <a href="https://github.com/w3c/dpv">GitHub</a> under the <a href="https://www.w3.org/copyright/software-license-2023/">W3C Software and Document License</a>.</p>
</footer>

</body>
</html>
