{% from 'macro_term_table.jinja2' import index_concepts, list_items, list_hierarchy, table_properties, ref_dedicated_documentation, language_selector %}
{% from 'macro_dpv_document_family.jinja2' import dpv_document_family, sotd, funding_acknowledgements %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}{{data[vocab_name+'-metadata']['dct:title']}} ({{vocab_name|upper}}){% endblock title %}</title>
  <script src="https://www.w3.org/Tools/respec/respec-w3c" class="remove" defer></script>
  {% block RESPEC %}
  <script class="remove">
   // All config options at https://respec.org/docs/ 
   var respecConfig = {
    shortName: "pd",
    title: "{{data[vocab_name+'-metadata']['dct:title']}} ({{vocab_name|upper}})",
    subtitle: "version {{data[vocab_name+'-metadata']['schema:version']}}",
    publishDate: "{{data[vocab_name+'-metadata']['dct:modified']}}",
    specStatus: "{{DOCUMENT_STATUS}}",
    group: "dpvcg",
    latestVersion: "https://w3id.org/dpv/pd",
    canonicalUri: "https://w3id.org/dpv/pd",
    edDraftURI: "https://dev.dpvcg.org/pd",
    github: "w3c/dpv",
    subjectPrefix: "[pd]",
    doJsonLd: true,
    lint: { "no-unused-dfns": false, "local-refs-exist": true },
    editors: [
    {
      name: "Harshvardhan J. Pandit",
      url: "https://harshp.com/",
      "company": "{{ "Harshvardhan J. Pandit" | generate_author_affiliation }}"
    }
    ],
    authors: [{% for person in data[vocab_name+'-metadata']['dct:creator']|ensure_list|sort %}
      {
        "name": "{{person}}",
        "company": "{{ person | generate_author_affiliation }}"
      }{{"," if not loop.last}}
      {% endfor %}],
    otherLinks: [
      {
        "key": "This Release",
        "data": [
            {
              "value": "https://w3id.org/dpv/2.0/pd",
              "href": "https://w3id.org/dpv/2.0/pd"
            }
        ]
      },
      {
        "key": "Previous Release",
        "data": [
            {
              "value": "https://w3id.org/dpv/1.0/dpv-pd",
              "href": "https://w3id.org/dpv/1.0/dpv-pd"
            }
        ]
      },
      {
        "key": "Key Publications",
        "data": [
            {
              "value": "Data Privacy Vocabulary (DPV) -- Version 2 (2024)",
              "href": "https://arxiv.org/abs/2404.13426"
            },
            {
              "value": "Creating a Vocabulary for Data Privacy (2019)",
              "href": "https://doi.org/10.1007/978-3-030-33246-4_44"
            }
        ]
      }
    ],
    localBiblio: {%  include 'references.json' %}
  };
</script>
{% endblock RESPEC %}
<link rel="stylesheet" type="text/css" href="../diagrams/common.css">
<link rel="shortcut icon" href="../diagrams/favicon-16x16.png" type="image/x-icon" sizes="16x16" />
  <link rel="shortcut icon" href="../diagrams/favicon-32x32.png" type="image/x-icon" sizes="32x32" />
</head>
<body>
{% block ABSTRACT %}
  <section id="abstract">
    <p>The Personal Data (PD) extension provides additional concepts to represent different types and categories of personal data for use with the [[[DPV]]]. The canonical URL for PD extension is <a href="https://w3id.org/dpv/pd">https://w3id.org/dpv/pd</a> and the namespace for terms is <a href="https://w3id.org/dpv/pd#"><code>https://w3id.org/dpv/pd#</code></a>, the suggested prefix is <code>pd</code>, and this document along with source and releases are available at <a href="https://github.com/w3c/dpv">https://github.com/w3c/dpv</a>.</p>
    {{ sotd(data[vocab_name+'-metadata']) }}
    {{ dpv_document_family(document='pd-spec') }}
  </section>
{% endblock ABSTRACT %}
{% block INTRODUCTION %}

{% endblock INTRODUCTION %}
{% block VOCAB %}
  <section id="vocab-core">
    <h2>Categorisation of Concepts</h2>
    <figure>
      <img src="../diagrams/PD.svg">
      <figcaption></figcaption>
    </figure>
    <p>[[[PD]]] provides additional concepts that extend the DPV's personal data taxonomy based on an opinionated structure contributed by R. Jason Cronk from <a href="https://enterprivacy.com/">EnterPrivacy</a>. This separation is to enable adopters to decide whether the extension's concepts are useful to them, or to use other external vocabularies, or define their own.</p>
    <aside class="note" title="Relation to Other Vocabularies">
      <p>DPV's list of concepts is not universal nor exhaustive. It also is opinionated in that there are other vocabularies with different perspectives on categorisation of personal data concepts. The DPVCG welcomes discussions and contributions to identify and represent other external vocabularies, including how they relate to the PD extension.</p>
    </aside>
    <p>Concepts within [[PD]] are broadly structured in top-down fashion by utilising their relevance and origin as:</p>
    <ul>
        <li>Internal (within the person): e.g. Preferences, Knowledge, Beliefs</li>
        <li>External (visible to others): e.g. Behavioural, Demographics, Physical, Sexual, Identifying</li>
        <li>Household: e.g. personal or household activities</li>
        <li>Social: e.g. Family, Friends, Professional, Public Life, Communication</li>
        <li>Financial: e.g. Transactional, Ownership, Financial Account</li>
        <li>Tracking: e.g. Location, Device based, Contact</li>
        <li>Historical: e.g. Life History</li>
      </ul>
    {{ list_hierarchy(modules['core']['classes']) }}
  </section>

  <section id="vocab-extended">
    <h2>Extended Taxonomy</h2>

    <section id="vocab-internal">
      <h3>Internal</h3>
      <p>Internal concepts represent information that is internal to the person i.e. cannot be perceived by others without the participation of the person. This includes preferences, knowledge, and beliefs that the person has.</p>
      {{ list_hierarchy(modules['extended']['classes'], head='pd:Internal') }}
    </section>

    <section id="vocab-external">
      <h3>External</h3>
      <p>External concepts represent information that is external to the person i.e. is visible to other people. This includes behaviours, demographic traits, physical attributes, sexual preferences, and identifying characteristics.</p>
      {{ list_hierarchy(modules['extended']['classes'], head='pd:External') }}
    </section>

    <section id="vocab-financial">
      <h3>Financial</h3>
      <p>Financial concepts represent information about transactions, ownership of assets, accounts associated with finances such as with banks, and other similar concepts.</p>
      {{ list_hierarchy(modules['extended']['classes'], head='pd:Financial') }}
    </section>

    <section id="vocab-historical">
      <h3>Historical</h3>
      <p>Historical concepts represent information regarding life history of a person.</p>
      {{ list_hierarchy(modules['extended']['classes'], head='pd:Historical') }}
    </section>

    <section id="vocab-social">
      <h3>Social</h3>
      <p>Social concepts represent information about aspects such as friends, family, public life, and professional networks which are considered as part of the person's social information.</p>
      {{ list_hierarchy(modules['extended']['classes'], head='pd:Social') }}
    </section>

    <section id="vocab-tracking">
      <h3>Tracking</h3>
      <p>Tracking concepts represent information that can be used to track an individual or a group - such as location or email.</p>
      {{ list_hierarchy(modules['extended']['classes'], head='pd:Tracking') }}
    </section>
  </section>

  <section id="vocab-special-category">
    <h2>Special Categories</h2>
    <p>Special categories are a 'special' type of sensitive personal data requiring additional considerations or obligations defined in laws (or through other forms) that regulate how they should be used or prohibit their use until specific obligations are met. The special categories are defined based on the broad categories defined in [[GDPR]] Article 9, which are further expanded through the concepts defined in PD extension.</p>
    {{ list_hierarchy(vocab, head='dpv:SpecialCategoryPersonalData') }}
  </section>

  <section id="vocabulary">
<h2>Vocabulary Index</h2>
  <section id="dpv-classes">
    {{ index_concepts(vocab, vocab_name, filter="classes") }}
  </section>
  <section id="dpv-properties">
    {{ index_concepts(vocab, vocab_name, filter="properties") }}
  </section>
  <section id="external-concepts">
    <p>The following external concepts are re-used within PD:</p>
    {{ index_concepts(vocab, vocab_name, filter="external") }}
  </section>
</section>
  
{% endblock VOCAB %}

{% block ACKNOWLEDGEMENTS %}
<section id="contributors">
  <h2>Contributors</h2>
  <p>The following people have contributed to this vocabulary. The names are ordered alphabetically. The affiliations are informative do not represent formal endorsements. Affiliations may be outdated. The list is generated automatically from the contributors listed for defined concepts.</p>
  <ul>
  {% for person in data[vocab_name+'-metadata']['dct:contributor']|ensure_list|sort %}
    <li>{{ person }} ({{person|generate_author_affiliation}})</li>
  {% endfor %}
  </ul>
</section>
<section id="funding-acknowledgements" class="notoc">
  <h2>Funding Acknowledgements</h2>

  <h3>Funding Sponsors</h3>
  {{ funding_acknowledgements() }}

  <h3>Funding Acknowledgements for Contributors</h3>
  <p>The contributions of Beatriz Esteves have received funding through the <a href="https://protect-network.eu/">PROTECT ITN Project</a> from the European Union’s Horizon 2020 research and innovation programme under the Marie Skłodowska-Curie grant agreement No 813497.</p>
  <p>The contributions of Harshvardhan J. Pandit have been made with the financial support of Science Foundation Ireland under Grant Agreement No. 13/RC/2106_P2 at the ADAPT SFI Research Centre.</p>

</section>
{% endblock ACKNOWLEDGEMENTS %}

{% block PROPOSED %}
{% if proposed %}
<section id="proposed-terms" class="appendix">
  <h2>Proposed Terms</h2>
  <p>The following terms have been proposed for inclusion, and are under discussion. They are provided here for illustrative purposes and should not be considered as part of DPV.</p>
  <ul>{% for term in proposed %}
      <li>{{term}}</li>
    {% endfor %}</ul>
</section>
{% endif %}
{% endblock PROPOSED %}

{# <section class="appendix" id="issue-summary"></section> #}

<script type="text/javascript" src="../diagrams/common.js" defer></script>
</body>
</html>