{% from 'macro_dpv_document_family.jinja2' import dpv_document_family, sotd, funding_acknowledgements, contributors_list, authors_list %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Guide for using DPV for Rights Exercise and Management</title>
  <script src="https://www.w3.org/Tools/respec/respec-w3c" class="remove" defer></script>
  <script class="remove">
   // All config options at https://respec.org/docs/ 
   var respecConfig = {
    shortName: "guide-rights",
    title: "Guide for using DPV for Rights Exercise and Management",
    subtitle: "Work in Progress",
    publishDate: "2025-01-16",
    specStatus: "CG-DRAFT",
    group: "dpvcg",
    latestVersion: "https://w3id.org/dpv/guides/rights",
    canonicalUri: "https://w3id.org/dpv/guides/rights",
    edDraftURI: "https://dev.dpvcg.org/guides/rights",
    github: "w3c/dpv",
    subjectPrefix: "[dpv]",
    doJsonLd: true,
    lint: { "no-unused-dfns": false },
    editors: [{
      name: "Harshvardhan J. Pandit",
      url: "https://harshp.com",
      "company": "{{ "Harshvardhan J. Pandit" | generate_author_affiliation }}"
    }],
    otherLinks: [
      {
        "key": "Key Publications",
        "data": [
            {
              "value": "Data Privacy Vocabulary (DPV) -- Version 2.0 (2024)",
              "href": "https://doi.org/10.1007/978-3-031-77847-6_10"
            }
        ]
      }
    ],
    localBiblio: {%  include 'references.json' %}
  };
</script>
<link rel="stylesheet" type="text/css" href="../diagrams/common.css">
<link rel="shortcut icon" href="../diagrams/favicon-16x16.png" type="image/x-icon" sizes="16x16" />
  <link rel="shortcut icon" href="../diagrams/favicon-32x32.png" type="image/x-icon" sizes="32x32" />
</head>
<body>
<section id="abstract">
    <p>This document will provide a guide for using DPV for Rights Exercise and Management. Currently, it is a work in progress.</p>
</section>
    {{ sotd('guide-rights') }}
    {{ dpv_document_family() }}

<section id="overview">
  <h2>Overview</h2>
  <p>
      This document provides guidelines and examples to express information about
  </p>
  <ul>
      <li>associating personal data processes with applicable rights</li>
      <li>notifying rights-related activities</li>
      <li>recording rights being exercised</li>
  </ul>

  <h3>Namespaces</h3>
  <table class="tg">
      <thead>
          <tr>
              <th class="tg-0lax">Prefix</th>
              <th class="tg-0lax">Namespace</th>
          </tr>
      </thead>
      <tbody>
          <tr>
              <td class="tg-0lax">dcat</td>
              <td class="tg-0lax"><a href="http://www.w3.org/ns/dcat#" target="_blank">http://www.w3.org/ns/dcat#</a></td>
          </tr>
          <tr>
              <td class="tg-0lax">dcterms</td>
              <td class="tg-0lax"><a href="http://purl.org/dc/terms/" target="_blank">http://purl.org/dc/terms/</a></td>
          </tr>
          <tr>
              <td class="tg-0lax">dpv</td>
              <td class="tg-0lax"><a href="https://w3id.org/dpv#" target="_blank">https://w3id.org/dpv#</a></td>
          </tr>
          <tr>
              <td class="tg-0lax">eu-gdpr</td>
              <td class="tg-0lax"><a href="https://w3id.org/dpv/legal/eu/gdpr#" target="_blank">https://w3id.org/dpv/legal/eu/gdpr#</a></td>
          </tr>
          <tr>
              <td class="tg-0lax">ex</td>
              <td class="tg-0lax"><a href="https://example.org/" target="_blank">https://example.org/</a></td>
          </tr>
          <tr>
              <td class="tg-0lax">foaf</td>
              <td class="tg-0lax"><a href="http://xmlns.com/foaf/0.1/" target="_blank">http://xmlns.com/foaf/0.1/</a></td>
          </tr>
          <tr>
              <td class="tg-0lax">justifications</td>
              <td class="tg-0lax"><a href="https://w3id.org/dpv/justifications#" target="_blank">https://w3id.org/dpv/justifications#</a></td>
          </tr>
          <tr>
              <td class="tg-0lax">legal-eu</td>
              <td class="tg-0lax"><a href="https://w3id.org/dpv/legal/eu#" target="_blank">https://w3id.org/dpv/legal/eu#</a></td>
          </tr>  
          <tr>
              <td class="tg-0lax">legal-gb</td>
              <td class="tg-0lax"><a href="https://w3id.org/dpv/legal/gb#" target="_blank">https://w3id.org/dpv/legal/gb#</a></td>
          </tr>               
          <tr>
              <td class="tg-0lax">loc</td>
              <td class="tg-0lax"><a href="https://w3id.org/dpv/loc#" target="_blank">https://w3id.org/dpv/loc#</a></td>
          </tr>
          <tr>
              <td class="tg-0lax">oac</td>
              <td class="tg-0lax"><a href="https://w3id.org/oac#" target="_blank">https://w3id.org/oac#</a></td>
          </tr>
          <tr>
              <td class="tg-0lax">odrl</td>
              <td class="tg-0lax"><a href="http://www.w3.org/ns/odrl/2/" target="_blank">http://www.w3.org/ns/odrl/2/</a></td>
          </tr>
          <tr>
              <td class="tg-0lax">pd</td>
              <td class="tg-0lax"><a href="https://w3id.org/dpv/pd#" target="_blank">https://w3id.org/dpv/pd#</a></td>
          </tr>
          <tr>
              <td class="tg-0lax">prov</td>
              <td class="tg-0lax"><a href="http://www.w3.org/ns/prov#" target="_blank">http://www.w3.org/ns/prov#</a></td>
          </tr>
          <tr>
              <td class="tg-0lax">skos</td>
              <td class="tg-0lax"><a href="http://www.w3.org/2004/02/skos/core#" target="_blank">http://www.w3.org/2004/02/skos/core#</a></td>
          </tr>
          <tr>
              <td class="tg-0lax">time</td>
              <td class="tg-0lax"><a href="http://www.w3.org/2006/time#" target="_blank">http://www.w3.org/2006/time#</a></td>
          </tr>
          <tr>
              <td class="tg-0lax">xsd</td>
              <td class="tg-0lax"><a href="http://www.w3.org/2001/XMLSchema#" target="_blank">http://www.w3.org/2001/XMLSchema#</a></td>
          </tr>
      </tbody>
  </table>
</section>
<aside class="issue" data-number="191"></aside>

<section id="rights">
  <h2>Associating processes with rights</h2>
  <p>
      This section outlines how to indicate existing applicable data subject rights associated with a process,
      using DPV and the EU GDPR extension to represent rights available under the GDPR.
  </p>
  <p>
      A process can be used to express information regarding the what, how, where, who, and why personal data 
      is being processed, as well as what rights exist. 
      For indicating applicable GDPR rights, DPV's
      <a href="https://w3id.org/dpv/legal/eu/gdpr" target="_blank">EU GDPR extension</a> 
      provides a mapping between legal bases and the applicable data subject rights.
      This pattern can be followed by data controllers
      to express which rights are applicable, including rights beyond the ones in the GDPR, e.g., 
      <a href="https://w3id.org/dpv/legal/eu/rights" target="_blank">EU's fundamental rights</a>
      and the rights depicted in other EU regulations or in other jurisdictions.
  </p>
  <aside class="example" id="eu-rights" title="Associate process with applicable rights">
      <p>
          Example of a process where the data controller uses the data subject's email address
          for the provision of services based on GDPR consent and indicates the applicable
          GDPR data subject rights.
      </p>
      <div>
          <pre class="nohighlight">
              ex:ProcessEmailForServiceProvision a dpv:Process ;
                  dpv:hasDataController ex:DataController ;
                  dpv:hasPersonalData pd:EmailAddress ;
                  dpv:hasProcessing dpv:Use ;
                  dpv:hasPurpose dpv:ServiceProvision ;
                  dpv:hasLegalBasis eu-gdpr:A6-1-a ;
                  dpv:hasRight eu-gdpr:A7-3, eu-gdpr:A13, eu-gdpr:A14, eu-gdpr:A15, eu-gdpr:A16, 
                      eu-gdpr:A17, eu-gdpr:A18, eu-gdpr:A20, eu-gdpr:A22, eu-gdpr:A77 .
              
              ex:DataController a dpv:DataController .
          </pre>
      </div>
  </aside>
  <aside class="example" id="eu-gb-rights" title="Associate process with applicable rights from different jurisdictions">
      <p>
          Example of a process where the data controller uses the data subject's email address
          for the provision of services based on GDPR consent and indicates the applicable
          EU and GB data subject rights.
      </p>
      <div>
          <pre class="nohighlight">
              ex:ProcessEmailForServiceProvision a dpv:Process ;
                  dpv:hasDataController ex:DataController ;
                  dpv:hasPersonalData pd:EmailAddress ;
                  dpv:hasProcessing dpv:Use ;
                  dpv:hasPurpose dpv:ServiceProvision ;
                  dpv:hasScope [
                      dpv:hasLegalBasis eu-gdpr:A6-1-a ;
                      dpv:hasJurisdiction loc:EU ;
                      dpv:hasApplicableLaw legal-eu:law-GDPR ;
                      dpv:hasRight eu-gdpr:A7-3, eu-gdpr:A13, eu-gdpr:A14, eu-gdpr:A15, eu-gdpr:A16, 
                          eu-gdpr:A17, eu-gdpr:A18, eu-gdpr:A20, eu-gdpr:A22, eu-gdpr:A77
                  ] ;
                  dpv:hasScope [
                      dpv:hasLegalBasis ex:GB-GDPR-consent ;
                      dpv:hasJurisdiction loc:GB ;
                      dpv:hasApplicableLaw legal-gb:law-GDPR, legal-gb:law-DPA ;
                      dpv:hasRight ex:RightOfAccess # not complete, other rights exist
                  ] .

              ex:RightOfAccess a dpv:Right ;
                  skos:broader dpv:DataSubjectRight ;
                  dcterms:description "Right of access to personal data related to the data subject" ;
                  dpv:hasApplicableLaw legal-gb:law-GDPR .
              
              ex:GB-GDPR-consent a dpv:LegalBasis ;
                  skos:broader dpv:Consent ;
                  dcterms:description "Consent given by the data subject" ;
                  dpv:hasApplicableLaw legal-gb:law-GDPR .
          </pre>
      </div>
  </aside>
</section>

<section id="notices">
  <h2>Notifying rights-related activities</h2>
  <p>
      This section outlines how to provide notices related with rights exercising management.
      Generic <a href="https://w3id.org/dpv#RightNotice" target="_blank">right notices</a>
      can be provided to indicate which rights exist, when and where they are applicable, and other relevant information.
      Notices can be associated with specific processes or activities using the 
      <a href="https://w3id.org/dpv#hasNotice" target="_blank">hasNotice</a> property.
      <code>dcterms:issued</code> and <code>dcterms:valid</code> can be used to indicate temporal information
      related to notices, i.e., when it was issued and until when it is valid.
      Descriptions and identifiers of the notices and their creators/publishers can be recorded using 
      <a href="http://purl.org/dc/terms/" target="_blank">DCMI Metadata Terms</a>.
      The notices should also include information about the data controller as well as the entity implementing the notice,
      which can be the data controller or another entity acting on behalf of the data controller,
      using <code>dpv:hasDataController</code> and <code>dpv:isImplementedByEntity</code>, respectively.
      <code>foaf:page</code> can be used to indicate a document, e.g., Webpage, containing the contents of the
      notice and further functionalities.
  </p>
  <aside class="example" id="right-notice" title="Notice with applicable rights">
      <p>
          Example of a notice that details the applicable rights under EU's GDPR, <code>issued</code> on 
          December 1st, 2024, and <code>valid</code> until December 31st, 2024.
          The notice has information about the data controller as well as the entity implementing it.
          The webpage available at <code>https://example.org/DataController/RightNotice</code>
          can be consulted for a human-readable version of the notice. 
      </p>
      <div>
          <pre class="nohighlight">
              ex:RightNotice a dpv:RightNotice ;
                  dcterms:description "Rights notice of data controller, valid until the end of December 2024"^^xsd:string ;
                  dcterms:issued "2024-01-01"^^xsd:date ;
                  dcterms:valid "2024-12-31"^^xsd:date ;
                  dpv:hasDataController ex:DataController ;
                  dpv:isImplementedByEntity ex:DataController ;
                  dpv:hasApplicableLaw legal-eu:law-GDPR ;
                  dpv:hasRight eu-gdpr:A7-3, eu-gdpr:A13, eu-gdpr:A14, eu-gdpr:A15, eu-gdpr:A16, 
                      eu-gdpr:A17, eu-gdpr:A18, eu-gdpr:A20, eu-gdpr:A22, eu-gdpr:A77 ;
                  foaf:page &#60;https://example.org/DataController/RightNotice> .
          </pre>
      </div>
  </aside>
  <p>
      <a href="https://w3id.org/dpv#RightExerciseNotice" target="_blank">Right exercise notices</a>
      should be used to notify data subjects on where and how to exercise an active right,
      which information is required, or to provide updates on an exercised right request.
      Beyond the previously mentioned properties,
      DPV's <a href="https://w3id.org/dpv#isExercisedAt" target="_blank">isExercisedAt</a> property
      can be used to associate rights with specific right exercise points, i.e., through right exercise notices,
      and information required to exercise a right through the association with a process, using 
      DPV's <a href="https://w3id.org/dpv#hasProcess" target="_blank">hasProcess</a> property.
      The <a href="https://w3id.org/dpv#hasRecipient" target="_blank">hasRecipient</a>, 
      <a href="https://w3id.org/dpv#hasStatus" target="_blank">hasStatus</a>, and
      <a href="https://w3id.org/dpv#hasJustification" target="_blank">hasJustification</a>
      properties can be used to provide updates to the data subject on the status of a specific right exercising
      activity, including a justification to why such right is being exercised.
  </p>
  <aside class="example" id="exercise-notice" title="Right exercise notice with information to be provided by the data subject">
      <p>
          Example of a rights exercise notice that details the rights, under EU's GDPR, that can be exercised
          at <code>https://example.org/DataController/RightExercisePoint</code>.
          To exercise such rights, the data subject's account identifier needs to be provided to the data controller
          to collect and store, for the purpose of identity verification.
      </p>
      <div>
          <pre class="nohighlight">
              ex:RightExercisePoint a dpv:RightExerciseNotice ;
                  dcterms:description "Exercise notice of data controller, valid until the end of December 2024"^^xsd:string ;
                  dcterms:issued "2024-01-01"^^xsd:date ;
                  dcterms:valid "2024-12-31"^^xsd:date ;
                  dpv:hasRight eu-gdpr:A7-3, eu-gdpr:A15, eu-gdpr:A16, eu-gdpr:A17, eu-gdpr:A20 ;
                  dpv:hasDataController ex:DataController ;
                  dpv:isImplementedByEntity ex:DataController ;
                  foaf:page &#60;https://example.org/DataController/RightExercisePoint> ;
                  dpv:hasProcess [
                      dpv:hasPurpose dpv:IdentityVerification ;
                      dpv:hasPersonalData pd:AccountIdentifier ;
                      dpv:hasProcessing dpv:Collect, dpv:Store ;
                      dpv:hasRecipientDataController ex:DataController ] .

              # Associating specific rights with specific exercise notices
              ex:RightToErasure a eu-gdpr:A17 ;
                  dpv:isExercisedAt ex:RightExercisePoint .
          </pre>
      </div>
  </aside>
  <aside class="example" id="exercise-update" title="Providing an update on an exercised right to erasure">
      <p>
          Example of a right exercise update notice that contains the status of the exercised right, 
          that can be consulted in human-readable format at <code>https://example.org/DataController/UpdateRightToErasure</code>.
          The justification used by the data subject to initiate the request to erasure is based on
          the data processing not being necessary.
      </p>
      <div>
          <pre class="nohighlight">
              ex:UpdateRightToErasure a dpv:RightExerciseNotice ;
                  dcterms:description "Exercise notice update provided to the data subject"^^xsd:string ;
                  dcterms:issued "2024-08-24"^^xsd:date ;
                  dpv:hasRight ex:RightToErasure ;
                  dpv:hasDataController ex:DataController ;
                  dpv:isImplementedByEntity ex:DataController ;
                  foaf:page &#60;https://example.org/DataController/UpdateRightToErasure> ;
                  dpv:hasRecipient ex:DataSubject ;
                  dpv:hasStatus dpv:RequestInitiated ;
                  dpv:hasJustification justifications:NonNecessityObjection .
              
              ex:DataSubject a dpv:DataSubject .
          </pre>
      </div>
  </aside>
  <p>
      Specific notices to inform of the 
      <a href="https://w3id.org/dpv#RightFulfilmentNotice" target="_blank">fulfilment</a>, 
      <a href="https://w3id.org/dpv#RightFulfilmentNotice" target="_blank">towards fulfilment</a> or about the 
      <a href="https://w3id.org/dpv#RightNonFulfilmentNotice" target="_blank">non-fulfilment</a> 
      of a right are also provided.
      Required actions that need to be performed by entities towards the fulfilment of a certain rights-related
      request, that cannot be sufficiently detailed using DPV, e.g., issuance of payment terms, can be attached
      to notices using policy languages such as 
      <a href="https://www.w3.org/TR/odrl-model/" target="_blank">Open Digital Rights Language (ODRL)</a>.
      The period of time the entities have to execute the required actions can also be expressed using ODRL
      constraints and/or can be included in the notices using DPV's
      <a href="https://w3id.org/dpv#Duration" target="_blank">Duration</a> concepts.
  </p>
  <aside class="example" id="fulfillment-notice" title="Notice of fulfillment related to an exercised right to erasure">
      <p>
          Example of a notice of fulfillment related to an exercised right to erasure, 
          that can be consulted in human-readable format at <code>https://example.org/DataController/FulfilRightToErasure</code>.
      </p>
      <div>
          <pre class="nohighlight">
              ex:FulfilRightToErasure a dpv:RightFulfilmentNotice ;
                  dcterms:description "Notice of fulfillment related to the exercised right to erasure"^^xsd:string ;
                  dcterms:issued "2024-08-27"^^xsd:date ;
                  dpv:hasRight ex:RightToErasure ;
                  dpv:hasDataController ex:DataController ;
                  dpv:isImplementedByEntity ex:DataController ;
                  foaf:page &#60;https://example.org/DataController/FulfilRightToErasure> ;
                  dpv:hasRecipient ex:DataSubject ;
                  dpv:hasStatus dpv:RequestFulfilled .
          </pre>
      </div>
  </aside>
  <aside class="example" id="towards-fulfillment" title="Notice of required action towards the fulfillment of an exercised right to erasure">
      <p>
          Example of a notice with information towards the fulfillment of an exercised right to erasure, 
          that can be consulted in human-readable format at <code>https://example.org/DataController/PaymentRightToErasure</code>.
          In this case, the data controller requires the data subject to make a payment as the data subject's
          request as been deemed excessive by the data controller.
          The terms of the payment are described in the ODRL policy identified in
          <code>https://example.org/DataController/PaymentRightToErasure/terms></code>.
      </p>
      <div>
          <pre class="nohighlight">
              ex:PaymentRightToErasure a dpv:RightFulfilmentNotice ;
                  dcterms:description "Notice of needed payment towards the fulfillment of the exercised right to erasure"^^xsd:string ;
                  dcterms:issued "2024-08-29"^^xsd:date ;
                  dpv:hasRight ex:RightToErasure ;
                  dpv:hasDataController ex:DataController ;
                  dpv:isImplementedByEntity ex:DataController ;
                  foaf:page &#60;https://example.org/DataController/PaymentRightToErasure> ;
                  dpv:hasRecipient ex:DataSubject ;
                  dpv:hasStatus dpv:RequestRequiresAction ;
                  dpv:hasJustification justifications:ProcessExcessive ;
                  odrl:hasPolicy ex:PaymentRequired .
              
              ex:PaymentRequired a odrl:Policy ;
                  odrl:uid &#60;https://example.org/DataController/PaymentRightToErasure/terms>
                  odrl:obligation [
                      odrl:assigner ex:DataController ;
                      odrl:assignee ex:DataSubject ;
                      odrl:action [
                          rdf:value odrl:compensate ;
                          odrl:refinement [
                              odrl:leftOperand odrl:payAmount ;
                              odrl:operator odrl:eq ;
                              odrl:rightOperand "100.00"^^xsd:decimal ;
                              odrl:unit &#60;http://dbpedia.org/resource/Euro>
                          ]
                      ] ;
                      odrl:constraint [
                          odrl:leftOperand odrl:elapsedTime ;
                          odrl:operator odrl:eq ;
                          odrl:rightOperand "P14D"^^xsd:duration
                      ]
                  ] .
          </pre>
      </div>
  </aside>
  <aside class="example" id="nonfulfillment-notice" title="Notice of non-fulfillment related to an exercised right to erasure">
      <p>
          Example of a notice of non-fulfillment related to an exercised right to erasure, 
          that can be consulted in human-readable format at <code>https://example.org/DataController/RejectRightToErasure</code>.
          The request will not be fulfilled since it would interfere with the right of freedom of expression and information 
          of others, as indicated by the <code>FreedomOfExpressionImpaired</code> justification.
      </p>
      <div>
          <pre class="nohighlight">
              ex:RejectRightToErasure a dpv:RightNonFulfilmentNotice ;
                  dcterms:description "Notice of non-fulfillment related to an exercised right to erasure"^^xsd:string ;
                  dcterms:issued "2024-09-06"^^xsd:date ;
                  dpv:hasRight ex:RightToErasure ;
                  dpv:hasDataController ex:DataController ;
                  dpv:isImplementedByEntity ex:DataController ;
                  foaf:page &#60;https://example.org/DataController/RejectRightToErasure> ;
                  dpv:hasRecipient ex:DataSubject ;
                  dpv:hasStatus dpv:RequestUnfulfilled ;
                  dpv:hasJustification justifications:FreedomOfExpressionImpaired .
          </pre>
      </div>
  </aside>
  <p>
      For GDPR-specific notices, the 
      <a href="https://w3id.org/dpv/legal/eu/gdpr" target="_blank">EU GDPR extension</a> 
      provides concepts for 
      <a href="https://w3id.org/dpv/legal/eu/gdpr#DirectDataCollectionNotice" target="_blank">direct</a> and 
      <a href="https://w3id.org/dpv/legal/eu/gdpr#IndirectDataCollectionNotice" target="_blank">indirect</a>
      data collection notices, required by GDPR's Articles 13 and 14, respectively, 
      <a href="https://w3id.org/dpv/legal/eu/gdpr#SARNotice" target="_blank">Subject Access Request (SAR) notices</a>
      to fulfil GDPR Right of Access, and
      <a href="https://w3id.org/dpv/legal/eu/gdpr#RightsRecipientsNotice" target="_blank">recipient notices</a>
      to fulfil GDPR's Art.19 notification requirements, regarding the recipients to whom a rights exercise 
      has been communicated, such as the right to rectification (Art.16), right to erasure (Art.17) or right to restriction 
      of processing (Art.18).
  </p>
  <p>
      In the case of GDPR's Articles 13 and 14, the data subject should be notified of the identity and contacts of the 
      data controller and of the controller's representative if applicable, as well as receive notice of the contact details 
      of the controller's data protection officer. The notice should also include the purposes and legal basis for data 
      processing, and, in case such basis is the legitimate interests pursued by the controller or by a third party, said
      interests should be specified. Data subjects should also be made aware of any recipients or categories of recipients
      of the personal data, and, if applicable, about transfers of personal data to a third country or international 
      organisation, including the existence or absence of an adequacy decision for said country and applicable safeguards.
      Furthermore, data subjects should be notified with regards to the data storage period, as well as their existing rights,
      namely the rights to withdraw consent and to lodge a complaint and the rights of access, rectification, erasure, 
      restriction of processing, object and data portability.
      In case the provision of personal data is necessary for statutory or contractual obligations or there is automated 
      decision-making, it should also be disclosed to the data subject.
      Beyond the previously mentioned information, GDPR's Article 14 also requires the data subject to be notified about
      processed categories of data and their respective sources.
  </p>
  <div class="note" title="Connection with privacy notices">
      How does it related with the ISO/IEC 29184 Privacy Notice standard? Also see issue at
      <a href="https://github.com/w3c/dpv/issues/91" target="_blank">https://github.com/w3c/dpv/issues/91</a>.
  </div>
  <p>
      In the case of the SAR notice, a DPV process can be used to notify the data subject about the type of personal data 
      being processed, the purpose for the processing, and to which recipients it was disclosed.
      The storage period of the data is also indicated, as well as the existence of other data subject rights 
      and the source of the data if not collected from the data subject.
      In case there is automated decision-making, it should also be disclosed to the data subject.
  </p>
  <div class="issue" title="What constitutes a valid legitimate interest?">
      Is there a list of legitimate interests validated by authorities/case law?
  </div>
  <div class="issue" title="Modelling of categories of recipients">
      According to GDPR's Articles 13, 14, and 15, in the case data is shared with any recipients, these can be notified to the
      data subject by their category type instead of naming each recipient individually. DPV currently does not have 
      such a taxonomy. Can we reuse an existent one or should we define one in DPV itself?
  </div>
  <div class="issue" title="Modelling of information related to automated decision-making and logic involved">
      According to GDPR's Articles 13, 14, and 15, in the case of the existence of automated decision-making, 
      including profiling, the data subject must be informed about it when exercising its right of access.
      While DPV already includes concepts to model automation and decision-making, work still needs to be done to 
      come up with a model to represent information <i>"about the logic involved, as well as the significance and 
      the envisaged consequences of such processing for the data subject"</i>.
  </div>
  <aside class="example" id="collection-notice" title="Notice of direct data collection related to GDPR's Article 13">
      <p>
          Example of a notice of direct data collection related to GDPR's Article 13, that can be consulted 
          in human-readable format at <code>https://example.org/DataController/DataCollection</code>.
          Identity and contact details of the data controller and its representative and DPO are provided.
          The collected data was used for <code>ServiceProvision</code>, under GDPR's Article 6.1(a) legal basis, 
          and it was disclosed to <code>CompanyX</code>, <code>CompanyY</code>, and <code>CompanyZ</code>.
          The data was collected from the data subject, from January 1st, 2023 to December 31st, 2023.
      </p>
      <div>
          <pre class="nohighlight">
              ex:DataCollection_Notice a eu-gdpr:DirectDataCollectionNotice ;
                  dcterms:description "Notice of direct data collection related to GDPR's Article 13"^^xsd:string ;
                  dcterms:issued "2024-08-01"^^xsd:date ;
                  dpv:hasRight eu-gdpr:A13 ;
                  dpv:hasDataController ex:DataController ;
                  dpv:isImplementedByEntity ex:DataController ;
                  foaf:page &#60;https://example.org/DataController/DataCollection> ;
                  dpv:hasRecipient ex:DataSubject ;
                  dpv:hasProcess [
                      dpv:hasPurpose dpv:ServiceProvision ;
                      dpv:hasLegalBasis eu-gdpr:A6-1-a ;
                      dpv:hasRecipient ex:CompanyX, ex:CompanyY, ex:CompanyZ ;
                      dpv:hasDuration [
                          time:hasBeginning "2023-01-01"^^xsd:date ;
                          time:hasEnd "2023-12-31"^^xsd:date
                      ] ;
                      dpv:hasRight A7-3, eu-gdpr:A15, eu-gdpr:A16, eu-gdpr:A17, eu-gdpr:A18, 
                          eu-gdpr:A20, eu-gdpr:A21, eu-gdpr:A77 ;

                      # In case it is an dpv:IndirectDataCollectionNotice data type and source should also be present
                      dpv:hasDataSource dpv:ThirdPartyDataSource ;
                      dpv:hasPersonalData pd:EmailAddress
                  ] .

              ex:DataController a dpv:DataController ;
                  dpv:hasName "Data Controller Y"^^xsd:string ;
                  dpv:hasAddress "Address of Data Controller Y"^^xsd:string ;
                  dpv:hasContact "mailto:datacontrollery@mail.com"^^xsd:string ;
                  dpv:hasRepresentative ex:DataControllerRep ;
                  dpv:hasDataProtectionOfficer ex:DataControllerDPO .
          </pre>
      </div>
  </aside>
  <aside class="example" id="SAR-notice" title="Notice of fulfillment related to GDPR's Right of Access">
      <p>
          Example of a notice of fulfillment related to an exercised GDPR's Right of Access, that can be consulted 
          in human-readable format at <code>https://example.org/DataController/SARFulfilled_Notice</code>.
          <code>EmailAddress</code> was used for <code>ServiceProvision</code> and it was disclosed to <code>CompanyX</code>.
          The data was sourced from the data subject and collected from January 1st, 2022 to December 31st, 2022.
      </p>
      <div>
          <pre class="nohighlight">
              ex:SARFulfilled_Notice a eu-gdpr:SARNotice ;
                  dcterms:description "Notice of fulfillment related to GDPR's Right of Access"^^xsd:string ;
                  dcterms:issued "2024-08-07"^^xsd:date ;
                  dpv:hasRight eu-gdpr:A15 ;
                  dpv:hasDataController ex:DataController ;
                  dpv:isImplementedByEntity ex:DataController ;
                  foaf:page &#60;https://example.org/DataController/SARFulfilled_Notice> ;
                  dpv:hasRecipient ex:DataSubject ;
                  dpv:hasStatus dpv:RequestFulfilled ;
                  dpv:hasProcess [
                      dpv:hasPurpose dpv:ServiceProvision ;
                      dpv:hasPersonalData pd:EmailAddress ;
                      dpv:hasRecipient ex:CompanyX ;
                      dpv:hasDuration [
                          time:hasBeginning "2022-01-01"^^xsd:date ;
                          time:hasEnd "2022-12-31"^^xsd:date
                      ] ;
                      dpv:hasRight eu-gdpr:A16, eu-gdpr:A17, eu-gdpr:A18, eu-gdpr:A21, eu-gdpr:A77 ;
                      dpv:hasDataSource dpv:DataSubjectDataSource
                  ] .
          </pre>
      </div>
  </aside>
  <aside class="example" id="recipients-notice" title="Notice of recipients to whom an exercised right to erasure was communicated">
      <p>
          Example of a notice of recipients to whom an exercised right to erasure was communicated, that can be consulted 
          in human-readable format at <code>https://example.org/DataController/Recipients_Notice</code>.
          <code>dpv:hasProcess</code> is used to effectively communicate which right was exercised by the data subject receiving the notice - 
          <code>eu-gdpr:A17</code> in the example - and the recipients to whom the personal data have been disclosed - 
          <code>ex:CompanyX, ex:CompanyY, ex:CompanyZ</code> in the example.
      </p>
      <div>
          <pre class="nohighlight">
              ex:Recipients_Notice a eu-gdpr:RightsRecipientsNotice ;
                  dcterms:description "Notice of recipients to whom an exercised right to erasure was communicated"^^xsd:string ;
                  dcterms:issued "2024-08-08"^^xsd:date ;
                  dpv:hasRight eu-gdpr:A19 ;
                  dpv:hasRecipient ex:DataSubject ;
                  dpv:hasDataController ex:DataController ;
                  dpv:isImplementedByEntity ex:DataController ;
                  foaf:page &#60;https://example.org/DataController/Recipients_Notice> ;
                  dpv:hasProcess [
                      dpv:hasRight eu-gdpr:A17 ;
                      dpv:hasRecipient ex:CompanyX, ex:CompanyY, ex:CompanyZ
                  ] .
              
              ex:CompanyX a dpv:Recipient ;
                  dpv:hasName "Company X"^^xsd:string ;
                  dpv:hasAddress "Address of Company X"^^xsd:string ;
                  dpv:hasContact "mailto:companyy@mail.com"^^xsd:string .
          </pre>
      </div>
  </aside>
</section>

<section id="records">
  <h2>Recording rights being exercised</h2>
  <p>
      This section outlines the information that needs to be recorded and maintained when a concrete 
      instance of a right was or is being exercised. Keeping such records is of interest to data controllers 
      to have machine-readable information about the status and fulfillment of requests, which can be used, 
      e.g., by auditors. To represent concrete records of rights being exercised, the 
      <a href="https://w3id.org/dpv#RightExerciseRecord" target="_blank">RightExerciseRecord</a> concept, 
      a subclass of DPV's  <a href="https://w3id.org/dpv#Record" target="_blank">Record</a>, 
      can be used to associate a particular request, or even distinct requests from the same data subject, 
      with corresponding activities exercised by entities towards fulfilling such requests, modelled as 
      <a href="https://w3id.org/dpv#RightExerciseActivity" target="_blank">RightExerciseActivity</a>.
  </p>

  <h3>Rights exercise activities</h3>
  <p>
      A <a href="https://w3id.org/dpv#RightExerciseActivity" target="_blank">RightExerciseActivity</a>
      represents an instantiation of an activity being performed towards the exercising of a right.
      Such activity instances should include metadata, e.g., timestamps, duration, or involved
      entities, to track the provenance of a particular right exercising process, from the request itself to
      its acknowledgement by the data controller and to the fulfilment or non-fulfilment of the right.
      For easy record-keeping, each activity should be modelled as a
      <a href="https://w3id.org/dpv#RightExerciseActivity" target="_blank">RightExerciseActivity</a> instance,
      which can be connected with other instances using DPV's
      <a href="https://w3id.org/dpv#isBefore" target="_blank">isBefore</a> and
      <a href="https://w3id.org/dpv#isAfter" target="_blank">isAfter</a> concepts.
  </p>
  <p>
      In order to justify a certain right exercise activity, DPV contains a 
      <a href="https://w3id.org/dpv/justifications" target="_blank">Justification</a> extension to
      <i>"enable representing specific justifications associated with non-fulfilment, non-requirement, 
      delays, and exercising reasons involved in processes"</i>, which can be used to justify the 
      non-fulfilment, non-requirement, delays, and exercising of rights.
  </p>
  <div class="issue" title="Associate justification with GDPR provision">
      How to connect a justification associated with a right exercising activity with the the GDPR
      provision that inspired its definition?
      The <code>dcterms:source</code> property can be used:
      <pre class="nohighlight">
          ex:RightExerciseActivity a dpv:RightExerciseActivity ;
              ...
              dpv:hasJustification ex:Justification .

          ex:Justification a justifications:FreedomOfExpressionImpaired ;
              dcterms:source "GDPR Article 17.3(a)"^^xsd:string .
      </pre>
  </div>
  <p>
      Additionally, to track the status of rights exercising activities, DPV's
      <a href="https://w3id.org/dpv#RequestStatus" target="_blank">RequestStatus</a> concepts, including 
      <a href="https://w3id.org/dpv#RequestAccepted" target="_blank">RequestAccepted</a> 
      for a request being accepted towards fulfilment,
      <a href="https://w3id.org/dpv#RequestRejected" target="_blank">RequestRejected</a> 
      for a request being rejected towards non-fulfilment or
      <a href="https://w3id.org/dpv#RequestRequiresAction" target="_blank">RequestRequiresAction</a> 
      for a request requiring an action to be performed from another party.
      <a href="#status">Figure 1</a> illustrates the sequence in which these concepts occur. Once the request 
      is initiated, it should be then acknowledged by the entity implementing it and either accepted towards fulfilment
      or rejected towards non-fulfilment. Additionally, after being rejected, the entity fulfilling the
      request can also require further action from the requester (e.g., request additional data to be able
      to fulfil the request), which can delay the acceptance or rejection of the request, and after the
      required action is performed, the request can either be accepted towards fulfilment or get rejected
      again towards non-fulfilment or towards asking again for further action. 
  </p>
  <figure>
      <img id="status" src="../2.1-dev/diagrams/request-status.png" alt="Lifecycle of DPV's concepts to model the status of a request" width="80%">
      <figcaption>Lifecycle of DPV's concepts to model the status of a request.</figcaption>
  </figure>
  <p>
      DPV's concepts can be used in conjunction with the 
      <a href="https://www.w3.org/TR/prov-o/" target="_blank">W3C's PROV-O recommendation</a>
      to track the provenance of a right exercising activity instance. Using this
      standard, provenance information, regarding the entities whom the activity is associated with, i.e.,
      <a href="http://www.w3.org/ns/prov#wasAssociatedWith" target="_blank">prov:wasAssociatedWith</a>, 
      or what data/notice was generated, i.e., 
      <a href="http://www.w3.org/ns/prov#generated" target="_blank">prov:generated</a>,
      by the right exercise activity, can be represented. 
      <a href="http://www.w3.org/ns/prov#actedOnBehalfOf" target="_blank">prov:actedOnBehalfOf</a> can also be
      used to represent delegation or representation, for instance when a parent exercises a right on behalf of its child. 
      Similarly to notices, temporal information, descriptions and identifiers of the activities and their
      creators/publishers can be recorded using <a href="http://purl.org/dc/terms/" target="_blank">DCMI Metadata Terms</a>.
  </p>
  <p>
      In this section, we include examples of rights exercising activities covering the lifecycle of statuses of requests,
      using an exercised GDPR right of access as an example.
  </p>
  <aside class="example" id="activity-Initiated" title="Data Subject makes a GDPR right of access request">
      <p>
          Example of a right exercising activity related to a GDPR right of access request. The activity 
          associated with the start of the request has the status <code>dpv:RequestInitiated</code>, 
          the data subject is identified using the <code>dpv:hasDataSubject</code> property and the recipient of the request, 
          a data controller, using <code>dpv:hasRecipientDataController</code>. Furthermore, a process instance
          can be used to express what personal data needs to be processed for the fulfilment of the right -
          in this case, an account identifier of the data subject will be collected and stored by the data controller
          for identity verification purposes. DPV's <code>hasScope</code> can also be used to specify the scope of the 
          request, e.g., the data subject only wants to access data processed for service provision purposes during 2022.
      </p>
      <div>
          <pre class="nohighlight">
              ex:DataSubject a dpv:DataSubject .
              ex:DataSubjectUsername a pd:AccountIdentifier ;
                  dpv:hasDataSubject ex:DataSubject .
              
              ex:SARequest a dpv:RightExerciseActivity, prov:Activity ;
                  dcterms:description "Data Subject makes a GDPR right of access request"^^xsd:string ;
                  dpv:hasRight eu-gdpr:A15 ;
                  dpv:isExercisedAt ex:RightExercisePoint ;
                  prov:wasAssociatedWith ex:DataSubject ;
                  dpv:hasDataSubject ex:DataSubject ;
                  dpv:hasRecipientDataController ex:DataController ;
                  dcterms:created "2023-11-02T11:08:05"^^xsd:dateTime ;
                  dpv:hasStatus dpv:RequestInitiated ;
                  dpv:hasProcess [
                      dpv:hasPurpose dpv:IdentityVerification ;
                      dpv:hasPersonalData ex:DataSubjectUsername ;
                      dpv:hasProcessing dpv:Collect, dpv:Store
                  ] ;
                  dpv:hasScope [
                      dpv:hasPurpose dpv:ServiceProvision ;
                      dpv:hasDuration [
                          time:hasBeginning "2022-01-01T00:00:00"^^xsd:dateTime ;
                          time:hasEnd "2022-12-31T23:59:59"^^xsd:dateTime
                      ]
                  ] .
          </pre>
      </div>
  </aside>
  <aside class="example" id="activity-Acknowledged" title="Data controller acknowledges the request">
      <p>
          Example of a right exercising activity related to the acknowledgement by the data controller 
          of a GDPR right of access request. Following the start of the request, the controller acknowledges said request - a
          <code>RightExerciseActivity</code> can be modelled with <code>dpv:RequestAcknowledged</code> status, coming from the 
          the <code>ex:DataSubject</code> that initiated the request. Additionally, if required, the data subject
          can receive a notice of said acknowledgement.
      </p>
      <div>
          <pre class="nohighlight">
              ex:SARAcknowledged a dpv:RightExerciseActivity, prov:Activity ;
                  dcterms:description "Data controller acknowledges the request"^^xsd:string ;
                  dcterms:created "2023-11-02T15:55:10"^^xsd:dateTime ;
                  prov:wasAssociatedWith ex:DataController ;
                  dpv:hasDataSubject ex:DataSubject ;
                  dpv:hasStatus dpv:RequestAcknowledged ;
                  dpv:isAfter ex:SARequest .
          </pre>
      </div>
  </aside>
  <aside class="example" id="activity-Rejected" title="Data controller rejects the request due to an identity verification failure">
      <p>
          Example of a right exercising activity related to the rejection by the data controller  of the GDPR 
          right of access request - the request was rejected due to the data controller not being able to identify 
          the data subject.
      </p>
      <div>
          <pre class="nohighlight">
              ex:SARRejected a dpv:RightExerciseActivity, prov:Activity ;
                  dcterms:description "Data controller rejects the request due to an identity verification failure"^^xsd:string ;
                  dcterms:created "2023-11-02T15:57:31"^^xsd:dateTime ;
                  prov:wasAssociatedWith ex:DataController ;
                  dpv:hasDataSubject ex:DataSubject ;
                  dpv:hasStatus dpv:RequestRejected ;
                  dpv:hasJustification justifications:IdentityVerificationFailure ;
                  dpv:isAfter ex:SARAcknowledged .
          </pre>
      </div>
  </aside>
  <aside class="example" id="activity-RequiresAction" title="Data controller requires further action from data subject">
      <p>
          Example of a right exercising activity where the data controller requires further information from the
          data subject to be able to proceed with the request. Such right exercise activity is specified with
          the <code>dpv:RequestRequiresAction</code> status and contains a process instance expressing the action 
          that the data subject needs to fulfil for the right exercise to continue - in this case the data subject must 
          make available to the data controller an official ID for identity verification purposes.
      </p>
      <div>
          <pre class="nohighlight">
              ex:SARRequiresAction a dpv:RightExerciseActivity, prov:Activity ;
                  dcterms:description "Data controller requires further action from data subject"^^xsd:string ;
                  dcterms:created "2023-11-02T16:09:21"^^xsd:dateTime ;
                  prov:wasAssociatedWith ex:DataController ;
                  dpv:hasDataSubject ex:DataSubject ;
                  dpv:hasStatus dpv:RequestRequiresAction ;
                  dpv:hasJustification justifications:IdentityVerificationFailure ;
                  dpv:hasProcess [
                      dpv:hasPersonalData pd:OfficialID ;
                      dpv:hasProcessing dpv:MakeAvailable ;
                      dpv:hasPurpose dpv:IdentityVerification ;
                      dpv:hasRecipientDataController ex:DataController ;
                      dpv:isImplementedByEntity ex:DataSubject
                  ] ;
                  dpv:isAfter ex:SARRejected .
          </pre>
      </div>
  </aside>
  <aside class="example" id="activity-ActionDelayed" title="Request is delayed as the data controller requires further information to identify the data subject">
      <p>
          Example of a right exercising activity related to a delay in the exercising of the request as the data controller 
          requires further information to identify the data subject. Such right exercise activity has a status of
          <code>dpv:RequestActionDelayed</code>, with the justification being that identity verification is still required 
          by the data controller to proceed with the request, giving the data subject a duration of 1 month to reply with
          the required information.
      </p>
      <div>
          <pre class="nohighlight">
              ex:SARActionDelayed a dpv:RightExerciseActivity, prov:Activity ;
                  dcterms:description "Request is delayed as the data controller requires further information to identify the data subject"^^xsd:string ;
                  dcterms:created "2023-11-02T16:09:52"^^xsd:dateTime ;
                  prov:wasAssociatedWith ex:DataController ;
                  dpv:hasDataSubject ex:DataSubject ;
                  dpv:hasStatus dpv:RequestActionDelayed ;
                  dpv:hasJustification justifications:IdentityVerificationRequired ;
                  dpv:hasDuration "P1M"^^xsd:duration ;
                  dpv:isAfter ex:SARRequiresAction .
          </pre>
      </div>
  </aside>
  <aside class="example" id="activity-RequiredActionPerformed" title="Data Subject provides required information">
      <p>
          Example of a right exercise activity associated with the data subject and with a
          <code>dpv:RequestRequiredActionPerformed</code> status, which includes the official ID that
          the data subject made available to the data controller to effectively identify themself.
      </p>
      <div>
          <pre class="nohighlight">
              ex:DataSubjectOfficialID a pd:OfficialID ;
                  dpv:hasDataSubject ex:DataSubject .

              ex:SARActionPerformed a dpv:RightExerciseActivity, prov:Activity ;
                  dcterms:description "Data Subject provides required information" ;
                  dcterms:created "2023-11-02T17:20:42"^^xsd:dateTime ;
                  prov:wasAssociatedWith ex:DataSubject ;
                  dpv:hasStatus dpv:RequestRequiredActionPerformed ;
                  dpv:hasProcess [
                      dpv:hasPersonalData ex:DataSubjectOfficialID ;
                      dpv:hasProcessing dpv:MakeAvailable ;
                      dpv:hasPurpose dpv:IdentityVerification ;
                      dpv:hasRecipientDataController ex:DataController ;
                      dpv:isImplementedByEntity ex:DataSubjectUsername ] ;
                  dpv:isAfter ex:SARActionDelayed .
          </pre>
      </div>
  </aside>
  <aside class="example" id="activity-Accepted" title="Request accepted by data controller towards fulfilment">
      <p>
          Example of a right exercise activity associated with the data controller related to the acceptance of
          a request to fulfil. In this case, the data controller effectively already has the information that they need 
          to fulfil the data subject's request and can proceed with said fulfilment.
      </p>
      <div>
          <pre class="nohighlight">
              ex:SARAccepted a dpv:RightExerciseActivity, prov:Activity ;
                  dcterms:description "Request accepted by data controller towards fulfilment" ;
                  dcterms:created "2023-11-03T08:15:04"^^xsd:dateTime ;
                  prov:wasAssociatedWith ex:DataController ;
                  dpv:hasDataSubject ex:DataSubject ;
                  dpv:hasStatus dpv:RequestAccepted ;
                  dpv:isAfter ex:SARActionPerformed .
          </pre>
      </div>
  </aside>
  <aside class="example" id="activity-Fulfilled" title="Request fulfilled by data controller">
      <p>
          Example of a right exercise activity associated with the fulfilment of the request by the data controller.
          As such, the data controller provides the data subject with a notice of the fulfilment of GDPR's Art.15, 
          <code>ex:SARNotice</code>, and a copy of the data whose access was requested, <code>ex:DataCopy</code>.
          Said copy can be retrieved from <code>https://example.org/DataSubject/SAR_DataCopy</code> in CSV format, from
          November 3rd, 2023, to December 3rd, 2023, according with the attached access policy, <code>ex:access_policy</code>.
      </p>
      <div>
          <pre class="nohighlight">
              ex:SARFulfilled a dpv:RightExerciseActivity, prov:Activity ;
                  dcterms:description "Request fulfilled by data controller" ;
                  dcterms:created "2023-11-03T08:37:25"^^xsd:dateTime ;
                  prov:wasAssociatedWith ex:DataController ;
                  dpv:hasDataSubject ex:DataSubject ;
                  dpv:hasStatus dpv:RequestFulfilled ;
                  prov:generated ex:DataCopy, ex:SARNotice ;
                  dpv:isAfter ex:SARAccepted .

              ex:DataCopy a dcat:Dataset ;
                  dcterms:format &#60;https://www.iana.org/assignments/media-types/text/csv> ;
                  odrl:hasPolicy ex:access_policy ;
                  dcterms:issued "2023-11-03T08:35:42"^^xsd:dateTime ;
                  dcterms:valid "2023-12-03T08:35:42"^^xsd:dateTime ;
                  dcat:landingPage &#60;https://example.org/DataSubject/SAR_DataCopy> .
          </pre>
      </div>
  </aside>
  <p>
      In this <a href="#activity-Fulfilled">latest example</a>, a SAR notice is not included as
      <a href="#notices">Section 3</a> already includes a set of modelled notices, including an example of a modelled
      <a href="#SAR-notice">SAR Notice</a>.
  </p>
  <p>
      Moreover, <a href="https://www.w3.org/TR/vocab-dcat-3/" target="_blank">DCAT</a> can be used to model resources 
      beyond notices, for instance, a copy of the personal data, which is required in both GDPR's access and data
      portability rights. DCAT promotes the usage of the properties such as <code>dcterms:format</code>, 
      <code>dcterms:valid</code>, and <code>dcat:landingPage</code> to include information regarding the format, validity 
      and dataset provision location, respectively, to characterize the dataset in question.
      Additionally, DCAT promotes the usage of ODRL to express license and rights statements, by linking the dataset with 
      an ODRL policy using the <code>odrl:hasPolicy</code> property, or the usage of DCMI Metadata Terms' <code>license</code>,
      <code>accessRights</code> or <code>rights</code> properties to link datasets with licenses, access rights statements
      or other types of rights statements, e.g., copyrights, respectively. The latter can be used to express 'high-level'
      access control statements, e.g., embargoed, restricted or open access, while the former has the advantage of also being
      a W3C Recommendation, for policy expression, which provides a model to represent complex policies and an easy mechanism
      to extend its model to cover other use cases.
  </p>
  <p>
      In this Section, the GDPR's Right of Access is used as an example to showcase how to model right exercising activities 
      using DPV, DCMI Metadata Terms, PROV-O and DCAT. However, a similar pattern can be followed by data controllers to 
      fulfil the other rights as in most cases the only substantial change would be the notice concept that needs to be used 
      for a particular right instance, e.g., <code>eu-gdpr:DirectDataCollectionNotice</code> for the right fulfilment notice
      related to GDPR's Article 13, <code>eu-gdpr:IndirectDataCollectionNotice</code> for the right
      fulfilment notice related to GDPR's Article 14 or <code>eu-gdpr:RightsRecipientsNotice</code>
      for the right fulfilment notice related to GDPR's Article 19.
      Additionally, the proposed model for right exercising activities is generic enough to support the representation of rights
      from other jurisdictions and can be easily extended if the need arises.
  </p>
  
  <h3>Rights exercise records</h3>
  <p>
      As previously mentioned,
      <a href="https://w3id.org/dpv#RightExerciseRecord" target="_blank">RightExerciseRecord</a>s 
      can be used to associate a particular request, or even distinct requests from the same data subject,
      with corresponding activities exercised by entities towards the fulfilment or non-fulfilment of such requests,
      e.g., using the <a href="http://purl.org/dc/terms/hasPart" target="_blank">dcterms:hasPart</a> property.
  </p>
  <aside class="example" id="record" title="Record maintained by the data controller for a GDPR Right of Access request">
      <p>
          Example of a right exercise record related to a GDPR Right of Access request, which was already fulfilled,
          as represented by the <code>dpv:RequestFulfilled</code> status. The activities performed for the fulfilment of 
          the right are all connected with the record using the <code>dcterms:hasPart</code> property.
      </p>
      <div>
          <pre class="nohighlight">
              ex:SAR-DS-record a dpv:RightExerciseRecord ;
                  dcterms:description "Record maintained by the data controller for a GDPR Right of Access request" ;
                  dcterms:created "2023-11-02T11:08:05"^^xsd:dateTime ;
                  dcterms:modified "2023-11-03T08:37:25"^^xsd:dateTime ;
                  dpv:hasDataController ex:DataController ;
                  dpv:hasDataSubject ex:DataSubject ;
                  dpv:hasRight eu-gdpr:A15 ;
                  dpv:hasStatus dpv:RequestFulfilled ;
                  dcterms:hasPart ex:SARequest, ex:SARAcknowledged, ex:SARRejected, ex:SARRequiresAction, ex:SARActionDelayed,
                      ex:SARActionPerformed, ex:SARAccepted, ex:SARFulfilled .
          </pre>
      </div>
  </aside>
  <aside class="example" id="record-multiple" title="Record maintained by the data controller for the data subject's rights-related requests">
      <p>
          Example of a right exercise record maintained by the data controller for all the data subject's rights-related 
          requests. Distinct recorded requests are connected by the <code>dcterms:hasPart</code> property to the main record
          maintained by the data controller for that particular data subject. Each individual request is then modelled as a 
          separate record related to a particular right request, which uses DPV's <code>hasRight</code> and 
          <code>hasStatus</code> to establish the right being exercised and to maintain the status of the request - in this case
          <code>ex:request-1</code> has already been fulfilled, while <code>ex:request-2</code> has as its latest status being
          acknowledged by the data controller. The activities performed for the fulfilment of the right are all connected with 
          the record using the <code>dcterms:hasPart</code> property.
      </p>
      <div>
          <pre class="nohighlight">
              ex:DS-record a dpv:RightExerciseRecord ;
                  dcterms:description "Record maintained by the data controller for the data subject's rights-related requests" ;
                  dcterms:created "2023-10-23T08:37:25"^^xsd:dateTime ;
                  dcterms:modified "2023-11-03T08:37:25"^^xsd:dateTime ;
                  dpv:hasDataController ex:DataController ;
                  dpv:hasDataSubject ex:DataSubject ;
                  dcterms:hasPart ex:request-1, ex-request-2 .
              
              ex:request-1 a dpv:RightExerciseRecord ;
                  dcterms:description "Record maintained by the data controller for a GDPR Right of Access request" ;
                  dcterms:created "2023-10-23T08:37:25"^^xsd:dateTime ;
                  dcterms:modified "2023-10-25T08:37:25"^^xsd:dateTime ;
                  dpv:hasDataController ex:DataController ;
                  dpv:hasDataSubject ex:DataSubject ;
                  dpv:hasRight eu-gdpr:A15 ;
                  dpv:hasStatus dpv:RequestFulfilled ;
                  dcterms:hasPart ex:SARequest, ex:SARAcknowledged, ex:SARRejected, ex:SARRequiresAction, ex:SARActionDelayed,
                      ex:SARActionPerformed, ex:SARAccepted, ex:SARFulfilled .

              ex:request-2 a dpv:RightExerciseRecord ;
                  dcterms:description "Record maintained by the data controller for a GDPR Right of data portability" ;
                  dcterms:created "2023-11-02T18:36:14"^^xsd:dateTime ;
                  dcterms:modified "2023-11-03T08:37:25"^^xsd:dateTime ;
                  dpv:hasDataController ex:DataController ;
                  dpv:hasDataSubject ex:DataSubject ;
                  dpv:hasRight eu-gdpr:A20 ;
                  dpv:hasStatus dpv:RequestAcknowledged ;
                  dcterms:hasPart ex:portabilityRequest, ex:portabilityAcknowledged .
          </pre>
      </div>
  </aside>
  <p>
      For integration with <a href="https://www.w3.org/TR/vocab-dcat-3/" target="_blank">DCAT</a>-based systems, right 
      exercise records can also adapt DCAT's standard to represent data catalogs - a right exercise record can also be 
      modelled as a <a href="http://www.w3.org/ns/dcat#Catalog" target="_blank">dcat:Catalog</a> and right exercise activities 
      as <a href="http://www.w3.org/ns/dcat#Resource" target="_blank">dcat:Resource</a>s, which can be bundled and ordered 
      using <a href="http://www.w3.org/ns/dcat#DatasetSeries" target="_blank">dcat:DatasetSeries</a>.
      This also brings the advantage of using DCAT's ordering properties, i.e., 
      <a href="http://www.w3.org/ns/dcat#first" target="_blank">dcat:first</a>, 
      <a href="http://www.w3.org/ns/dcat#last" target="_blank">dcat:last</a>, and
      <a href="http://www.w3.org/ns/dcat#prev" target="_blank">dcat:prev</a>, 
      to retrieve the latest activity related to a particular rights-related request.
  </p>
  <aside class="example" id="record-dcat" title="Record maintained by the data controller for the data subject's rights-related requests using DCAT">
      <p>
          Example of a right exercise record maintained by the data controller for all the data subject's rights-related 
          requests. A catalog record is maintained to describe metadata about the right exercise record, including
          the involved data controller and data subject. As it stands, the data subject has opened two requests,
          <code>ex:request-001</code> and <code>ex-request-002</code>. The right exercising activities pertaining to these
          requests are collected and ordered in <code>ex:request-001-series</code> and <code>ex:request-002-series</code>, 
          respectively. As such, the <code>dcat:last</code> property can be used to retrieve the latest activity of each
          request.
      </p>
      <div>
          <pre class="nohighlight">
              ex:catalog-001 a dpv:RightExerciseRecord, dcat:Catalog ;
                  dcterms:description "Record maintained by the data controller for the data subject's rights-related requests" ;
                  dcterms:publisher ex:DataController ;
                  dcterms:created "2023-10-23T08:37:25"^^xsd:dateTime ;
                  dcterms:modified "2023-11-03T08:37:25"^^xsd:dateTime ;
                  dcat:record ex:DS-record ;
                  dcat:catalog ex:request-001, ex-request-002 .

              ex:record-001 a dcat:CatalogRecord ;
                  dcterms:description "Metadata about catalog-001" ;
                  foaf:primaryTopic ex:DataSubject ;
                  dcterms:publisher ex:DataController ;
                  dpv:hasDataController ex:DataController ;
                  dpv:hasDataSubject ex:DataSubject ;
                  dcterms:issued "2023-10-23T08:37:25"^^xsd:dateTime .
              
              ex:request-001 a dpv:RightExerciseRecord, dcat:Catalog ;
                  dcterms:description "Record maintained by the data controller for a GDPR Right of Access request" ;
                  dcterms:created "2023-10-23T08:37:25"^^xsd:dateTime ;
                  dcterms:modified "2023-10-25T08:37:25"^^xsd:dateTime ;
                  dpv:hasRight eu-gdpr:A15 ;
                  dpv:hasStatus dpv:RequestFulfilled ;
                  dcat:resource ex:SARequest, ex:SARAcknowledged, ex:SARRejected, ex:SARRequiresAction, ex:SARActionDelayed,
                      ex:SARActionPerformed, ex:SARAccepted, ex:SARFulfilled .

              ex:request-001-series a dcat:DatasetSeries ;
                  dcat:first ex:SARequest ;
                  dcat:last ex:SARFulfilled .

              ex:SARequest a dpv:RightExerciseActivity, dcat:Resource ;
                  dcat:inSeries ex:request-001-series ;
                  # further data is modelled as in the examples in Section 3 .

              ex:SARAcknowledged a dpv:RightExerciseActivity, dcat:Resource ;
                  dcat:inSeries ex:request-001-series ;
                  dcat:prev  ex:SARequest .

              # Other dcat:Resource in the series have the same structure

              ex:request-002 a dpv:RightExerciseRecord ;
                  dcterms:description "Record maintained by the data controller for a GDPR Right of data portability" ;
                  dcterms:created "2023-11-02T18:36:14"^^xsd:dateTime ;
                  dcterms:modified "2023-11-03T08:37:25"^^xsd:dateTime ;
                  dpv:hasRight eu-gdpr:A20 ;
                  dpv:hasStatus dpv:RequestAcknowledged ;
                  dcat:resource ex:portabilityRequest, ex:portabilityAcknowledged .
              
              ex:request-002-series a dcat:DatasetSeries ;
                  dcat:first ex:portabilityRequest ;
                  dcat:last ex:portabilityAcknowledged .
          </pre>
      </div>
  </aside>
</section>

{% block ACKNOWLEDGEMENTS %}
<section id="funding-acknowledgements" class="notoc">
  <h2>Funding Acknowledgements</h2>

  <h3>Funding Sponsors</h3>
  {{ funding_acknowledgements() }}

  <h3>Funding Acknowledgements for Contributors</h3>
  <p>The contributions of Beatriz Esteves have received funding through the <a href="https://protect-network.eu/">PROTECT ITN Project</a> from the European Union’s Horizon 2020 research and innovation programme under the Marie Skłodowska-Curie grant agreement No 813497. Beatriz Esteves is funded by <a href="https://solidlab.be/">SolidLab Vlaanderen</a> (Flemish Government, EWI and RRF project VV023/10), and by the imec.icon project PACSOI (HBC.2023.0752) which was co-financed by imec and VLAIO.</p>
  <p>The contributions of Harshvardhan J. Pandit have been made with the financial support of Science Foundation Ireland under Grant Agreement No. 13/RC/2106_P2 at the ADAPT SFI Research Centre.</p>

</section>
{% endblock ACKNOWLEDGEMENTS %}
<script type="text/javascript" src="../diagrams/common.js" defer></script>
</body>
</html>