{% from 'macro_dpv_document_family.jinja2' import dpv_document_family, sotd, funding_acknowledgements %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{{data.title}}</title>
  <script src="https://www.w3.org/Tools/respec/respec-w3c" class="remove" defer></script>
  <script class="remove">
   // All config options at https://respec.org/docs/ 
   var respecConfig = {
    shortName: "mappings-prov",
    title: "{{data.title}}",
    subtitle: "Work in Progress",
    publishDate: "2024-12-07",
    specStatus: "CG-DRAFT",
    group: "dpvcg",
    latestVersion: "https://w3id.org/dpv/mappings/prov",
    canonicalUri: "https://w3id.org/dpv/mappings/prov",
    edDraftURI: "https://dev.dpvcg.org/mappings/prov",
    github: "w3c/dpv",
    subjectPrefix: "[mappings-prov]",
    doJsonLd: true,
    lint: { "no-unused-dfns": false },
    editors: [{
      name: "Harshvardhan J. Pandit",
      url: "https://harshp.com",
      "company": "{{ "Harshvardhan J. Pandit" | generate_author_affiliation }}"
    }],
    otherLinks: [
      {
        "key": "Key Publications",
        "data": [
            {
              "value": "Data Privacy Vocabulary (DPV) -- Version 2 (2024)",
              "href": "https://arxiv.org/abs/2404.13426"
            }
        ]
      }
    ],
    localBiblio: {%  include 'references.json' %}
  };
</script>
<link rel="stylesheet" type="text/css" href="../../diagrams/common.css">
<link rel="shortcut icon" href="../../diagrams/favicon-16x16.png" type="image/x-icon" sizes="16x16" />
  <link rel="shortcut icon" href="../../diagrams/favicon-32x32.png" type="image/x-icon" sizes="32x32" />
</head>
<body>
<section id="abstract">
    <p>This document provides a mapping from [[[PROV-O]]] concepts to DPV concepts to assist implementations using both of them together. Currently, this activity is a work in progress and the DPVCG welcomes contributions and participations for it.</p>
</section>
    {{ sotd('mappings-gist') }}
    {{ dpv_document_family() }}

<section id="introduction">
  <h2>Introduction</h2>
  <p>Concepts in DPV are aligned with those from [[[PROV-O]]] by using [[SKOS]] relations. The DPVCG aims to create and provide a profile containing DPV concepts to enable the use of all DPV vocabularies in adherence with DCAT recommendations, and welcomes contributions and participations in this process.</p>
  <aside class="issue" data-number="31"></aside>
</section>

<section id="mapping">
  <h2>Mapping</h2>
  <p>TODO</p>
</section>

{% block ACKNOWLEDGEMENTS %}
<section id="funding-acknowledgements" class="notoc">
  <h2>Funding Acknowledgements</h2>

  <h3>Funding Sponsors</h3>
  {{ funding_acknowledgements() }}

  <h3>Funding Acknowledgements for Contributors</h3>
  <p>The contributions of Harshvardhan J. Pandit have been made with the financial support of Science Foundation Ireland under Grant Agreement No. 13/RC/2106_P2 at the ADAPT SFI Research Centre.</p>

</section>
{% endblock ACKNOWLEDGEMENTS %}
<script type="text/javascript" src="../../2.0/diagrams/common.js" defer></script>
</body>
</html>