{% from 'macro_dpv_document_family.jinja2' import dpv_document_family, sotd, funding_acknowledgements %}
{% from 'macro_example.jinja2' import example_aside %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}{{data[vocab_name+'-metadata']['dct:title']}}{% endblock title %}</title>
  <script src="https://www.w3.org/Tools/respec/respec-w3c" class="remove" defer></script>
  <script class="remove">
   // All config options at https://respec.org/docs/ 
   var respecConfig = {
    shortName: "examples",
    title: "Examples",
    subtitle: " for Data Privacy Vocabulary (DPV)",
    publishDate: "2024-07-01",
    specStatus: "{{DOCUMENT_STATUS}}",
    group: "dpvcg",
    latestVersion: "https://w3id.org/dpv/examples",
    canonicalUri: "https://w3id.org/dpv/examples",
    edDraftURI: "https://dev.dpvcg.org/examples",
    github: "w3c/dpv",
    subjectPrefix: "[ucr]",
    doJsonLd: true,
    lint: { "no-unused-dfns": false },
    editors: [
    {
      name: "Harshvardhan J. Pandit",
      url: "https://harshp.com/",
      "company": "{{ "Harshvardhan J. Pandit" | generate_author_affiliation }}"
    }
    ],
    otherLinks: [
      {
        "key": "Key Publications",
        "data": [
            {
              "value": "Data Privacy Vocabulary (DPV) -- Version 2 (2024)",
              "href": "https://arxiv.org/abs/2404.13426"
            }
        ]
      }
    ],
    localBiblio: {%  include 'references.json' %}
  };
  </script>
  <link rel="stylesheet" type="text/css" href="../diagrams/common.css">
<link rel="shortcut icon" href="../diagrams/favicon-16x16.png" type="image/x-icon" sizes="16x16" />
  <link rel="shortcut icon" href="../diagrams/favicon-32x32.png" type="image/x-icon" sizes="32x32" />
</head>
<body>
  <section id="abstract">
    <p>This document lists the examples for concepts in DPV and aligned vocabularies. The examples are available in DPVCG GitHub repo under <i>./examples</i> path.</p>
    {{ sotd(data[vocab_name+'-metadata']) }}
    {{ dpv_document_family(document='dpv-spec') }}
    <p>The namespaces used in this document are as follows:</p>
    <table>
      <tr><td><code>: </code></td><td><code><&lt;https://w3id.org/dpv/examples/vocab#&gt;</code></td></tr>
      <tr><td><code>dpv:</code></td><td><code>&lt;https://w3id.org/dpv#&gt;</code></td></tr>
      <tr><td><code>dct:</code></td><td><code>&lt;http://purl.org/dc/terms/&gt;</code></td></tr>
      <tr><td><code>rdfs:</code></td><td><code>&lt;http://www.w3.org/2000/01/rdf&#45;schema#&gt;</code></td></tr>
      <tr><td><code>skos:</code></td><td><code>&lt;http://www.w3.org/2004/02/skos/core#&gt;</code></td></tr>
      <tr><td><code>owl:</code></td><td><code>&lt;http://www.w3.org/2002/07/owl#&gt;</code></td></tr>
      <tr><td><code>vann:</code></td><td><code>&lt;http://purl.org/vocab/vann/&gt;</code></td></tr>
      <tr><td><code>xsd:</code></td><td><code>&lt;http://www.w3.org/2001/XMLSchema#&gt;</code></td></tr>
      <tr><td><code>sh:</code></td><td><code>&lt;http://www.w3.org/ns/shacl#&gt;</code></td></tr>
    </table>
    </section>

  <section id="vocab">
    <h2>Vocabulary</h2>
    <section id="conformance"></section>
    <section id="vocab-usecase">
      <h3>Example</h3>
      <table>
        <tr><td>IRI</td><td><code>https://w3id.org/dpv/use&#45;cases/vocab#</code></td></tr>
        <tr><td><code>skos:definition</code></td><td>An Example provides a description where information within the scope of DPVCG is expected to be relevant or applied, and acts as the basis for identifying requirements (including but not limited to creation of concepts). Use cases can contain descriptions of systems, their operations, actors and entities involved, restrictions or constraints, or any other pertinent detail. They can be a simple textual paragraph or elaborative structured documents (in which case we prefer to reference them here as an URL).</td></tr>
      </table>
      <ol>
        <li>An Example MUST have a title (provided using <code>dct:title</code>)</li>
        <li>An Example MUST have a description (provided using <code>dct:description</code>)</li>
        <li>An Example MUST have an identifier with prefix 'U' (provided using <code>dct:identifier</code>)</li>
        <li>An Example MAY have one or more contributors (specified using <code>dct:contributor</code>)</li>
        <li>An Example MAY have a date (e.g. creation or modification) (specified using <code>dct:date</code>)</li>
        <li>An Example MAY specify the source of its information (using <code>dct:source</code>)</li>
        <li>An Example MAY specify its primary subject or concept (using <code>dct:subject</code>)</li>
        <li>An Example MAY specify relevant requirements derived from it (using <code>dct:references</code>)</li>
      </ol>
      </section>
    </section>

    <section id="examples">
      <h2>Examples</h2>
      
      {% for DEX in vocab.values()|filter_type('dex:Example')|sort(attribute='term') %}
        <section id="{{DEX['term']}}">
          <h4><strong><i>{{DEX['term']}}</i>:</strong> {{ DEX['dct:title'] }}</h4>
          {{ example_aside(DEX['prefixed']) }}
        </section>
      {% endfor %}
    </section>

    {% block ACKNOWLEDGEMENTS %}
    {# <section id="contributors">
      <h2>Contributors</h2>
      <p>The following people have contributed to this vocabulary. The names are ordered alphabetically. The affiliations are informative do not represent formal endorsements. Affiliations may be outdated. The list is generated automatically from the contributors listed for defined concepts.</p>
      <ul>
      {% for person in data[vocab_name+'-metadata']['dct:contributor']|ensure_list|sort %}
        <li>{{ person }} ({{person|generate_author_affiliation}})</li>
      {% endfor %}
      </ul>
    </section> #}
    <section id="funding-acknowledgements" class="notoc">
      <h2>Funding Acknowledgements</h2>

      <h3>Funding Sponsors</h3>
      {{ funding_acknowledgements() }}

      <h3>Funding Acknowledgements for Contributors</h3>
      <p>The contributions of Beatriz Esteves have received funding through the <a href="https://protect-network.eu/">PROTECT ITN Project</a> from the European Union’s Horizon 2020 research and innovation programme under the Marie Skłodowska-Curie grant agreement No 813497.</p>
      <p>The contributions of Harshvardhan J. Pandit have been made with the financial support of Science Foundation Ireland under Grant Agreement No. 13/RC/2106_P2 at the ADAPT SFI Research Centre.</p>

    </section>
    {% endblock ACKNOWLEDGEMENTS %}
    
    <script type="text/javascript" src="../diagrams/common.js" defer></script>
  </body>
  </html>