{% from 'macro_dpv_document_family.jinja2' import dpv_document_family, sotd %}
{% from 'macro_example.jinja2' import example_aside %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>DPV Examples</title>
  <script src="https://www.w3.org/Tools/respec/respec-w3c" class="remove" defer></script>
  <script class="remove">
   // All config options at https://respec.org/docs/ 
   var respecConfig = {
    shortName: "examples",
    title: "DPV Examples",
    publishDate: "2022-10-12",
    specStatus: "CG-DRAFT",
    group: "dpvcg",
    latestVersion: "https://w3id.org/dpv/examples",
    canonicalUri: "https://w3id.org/dpv/examples",
    edDraftURI: "https://w3id.org/dpv/examples",
    github: "w3c/dpv",
    subjectPrefix: "[ucr]",
    doJsonLd: true,
    lint: { "no-unused-dfns": false },
    editors: [
    {
      name: "Harshvardhan J. Pandit",
      url: "https://harshp.com/",
      "company": "{{ "Harshvardhan J. Pandit" | generate_author_affiliation }}"
    }
    ],
    localBiblio: {%  include 'references.json' %}
  };
  </script>
  <link rel="stylesheet" type="text/css" href="../media/common.css">
</head>
<body>
  <section id="abstract">
    <p>This document lists the examples for concepts in DPV and aligned vocabularies. The examples are available in DPVCG GitHub repo under <i>./examples</i> path.</p>
    {{ dpv_document_family(document='dpv-spec') }}
    {{ sotd() }}
    <p>The namespaces used in this document are as follows:</p>
    <table>
      <tr><td><code>: </code></td><td><code><&lt;https://w3id.org/dpv/examples/vocab#&gt;</code></td></tr>
      <tr><td><code>dpv:</code></td><td><code>&lt;https://w3id.org/dpv#&gt;</code></td></tr>
      <tr><td><code>dct:</code></td><td><code>&lt;http://purl.org/dc/terms/&gt;</code></td></tr>
      <tr><td><code>rdfs:</code></td><td><code>&lt;http://www.w3.org/2000/01/rdf&#45;schema#&gt;</code></td></tr>
      <tr><td><code>skos:</code></td><td><code>&lt;http://www.w3.org/2004/02/skos/core#&gt;</code></td></tr>
      <tr><td><code>owl:</code></td><td><code>&lt;http://www.w3.org/2002/07/owl#&gt;</code></td></tr>
      <tr><td><code>vann:</code></td><td><code>&lt;http://purl.org/vocab/vann/&gt;</code></td></tr>
      <tr><td><code>xsd:</code></td><td><code>&lt;http://www.w3.org/2001/XMLSchema#&gt;</code></td></tr>
      <tr><td><code>sh:</code></td><td><code>&lt;http://www.w3.org/ns/shacl#&gt;</code></td></tr>
    </table>
    </section>

  <section id="vocab">
    <h2>Vocabulary</h2>
    <section id="conformance"></section>
    <section id="vocab-usecase">
      <h3>Example</h3>
      <table>
        <tr><td>IRI</td><td><code>https://w3id.org/dpv/use&#45;cases/vocab#</code></td></tr>
        <tr><td><code>skos:definition</code></td><td>An Example provides a description where information within the scope of DPVCG is expected to be relevant or applied, and acts as the basis for identifying requirements (including but not limited to creation of concepts). Use cases can contain descriptions of systems, their operations, actors and entities involved, restrictions or constraints, or any other pertinent detail. They can be a simple textual paragraph or elaborative structured documents (in which case we prefer to reference them here as an URL).</td></tr>
      </table>
      <ol>
        <li>An Example MUST have a title (provided using <code>dct:title</code>)</li>
        <li>An Example MUST have a description (provided using <code>dct:description</code>)</li>
        <li>An Example MUST have an identifier with prefix 'U' (provided using <code>dct:identifier</code>)</li>
        <li>An Example MAY have one or more contributors (specified using <code>dct:contributor</code>)</li>
        <li>An Example MAY have a date (e.g. creation or modification) (specified using <code>dct:date</code>)</li>
        <li>An Example MAY specify the source of its information (using <code>dct:source</code>)</li>
        <li>An Example MAY specify its primary subject or concept (using <code>dct:subject</code>)</li>
        <li>An Example MAY specify relevant requirements derived from it (using <code>dct:references</code>)</li>
      </ol>
      </section>
    </section>

    <section id="examples">
      <h2>Examples</h2>
      
      {% for DEX in vocab.values()|filter_type('dex:Example')|sort(attribute='term') %}
        <section id="{{DEX['term']}}">
          <h4><strong><i>{{DEX['term']}}</i>:</strong> {{ DEX['dct:title'] }}</h4>
          {{ example_aside(DEX['prefixed']) }}
        </section>
      {% endfor %}
    </section>


    
    <script type="text/javascript" src="../media/common.js" defer></script>
  </body>
  </html>