%{% from 'macro_term_table.jinja2' import index_concepts %}
%{% from 'macro_term_table.jinja2' import list_hierarchy %}
{% from 'macro_term_table.jinja2' import table_properties %}
{% from 'macro_dpv_document_family.jinja2' import dpv_document_family, sotd %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}Purposes{% endblock title %}</title>
  <script src="https://www.w3.org/Tools/respec/respec-w3c" class="remove" defer></script>
  {% block RESPEC %}
  <script class="remove">
   // All config options at https://respec.org/docs/ 
   var respecConfig = {
    shortName: "dpv",
    title: "Purposes",
    subtitle: "concepts in Data Privacy Vocabulary (DPV)",
    publishDate: "2024-01-28",
    specStatus: "CG-DRAFT",
    group: "dpvcg",
    latestVersion: "https://w3id.org/dpv/modules/purposes",
    canonicalUri: "https://w3id.org/dpv/modules/purposes",
    edDraftURI: "https://w3id.org/dpv/modules/purposes",
    github: "w3c/dpv",
    subjectPrefix: "[dpv]",
    doJsonLd: true,
    lint: { "no-unused-dfns": false, "local-refs-exist": true },
    editors: [
    {
      name: "Harshvardhan J. Pandit",
      url: "https://harshp.com/",
      "company": "{{ "Harshvardhan J. Pandit" | generate_author_affiliation }}",
    }
    ],
    localBiblio: {%  include 'references.json' %}
  };
</script>
{% endblock RESPEC %}
<link rel="stylesheet" type="text/css" href="../../media/common.css">
</head>
<body>
{% block ABSTRACT %}
    <section id="abstract">
      <p>The Data Privacy Vocabulary [[DPV]] enables expressing machine-readable metadata about the use and processing of personal data based on legislative requirements such as the General Data Protection Regulation [[GDPR]]. This document describes the DPV specification along with its data model.</p>
      <p>The canonical URL for DPV is <a href="https://w3id.org/dpv">https://w3id.org/dpv</a> which contains (this) specification. The namespace for DPV terms is <a href="https://w3id.org/dpv#"><code>https://w3id.org/dpv#</code></a>, the suggested prefix is <code>dpv</code>, and this document along with source and releases are available at <a href="https://github.com/w3c/dpv">https://github.com/w3c/dpv</a>.</p>
      {{ dpv_document_family(document='dpv-spec') }}
      {{ sotd() }}
    </section>
{% endblock ABSTRACT %}
  <section id="introduction">
    <h2>Introduction</h2>
    <blockquote>This document assumes the reader is familiar with DPV through the [[[PRIMER]]], and thus focuses on providing a topically structured documentation of concepts defined by DPV.</blockquote>
    <div class="issue" title="Review section descriptions"></div>
  <figure>
    <a href="../../media/purpose-2.png" target="_blank">
      <img title="Overview of Purpose taxonomy in DPV" src="../../media/purpose-2.png">
    </a>
    <figcaption>Overview of Purpose taxonomy in DPV (click to open in new window)</figcaption>
  </figure>
  <p>DPV’s taxonomy of purposes is used to represent the reason or justification for processing of personal data. For this, purposes are organised within DPV based on how they relate to the processing of personal data in terms of several factors, such as: management functions related to information (e.g. records, account, finance), fulfilment of objectives (e.g. delivery of goods), providing goods and services (e.g. service provision), intended benefits (e.g. optimisations for service provider or consumer), and legal compliance.</p>

  <p>DPV provides a taxonomy of Purpose <i>instances</i> for use with [=hasPurpose=] relation. In addition, DPV also defines the concept [=Sector=] (associated using [=hasSector=]) to indicate a contextual interpretation of the purpose within a specified sector.</p>

  {{ list_hierarchy(modules['purposes']['classes']) }}

  </section>

  <section id="desc-purpose-guidelines">
    <h2>Guidelines on Purposes</h2>
    <div class="issue" title="Content missing - Guidelines on Purposes"></div>
  </section>

  <section id="desc-service-provision">
    <h2>Service Provision</h2>
    <div class="issue" title="Content missing - Service Provision"></div>
  </section>

  <section id="desc-legal-obligation">
    <h2>Legal Obligation/Compliance</h2>
    <div class="issue" title="Content missing - Legal Obligation/Compliance"></div>
  </section>

  <section id="desc-marketing">
    <h2>Marketing</h2>
    <div class="issue" title="Content missing - Marketing"></div>
  </section>

  <section id="desc-personalisation">
    <h2>Personalisation</h2>
    <div class="issue" title="Content missing - Personalisation"></div>
  </section>

  <section id="desc-maintaining-security">
    <h2>Maintaining Security</h2>
    <div class="issue" title="Content missing - Maintaining Security"></div>
  </section>

  <section id="desc-communication">
    <h2>Communication</h2>
    <div class="issue" title="Content missing - Communication"></div>
  </section>

  <section id="desc-organisation-governance">
    <h2>Organisational Governance</h2>
    <div class="issue" title="Content missing - Organisational Governance"></div>
  </section>

  <section id="desc-sector">
    <h2>Sector of Operation</h2>
    <div class="issue" title="Content missing - Sector of Operation"></div>
  </section>

<section>
  <h2>Vocabulary Index</h2>
  <section id="classes">
    {{ index_concepts(modules['purposes']['classes'], vocab_name, filter="classes") }}
  </section>
  <section id="properties">
    {{ index_concepts(modules['purposes']['properties'], vocab_name, filter="properties") }}
  </section>
  <section id="external-concepts">
    <p>DPV uses the following terms from [[RDF]] and  [[RDFS]] with their defined meanings:</p>
    <ul>
      <li id="rdf:type"><dfn>rdf:type</dfn> to denote a concept is an instance of another concept</li>
      <li id="rdfs:Class"><dfn>rdfs:Class</dfn> to denote a concept is a Class or a category</li>
      <li id="rdfs:subClassOf"><dfn>rdfs:subClassOf</dfn> to specify the concept is a subclass (subtype, sub-category, subset) of another concept</li>
      <li id="rdf:Property"><dfn>rdf:Property</dfn> to denote a concept is a property or a relation</li>
      </ul>
    <p>The following external concepts are re-used within DPV:</p>
    {% set module_combined = modules['purposes']['classes'].copy() %}
    {% set _ = module_combined.update(modules['purposes']['properties']) %}
    {{ index_concepts(module_combined, vocab_name, filter="external") }}
  </section>
</section>
<section class="appendix" id="issue-summary"></section>
<script type="text/javascript" src="../../media/common.js" defer></script>
</body>
</html>