{% from 'macro_term_table.jinja2' import table_classes %}
{% from 'macro_term_table.jinja2' import table_properties %}
{% from 'macro_term_table.jinja2' import list_hierarchy, index_concepts %}
{% from 'macro_example.jinja2' import example_aside %}
{% from 'macro_dpv_document_family.jinja2' import dpv_document_family, sotd, funding_acknowledgements, contributors_list, authors_list %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{{data[vocab_name+'-metadata']['dct:title']}} ({{vocab_name|upper}})</title>
  <script src="https://www.w3.org/Tools/respec/respec-w3c" class="remove" defer></script>
  <script class="remove">
   // All config options at https://respec.org/docs/ 
   var respecConfig = {
    shortName: "sector",
    title: "{{data[vocab_name+'-metadata']['dct:title']}} ({{vocab_name|upper}})",
    subtitle: "version {{data[vocab_name+'-metadata']['schema:version']}}",
    publishDate: "{{data[vocab_name+'-metadata']['dct:modified']}}",
    specStatus: "{{vocab_name|get_document_status}}",
    group: "dpvcg",
    latestVersion: "{{data[vocab_name+'-metadata']['dct:identifier']}}",
    canonicalUri: "{{data[vocab_name+'-metadata']['dct:identifier']}}",
    edDraftURI: "{{data[vocab_name+'-metadata']['dct:identifier'].replace('w3id.org/dpv', 'dev.dpvcg.org')}}",
    github: "w3c/dpv",
    subjectPrefix: "[sector]",
    doJsonLd: true,
    lint: { "no-unused-dfns": false },
    editors: [
    {
      name: "Harshvardhan J. Pandit",
      url: "https://harshp.com",
      "company": "{{ "Harshvardhan J. Pandit" | generate_author_affiliation }}"
    }
    ],
    authors: {{ authors_list(data, vocab_name) }},
    otherLinks: [
      {
        "key": "This Release",
        "data": [
            {
              "value": "{{data[vocab_name+'-metadata']['iri']}}",
              "href": "{{data[vocab_name+'-metadata']['iri']}}"
            }
        ]
      },
      {
        "key": "Key Publications",
        "data": [
            {
              "value": "Data Privacy Vocabulary (DPV) -- Version 2.0 (2024)",
              "href": "https://doi.org/10.1007/978-3-031-77847-6_10"
            }
        ]
      }
    ],
    localBiblio: {%  include 'references.json' %}
  };
</script>
<link rel="stylesheet" type="text/css" href="../../diagrams/common.css">
<link rel="shortcut icon" href="../../diagrams/favicon-16x16.png" type="image/x-icon" sizes="16x16" />
  <link rel="shortcut icon" href="../../diagrams/favicon-32x32.png" type="image/x-icon" sizes="32x32" />
</head>
<body>
  {{ contributors_list(data, vocab_name) }}
  <section id="abstract">
    <p>The {{data[vocab_name+'-metadata']['dct:title']}} ({{vocab_name|upper}}) extension provides a taxonomy extending the [[[DPV]]] and other extension concepts . The namespace for terms in sector extension is <a href="{{data[vocab_name+'-metadata']['iri']}}"><code>{{data[vocab_name+'-metadata']['iri']}}</code></a>, the suggested prefix  is <code>{{vocab_name}}</code>, and the vocabulary and its documentation is available on <a href="https://github.com/w3c/dpv">GitHub</a>.</p>
    <p>The {{data[vocab_name+'-metadata']['dct:title']}} ({{vocab_name|upper}}) extension provides a taxonomy extending the [[[DPV]]] and other extension concepts . The namespace for terms in sector extension is <a href="{{data[vocab_name+'-metadata']['iri']}}"><code>{{data[vocab_name+'-metadata']['iri']}}</code></a>, the suggested prefix is <code>{{vocab_name}}</code>, and the vocabulary and its documentation is available on <a href="https://github.com/w3c/dpv">GitHub</a>.</p>
  </section>
    {{ sotd(DPV_VERSION=DPV_VERSION, metadata=data[vocab_name+'-metadata']) }}
    {{ dpv_document_family(document='sector-spec') }}
  <section id="motivation">
    <h2>Introduction</h2>
    <p>The Data Privacy Vocabulary (DPV) and its extensions provide concepts intended for <i>general</i> use-cases which have a wide applicability. The SECTOR extensions provide concepts <i>specific to a sector</i> to support the use of DPV within that sector. At the moment, these extensions only provide <i>Purposes</i> which extend the DPV's Purpose taxonomy. The DPVCG plans to provide additional sector specific concepts in the future - such as <i>Data categories</i>, <i>Technical and Organisational Measures</i>, <i>Risks and Impacts</i>, and <i>Technologies</i> - and <a href="https://www.w3.org/groups/cg/dpvcg/">welcomes contributions and participation</a> for these.</p>
  </section>

  <section id="vocab-purposes">
    <h2>Purposes</h2>
    <p>The Purpose taxonomy provides concepts for representing purposes for processing data or using technologies within the context of the specific sector. Where relevant, these concepts extend the purpose concepts defined in the (main or core) <a href="../../dpv/">DPV specification</a>. The relation <code>dpv:hasPurpose</code> is useful to associate the purpose with a specific context or concept.</p>
    {{ list_hierarchy(modules['purposes']['classes']) }}
  </section>

{% if proposed %}
<section id="proposed-terms" class="appendix">
  <h2>Proposed Terms</h2>
  <p>The following terms have been proposed for inclusion, and are under discussion. They are provided here for illustrative purposes and should not be considered as part of DPV.</p>
  {% for name, terms in proposed.items() %}
    <strong>{{name}}</strong>
    <ul>{% for term in terms %}
      <li>{{term}}</li>
    {% endfor %}</ul>
  {% endfor %}
</section>
{% endif %}

<section id="vocabulary">
<h2>Vocabulary Index</h2>
  <section id="dpv-classes">
    {{ index_concepts(vocab, vocab_name, filter="classes") }}
  </section>
  <section id="dpv-properties">
    {{ index_concepts(vocab, vocab_name, filter="properties") }}
  </section>
  <section id="external-concepts">
    <p>DPV uses the following terms from [[RDF]] and  [[RDFS]] with their defined meanings:</p>
    <p>DPV uses the following terms from [[RDF]] and [[RDFS]] with their defined meanings:</p>
    <ul>
      <li id="rdf:type"><dfn>rdf:type</dfn> to denote a concept is an instance of another concept</li>
      <li id="rdfs:Class"><dfn>rdfs:Class</dfn> to denote a concept is a Class or a category</li>
      <li id="rdfs:subClassOf"><dfn>rdfs:subClassOf</dfn> to specify the concept is a subclass (subtype, sub-category, subset) of another concept</li>
      <li id="rdf:Property"><dfn>rdf:Property</dfn> to denote a concept is a property or a relation</li>
      </ul>
    <p>The following external concepts are re-used within DPV:</p>
    {{ index_concepts(vocab, vocab_name, filter="external") }}
  </section>
</section>

{% block ACKNOWLEDGEMENTS %}
<section id="funding-acknowledgements" class="notoc">
  <h2>Funding Acknowledgements</h2>

  <h3>Funding Sponsors</h3>
  {{ funding_acknowledgements() }}

</section>
{% endblock ACKNOWLEDGEMENTS %}
<section class="appendix" id="issue-summary"></section>

<section id="changelog">
  <h2>Changelog for v{{DPV_VERSION}}</h2>
  <div class="issue" title="Changelog for v{{DPV_VERSION}}"><a href="/2.2/changelog">go to changelog</a></div>
</section>

<script type="text/javascript" src="../../diagrams/common.js" defer></script>
</body>
</html>