{% from 'macro_term_table.jinja2' import table_classes %}
{% from 'macro_term_table.jinja2' import table_properties %}
{% from 'macro_term_table.jinja2' import list_hierarchy, index_concepts %}
{% from 'macro_dpv_document_family.jinja2' import dpv_document_family, sotd, funding_acknowledgements %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}{{data[vocab_name+'-metadata']['dct:title']}}{% endblock title %}</title>
  <script src="https://www.w3.org/Tools/respec/respec-w3c" class="remove" defer></script>
  {% block RESPEC %}
  <script class="remove">
   // All config options at https://respec.org/docs/ 
   var respecConfig = {
    shortName: "eu-dga",
    title: "{{data[vocab_name+'-metadata']['dct:title']}} ({{vocab_name|upper}})",
    subtitle: "version {{data[vocab_name+'-metadata']['schema:version']}}",
    publishDate: "{{data[vocab_name+'-metadata']['dct:modified']}}",
    specStatus: "{{DOCUMENT_STATUS}}",
    group: "dpvcg",
    latestVersion: "https://w3id.org/dpv/legal/eu/dga",
    canonicalUri: "https://w3id.org/dpv/legal/eu/dga",
    edDraftURI: "https://dev.dpvcg.org//legal/eu/dga",
    github: "w3c/dpv",
    subjectPrefix: "[eu-dga]",
    doJsonLd: true,
    lint: { "no-unused-dfns": false, "local-refs-exist": true },
    editors: [
    {
      name: "Harshvardhan J. Pandit",
      url: "https://harshp.com",
      "company": "{{ "Harshvardhan J. Pandit" | generate_author_affiliation }}"
    },
    {
        "name": "Beatriz Esteves",
        "company": "{{ "Beatriz Esteves" | generate_author_affiliation }}"
    }
    ],
    authors: [{% for person in data[vocab_name+'-metadata']['dct:creator']|ensure_list|sort %}
      {
        "name": "{{person}}",
        "company": "{{ person | generate_author_affiliation }}"
      }{{"," if not loop.last}}
      {% endfor %}],
    otherLinks: [
      {
        "key": "This Release",
        "data": [
            {
              "value": "https://w3id.org/dpv/2.0/legal/eu/dga",
              "href": "https://w3id.org/dpv/2.0/legal/eu/dga"
            }
        ]
      },
      {
        "key": "Key Publications",
        "data": [
            {
              "value": "Data Privacy Vocabulary (DPV) -- Version 2 (2024)",
              "href": "https://arxiv.org/abs/2404.13426"
            },
            {
              "value": "Semantics for Implementing Data Reuse and Altruism under EU's Data Governance Act (2023)",
              "href": "https://doi.org/10.3233/SSW230015"
            }
        ]
      }
    ],
    localBiblio: {%  include 'references.json' %}
  };
</script>
{% endblock RESPEC %}
<link rel="stylesheet" type="text/css" href="../../../diagrams/common.css">
<link rel="shortcut icon" href="../../../diagrams/favicon-16x16.png" type="image/x-icon" sizes="16x16" />
  <link rel="shortcut icon" href="../../../diagrams/favicon-32x32.png" type="image/x-icon" sizes="32x32" />
</head>
<body>
{% block ABSTRACT %}
  <section id="abstract">
    <p>The EU-DGA extension extends the [[[DPV]]] to provide concepts such as entities, rights, and other relevant concepts based on the [[[DGA]]]. The canonical URL for the EU-DGA extension is <a href="https://w3id.org/dpv/legal/eu/dga">https://w3id.org/dpv/legal/eu/dga</a>, the namespace for EU-DGA terms is <a href="https://w3id.org/dpv/legal/eu/dga#"><code>https://w3id.org/dpv/legal/eu/dga#</code></a>, the suggested prefix is <code>eu-dga</code>, and this document along with source and releases are available at <a href="https://github.com/w3c/dpv">https://github.com/w3c/dpv</a>.</p>
    <p>This work was first presented in the article "<a href="https://doi.org/10.3233/SSW230015"><i>Semantics for Implementing Data Reuse and Altruism under EU's Data Governance Act</i></a>" by Beatriz Esteves, Victor Rodriguez Doncel, Harshvardhan J. Pandit, and Dave Lewis.</p>
    {{ sotd(data[vocab_name+'-metadata']) }}
    {{ dpv_document_family(document='eu-dga-spec') }}
  </section>
{% endblock ABSTRACT %}
{% block INTRODUCTION %}
  <section id="motivation">
    <h2>Introduction</h2>
    <p>This extension provides concepts relevant for the implementation of EU's [[[DGA]]]. The DGA promotes availability of data and encourages its sharing and reuse through novel mechanisms such as 'data intermediaries' and 'data altruism'. It also provides specific rights, and requires implementation details such as specific technical measures in order to ensure such sharing and altruistic (re-)uses of data are compliant with existing regulations, such as [[GDPR]], and respect rights and freedoms.</p>
    <aside class="note" title="Extending the DGA vocabulary">
      <p>The DPVCG welcomes contributions and discussion on how this extension can be further enhanced and expanded to realise the goals of the DGA.</p>
    </aside>
    <p>This extension provides the following concepts defined or required by the DGA:</p>
    <ul>
      <li><a href="#vocab-entities">Entities</a></li>
      <li><a href="#vocab-legal-basis">Legal Bases</a></li>
      <li><a href="#vocab-legal-rights">Rights</a></li>
      <li><a href="#vocab-services">Services</a></li>
      <li><a href="#vocab-registers">Registers Of Entities</a></li>
      <li><a href="#vocab-toms">Tech/Org Measures</a></li>
      <li><a href="#vocab-compliance">Compliance status indicators</a></li>
    </ul>
  </section>
{% endblock INTRODUCTION %}
{% block VOCAB %}

    <section id="vocab-entities">
    <h2>Entities</h2>
    <p>Entities in the [[DGA]] are defined by extending the <code>dpv:LegalEntity</code> concept, and are associated with using the relation <code>dpv:hasEntity</code>. DGA's entities are different from 'legal roles' in GDPR's use of 'controllers' and 'processors' as the DGA entities are established with a specific role and purpose. For example, a 'Data Co-operative' is a legal entity which is established to provide the data co-operative services - namely for intermediation and exercise of rights.</p>
    <aside class="note" title="Associating entities in context">
      <p>We are discussing the addition of specific relations to associate entities with processes, e.g. <code>hasDataHolder</code> based on the evolving DGA implementations and authoritative guidance.</p>
    </aside>
    
    {{ list_hierarchy(modules['entities']['classes']) }}
  </section>

    <section id="vocab-legal-basis">
    <h2>Legal Bases</h2>
    <p>Legal bases in the [[DGA]] relate to specific activities such as processing of non-personal data ([=A2-6-Permission=]) and data transfers ([=A5-12-Adequacy-Decision=]). These are defined by extending <code>dpv:LegalBasis</code> and its subtypes, and are indicated by using the relation <code>dpv:hasLegalBasis</code>.</p>
    {{ list_hierarchy(modules['legal_basis']['classes']) }}
    </section>

  <section id="vocab-legal-rights">
    <h2>Rights under DGA</h2>
    <p>The [[DGA]] provides several rights to the data subject and data holders whose applicability depends on the context and nature of processing taking place. Since these rights are applicable for both data subjects and non-data subjects (data holders), they are represented by extending <code>dpv:Right</code> instead of <code>dpv:DataSubjectRight</code>. To indicate a right is applicable or available, the relation <code>dpv:hasRight</code> is used.</p>

    {{ list_hierarchy(modules['legal_rights']['classes']) }}
  </section>

  <section id="vocab-services">
    <h2>Services</h2>
    <p>The [[DGA]] defines and regulates several 'services', such as those for data intermediation and altruism. To represent these, the concept <code>dpv:Service</code> is extended. Services can be associated using the relation <code>dpv:hasService</code>.</p>
    
    {{ list_hierarchy(modules['services']['classes']) }}
  </section>

  <section id="vocab-registers">
    <h2>Registers</h2>
    <p>The [[DGA]] requires the creation and maintenance of specific registers or registries, such as those for data altruistic organisations. These are represented by extending the concept <code>dpv:PublicRegisterOfEntities</code>. Membership of the registry can be expressed using the concept <code>dpv:hasEntity</code>, or even through use of [[SKOS]] collections.</p>
    
    {{ list_hierarchy(modules['registers']['classes']) }}
  </section>

  <section id="vocab-toms">
    <h2>Tech/Org Measures</h2>
    <p>The specific technical and organisational measures defined or implied in the [[DGA]] are defined by extending the <code>dpv:TechnicalOrganisationalMeasure</code> concepts. These can be associated by using the relations <code>dpv:hasTechnicalMeasure</code> and <code>dpv:hasOrganisationalMeasure</code>. In addition to these, if a measure has legal enforcement, then the concept <code>dpv:LegalMeasure</code> and relation <code>dpv:hasLegalMeasure</code> can be used.</p>
    
    {{ list_hierarchy(modules['toms']['classes']) }}
  </section>

  <section id="vocab-compliance">
    <h2>Compliance Status</h2>
    <p>The concepts in this section reflect the status of processing operations being in <i>compliance with DGA</i>, by extending <code>dpv:ComplianceStatus</code>. It does not define the requirements for compliance itself. To indicate these, the relation <code>dpv:hasLawfulness</code> can be used.</p>
    <aside class="example" title="Indicating status of DGA lawfulness">
      <p>This example shows the use of EU-DGA to indicate the state of DGA lawfulness associated with two processes. The first is asserted to be compliant, while the compliance status for the second is unknown at the moment. Both processes assert the applicability of DGA for brevity.</p>
      <pre class="nohighlight"><code>ex:PDH1 a dpv:Process ;
  dpv:hasApplicableLaw legal-eu:DGA ;
  dpv:hasLawfulness eu-dga:DGACompliant .

ex:PDH2 a dpv:Process ;
  dpv:hasApplicableLaw legal-eu:DGA ;
  dpv:hasLawfulness eu-dga:DGAComplianceUnknown .
      </code></pre>
    </aside>
    {{ list_hierarchy(modules['compliance']['classes']) }}
  </section>

  <section id="vocabulary">
<h2>Vocabulary Index</h2>
  <section id="dpv-classes">
    {{ index_concepts(vocab, vocab_name, filter="classes") }}
  </section>
  <section id="dpv-properties">
    {{ index_concepts(vocab, vocab_name, filter="properties") }}
  </section>
  <section id="external-concepts">
    <p>DPV uses the following terms from [[RDF]] and  [[RDFS]] with their defined meanings:</p>
    <ul>
      <li id="rdf:type"><dfn>rdf:type</dfn> to denote a concept is an instance of another concept</li>
      <li id="rdfs:Class"><dfn>rdfs:Class</dfn> to denote a concept is a Class or a category</li>
      <li id="rdfs:subClassOf"><dfn>rdfs:subClassOf</dfn> to specify the concept is a subclass (subtype, sub-category, subset) of another concept</li>
      <li id="rdf:Property"><dfn>rdf:Property</dfn> to denote a concept is a property or a relation</li>
      </ul>
    <p>The following external concepts are re-used within DPV:</p>
    {{ index_concepts(vocab, vocab_name, filter="external") }}
  </section>
</section>

{% endblock VOCAB %}

{% block ACKNOWLEDGEMENTS %}
<section id="contributors">
  <h2>Contributors</h2>
  <p>The following people have contributed to this vocabulary. The names are ordered alphabetically. The affiliations are informative do not represent formal endorsements. Affiliations may be outdated. The list is generated automatically from the contributors listed for defined concepts.</p>
  <ul>
  {% for person in data[vocab_name+'-metadata']['dct:contributor']|ensure_list|sort %}
    <li>{{ person }} ({{person|generate_author_affiliation}})</li>
  {% endfor %}
  </ul>
</section>
<section id="funding-acknowledgements" class="notoc">
  <h2>Funding Acknowledgements</h2>

  <h3>Funding Sponsors</h3>
  {{ funding_acknowledgements() }}

  <h3>Funding Acknowledgements for Contributors</h3>
  <p>The contributions of Beatriz Esteves have received funding through the <a href="https://protect-network.eu/">PROTECT ITN Project</a> from the European Union’s Horizon 2020 research and innovation programme under the Marie Skłodowska-Curie grant agreement No 813497.</p>
  <p>The contributions of Harshvardhan J. Pandit and Dave Lewis have been made with the financial support of Science Foundation Ireland under Grant Agreement No. 13/RC/2106_P2 at the ADAPT SFI Research Centre.</p>

</section>
{% endblock ACKNOWLEDGEMENTS %}
{% block PROPOSED %}
{% if proposed %}
<section id="proposed-terms" class="appendix">
  <h2>Proposed Terms</h2>
  <p>The following terms have been proposed for inclusion, and are under discussion. They are provided here for illustrative purposes and should not be considered as part of DPV.</p>
  {% for name, terms in proposed.items() %}
    <strong>{{name}}</strong>
    <ul>{% for term in terms %}
      <li>{{term}}</li>
    {% endfor %}</ul>
  {% endfor %}
</section>
{% endif %}
{% endblock PROPOSED %}

<script type="text/javascript" src="../../../diagrams/common.js" defer></script>
</body>
</html>