{% from 'macro_dpv_document_family.jinja2' import dpv_document_family, sotd, funding_acknowledgements %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Guides for Data Privacy Vocabulary (DPV)</title>
    <style type="text/css">
        body {
            max-width: 38rem;
            margin: auto;
            line-height: 1.5;
        }
    </style>
    <script src="https://www.w3.org/Tools/respec/respec-w3c" class="remove" defer></script>
    <script class="remove">
   // All config options at https://respec.org/docs/ 
   var respecConfig = {
    shortName: "guide",
    title: "Guides for Data Privacy Vocabulary (DPV)",
    specStatus: "{{DOCUMENT_STATUS}}",
    group: "dpvcg",
    publishDate: "2024-07-01",
    latestVersion: "https://w3id.org/dpv/guides",
    canonicalUri: "https://w3id.org/dpv/guides",
    edDraftURI: "https://dev.dpvcg.org/guides",
    github: "w3c/dpv",
    subjectPrefix: "[guides]",
    doJsonLd: true,
    lint: { "no-unused-dfns": false },
    editors: [{
      name: "Harshvardhan J. Pandit",
      url: "https://harshp.com",
      "company": "{{ "Harshvardhan J. Pandit" | generate_author_affiliation }}"
    }],
    otherLinks: [
      {
        "key": "Key Publications",
        "data": [
            {
              "value": "Data Privacy Vocabulary (DPV) -- Version 2 (2024)",
              "href": "https://arxiv.org/abs/2404.13426"
            }
        ]
      }
    ],
    localBiblio: {%  include 'references.json' %}
  };
</script>
<link rel="stylesheet" type="text/css" href="../diagrams/common.css">
<link rel="shortcut icon" href="../diagrams/favicon-16x16.png" type="image/x-icon" sizes="16x16" />
  <link rel="shortcut icon" href="../diagrams/favicon-32x32.png" type="image/x-icon" sizes="32x32" />
</head>
<body>
    <section id="abstract">
        <p>This document lists the various guides created by the DPVCG and the community providing guidance for the adoption and use of DPV in terms of its concepts and serialisations, or regarding the application of DPV for specific applications or domains.</p>
        <p>The <a href="https://www.w3.org/community/dpvcg/">DPVCG</a> invites contributions regarding additional guides as well as updates to existing guides.</p>
        {{ sotd(data[vocab_name+'-metadata']) }}
        {{ dpv_document_family(document='dpv-guides') }}
    </section>

    <section id="primer">
        <h2>Primer introducing DPV</h2>
        <p>The Data Privacy Vocabulary [[DPV]] enables expressing machine-readable metadata about the use and processing of personal data based on legislative requirements such as the General Data Protection Regulation [[GDPR]]. The [[[PRIMER]]] [[PRIMER]] introduces the fundamental structuring and use of concepts in DPV. It is intended to be a starting point for those wishing to use the DPV and an orientation for people from all disciplines. [[PRIMER-concise]] is a shorter version (2 pages) of the primer intended for a quick introduction.</p>
    </section>

    <section id="guide-use-dpv">
        <h2>Guides for using DPV concepts</h2>
        <section id="guide-owl">
            <h3>Using DPV with RDFS and SKOS</h3>
            <p>
                <div class="issue" title="Guide for RDFS/SKOS - work in progress"></div>
            </p>
            <p>The [[[GUIDE-SKOS]]] [[GUIDE-SKOS]] provides guidance for the use of DPV as an RDFS ontology and a SKOS Taxonomy - which is its default serialisation. This guide is intended for applications where DPV is being used as a 'knowledge graph' along with some lightweight reasoning and validation processes. This guide is not suitable for applications which require the full expressivity or power of OWL2 based modelling and semantic reasoning - for which the <a href="#guide-owl">OWL2 guide</a> should be referred to.</p>
        </section>

        <section id="guide-owl">
            <h3>Using DPV with OWL2</h3>
            <p>The [[[GUIDE-OWL2]]] [[GUIDE-OWL2]] provides guidance for the use of DPV as an OWL2 ontology, and explains how DPV can be easily encoded in a low-complexity profile of OWL2 called OWL2-PL to perform efficient semantic reasoning.</p>
        </section>

        <section id="guide-json">
            <h3>Using DPV with JSON, CSV, etc.</h3>
            <p>
                <div class="issue" title="Guide for CSV/JSON - work in progress"></div>
            </p>
            <p>The [[[GUIDE-MISCFORMAT]]] [[GUIDE-MISCFORMAT]] is a guide that will provide guidance for the use of DPV for use-cases that do not involve semantic web standards (e.g. RDF or OWL). It will explain how DPV can be utilised in a commonly utilised machine-readable form such as CSV or JSON.</p>
        </section>

        <section id="guide-odrl">
            <h3>Using DPV with ODRL</h3>
            <p>
                <div class="issue" title="Guide for ODRL - work in progress"></div>
            </p>
            <p>The [[[GUIDE-ODRL]]] [[GUIDE-ODRL]] is a guide that will provide guidance for the use of DPV concepts with [[[ODRL-MODEL]]] and [[[ODRL-VOCAB]]]. ODRL is a W3C standard for machine-readable representations of policies and agreements. The aim of the guide will be to demonstrate the compatibility and alignment of DPV concepts with those from ODRL, and to guide adopters in using DPV concepts within ODRL and vice-versa. This will enable using DPV to represent policies and agreements as defined by the ODRL standard.</p>
            <p>For those interested in this, please refer to publications authored by DPVCG members which have explored this work:</p>
            <ol>
                <li><a href="http://hdl.handle.net/2262/96757">ODRL Profile for Expressing Consent through Granular Access Control Policies in Solid</a> - 2021 article by Beatriz Esteves, Harshvardhan J. Pandit, and Victor Rodriguez Doncel; and </li>
                <li><a href="http://hdl.handle.net/2262/98928">Using the ODRL Profile for Access Control for Solid Pod Resource Governance</a> - 2022 article by  Beatriz Esteves, Victor Rodriguez Doncel, Harshvardhan J. Pandit, Nicolas Mondada, and Pat McBennett; and </li>
                <li><a href="https://doi.org/10.3233/SSW230015">Semantics for Implementing Data Reuse and Altruism under EU's Data Governance Act</a>  - 2023 article by Beatriz Esteves, Victor Rodriguez Doncel, Harshvardhan J. Pandit, and Dave Lewis; and </li>
                <li><a href="https://ceur-ws.org/Vol-3636/paper5.pdf">Using Patterns to Manage Governance of Solid Apps</a>  - 2023 article by Beatriz Esteves and Harshvardhan J. Pandit; and </li>
                <li><a href="https://zenodo.org/doi/10.5281/zenodo.10382092"> Enhancing Data Use Ontology (DUO) for Health-Data Sharing by Extending it with ODRL and DPV</a>  - 2024 article by Harshvardhan J. Pandit and Beatriz Esteves.</li>
            </ol>
        </section>
    </section>

    <section id="guide-applications">
        <h2>Guides for DPV Applications</h2>
        <section id="guide-consent">
            <h3>ISO-27560 Consent Records and Receipts</h3>
            <p>[[[ISO-27560]]] provides guidance for the creation and maintainence of records regarding consent as machine-readable information. It also provides guidance on the use of this information to exchange such records between entities in the form of 'receipts'. The [[[GUIDE-Consent-27560]]] [[GUIDE-Consent-27560]] provides implementation of machine-readable consent records and receipts as defined in [[ISO-27560]] by using the <a href="https://w3id.org/dpv">Data Privacy Vocabulary (DPV)</a>. Additionally, it also provides guidance on using [[ISO-27560]] for meeting [[GDPR]] requirements regarding consent.</p>
            <p>For more information on the development process and further use of consent records and receipts implemented using DPV, see the 2024 article preprint <a href="https://osf.io/preprints/osf/3utx8">Implementing ISO/IEC TS 27560:2023 Consent Records and Receipts for GDPR and DGA</a> authored by Harshvardhan J. Pandit, Jan Lindquist, and Georg P. Krog.</p>
        </section>

        <section id="guide-notice">
            <h3>ISO-29184 Privacy Notices</h3>
            <p>
                <div class="issue" title="Guide for Privacy Notices - work in progress"></div>
            </p>
            <p>The [[[ISO-29184]]] provides a standard for privacy notices in terms of the information to be provided as well as its use to inform the data subject about processing of personal data. The DPVCG is currently working on a guide - [[[GUIDE-Notice-29184]]] [[GUIDE-Notice-29184]] to implement machine-readable notices using the [[DPV]]. The scope of this guide would be to create machine-readable notices that can provide the information as required for implementing [[ISO-29184]]. Additionally, the guide will also describe using [[ISO-29184]] for meeting [[GDPR]] requirements regarding privacy notices. It is intended to be a companion to the guide on consent records and receipts [[GUIDE-Consent-27560]]. The scope as of now does not include providing tools or libraries for the creation of graphical interfaces or other means to visually represent this information.</p>
        </section>

        <section id="guide-ropa">
            <h3>Record of Processing Activities (ROPA)</h3>
            <p>
                <div class="issue" title="Guide for ROPA - work in progress"></div>
            </p>
            <p>The [[GDPR]] Article 30 requires keeping records of processing activities (ROPA) involving personal data, where the information to be maintained in such records includes purpose, personal data categories, technical and organisational measures utilised, and others. The DPVCG is currently working on a guide - [[[GUIDE-GDPR-ROPA]]] [[GUIDE-GDPR-ROPA]] to implement machine-readable ROPAs using the [[DPV]]. The scope of this guide would be to create machine-readable notices that can provide the information as required for implementing ROPA according to [[GDPR]] requirements. The scope as of now does not include providing tools or libraries for the creation of ROPA or interfaces or other means to work with this information.</p>
            <p>For those interested in the work, please refer to the specification: [[[DPCat]]], and its associated <a href="https://doi.org/10.3390/info13050244">article (2022)</a> authored by DPVCG members Paul Ryan, Rob Brennan, and Harshvardhan J. Pandit.</p>
        </section>

        <section id="guide-dpia">
            <h3>Data Protection Impact Assessment (DPIA)</h3>
            <p>
                <div class="issue" title="Guide for DPIA - work in progress"></div>
            </p>
            <p>The [[GDPR]] Article 35 requires a "Data Protection Impact Assessment" (DPIA) assessing the impact of processing activities involving personal data on the data subject's rights and freedoms. This requires maintaining information about whether such a DPIA is required, and if yes, then how it was conducted and what were its findings, and based on which whether processing activities were justified or were halted or not conducted. The DPVCG is currently working on a guide - [[[GUIDE-GDPR-DPIA]]] [[GUIDE-GDPR-DPIA]] to implement machine-readable DPIA using the [[DPV]]. The scope of this guide would be to create machine-readable DPIAs that can provide the information as required for implementing DPIA according to [[GDPR]] requirements. The scope as of now does not include providing tools or libraries for the creation of DPIA or interfaces or other means to work with this information.</p>
            <p>For those interested in the work, please refer to the 2022 article <a href="https://doi.org/10.3233/SSW220007">A Semantic Specification for Data Protection Impact Assessments (DPIA)</a> authored by DPVCG member Harshvardhan J. Pandit.</p>
        </section>

        <section id="guide-databreach">
            <h3>Data Breach Records and Notifications</h3>
            <p>
                <div class="issue" title="Guide for Data Breaches - work in progress"></div>
            </p>
            <p>The [[GDPR]] Article 33 and 34 requires keeping records associated with suspicion or occurence of a data breach and its impacts, including any communications to the data subjects or authorities regarding it. The DPVCG is currently working on a guide - [[[GUIDE-GDPR-DataBreach]]] [[GUIDE-GDPR-DataBreach]] to implement machine-readable Data Breach records and notifications using the [[DPV]]. The scope of this guide would be to create machine-readable records and notices that can provide the information as required for implementing data breach assessments and notifications according to [[GDPR]] requirements. The scope as of now does not include providing tools or libraries for the creation of data breach assessment or notification tools or interfaces or other means to work with this information.</p>
            <p>For those interested in the work, please refer to the 2023 article <a href="https://doi.org/10.3233/FAIA230956">Towards a Semantic Specification for GDPR Data Breach Reporting</a> authored by DPVCG members Harshvardhan J. Pandit, Paul Ryan, Georg P. Krog, and Rob Brennan.</p>
        </section>

        <section id="guide-rights">
            <h3>Rights Management</h3>
            <p>
                <div class="issue" title="Guide for Rights Management - work in progress"></div>
            </p>
            <p>Regulations such as the [[GDPR]], amongst others across the globe, provide specific rights (to data subjects) through which they can avail of information regarding the processing of their personal data, object to it, or obtain a copy of their given personal data. The DPVCG is currently working on a guide - [[[GUIDE-Rights]]] [[GUIDE-Rights]] to implement machine-readable rights excercise records using the [[DPV]]. The scope of this guide would be to create machine-readable records that can provide the information as required for demonstrating rights exercise, its fulfilment or non-fulfilment, and the communications involved according to [[GDPR]] requirements. The scope as of now does not include providing tools or libraries for exercise or management of rights, or interfaces or other means to work with this information.</p>
            <p>For those interested in the work, please refer to the specification <a href="https://besteves4.github.io/dpv-rights-exercising/">Rights Exercising with DPV</a> being developed by DPVCG members Beatriz Esteves, Harshvardhan J. Pandit, Georg P. Krog, and Paul Ryan.</p>
        </section>
    </section>


    <section id="docs">
        <h2>Use-Cases, Requirements, and Examples</h2>
        <p>See <a href="../use-cases/">Use-Cases and Requirements</a> page for use-cases and requirements that guided the development of DPV.</p>
        <p>See <a href="../examples/">Examples</a> page for examples demonstrating use of DPV concepts.</p>
    </section>


{% block ACKNOWLEDGEMENTS %}
<section id="funding-acknowledgements" class="notoc">
  <h2>Funding Acknowledgements</h2>

  <h3>Funding Sponsors</h3>
  {{ funding_acknowledgements() }}

  <h3>Funding Acknowledgements for Contributors</h3>
  <p>The contributions of Harshvardhan J. Pandit have been made with the financial support of Science Foundation Ireland under Grant Agreement No. 13/RC/2106_P2 at the ADAPT SFI Research Centre.</p>

</section>
{% endblock ACKNOWLEDGEMENTS %}

<script type="text/javascript" src="../diagrams/common.js" defer></script>
</body>
</html>