{% from 'macro_term_table.jinja2' import table_classes %}
{% from 'macro_term_table.jinja2' import table_properties %}
{% from 'macro_term_table.jinja2' import list_hierarchy, index_concepts %}
{% from 'macro_dpv_document_family.jinja2' import dpv_document_family, sotd %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Technology Concepts</title>
  <script src="https://www.w3.org/Tools/respec/respec-w3c" class="remove" defer></script>
  <script class="remove">
   // All config options at https://respec.org/docs/ 
   var respecConfig = {
    shortName: "tech",
    title: "Technology Concepts",
    subtitle: "extending Data Privacy Vocabulary (DPV)",
    publishDate: "2024-01-28",
    specStatus: "CG-DRAFT",
    group: "dpvcg",
    latestVersion: "https://w3id.org/dpv/tech",
    canonicalUri: "https://w3id.org/dpv/tech",
    edDraftURI: "https://w3id.org/dpv/tech",
    github: "w3c/dpv",
    subjectPrefix: "[tech]",
    doJsonLd: true,
    lint: { "no-unused-dfns": false },
    editors: [
    {
      name: "Harshvardhan J. Pandit",
      url: "https://harshp.com",
      "company": "{{ "Harshvardhan J. Pandit" | generate_author_affiliation }}"
    }
    ],
    authors: [
      {
        "name": "Beatriz Esteves",
        "company": "{{ "Beatriz Esteves" | generate_author_affiliation }}"
      },
      {
        "name": "Georg P. Krog",
        "company": "{{ "Georg P. Krog" | generate_author_affiliation }}"
      },
      {
        "name": "Harshvardhan J. Pandit",
        "company": "{{ "Harshvardhan J. Pandit" | generate_author_affiliation }}"
      },
      {
        "name": "Julian Flake",
        "company": "{{ "Julian Flake" | generate_author_affiliation }}"
      },
      {
        "name": "Paul Ryan",
        "company": "{{ "Paul Ryan" | generate_author_affiliation }}"
      }
    ],
    localBiblio: {%  include 'references.json' %}
  };
</script>
<link rel="stylesheet" type="text/css" href="../media/common.css">
</head>
<body>
  <section id="abstract">
    <p>The [[[DPV]]] provides a rich taxonomy of concepts which includes <i>Technology</i>. While it enables expression of how some technology is applied within the context of personal data and its processing, there is a need for further specific details regarding technologies, their management, and relevance to actual real-world tools and systems. DPV-TECH provides such concepts associated with Technologies as an extension to DPV concepts.</p>
    <p>The namespace for terms in dpv-tech is <a href="http://www.w3id.org/dpv/dpv-tech#"><code>https://www.w3id.org/dpv/dpv-tech#</code></a><br/>
      The suggested prefix for the namespace is <code>dpv-tech</code><br/>
      The DPV-TECH vocabulary and its documentation is available on <a href="https://github.com/w3c/dpv">GitHub</a>.</p>

      <div class="issue" title="WARNING: unstable vocabulary" data-number="47">
      <p><strong>WARNING</strong> This vocabulary will be undergoing major changes based on the necessity to specify cloud technology concepts and to ensure provided concepts are useful. There may be extensive removal/additions of concepts that changes the structure and semantics of this extension.</p>
      </div>

    {{ dpv_document_family(document='dpv-tech-spec') }}
    {{ sotd() }}
  </section>
  <section id="overview">
    <h2>Overview of Concepts</h2>
    <div class="issue" title="Review section descriptions"></div>
    <figure>
      <img src="/media/tech-overview.png">
      <figcaption>Overview of concepts in DPV-TECH</figcaption>
    </figure>
    <p>This section provides an introduction and overview of the concepts within the DPV-TECH extension, with the <a href="#vocab">Section on Taxonomy</a> providing a formal listing of all concepts.</p>
    <p>The central or focal concept is `dpv:Technology` alongwith its use with the relation `dpv:hasTechnology` - as defined within [[DPV]]. This extension extends these concepts - by way of additional subtypes or subclasses or specialisations, and adds more concepts which are relevant to provide a description of technologies as they are utilised towards privacy and data protection.</p>
    <section id="overview-core">
      <h3>Core Concepts</h3>
      <p>The concept concepts provided in DPV-TECH include subtypes of `dpv:Technology` as [=DataTechnology=], [=OperationalTechnology=] (as in relating to operations or processes), [=SecurityTechnology=], [=IdentityTechnology=], [=ManagementTechnology=], and [=SurveillanceTechnology=]. These enable expression of the <i>role</i> of a particular technology within the context of personal data processing.</p>
      <p>To indicate how technology was provided or is used, the concept [=TechnologyProvisionMethod=] and relation [=hasProvisionMethod=] are useful. It enables expression of where technology is used as a Product or Subscription (e.g. from a vendor), or as a System or a Component (e.g. standalone).</p>
      <p>The concept [=CommunicationMechanism=] and relation [=hasCommunicationMechanism=] enables expressing how the technology communicates, such as by use of Internet, Cellular Networks, GPS, etc.</p>
      <p>To indicate entities or actors associated with the Technology and their specific roles, the concept [=TechnologyActor=] and associated relations are useful.</p>
      <p>To represent <i>location</i> of technology use, the existing DPV concepts related to location can be used, i.e. `dpv:Location` and `dpv:hasLocation` along with its various types and contextually relevant concepts. To explicitly refer to location as associated with use of technology, the concept [=TechnologyUsageLocation=] is provided. For example, to indicate that some technology (whose actual location is on a server) is used in an office. Some synonyms used to indicate <i>usage location</i> for similar information are: application, deployment, or operation.</p>
      <p>To indicate the maturity of a technology, the concept [=TechnologyReadinessLevel=] and relation [=hasTRL=] are useful. This information can be based on standards, such as the <a href="https://www.iso.org/standard/56064.html">ISO 16290:2013</a>, or those provided by other bodies and domains.</p>
    </section>
    <section id="overview-types">
      <h3>Types of Technologies</h3>
      <h4>Data Technologies</h4>
      <p>Technologies that involve operating on data, such as to collect, store, use, share, and erase it - are defined as [=DataTechnology=]. Since their definition is based on interaction with data, their specific types and hierarchy mirror the `dpv:Processing` taxonomy. The shared name, such as with `dpv:Store` as processing operation and [=DataStorageTechnology=] as technology, indicates the correspondence between processing and the technology that performs it.</p>
      <h4>Operational Technologies</h4>
      <p>[=OperationalTechnology=] relates to the <i>processes</i> or <i>operations</i> that themselves do not relate directly to data, such as execution environments, devices, or other processes - that are necessary or relevant for processing data. This is differentiated from [=DataTechnology=] in that technology related to operations refers only to the implementation and execution whereas data technology would be focused on how it involves or processes data. </p>
      <p>Specific types of operational technologies include [=OperationEnvironment=], [=OperationDevice=], and [=OperationManagement=]. The concept [=Application=] represents the program or application which is the operation, or contains or facilitates its execution.</p>
      <h4>Security Technologies</h4>
      <p>[=SecurityTechnology=] refers to any technology whose purpose is to provide security whether directly (e.g. securing access) or indirectly (e.g. PETs, identifying vulnerabilities). Specific types of security technologies include [=PET=] (Privacy Enhancing Technologies), and the risk-based categorisation as [=DetectionSecurityTechnology=] that detects security issues and vulnerabilities, [=PreventionSecurityTechnology=] that provides prevention or avoidance of exploitation, [=MitigationSecurityTechnology=] that provides reduction or mitigation of effects, and [=MonitoringSecurityTechnology=] that provides oversight and observations for security issues such as attacks.</p>
      <h4>Management Technologies</h4>
      <p>[=ManagementTechnology=] relates to managing or orchestrating or monitoring - such as the other technology types. It can also include purely managerial technologies such as dedicated control interfaces or dashboards or tools orchestrating processes. While there is some ambiguity regarding what <i>management</i> exactly means, this concept is provided for the benefit of use-cases where it needs to be explicitly shown that some management occurs or involves the use of technologies. For example, to include that access control (a security technology) is managed through use of a dedicated tool or algorithm (a management technology).</p>
      <h4>Identity Technologies</h4>
      <p>[=IdentityTechnology=] relates to technologies that are related to identity, identification, or identifiers. This includes their generation, verification, use in authentication, and management (e.g. by combining with [=ManagementTechnology=]).</p>
      <h4>Surveillance Technologies</h4>
      <p>In addition to these, a sixth additional broad concept of [=SurveillanceTechnology=] can also function as a category so as to explicitly acknowledge and represent technologies that have issues or warrant particular attention. Variants of surveillance include [=OvertSurveillanceTechnology=] and [=CovertSurveillanceTechnology=].</p>
    </section>
    <section id="overview-provision">
      <h3>Provision of Technology</h3>
      <p>The provision of technology can happen via the following methods:</p>
      <ul>
        <li>[=System=], [=Component=], and [=Algorithmic=] - that indicate whether the technology is provided as a system (e.g. stand alone), is intended to be used as a component in another system, or is algorithmic (e.g. implementation of a particular method).</li>
        <li>[=Service=], [=Goods=], [=Product=], and [=Subscription=] - that provide an indication of whether the technology is service (e.g. implemented to function as a service), or is a product or a subscription (e.g. provided by a vendor).</li>
        <li>[=FixedUse=] indicates whether the technology has limitations of use e.g. specific number of application or single application, or those related to scale or scope. For example, a single use identifier or a one time scan for vulnerabilities.</li>
        </ul>
    </section>
    <section id="overview-communication">
      <h3>Communication used by Technologies</h3>
      <div class="issue" title="Fix missing concepts e.g. GPS -> GPSCommunication"></div>
      <div class="issue" title="Fix incorrect parents e.g. BluetoothCommunication -> NetworkingCommunication"></div>
      <div class="issue" title="Fix missing concept e.g. LocalStorage does not exist"></div>
      <p>Communication mediums or mechanism used by technology include:</p>
      <ul>
        <li>[=GPS=] or the location providing Global Positioning System or its equivalent technologies.</li>
        <li>[=Networking=] where any form of network based communication takes place.</li>
        <li>Specific networks as: [=WiFi=] for wireless, [=Bluetooth=], [=LocalNetwork=], [=CellularNetwork=].</li>
        <li>[=Internet=] for indication of whether internet connectivity and communications are involved.</li>
      </ul>
    </section>
    <section id="overview-actors">
      <h3>Actors involved in Technologies</h3>
      <p>To specify the specific actors and their roles in the context of technologies, [=TechnologyActor=] is provided along with the following specific roles as its subtypes:</p>
      <ul>
        <li>[=TechnologyDeveloper=] and [=hasDeveloper=] specifies who develops or has developed the technology.</li>
        <li>[=TechnologyProvider=] and [=hasProvider=] specifies who provides the technology. This could be the same entity as developer, or a different one - such as when the technology is repackaged or modified before provision.</li>
        <li>[=TechnologyUser=] and [=hasUser=] specifies who uses or is the user for the technology. Note that while this refers to <i>users</i> in the technical sense of the term, such users may or may not be <i>data subjects</i>. For example, a technology used by an immigration officer has that officer as the user, rather than the immigrating person. To be more explicit, <i>technology user</i> and <i>whom the technology is used on</i> are two different criterias. See distinction below.</li>
        <li>[=TechnologySubject=] and [=hasSubject=] is the <i>subject</i> of the technology i.e. whom the technology is used on or subjected to. This may be directly (e.g. person within a CCTV camera's vision) or indirectly (e.g. person whose details were used as training data). What is considered a subject may be contextually dependant on the nature and scope of the technology as well as its application. In the future, we may separate this concept for further distinction between direct and indirect subjects (or use alternate terms) - if such categorisation is deemed beneficial in the description of individuals subjected to technologies.</li>
      </ul>
      <p>Note, that the technology actor concepts are based on the EU's proposal for AI reguation (i.e. AI ACT) and its corresponding concepts (e.g. AI Provider, AI Developer). Rather than limiting such concepts for "AI", we have expanded upon their intended meaning to encompass any technology. The concepts from the AI ACT can thus be modelled as subtypes of these.</p>
    </section>    
  </section>

  <!-- <section id="contributions">
    <h2>Expanding the Taxonomy</h2>
    <section id="contributions-sources">
      <h3>Sources of Information</h3>
      <p>To expand on this list of concepts, we are looking for specific taxonomies related to technologies, and their application in specific areas - such as for security. For this, the following sources may be relevant:</p>
      <ul>
        <li><a href="https://www.enisa.europa.eu/">European Union Agency for Cybersecurity (ENISA)</a> publishes documents detailing specific technologies and their applications relevant to cybersecurity.</li>
      </ul>
    </section>
    <section id="contributions-concepts">
      <h3>Concepts of Relevance</h3>
    </section>
    <section id="contributions-applications">
      <h3>Applications of Concepts</h3>
    </section>        
  </section> -->
  
  <section id="vocab">
    <h2>Core Concepts</h2>
    <div class="issue" title="Content missing - Core Concepts"></div>

    {{ list_hierarchy(modules['core']['classes']) }}

  </section>

  <section id="data">
    <h2>Data Tech</h2>
    <div class="issue" title="Content missing - Data Tech"></div>

    {{ list_hierarchy(modules['data']['classes']) }}

  </section>

  <section id="ops">
    <h2>Operational Tech</h2>
    <div class="issue" title="Content missing - Operational Tech"></div>

    {{ list_hierarchy(modules['ops']['classes']) }}

  </section>

  <section id="security">
    <h2>Security Tech</h2>
    <div class="issue" title="Content missing - Security Tech"></div>

    {{ list_hierarchy(modules['security']['classes']) }}

  </section>

  <section id="surveillance">
    <h2>Surveillance Types</h2>
    <div class="issue" title="Content missing - Surveillance Types"></div>

    {{ list_hierarchy(modules['surveillance']['classes']) }}

  </section>

  <section id="provision">
    <h2>Provision Method</h2>
    <div class="issue" title="Content missing - Provision Method"></div>

    {{ list_hierarchy(modules['provision']['classes']) }}

  </section>

  <section id="actors">
    <h2>Actors</h2>
    <div class="issue" title="Content missing - Actors"></div>

    {{ list_hierarchy(modules['actors']['classes']) }}

  </section>

  <section id="comms">
    <h2>Communication Methods</h2>
    <div class="issue" title="Content missing - Communication Methods"></div>

    {{ list_hierarchy(modules['comms']['classes']) }}

  </section>

  <section id="tools">
    <h2>Tools</h2>
    <div class="issue" title="Content missing - Tools"></div>

    {{ list_hierarchy(modules['tools']['classes']) }}

  </section>
  
  <section id="vocabulary">
<h2>Vocabulary Index</h2>
  <section id="dpv-classes">
    {{ index_concepts(vocab, vocab_name, filter="classes") }}
  </section>
  <section id="dpv-properties">
    {{ index_concepts(vocab, vocab_name, filter="properties") }}
  </section>
  <section id="external-concepts">
    <p>DPV uses the following terms from [[RDF]] and  [[RDFS]] with their defined meanings:</p>
    <ul>
      <li id="rdf:type"><dfn>rdf:type</dfn> to denote a concept is an instance of another concept</li>
      <li id="rdfs:Class"><dfn>rdfs:Class</dfn> to denote a concept is a Class or a category</li>
      <li id="rdfs:subClassOf"><dfn>rdfs:subClassOf</dfn> to specify the concept is a subclass (subtype, sub-category, subset) of another concept</li>
      <li id="rdf:Property"><dfn>rdf:Property</dfn> to denote a concept is a property or a relation</li>
      </ul>
    <p>The following external concepts are re-used within DPV:</p>
    {{ index_concepts(vocab, vocab_name, filter="external") }}
  </section>
</section>
  
{% if proposed %}
<section id="proposed-terms" class="appendix">
  <h2>Proposed Terms</h2>
  <p>The following terms have been proposed for inclusion, and are under discussion. They are provided here for illustrative purposes and should not be considered as part of DPV.</p>
    <ul>{% for term in proposed %}
      <li>{{term}}</li>
    {% endfor %}</ul>
</section>
{% endif %}

<section class="appendix" id="issue-summary">
</section>

<section id="funding-acknowledgements" class="noTOC">
  <h2>Funding Acknowledgements</h2>

  <h3>Funding Sponsors</h3>
  <p>The DPVCG and DPV were initiated as part of the <a href="https://specialprivacy.ercim.eu/">SPECIAL H2020 Project</a>, which received funding from the European Union’s Horizon 2020 research and innovation programme under grant agreement No. 731601. The SPECIAL project ran over a 3-year period from 2017 to 2019.</p>
  <p>Harshvardhan J. Pandit was funded by the Irish Research Council  Government of Ireland Postdoctoral Fellowship Grant#GOIPD/2020/790 for working within the DPVCG and contributing to the DPV. The fellowship lasted from 2020 to 2022.</p>

  <h3>Funding Acknowledgements for Contributors</h3>
  <p>The contributions of Beatriz Esteves have received funding through the <a href="https://protect-network.eu/">PROTECT ITN Project</a> from the European Union’s Horizon 2020 research and innovation programme under the Marie Skłodowska-Curie grant agreement No 813497.</p>
  <p>The contributions of Harshvardhan J. Pandit have received funding from the ADAPT SFI Centre for Digital Media Technology is funded by Science Foundation Ireland through the SFI Research Centres Programme and is co-funded under the European Regional Development Fund (ERDF) through Grant#13/RC/2106 (2018 to 2020) and Grant#13/RC/2106_P2 (2021 onwards)</p>

</section>
<script type="text/javascript" src="../media/common.js" defer></script>
</body>
</html>