{% from 'macro_term_table.jinja2' import index_concepts %}
{% from 'macro_term_table.jinja2' import list_hierarchy %}
{% from 'macro_term_table.jinja2' import table_properties %}
{% from 'macro_example.jinja2' import example_aside %}
{% from 'macro_dpv_document_family.jinja2' import dpv_document_family, sotd, funding_acknowledgements %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}Processing{% endblock title %}</title>
  <script src="https://www.w3.org/Tools/respec/respec-w3c" class="remove" defer></script>
  {% block RESPEC %}
  <script class="remove">
   // All config options at https://respec.org/docs/ 
   var respecConfig = {
    shortName: "dpv",
    title: "Processing Operations",
    subtitle: "concepts in Data Privacy Vocabulary (DPV)",
    publishDate: "2024-01-28",
    specStatus: "{{DOCUMENT_STATUS}}",
    group: "dpvcg",
    latestVersion: "https://w3id.org/dpv/dpv/modules/processing",
    canonicalUri: "https://w3id.org/dpv/dpv/modules/processing",
    edDraftURI: "https://dev.dpvcg.org/dpv/modules/processing",
    github: "w3c/dpv",
    subjectPrefix: "[dpv]",
    doJsonLd: true,
    lint: { "no-unused-dfns": false, "local-refs-exist": true },
    editors: [
    {
      name: "Harshvardhan J. Pandit",
      url: "https://harshp.com/",
      "company": "{{ "Harshvardhan J. Pandit" | generate_author_affiliation }}",
    }
    ],
    otherLinks: [
      {
        "key": "This Release",
        "data": [
            {
              "value": "https://w3id.org/dpv/2.0",
              "href": "https://w3id.org/dpv/2.0"
            }
        ]
      },
      {
        "key": "Previous Release",
        "data": [
            {
              "value": "https://w3id.org/dpv/1.0",
              "href": "https://w3id.org/dpv/1.0"
            }
        ]
      },
      {
        "key": "Key Publications",
        "data": [
            {
              "value": "Data Privacy Vocabulary (DPV) -- Version 2 (2024)",
              "href": "https://arxiv.org/abs/2404.13426"
            }
        ]
      }
    ],
    localBiblio: {%  include 'references.json' %}
  };
</script>
{% endblock RESPEC %}
<link rel="stylesheet" type="text/css" href="../../diagrams/common.css">
<link rel="shortcut icon" href="../../diagrams/favicon-16x16.png" type="image/x-icon" sizes="16x16" />
  <link rel="shortcut icon" href="../../diagrams/favicon-32x32.png" type="image/x-icon" sizes="32x32" />
</head>
<body>
{% block ABSTRACT %}
    <section id="abstract">
      <p>This document provides additional details and examples for processing and processing context concepts in the Data Privacy Vocabulary [[DPV]], and is a companion to the [[DPV]] specification.</p>
      {{ sotd(data[vocab_name+'-metadata']) }}
{{ dpv_document_family(document='dpv-spec') }}
      
    </section>
{% endblock ABSTRACT %}
  <section id="vocab-processing"><span id="vocab-rights"></span>
    <h2>Introduction</h2>
    <figure>
    <img src="../../diagrams/processing.svg" />
    <figcaption></figcaption>
  </figure>
  <p>DPV’s taxonomy of processing concepts reflects the variety of terms used to denote processing activities or operations involving personal data, such as those from [GDPR] Article.4-2 definition of processing. Real-world use of terms associated with processing rarely uses this same wording or terms, except in cases of specific domains and in legal documentation. On the other hand, common terms associated with processing are generally restricted to: collect, use, store, share, and delete.</p>
  <p>DPV provides a taxonomy that aligns both the legal terminologies such as those defined by GDPR with those commonly used. For this, concepts are organised based on whether they subsume other concepts, e.g. [=Use=] is a broad concept indicating data is used, which DPV extends to define specific processing concepts for [=Analyse=], [=Consult=], [=Profiling=], and [=Retrieve=]. Through this mechanism, whenever an use-case indicates it consults some data, it can be inferred that it also uses that data.</p>
  <p>For concepts related to expressing contextual information associated with processing, such as storage conditions, automation, scale, see <a href="#vocab-processing-context">Processing Context</a> and <a href="#vocab-processing-scale">Processing Scale</a> sections.</p>
  <div class="note" title="Need for ensuring accuracy of processing terms in an use-case">
      <p>The definitions for describing and interpreting each processing concept is based on the following sources: language dictionaries (predominantly Oxford English), use of the term within legal documents (e.g. GDPR case law), and technology-specific interpretations such as for IT systems. Despite these, there may be distinct interpretations for what a term represents based on differences in practices, culture, language, and domains. In case an adopter or a use-case foresees such ambiguity or confusion, it is advisable to extend the relevant concepts and define them as needed, or create a separate extension.</p>
    </div>
  {{ list_hierarchy(modules['processing']['classes']) }}
</section>

<section id="vocab-processing-context">
  <h2>Context of Processing</h2>
  <figure>
    <img src="../../diagrams/overview_processing_context.svg">
    <figcaption>Overview of Processing Context concepts in DPV</figcaption>
  </figure>
  {{ list_hierarchy(modules['processing-context']['classes']) }}
  <section>
    <h3>Processing Conditions</h3>
    <figure>
      <img src="../../diagrams/overview_Storage.svg">
      <figcaption>Overview of Processing and Storage conditions</figcaption>
    </figure>
    <p>To describe conditions associated with processing, such as its duration, or specific locations, the concept [=ProcessingCondition=] provided and extended as [=ProcessingDuration=] and [=ProcessingLocation=] along with the relation [=hasProcessingCondition=]. Storage, which is a specific form of processing, has additional dedicated concepts as [=StorageCondition=] as it is a commonly used concept. The concepts are useful to describe processing and storage conditions in  policies, conditions, rules, or documentation - which are important tools for implementing and determining data protection and privacy considerations as well as legal compliance.</p>
    {{ example_aside('dex:E0047') }}
    <p>The [[TECH]] extension provides relevant concepts to indicate technical aspects such as a server located in a specific location and provided by a cloud provider, which is being used to carry out the processing operations.</p>
  </section>
  <section>
    <h3>Storage Conditions</h3>
    <p>This taxonomy provides concepts for representing information about storage conditions, e.g. how long the data will be stored for, its erasure, or its restoration. It also enables representing the source(s) of data, the use of automation, and the extent of human involvement within the automation.</p>
    <p>The processing taxonomy uses the concept [=Store=] to indicate data is being stored. To specify additionally information such as its location, erasure or deletion, the generic concepts and relations associated with processing (i.e. <i>location</i> and <i>duration</i>) can be used. However, to emphasise that information about storage - such as policies, conditions, rules, or documentation - are critical on considerations of data protection and privacy as well as legal compliance, DPV provide specific concepts related to these.</p>
    <p>The concept [=StorageCondition=] and the relation [=hasStorageCondition=] represent the general or abstract conditions associated with storage of data. This is specialised to indicate [=StorageDuration=], [=StorageDeletion=], [=StorageRestoration=], and [=StorageLocation=]. This enables a document to directly specify information such as: "storage duration is 6 months" or "storage restoration uses 3 geo-distinct backup servers".</p>
    {{ example_aside('dex:E0048') }}
    <p>To indicate the use of cloud storage services, the [[TECH]] extension provides relevant concepts to represent the use of such cloud services as well as the actors involved to provide or develop them.</p>
  </section>
  <section>
    <h3>Data Source</h3>
    <figure>
      <img src="../../diagrams/Data_Source.svg">
      <figcaption>Data Sources defined in DPV</figcaption>
    </figure>
    <p>For declaring the source of data, the [=DataSource=] concept along with [=hasDataSource=] relationship is provided to indicate where the data is collected or acquired from. For example, data can be obtained from the data subject directly (e.g. given via forms) or indirectly (e.g observed from activity, or inferred from existing data), or from another entity such as a third party.</p>
    <div class="note" title="Source vs Origin">
        <p>It is important to understand the distinction between a <i>data source</i> and <i>data origin</i>. The source of data refers to the direct or indirect place, entity, or other concept from which the data was collected (in any manner). The origin of data refers to the specific entity or artefact which <i>produced</i> or <i>created</i> the data. For example, consider a company that collects data from a public database that is populated by government bodies who themselves collect that data from people. In this case, the origin of that data is ultimately the people, but the sources of this information are the people, the government bodies, and the public database.</p>
        <p>Using such two synonymous terms (source and origin) can lead to ambiguity and confusion. Therefore, we suggest using data source to indicate information as contextually required within a use-case. In most cases, this would be the direct source of data (i.e. public database in above example). In other cases, it would be relevant to indicating whether data originated from the data subject.</p>
      </div>
    <p>Data can be sourced from a public or a non-public source. The distinction is important given that a public source has different implications (and justifications) for the availability of that data as well as how it can be used. To represent these, DPV uses sub-types of data source as <code>PublicDataSource</code> and <code>NonPublicDataSource</code>. Public data sources can be datasets published by authoritative bodies, or census reports, or (public) websites. Non-public data sources are anything that is not publicly available - so data subjects, third parties, etc.</p>
    <p>The following data sources are defined within DPV:</p>
    <ol>
      <li>[=DataSubjectDataSource=] to indicate the data is sourced from Data Subject(s) e.g. when data is collected via a form or observed from their activities go to full definition</li>
      <li>[=DataControllerDataSource=] to indicate the data is sourced from Data Controller(s), e.g. a Controller inferring data or generating data go to full definition</li>
      <li>[=ThirdPartyDataSource=] to indicate the data is sourced from a Third Party, e.g. when data is collected from an entity that is neither the Controller nor the Data Subject </li>
    </ol>
    <p>In addition to these, the concepts [=PublicDataSource=] and [=NonPublicDataSource=] are also provided to indicate whether the data being sourced was publicly available or not.</p>
    </ol>
    {{ example_aside('dex:E0012') }}
  </section>
  <section>
    <h3>Entity Involvement</h3>
    <figure>
      <img src="../../diagrams/overview_Entity_Involvement.svg">
      <figcaption>Overview of Entity Involvement concepts in DPV</figcaption>
    </figure>
    <figure>
      <img src="../../diagrams/Entity_Involvement.svg">
      <figcaption>Permissive and Non-Permissive Involvement concepts in DPV</figcaption>
    </figure>
    <p>[=EntityInvolvement=] specifies how an entity is involved in terms of being permitted to do something, or not being permitted to do something. It contains two sets of correlated concepts as [=EntityPermissiveInvolvement=] for 'permissive' and [=EntityNonPermissiveInvolvement=] for 'non-permissive' involvements. For example, [=OptingOutFromProcess=] represents a 'permissive' involvement where the entity can opt-out, while [=CannotOptOutFromProcess=] is its 'non-permissive' counterpart which indicates the entity cannot opt-out. Other concepts provided concern challenging the process and its inputs and outputs, correcting the process and its inputs and outputs, reversing the process' effects and its inputs and outputs, and withdrawing from a process.</p>
    <p>In addition to the above involvements, two additional concepts provided are: [=EntityActiveInvolvement=] and [=EntityPassiveInvolvement=] to represent whether the involvement of an entity can be considered 'active' or 'passive'. Here, the term 'active' means the entity actively engages with the processing or system or technology, and 'passive' means it does not. For example, a person filling a web form to enter their data has an active involvement, whereas a person being monitored via a CCTV has a passive involvement. Note that here the terms 'active/passive' do not represent or concern the 'awareness' or 'comprehension' of the entity, and only represent the involvement in terms of operating or using or being subjected to the system or process. The concept `EntityInformedStatus` should be used to represent whether the entity is informed or not.</p>
    <p>To represent how humans are involved, the concept [=HumanInvolvement=] and relation [=hasHumanInvolvement=] are provided. Human involvement is broadly specified in terms of [=HumanInvolved=] and [=HumanNotInvolved=]. Where humans are involved, additional concepts such as [=HumanInvolvementForDecision=] or [=HumanInvolvementForInput=] provide a clear representation of the involvement. Terms such as 'human-in-the-loop' were discussed and not used due to their unclear definitions and non-compatible uses across documents. Instead, the DPV defined concepts provide unambiguous representation of how humans are involved, and can be mapped to definitions of such terms within specific use-cases.</p>
    {{ example_aside('dex:E0013') }}
  </section>
  <section>
    <h3>Automation Level and Human Involvement</h3>
    <figure>
      <img src="../../diagrams/Automation_Human_Involvement.svg">
      <figcaption></figcaption>
    </figure>
    <div class="note" title="Automation and Artificial Intelligence">
      <p>DPV's concepts intentionally refer to "<i>automation</i>" rather than "<i>artificial intelligence</i>", where the former is considered a broader and more inclusive term than the latter. It also avoids delving into investigations of what is and how to define "AI". Given that AI is a form of automation, whether directly or indirectly applied, these terms within the DPV are also intended to supplement use-cases where AI is used, and to represent information regarding the degree of automation and involvement of humans within its processes.</p>
    </div>
    <p>DPV defines concepts to specify the 'level of automation' and 'human involvement' in processing operations. These are in addition to entity involvement so as to specifically indicate how humans are involved in the automated operations.</p>
    <p>[=AutomationLevel=] describes the level of automation associated with processing operations. It is based on the levels defined by [[[ISO-22989]]], which consist of [=NotAutomated=] (level 0) where no automation is involved, to [=FullAutomation=] (level 5) representing automation without human involvement, and [=Autonomous=] (level 6) representing automation which can modify its operational goals without human intervention. Automation levels are specified by using the relation [=hasAutomationLevel=].</p>
  </section>
  
  <section>
    <h3>Decision Making and its Logic</h3>
    <p>To indicate more specific applications: [=DecisionMaking=] and [=AutomatedDecisionMaking=] refer to use of processing to make decisions, [=AlgorithmicLogic=] for explaining the use of algorithms and specifics of processing logic, [=EvaluationScoring=] to indicate the processing evaluates or assigns scores (or metrics), [=InnovativeUseOfNewTechnologies=] to indicate there are innovative uses of novel technologies, and [=SystematicMonitoring=] to indicate the processing performs a systematic (or systemic) monitoring. These additional concepts are intended to model areas or topics that are considered sensitive or high-risk or require caution.</p>
  </section>
</section>
  <section id="vocab-processing-scale">
    <h2>Scale of Processing</h2>
    <figure>
      <img src="../../diagrams/Processing_Scale.svg">
      <figcaption>Overview of Processing Scale concepts in DPV</figcaption>
    </figure>
    <p>DPV provides (qualitative) scales for expressing <i>Data Volume</i>, <i>Data subjects</i>, and <i>Geographical Coverage</i> of processing. Along with these, DPV also provides a <i>Processing Scale</i> to express combinations of these. NOTE: The actual meaning or quantified amounts for each concept are not defined due to their interpretation based on contextual factors such as legislations, guidelines, domains, and variations across industries.</p>
    <p>[=DataVolume=] refers to the volume of data. Concepts provided to represent this range from [=SingularDataVolume=] as the least/smallest to [=LargeDataVolume=] and then [=HugeDataVolume=] as the most/greatest. The relation [=hasDataVolume=] is used to indicate the volume of data.</p>
    <p>[=GeographicCoverage=] represents the scale in terms of geographic coverage - which can be used to indicate the spread of processing operations, or to indicate diversity of data subjects in terms of locations, or to indicate other location based scales. The concepts provided range from [=LocalEnvironmentScale=] to represent 'local environment' (e.g. a room, a device) to [=GlobalScale=] to represent operations at a global scale. The relation [=hasGeographicCoverage=] is used to indicate the geographic coverage.</p>
    <p>[=DataSubjectScale=] represents the scale of data subjects, which can be regarding the amount of data subjects represented within some data, or those involved in processing operations, or other similar representations. Provided concepts range from: [=SingularScaleOfDataSubjects=] as the least/smallest to [=LargeScaleOfDataSubjects=] and then [=HugeScaleOfDataSubjects=] as the most/largest. The relation [=hasDataSubjectScale=] is used to indicate the scale of data subjects.</p>
    <p>[=ProcessingScale=] represents the 'scale of processing' which is useful to indicate scales not covered by the other provided concepts or to indicate their abstraction e.g. to provide a qualified term for whether processing is 'large scale' in terms of one or more factors. It is extended to define [=SmallScaleProcessing=], [=MediumScaleProcessing=], and [=LargeScaleProcessing=], and is indicated by using the relation `hasScale`.</p>
    {{ list_hierarchy(modules['processing-scale']['classes']) }}
    {{ example_aside('dex:E0049') }}
</section>

<section>
  <h2>Vocabulary Index</h2>
  {% set module_combined = modules['processing']['classes'].copy() %}
  {% set _ = module_combined.update(modules['processing']['properties']) %}
  {% set _ = module_combined.update(modules['processing-context']['classes']) %}
  {% set _ = module_combined.update(modules['processing-context']['properties']) %}
  {% set _ = module_combined.update(modules['processing-scale']['classes']) %}
  {% set _ = module_combined.update(modules['processing-scale']['properties']) %}
  <section id="classes">
    {{ index_concepts(module_combined, vocab_name, filter="classes") }}
  </section>
  <section id="properties">
    {{ index_concepts(module_combined, vocab_name, filter="properties") }}
  </section>
  <section id="external-concepts">
    <p>DPV uses the following terms from [[RDF]] and  [[RDFS]] with their defined meanings:</p>
    <ul>
      <li id="rdf:type"><dfn>rdf:type</dfn> to denote a concept is an instance of another concept</li>
      <li id="rdfs:Class"><dfn>rdfs:Class</dfn> to denote a concept is a Class or a category</li>
      <li id="rdfs:subClassOf"><dfn>rdfs:subClassOf</dfn> to specify the concept is a subclass (subtype, sub-category, subset) of another concept</li>
      <li id="rdf:Property"><dfn>rdf:Property</dfn> to denote a concept is a property or a relation</li>
      </ul>
    <p>The following external concepts are re-used within DPV:</p>
    {{ index_concepts(module_combined, vocab_name, filter="external") }}
  </section>
</section>
{% block ACKNOWLEDGEMENTS %}
<section id="contributors">
  <h2>Contributors</h2>
  <p>The following people have contributed to this vocabulary. The names are ordered alphabetically. The affiliations are informative do not represent formal endorsements. Affiliations may be outdated. The list is generated automatically from the contributors listed for defined concepts.</p>
  <ul>
  {% for person in data[vocab_name+'-metadata']['dct:contributor']|ensure_list|sort %}
    <li>{{ person }} ({{person|generate_author_affiliation}})</li>
  {% endfor %}
  </ul>
</section>
<section id="funding-acknowledgements" class="notoc">
  <h2>Funding Acknowledgements</h2>

  <h3>Funding Sponsors</h3>
  {{ funding_acknowledgements() }}

  <h3>Funding Acknowledgements for Contributors</h3>
  <p>The contributions of Harshvardhan J. Pandit have been made with the financial support of Science Foundation Ireland under Grant Agreement No. 13/RC/2106_P2 at the ADAPT SFI Research Centre.</p>

</section>
{% endblock ACKNOWLEDGEMENTS %}
<script type="text/javascript" src="../../diagrams/common.js" defer></script>
</body>
</html>