{% from 'macro_term_table.jinja2' import table_classes %}
{% from 'macro_term_table.jinja2' import table_properties %}
{% from 'macro_term_table.jinja2' import list_hierarchy, index_concepts %}
{% from 'macro_dpv_document_family.jinja2' import dpv_document_family, sotd, funding_acknowledgements %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}{{data[vocab_name+'-metadata']['dct:title']}}{% endblock title %}</title>
  <script src="https://www.w3.org/Tools/respec/respec-w3c" class="remove" defer></script>
  {% block RESPEC %}
  <script class="remove">
   // All config options at https://respec.org/docs/ 
   var respecConfig = {
    shortName: "eu-aiact",
    title: "{{data[vocab_name+'-metadata']['dct:title']}} ({{vocab_name|upper}})",
    subtitle: "version {{data[vocab_name+'-metadata']['schema:version']}}",
    publishDate: "{{data[vocab_name+'-metadata']['dct:modified']}}",
    specStatus: "{{DOCUMENT_STATUS}}",
    group: "dpvcg",
    latestVersion: "https://w3id.org/dpv/legal/eu/aiact",
    canonicalUri: "https://w3id.org/dpv/legal/eu/aiact",
    edDraftURI: "https://dev.dpvcg.org/legal/eu/aiact",
    github: "w3c/dpv",
    subjectPrefix: "[eu-aiact]",
    doJsonLd: true,
    lint: { "no-unused-dfns": false, "local-refs-exist": true },
    editors: [
    {
        "name": "Delaram Golpayegani",
        "company": "{{ "Delaram Golpayegani" | generate_author_affiliation }}"
    },
    {
      name: "Harshvardhan J. Pandit",
      url: "https://harshp.com",
      "company": "{{ "Harshvardhan J. Pandit" | generate_author_affiliation }}"
    }
    ],
    authors: [{% for person in data[vocab_name+'-metadata']['dct:creator']|ensure_list|sort %}
      {
        "name": "{{person}}",
        "company": "{{ person | generate_author_affiliation }}"
      }{{"," if not loop.last}}
      {% endfor %}],
    otherLinks: [
      {
        "key": "This Release",
        "data": [
            {
              "value": "https://w3id.org/dpv/2.0/legal/eu/aiact",
              "href": "https://w3id.org/dpv/2.0/legal/eu/aiact"
            }
        ]
      },
      {
        "key": "Key Publications",
        "data": [
            {
              "value": "Data Privacy Vocabulary (DPV) -- Version 2 (2024)",
              "href": "https://arxiv.org/abs/2404.13426"
            },
            {
              "value": "To Be High-Risk, or Not To Be—Semantic Specifications and Implications of the AI Act’s High-Risk AI Applications and Harmonised Standards (2023)",
              "href": "https://doi.org/10.1145/3593013.3594050"
            },
            {
              "value": "AIRO: an Ontology for Representing AI Risks based on the Proposed EU AI Act and ISO Risk Management Standards (2022)",
              "href": "https://doi.org/10.3233/SSW220008"
            }
        ]
      }
    ],
    localBiblio: {%  include 'references.json' %}
  };
</script>
{% endblock RESPEC %}
<link rel="stylesheet" type="text/css" href="../../../diagrams/common.css">
<link rel="shortcut icon" href="../../../diagrams/favicon-16x16.png" type="image/x-icon" sizes="16x16" />
  <link rel="shortcut icon" href="../../../diagrams/favicon-32x32.png" type="image/x-icon" sizes="32x32" />
</head>
<body>
{% block ABSTRACT %}
  <section id="abstract">
    <p>The EU-AIAct extension extends the [[[DPV]]] to provide concepts such as systems, purposes, risks, roles, documentations, and assessments based on the [[[AIAct]]]. The canonical URL for EU-AIAct extension is <a href="https://w3id.org/dpv/legal/eu/aiact">https://w3id.org/dpv/legal/eu/aiact</a>, the namespace for terms is <a href="https://w3id.org/dpv/legal/eu/aiact#"><code>https://w3id.org/dpv/legal/eu/aiact#</code></a>, the suggested prefix is <code>eu-aiact</code>, and this document along with source and releases are available at <a href="https://github.com/w3c/dpv">https://github.com/w3c/dpv</a>.</p>
    {{ sotd(data[vocab_name+'-metadata']) }}
    {{ dpv_document_family(document='eu-aiact-spec') }}
  </section>
{% endblock ABSTRACT %}
{% block INTRODUCTION %}
  <section id="motivation">
    <h2>Introduction</h2>
    <p>The [[[AIAct]]] is a landmark regulation which regulates the use of Artificial Intelligence (AI) technologies. To support its implementation, the [[EU-AIAct]] extension provides relevant concepts which can be used to describe the facts of how AI is being developed and used within use-cases, and to produce the required documentation necessary for establishing or verifying compliance with the [[AIAct]]. Concepts in this extension extend relevant concepts defined in [[[DPV]]], as well as those defined in [[[AI]]] and [[[TECH]]] extensions.</p>
    <p>At the moment, the [[EU-AIAct]] extension provides the following concepts as defined or interpreted from the [[AIAct]]:</p>
    <ul>
      <li><a href="#vocab-system">taxonomy of AI systems</a>, such as general purpose AI systems or those using biometrics</li>
      <li><a href="#vocab-capability">taxonomy of capabilities</a>, such as to produce deep fakes or perform biometric identification</li>
      <li><a href="#vocab-risk">taxonomy of risk categorisations</a>, such as defining serious incidents or systemtic risks at EU level</li>
      <li><a href="#vocab-data">taxonomy of data categorisations</a>, such as training and testing data</li>
      <li><a href="#vocab-roles">taxonomy of legal roles</a>, such as the AI Deployers and Providers</li>
      <li><a href="#vocab-docs">taxonomy of documentation</a>, such as technical documentation </li>
      <li><a href="#vocab-status">taxonomy of statuses</a>, such as market availability and supply of services</li>
      <li><a href="#vocab-assessment">taxonomy of assessments</a>, such as conformity assessment and fundamental rights impact assessment</li>
      <li><a href="#vocab-misc">other concepts</a>, such as substantial modification and reasonably forseeable misuses</li>
      <li><a href="#vocab-compliance">Compliance</a> to express whether the specific process or context is compliant with the AI Act</li>
    </ul>
  </section>
{% endblock INTRODUCTION %}
{% block VOCAB %}

  <section id="vocab-system">
    <h2>AI System</h2>
    <p>The concept [=AISystem=] represents AI systems as defined in the AI Act.</p>
    
    {{ list_hierarchy(modules['system']['classes']) }}
  </section>

  <section id="vocab-capability">
    <h2>AI Capability</h2>
    <p>The use of 'capability' here refers to the capability of the technology to produce, perform, or achieve something, which is expressed in the [[TECH]] extension as <code>tech:Capability</code>.</p>
    
    {{ list_hierarchy(modules['capability']['classes']) }}
  </section>

  <section id="vocab-risk">
    <h2>AI Risk</h2>
    <p>The AI Act has a specific definition of risk as "combination of the probability of an occurrence of harm and the severity of that harm", which is represented using the concept [=Risk=] within this extension. This definition is a more specific form of <code>dpv:Risk</code>, and hence the existing relations can be used to describe its severity and likelihood.</p>
    
    {{ list_hierarchy(modules['risk']['classes']) }}
  </section>

  <section id="vocab-data">
    <h2>AI Data</h2>
    <p>The AI Act defines different categories of data as used to develop and deploy AI systems, such as [=TrainingData=] and [=TestingData=]. It also uses [=Biometric=] which is a special category of personal data under [[GDPR]].</p>
    
    {{ list_hierarchy(modules['data']['classes']) }}
  </section>

  <section id="vocab-roles">
    <h2>AI Roles</h2>
    <p>AI Roles describes the categorisation of entities based on the role they take in developing, providing or deploying, and using an AI System as defined within the [[AIAct]].</p> 
    
    {{ list_hierarchy(modules['roles']['classes']) }}
  </section>

  <section id="vocab-docs">
    <h2>AI Documentation</h2>
    <p>The documentation associated with AI, AI Systems, and other processes defined within the AI Act. These are described using <code>tech:Documentation</code> from the [[TECH]] extension.</p>
    
    {{ list_hierarchy(modules['docs']['classes']) }}
  </section>

  <section id="vocab-status">
    <h2>AI Status</h2>
    <p>Different statuses are described or implied within the [[AIAct]], such as [=MarketAvailabilityStatus=] regarding whether the AI system is available on the market, and [=ServiceSupplyStatus=] regarding whether the AI system has been supplied. These statuses refect the requirement to describe the state of the AI system and its use, which has implications in terms of requirements and obligations.</p>
    
    {{ list_hierarchy(modules['status']['classes']) }}
  </section>

  <section id="vocab-assessment">
    <h2>AI Assessment</h2>
    <p>The [[AIAct]] requires various assessments, such as [=CEMarking=] and [=PostMarketMonitoringSystem=] as part of its obligations. These are described using [[DPV]] concepts such as <code>dpv:CertificationSeal</code> and <code>dpv:ImpactAssessment</code>.</p>
    
    {{ list_hierarchy(modules['assessment']['classes']) }}
  </section>

  <section id="vocab-misc">
    <h2>Misc. Concepts</h2>
    <p>These concepts currently do not fit within the other stated categories, and are pooled together under a 'misc.' label while the vocabulary is being further developed.</p>
    
    {{ list_hierarchy(modules['misc']['classes']) }}
  </section>

  <section id="vocab-compliance">
    <h2>Compliance Status</h2>
    <p>The concepts in this section reflect the status of processing operations being in <i>compliance with AI Act</i>, by extending <code>dpv:ComplianceStatus</code>. It does not define the requirements for compliance itself. To indicate these, the relation <code>dpv:hasLawfulness</code> can be used.</p>
    <aside class="example" title="Indicating status of AI Act lawfulness">
      <p>This example shows the use of EU-AIAct to indicate the state of AI Act lawfulness associated with two processes. The first is asserted to be compliant, while the compliance status for the second is unknown at the moment. Both processes assert the applicability of AIA ct for brevity.</p>
      <pre class="nohighlight"><code>ex:PDH1 a dpv:Process ;
  dpv:hasApplicableLaw legal-eu:AIAct ;
  dpv:hasLawfulness eu-aiact:AIActCompliant .

ex:PDH2 a dpv:Process ;
  dpv:hasApplicableLaw legal-eu:AIAct ;
  dpv:hasLawfulness eu-aiact:AIActComplianceUnknown .
      </code></pre>
    </aside>
    {{ list_hierarchy(modules['compliance']['classes']) }}
  </section>

<section id="vocabulary">
<h2>Vocabulary Index</h2>
  <section id="dpv-classes">
    {{ index_concepts(vocab, vocab_name, filter="classes") }}
  </section>
  <section id="dpv-properties">
    {{ index_concepts(vocab, vocab_name, filter="properties") }}
  </section>
  <section id="external-concepts">
    <p>DPV uses the following terms from [[RDF]] and  [[RDFS]] with their defined meanings:</p>
    <ul>
      <li id="rdf:type"><dfn>rdf:type</dfn> to denote a concept is an instance of another concept</li>
      <li id="rdfs:Class"><dfn>rdfs:Class</dfn> to denote a concept is a Class or a category</li>
      <li id="rdfs:subClassOf"><dfn>rdfs:subClassOf</dfn> to specify the concept is a subclass (subtype, sub-category, subset) of another concept</li>
      <li id="rdf:Property"><dfn>rdf:Property</dfn> to denote a concept is a property or a relation</li>
      </ul>
    <p>The following external concepts are re-used within DPV:</p>
    {{ index_concepts(vocab, vocab_name, filter="external") }}
  </section>
</section>
{% endblock VOCAB %}

{% block ACKNOWLEDGEMENTS %}
<section id="contributors">
  <h2>Contributors</h2>
  <p>The following people have contributed to this vocabulary. The names are ordered alphabetically. The affiliations are informative do not represent formal endorsements. Affiliations may be outdated. The list is generated automatically from the contributors listed for defined concepts.</p>
  <ul>
  {% for person in data[vocab_name+'-metadata']['dct:contributor']|ensure_list|sort %}
    <li>{{ person }} ({{person|generate_author_affiliation}})</li>
  {% endfor %}
  </ul>
</section>
<section id="funding-acknowledgements" class="notoc">
  <h2>Funding Acknowledgements</h2>

  <h3>Funding Sponsors</h3>
  {{ funding_acknowledgements() }}

  <h3>Funding Acknowledgements for Contributors</h3>
  <p>The contributions of Delaram Golpayegani have received funding through the <a href="https://protect-network.eu/">PROTECT ITN Project</a> from the European Union’s Horizon 2020 research and innovation programme under the Marie Skłodowska-Curie grant agreement No 813497.</p>
  <p>The contributions of Harshvardhan J. Pandit have been made with the financial support of Science Foundation Ireland under Grant Agreement No. 13/RC/2106_P2 at the ADAPT SFI Research Centre.</p>

</section>
{% endblock ACKNOWLEDGEMENTS %}

{% block PROPOSED %}
{% if proposed %}
<section id="proposed-terms" class="appendix">
  <h2>Proposed Terms</h2>
  <p>The following terms have been proposed for inclusion, and are under discussion. They are provided here for illustrative purposes and should not be considered as part of DPV.</p>
  {% for name, terms in proposed.items() %}
    <strong>{{name}}</strong>
    <ul>{% for term in terms %}
      <li>{{term}}</li>
    {% endfor %}</ul>
  {% endfor %}
</section>
{% endif %}
{% endblock PROPOSED %}

<script type="text/javascript" src="../../../diagrams/common.js" defer></script>
</body>
</html>