{% from 'macro_dpv_document_family.jinja2' import dpv_document_family, sotd, funding_acknowledgements, contributors_list, authors_list %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Guide for using DPV with ODRL</title>
  <script src="https://www.w3.org/Tools/respec/respec-w3c" class="remove" defer></script>
  <script class="remove">
   // All config options at https://respec.org/docs/ 
   var respecConfig = {
    shortName: "guide-dpv-odrl",
    title: "Guide for using DPV with ODRL",
    subtitle: "Work in Progress",
    publishDate: "2025-01-16",
    specStatus: "CG-DRAFT",
    group: "dpvcg",
    latestVersion: "https://w3id.org/dpv/guides/dpv-odrl",
    canonicalUri: "https://w3id.org/dpv/guides/dpv-odrl",
    edDraftURI: "https://dev.dpvcg.org/guides/dpv-odrl",
    github: "w3c/dpv",
    subjectPrefix: "[dpv]",
    doJsonLd: true,
    lint: { "no-unused-dfns": false },
    editors: [{
      name: "Harshvardhan J. Pandit",
      url: "https://harshp.com",
      "company": "{{ "Harshvardhan J. Pandit" | generate_author_affiliation }}"
    }],
    otherLinks: [
      {
        "key": "Key Publications",
        "data": [
            {
              "value": "Data Privacy Vocabulary (DPV) -- Version 2.0 (2024)",
              "href": "https://doi.org/10.1007/978-3-031-77847-6_10"
            }
        ]
      }
    ],
    localBiblio: {%  include 'references.json' %}
  };
</script>
<link rel="stylesheet" type="text/css" href="../diagrams/common.css">
<link rel="shortcut icon" href="../diagrams/favicon-16x16.png" type="image/x-icon" sizes="16x16" />
  <link rel="shortcut icon" href="../diagrams/favicon-32x32.png" type="image/x-icon" sizes="32x32" />
</head>
<body>
<section id="abstract">
    <p>This document will provide a guide for using DPV with ODRL. Currently, it is a work in progress.</p>
    <aside class="issue" data-number="130"></aside>
</section>
      {{ sotd(DPV_VERSION=DPV_VERSION) }}
    {{ dpv_document_family('guide-dpv-odrl') }}

<section id="namespaces">
  <h3>Namespaces</h3>
    <p>The following namespaces and prefixes are used throughout this document:</p>
    <table>
        <thead><tr><th>prefix</th><th>URI</th></tr></thead>
        <tbody>
            <tr><td>dpv</td> <td><a href="https://w3id.org/dpv">https://w3id.org/dpv#</a></td></tr>
            <tr><td>ai</td> <td><a href="https://w3id.org/dpv/ai">https://w3id.org/dpv/ai#</a></td></tr>
            <tr><td>pd</td> <td><a href="https://w3id.org/dpv/pd">https://w3id.org/dpv/pd#</a></td></tr>
            <tr><td>loc</td> <td><a href="https://w3id.org/dpv">https://w3id.org/dpv/loc#</a></td></tr>
            <tr><td>tech</td> <td><a href="https://w3id.org/dpv">https://w3id.org/dpv/tech#</a></td></tr>
            <tr><td>eu-gdpr</td> <td><a href="https://w3id.org/dpv/legal/eu/gdpr">https://w3id.org/dpv/legal/eu/gdpr#</a></td></tr>
            <tr><td>dcterms</td> <td><a href="http://purl.org/dc/terms">http://purl.org/dc/terms/</a></td></tr>
            <tr><td>dcat</td> <td><a href="http://www.w3.org/ns/dcat#">http://www.w3.org/ns/dcat#</a></td></tr>
            <tr><td>odrl</td> <td><a href="http://www.w3.org/ns/odrl/2/">http://www.w3.org/ns/odrl/2/</a></td></tr>
            <tr><td>dpv-odrl</td> <td><a href="https://w3id.org/dpv/odrl">https://w3id.org/dpv/odrl#</a></td></tr>
            <tr><td>xsd</td> <td><a href="http://www.w3.org/2001/XMLSchema#">http://www.w3.org/2001/XMLSchema#</a></td></tr>
            <tr><td>ex</td> <td><a href="https://example.com">https://example.com/</a></td></tr>
        </tbody>
    </table>
</section>

<section id="introduction">
  <h2>Introduction</h2>
  <section>
    <h3>ODRL</h3>
    <p>
      The [[[ODRL-MODEL]]] recommendation is a W3C standard for the expression of policies regarding the usage of data and services.
      It allows the representation of rules (e.g., permissions, prohibitions, and obligations) in a domain-agnostic manner.
      These rules allow, deny, or oblige parties to perform actions over assets, which can be further restricted using
      constraints and duties.
    </p>
  </section>
  <section>
    <h3>Advantages of using DPV and ODRL</h3>
    <p>
      Since ODRL is a domain-agnostic policy language, DPV can be used as a controlled vocabulary for invoking privacy and 
      data protection-specific terms within deontic logic-based policies.
    </p>
  </section>
</section>

<section id="alignment">
  <h2>Alignment with ODRL</h2>
  <section>
    <h3>Mapping: DPV x ODRL terms</h3>
    <p>
      Mapping of how each DPV term should be used within an ODRL policy.
      This information will be represented in machine-readable form as an ODRL profile,
      which is being developed by the DPVCG at 
      <a href="https://w3id.org/dpv/mappings/odrl#" target="_blank">https://w3id.org/dpv/mappings/odrl#</a>,
      following the best practices documented in the
      <a href="https://w3c.github.io/odrl/profile-bp/" target="_blank">ODRL V2.2 Profile Best Practices</a> report.
    </p>
    <table>
      <thead>
        <tr>
          <th>DPV (rows), ODRL (columns)</th>
          <th>Party</th>
          <th>Action</th>
          <th>Asset</th>
          <th>LeftOperand</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>dpv:Entity</th>
          <td>X</td>
          <td></td>
          <td></td>
          <td>X</td>
        </tr>
        <tr>
          <th>dpv:Processing</th>
          <td></td>
          <td>X</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th>dpv:Data</th>
          <td></td>
          <td></td>
          <td>X</td>
          <td>X</td>
        </tr>
        <tr>
          <th>dpv:PersonalData</th>
          <td></td>
          <td></td>
          <td>X</td>
          <td>X</td>
        </tr>
        <tr>
          <th>ai:AISystem</th>
          <td></td>
          <td></td>
          <td>X</td>
          <td></td>
        </tr>
        <tr>
          <th>ai:Model</th>
          <td></td>
          <td></td>
          <td>X</td>
          <td></td>
        </tr>
        <tr>
          <th>dpv:Purpose</th>
          <td></td>
          <td></td>
          <td></td>
          <td>X</td>
        </tr>
        <tr>
          <th>dpv:TechnicalOrganisationalMeasure</th>
          <td></td>
          <td></td>
          <td></td>
          <td>X</td>
        </tr>
        <tr>
          <th>dpv:TechnicalMeasure</th>
          <td></td>
          <td></td>
          <td></td>
          <td>X</td>
        </tr>
        <tr>
          <th>dpv:OrganisationalMeasure</th>
          <td></td>
          <td></td>
          <td></td>
          <td>X</td>
        </tr>
        <tr>
          <th>dpv:LegalMeasure</th>
          <td></td>
          <td></td>
          <td></td>
          <td>X</td>
        </tr>
        <tr>
          <th>dpv:PhysicalMeasure</th>
          <td></td>
          <td></td>
          <td></td>
          <td>X</td>
        </tr>
        <tr>
          <th>dpv:Location</th>
          <td></td>
          <td></td>
          <td></td>
          <td>X</td>
        </tr>
        <tr>
          <th>dpv:Law</th>
          <td></td>
          <td></td>
          <td></td>
          <td>X</td>
        </tr>
        <tr>
          <th>dpv:LegalBasis</th>
          <td></td>
          <td></td>
          <td></td>
          <td>X</td>
        </tr>
        <tr>
          <th>dpv:Recipient</th>
          <td></td>
          <td></td>
          <td></td>
          <td>X</td>
        </tr>
        <tr>
          <th>dpv:Right</th>
          <td></td>
          <td></td>
          <td></td>
          <td>X</td>
        </tr>
        <tr>
          <th>dpv:Risk</th>
          <td></td>
          <td></td>
          <td></td>
          <td>X</td>
        </tr>
        <tr>
          <th>dpv:DataController</th>
          <td></td>
          <td></td>
          <td></td>
          <td>X</td>
        </tr>
        <tr>
          <th>dpv:DataProcessor</th>
          <td></td>
          <td></td>
          <td></td>
          <td>X</td>
        </tr>
        <tr>
          <th>dpv:HumanSubject</th>
          <td></td>
          <td></td>
          <td></td>
          <td>X</td>
        </tr>
        <tr>
          <th>dpv:DataSubject</th>
          <td></td>
          <td></td>
          <td></td>
          <td>X</td>
        </tr>
        <tr>
          <th>dpv:Duration</th>
          <td></td>
          <td></td>
          <td></td>
          <td>X</td>
        </tr>
        <tr>
          <th>dpv:Frequency</th>
          <td></td>
          <td></td>
          <td></td>
          <td>X</td>
        </tr>
        <tr>
          <th>dpv:Justification</th>
          <td></td>
          <td></td>
          <td></td>
          <td>X</td>
        </tr>
        <tr>
          <th>dpv:Technology</th>
          <td></td>
          <td></td>
          <td></td>
          <td>X</td>
        </tr>
        <tr>
          <th>dpv:DataSource</th>
          <td></td>
          <td></td>
          <td></td>
          <td>X</td>
        </tr>
      </tbody>
    </table>
  </section>
  <section>
    <h3>Process</h3>
    <p>Unless stated otherwise, i.e., using DPV Rules, a DPV process instantiation must be interpreted as a permissive policy.</p>
    <aside class="example" title="Example specifying a mapping from a DPV Process to an ODRL Policy">
      <p>A DPV process describing a personal data handling activity:</p>
      <pre><code>
        ex:Alpha a dpv:DataController .
        ex:AlphaPaymentManagement a dpv:Process ;
          dpv:hasDataController ex:Alpha ;
          dpv:hasPersonalData pd:BankAccount ;
          dpv:hasProcessing dpv:Use ;
          dpv:hasPurpose dpv:PaymentManagement .
      </code></pre>
      <p>Can be defined as the following ODRL policy:</p>
      <pre><code>
      ex:policy-AlphaPaymentManagement a odrl:Policy ;
        dcterms:creator ex:Alpha ;
        dcterms:issued "2022-11-08T17:26:35"^^xsd:dateTime ;
        odrl:uid ex:policy-AlphaPaymentManagement ;
        odrl:profile dpv-odrl: ;
        odrl:permission [
          odrl:assigner ex:Alpha ;
          odrl:target pd:BankAccount ;
          odrl:action dpv-odrl:Use ;
          odrl:constraint [
            odrl:leftOperand dpv-odrl:Purpose ;
            odrl:operator odrl:isA ;
            odrl:rightOperand dpv:PaymentManagement ] ] .
      </code></pre>
    </aside>
  </section>
  <section>
    <h3>Entities</h3>
    <p>DPV entities can be used as assigners or assignees of ODRL policies, as well as a left operand to filter ODRL party collections.</p>
     <aside class="example" title="Example specifying a DPV data controller as the assigner of an ODRL Policy">
      <pre><code>
      ex:policy-AlphaPaymentManagement a odrl:Policy ;
        dcterms:issued "2022-11-08T17:26:35"^^xsd:dateTime ;
        odrl:uid ex:policy-AlphaPaymentManagement ;
        odrl:profile dpv-odrl: ;
        odrl:permission [
          odrl:assigner [ a dpv:DataController ] ;
          odrl:target pd:BankAccount ;
          odrl:action dpv-odrl:Use ;
          odrl:constraint [
            odrl:leftOperand dpv-odrl:Purpose ;
            odrl:operator odrl:isA ;
            odrl:rightOperand dpv:PaymentManagement ] ] .
      </code></pre>
    </aside>
    <aside class="example" title="Example specifying an ODRL party collection refinement using DPV entity terms.">
      <pre><code>
      ex:policy-AlphaPaymentManagement a odrl:Policy ;
        dcterms:issued "2022-11-08T17:26:35"^^xsd:dateTime ;
        odrl:uid ex:policy-AlphaPaymentManagement ;
        odrl:profile dpv-odrl: ;
        odrl:permission [
          odrl:assigner [ 
            a dpv:PartyCollection ;
            odrl:source ex:entities ;
            odrl:refinement [
              odrl:leftOperand dpv-odrl:Entity ;
              odrl:operator odrl:isA ;
              odrl:rightOperand dpv:AcademicScientificOrganisation ]] ;
          odrl:target pd:BankAccount ;
          odrl:action dpv-odrl:Use ;
          odrl:constraint [
            odrl:leftOperand dpv-odrl:Purpose ;
            odrl:operator odrl:isA ;
            odrl:rightOperand dpv:PaymentManagement ] ] .
      </code></pre>
    </aside>
  </section>
  <section>
    <h3>Processing</h3>
    <p>
      DPV processing operations can be used as actions of ODRL policies,
      which can be further restricted using constraints, 
      e.g., <code>dpv-odrl:Location</code> as a left operand to restrict processing to a certain location.
    </p>
    <aside class="example" title="Example specifying that usage of asset should be done in Belgium.">
      <pre><code>
      ex:policy-AlphaPaymentManagement a odrl:Policy ;
        dcterms:issued "2022-11-08T17:26:35"^^xsd:dateTime ;
        odrl:uid ex:policy-AlphaPaymentManagement ;
        odrl:profile dpv-odrl: ;
        odrl:permission [
          odrl:action [ 
            rdf:value dpv-odrl:Use ;
            odrl:refinement [
              odrl:leftOperand dpv-odrl:Location ;
              odrl:operator odrl:eq ;
              odrl:rightOperand loc:BE ]] ;
          odrl:target pd:BankAccount ;
          odrl:assigner ex:entity ;
          odrl:constraint [
            odrl:leftOperand dpv-odrl:Purpose ;
            odrl:operator odrl:isA ;
            odrl:rightOperand dpv:PaymentManagement ] ] .
      </code></pre>
    </aside>
  </section>
  <section>
    <h3>Assets</h3>
    <p>
      DPV data and personal data types can be used as assets of ODRL policies, as well as a left operand to filter ODRL asset collections.
      The AI system and model concepts, specified in DPV's extension for AI technologies, can also be used as assets of ODRL policies.
    </p>
    <aside class="example" title="Example specifying an ODRL asset collection refinement using DPV data terms.">
      <pre><code>
      ex:policy-AlphaPaymentManagement a odrl:Policy ;
        dcterms:issued "2022-11-08T17:26:35"^^xsd:dateTime ;
        odrl:uid ex:policy-AlphaPaymentManagement ;
        odrl:profile dpv-odrl: ;
        odrl:permission [
          odrl:target [ 
            a dpv:AssetCollection ;
            odrl:source ex:data-catalog ;
            odrl:refinement [
              odrl:leftOperand dpv-odrl:PersonalData ;
              odrl:operator odrl:isA ;
              odrl:rightOperand pd:HealthRecord ]] ;
          odrl:assigner ex:entity ;
          odrl:action dpv-odrl:Use ;
          odrl:constraint [
            odrl:leftOperand dpv-odrl:Purpose ;
            odrl:operator odrl:isA ;
            odrl:rightOperand dpv:ResearchAndDevelopment ] ] .
      </code></pre>
    </aside>
  </section> 
  <section>
    <h3>Constraints</h3>
    <p></p>
    <aside class="example" title="Example specifying a `odrl:Request` policy to exercise GDPR right to erasure">
      <pre><code>
      ex:request-delete a odrl:Request ;
        odrl:uid ex:request-delete ;
        odrl:profile dpv-odrl: ;
        odrl:obligation [
          odrl:assigner ex:subject ;
          odrl:assignee ex:controller ;
          odrl:target ex:subject-data ;
          odrl:action [
            rdf:value odrl:delete ;
            odrl:refinement [
              odrl:leftOperand dpv-odrl:Justification ;
              odrl:operator odrl:eq ;
              odrl:justifications:NonNecessityObjection ] ] .
      </code></pre>
    </aside>
  </section>
</section>

<section id="odrl-operators">
  <h2>Usage of ODRL operators</h2>
  <aside class="issue" title="Missing semantic operators">
    <p>
       The ODRL vocabulary does not contain operators to evaluate semantic relations such as `a subclass of`.
       It also does not provide any operator to express that multiple relations are possible, e.g., the left operand
       can be an instance, a subclass, or an instance of a subclass, of the right operand.
       This issue is also being tracked in the ODRL CG, in issue
       <a href="https://github.com/w3c/odrl/issues/28">#28</a>.
    </p>
  </aside>
  <aside class="issue" title="Missing negation operator for instances">
    <p>
       The ODRL vocabulary does not contain an `is not a` operator to express that something is not an instance of the right operand.
       This issue is also being tracked in the ODRL CG, in issue
       <a href="https://github.com/w3c/odrl/issues/27">#27</a>.
    </p>
  </aside>
</section>

{% block ACKNOWLEDGEMENTS %}
<section id="funding-acknowledgements" class="notoc">
  <h2>Funding Acknowledgements</h2>

  <h3>Funding Sponsors</h3>
  {{ funding_acknowledgements() }}

  <h3>Funding Acknowledgements for Contributors</h3>
  <p>The contributions of Beatriz Esteves have received funding through the <a href="https://protect-network.eu/">PROTECT ITN Project</a> from the European Union’s Horizon 2020 research and innovation programme under the Marie Skłodowska-Curie grant agreement No 813497.</p>
  <p>The contributions of Harshvardhan J. Pandit have been made with the financial support of Science Foundation Ireland under Grant Agreement No. 13/RC/2106_P2 at the ADAPT SFI Research Centre; and the AI Accountability Lab (AIAL) which is supported by grants from following groups: the AI Collaborative, an Initiative of the Omidyar Group; Luminate; the Bestseller Foundation; and the John D. and Catherine T. MacArthur Foundation.</p>

</section>
{% endblock ACKNOWLEDGEMENTS %}
<script type="text/javascript" src="../diagrams/common.js" defer></script>
</body>
</html>