{% from 'macro_term_table.jinja2' import index_concepts, anchor %}
{% from 'macro_term_table.jinja2' import list_hierarchy %}
{% from 'macro_term_table.jinja2' import table_properties %}
{% from 'macro_example.jinja2' import example_aside %}
{% from 'macro_dpv_document_family.jinja2' import dpv_document_family, sotd, funding_acknowledgements %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}Context{% endblock title %}</title>
  <script src="https://www.w3.org/Tools/respec/respec-w3c" class="remove" defer></script>
  {% block RESPEC %}
  <script class="remove">
   // All config options at https://respec.org/docs/ 
   var respecConfig = {
    shortName: "dpv",
    title: "Context",
    subtitle: "concepts in Data Privacy Vocabulary (DPV)",
    publishDate: "2024-07-01",
    specStatus: "{{DOCUMENT_STATUS}}",
    group: "dpvcg",
    latestVersion: "https://w3id.org/dpv/dpv/modules/context",
    canonicalUri: "https://w3id.org/dpv/dpv/modules/context",
    edDraftURI: "https://dev.dpvcg.org/dpv/modules/context",
    github: "w3c/dpv",
    subjectPrefix: "[dpv]",
    doJsonLd: true,
    lint: { "no-unused-dfns": false, "local-refs-exist": true },
    editors: [
    {
      name: "Harshvardhan J. Pandit",
      url: "https://harshp.com/",
      "company": "{{ "Harshvardhan J. Pandit" | generate_author_affiliation }}",
    }
    ],
    otherLinks: [
      {
        "key": "This Release",
        "data": [
            {
              "value": "https://w3id.org/dpv/2.0",
              "href": "https://w3id.org/dpv/2.0"
            }
        ]
      },
      {
        "key": "Previous Release",
        "data": [
            {
              "value": "https://w3id.org/dpv/1.0",
              "href": "https://w3id.org/dpv/1.0"
            }
        ]
      },
      {
        "key": "Key Publications",
        "data": [
            {
              "value": "Data Privacy Vocabulary (DPV) -- Version 2 (2024)",
              "href": "https://arxiv.org/abs/2404.13426"
            }
        ]
      }
    ],
    localBiblio: {%  include 'references.json' %}
  };
</script>
{% endblock RESPEC %}
<link rel="stylesheet" type="text/css" href="../../diagrams/common.css">
<link rel="shortcut icon" href="../../diagrams/favicon-16x16.png" type="image/x-icon" sizes="16x16" />
  <link rel="shortcut icon" href="../../diagrams/favicon-32x32.png" type="image/x-icon" sizes="32x32" />
</head>
<body>
{% block ABSTRACT %}
    <section id="abstract">
      <p>This document provides additional details and examples for contextual concepts such as durations, frequencies, and locations used in the Data Privacy Vocabulary [[DPV]], and is a companion to the [[DPV]] specification.</p>
      {{ sotd(data[vocab_name+'-metadata']) }}
{{ dpv_document_family(document='dpv-spec') }}
      
    </section>
{% endblock ABSTRACT %}
  <section id="vocab-context"><span id="vocab-rights"></span>
    <h2>Introduction</h2>
    <blockquote>This document assumes the reader is familiar with DPV through the [[[PRIMER]]], and thus focuses on providing a topically structured documentation of concepts defined by DPV.</blockquote>
    <figure>
    <img src="../../diagrams/Context.svg">
    <figcaption></figcaption>
  </figure>
  {{ list_hierarchy(modules['context']['classes']) }}
  </section>
  <section>
    <h2>Duration and Frequency</h2>
    <p>To express the duration of events or operations, such as how long processing will take or the validity of consent, the concept [=Duration=] can be used. Duration is indicated using the relation [=hasDuration=], and has the following subtypes:</p>
    <ul>
    <li>[=TemporalDuration=] - indicating a relative temporal duration, e.g. 6 months.</li>
    <li>[=UntilTimeDuration=] - indicating duration that occurs until the end of specified time, e.g. until 31 DEC 2022.</li>
    <li>[=UntilEventDuration=] - indicating duration that occurs until the end of specified event, e.g. until account is closed.</li>
    <li>[=FixedOccurrencesDuration=] - a duration that is based on number of Occurrences, e.g. until you view it 3 times</li>
    <li>[=EndlessDuration=] - indicating a duration without an end condition or temporal notation.</li>
    </ul>
    <p>[=Frequency=] indicates how frequently something occurs. Statistically, this can be expressed as the combination of number of Occurrences and a time period, which can further be expressed as a probabilitic value or a percentage. For example, for something occuring once every year, the frequency is: 1 or 100% for 1 year. While such <i>quantified</i> representations are important for determining metrics and performing operations, DPV focuses on the <i>qualitative</i> labelling of such representations within a specific context.</p>
    <p>The relation [=hasFrequency=] associates a frequency with a context, and can be expressed using the following subtypes:</p>
    <ul>
      <li>[=ContinuousFrequency=] - indicates things occuring Continuously, e.g. location collection happens Continuously.</li>
      <li>[=SporadicFrequency=] - indicates things occuring sporadically or rarely or not often, e.g. collecting system usage logs every month.</li>
      <li>[=OftenFrequency=] - indicates things happen often or regularly or commonly, e.g. online status is reported every 5 mins.</li>
      <li>[=SingularFrequency=] - indicates things happen only once.</li>
    </ul>
    {{ example_aside('dex:E0050') }}
    {{ example_aside('dex:E0051') }}
  </section>

  <section>
    <h2>Importance &amp; Necessity</h2>
    <p>DPV provides two subtypes of concepts to denote contextual - [=Importance=] and [=Necessity=], which can be applied to specific contexts such as `dpv:Process`, `dpv:Purpose`, `dpv:PersonalData`.</p>
    <p>[=Necessity=] enables specifying whether the contextual information is [=Required=], is [=Optional=], or is [=NotRequired=]. These can be used to indicate, for example, which parts of processing operations (e.g. purposes, personal data) are optional, and whether a particular processing operation is required to be carried out.</i></p>
    <p>[=Importance=] is similar in application to [=Necessity=], and provides a way to indicate how <i>central</i> or <i>significant</i> the indicated operation(s) are to the context (e.g. to the Controller). Subtypes of importance are [=PrimaryImportance=] to indicate 'main' or 'central' or 'primary' importance, and [=SecondaryImportance=] to indicate 'auxiliary' or 'peripheral' or 'secondary' importance.</p>
    {{ example_aside('dex:E0052') }}
  </section>

  <section>
    <h2>Scope &amp; Justification</h2>
    <p>[=Scope=], associated using the relation [=hasScope=], indicates the extent or range or boundaries associated with(in) a context. For example, where processing only takes place for a specific service or within a jurisdictional framework.</p>
    <p>[=Justification=] enables providing a reason or 'justification' within the context. For example, why a particular activity is taking place, or for when a request could not be fulfilled - such as when exercising a right. Justifications can be indicated using the [=hasJustification=] relation. The [[[JUSTIFICATIONS]]] extension provides a taxonomy of such justifications based on practical use-cases and requirements. (examples for justifications are provided with status concepts later in this document)</p>
  </section>

  <section>
    <h2>Applicability</h2>
  <p>[=Applicability=] concepts enable expressing conditions where the information is not available, or is not applicable, or it is unknown. The concepts provided to represent these are: [=NotApplicable=], [=NotAvailable=], and [=UnknownApplicability=]. These concepts are useful for 'closed world' interpretations where information _must_ be provided e.g. when filling out a form a human may write "N/A" in the text field instead of providing the requested information.</p>
  {{ example_aside('dex:E0053') }}
  </section>

  <section id="vocab-context-status">
    <h2>Status</h2>
    <p>To assist with expressing the state or status associated with various activities, DPV provides the [=Status=] concept that can be associated contextually using the [=hasStatus=] relation. Types of statuses included in DPV are: [=ActivityStatus=], [=ComplianceStatus=] including [=Lawfulness=], [=AuditStatus=], [=ConformanceStatus=], [=RequestStatus=], [=EntityInformedStatus=], [=IntentionStatus=], [=ExpectationStatus=], [=InvolvementStatus=], and [=NotificationStatus=]. The corresponding relations provided are:  [=hasActivityStatus=], [=hasComplianceStatus=], [=hasLawfulness=], [=hasAuditStatus=], [=hasConformanceStatus=], [=hasRequestStatus=], [=hasInformedStatus=], [=hasIntention=], [=hasExpectation=], [=hasInvolvement=], and [=hasNotificationStatus=].</p> 

    <p>[=ActivityStatus=] represents a state or status of an activity's operations and lifecycle, which includes [=ActivityProposed=], [=ActivityOngoing=], [=ActivityHalted=], [=ActivityCompleted=], and [=ActivityNotCompleted=]. These are associated using the [=hasActivityStatus=] relation. Here, the concept 'Activity' is broadly defined and can refer to a process, a processing operation, or any other type of activity.</p>
    {{ example_aside('dex:E0054') }}

    <p><strong>[=ComplianceStatus=]</strong> represents status associated with <i>compliance</i> with some norms, objectives, or requirements. Types include [=Compliant=], [=PartiallyCompliant=], [=NonCompliant=], [=ComplianceViolation=], [=ComplianceUnknown=], [=ComplianceIndeterminate=]. These are indicated using the [=hasComplianceStatus=] relation. The association with a law or objective can be specified using [=hasApplicableLaw=] or `hasPolicy` directly for the status or indirectly through the concept whose status is being represented.</p>

    <p><strong>[=Lawfulness=]</strong> represents a special type of [=ComplianceStatus=] which relates to legal compliance, or <i>lawfulness</i>, and has types [=Lawful=], [=Unlawful=], and [=LawfulnessUnkown=]. It is indicated with the relation [=hasLawfulness=]. When using status associated with laws, we recommend using compliance status to refer to whether the specific activities being considered are according to the requirements of law, and lawfulness to refer to the overall nature of the activity being lawful or unlawful. Note that non-compliance may not necessary lead to unlawfulness e.g. there are exceptions or additional obligations to be carried out for non-compliance within the framework of the law.</p>
  
    {{ example_aside('dex:E0055') }}

    <p><strong>[=AuditStatus=]</strong> represents the state or status of an audit, where the term <i>audit</i> is loosely defined, and may or may not relate to legal compliance - for e.g. for impact assessments, or as part of certification, or to assess compliance (in combination with above), or for organisational quality assurance processes. Types of audits include [=AuditApproved=], [=AuditConditionallyApproved=], [=AuditRejected=], [=AuditRequested=], [=AuditNotRequired=], and [=AuditRequired=]. The audit status is indicated by using the relation [=hasAuditStatus=].</p>

    {{ example_aside('dex:E0056') }}

    <p><strong>[=ConformanceStatus=]</strong> represents the status of <i>conformance</i>, which is defined distinctly from <i>compliance</i> by considering voluntary association or following of a guideline, requirement, standard, or policy, and where compliance is related to the (legal or other systematically defined) <i>conformity</i> of a given system or use-case with <i>rules</i> which may dictate obligations and prohibitions that must be followed. To provide an illustrative example, consider <i>conformance</i> with a standard on best practices regarding security may assist in the demonstration of <i>compliance</i> with a legal norm requiring organisational measures of security. Types of conformance defined are: [=Conformant=] and [=NonConformant=].</p>

    <p><strong>[=RequestStatus=]</strong> represents the state or status of <i>requests</i>, which can be between entities such as data subjects and controllers regarding exercising of rights, or between controllers and processors regarding processing operations, or between authorities and controllers regarding compliance related communications. Types of request statues are: [=RequestInitiated=], [=RequestAcknowledged=], [=RequestAccepted=], [=RequestRejected=], [=RequestFulfilled=], [=RequestUnfulfilled=], [=RequestRequiresAction=], [=RequestRequiredActionPerformed=], [=RequestActionDelayed=], and [=RequestStatusQuery=].</p>

    {{ example_aside('dex:E0057') }}
    {{ example_aside('dex:E0058') }}
    {{ example_aside('dex:E0059') }}

    {{ list_hierarchy(modules['context-status']['classes']) }}
  </section>
</section>

<section id="vocab-context-jurisdiction">
  <h2>Location &amp; Jurisdiction</h2>
  <figure>
    <img src="../../diagrams/overview_Location.svg">
    <figcaption></figcaption>
  </figure>
  <p>To represent location, the concept [=Location=] along with relations [=hasLocation=] is provided. For geo-political locations, the concepts such as [=Country=] and [=SupraNationalUnion=] are subtyped, with [=hasCountry=] and [=ThirdCountry=] with [=hasThirdCountry=] provided for convenience in common uses (e.g. data storage, transfers).</p>
  <p>To define contextual location concepts, such as there being several locations, or that the location is 'local' to an event, DPV provides two concepts. [=LocationFixture=] specifies whether the location is 'fixed' or 'deterministic', and is extended with concepts [=FixedLocation=], [=FederatedLocations=], [=DecentralisedLocations=], [=RandomLocation=], and [=VariableLocation=]. [=LocationLocality=] specifies whether the location is 'local' within the context, and is extended as [=LocalLocation=] and [=RemoteLocation=]. Local locations provided include [=PrivateLocation=], [=PublicLocation=], [=WithinDevice=], [=WithinPhysicalEnvironment=], and [=WithinVirtualEnvironment=]. Remote location is extended to represent [=CloudLocation=].</p>
  <p>To represent locations as jurisdictions, the relation [=hasJurisdiction=] is provided. The concept [=Law=] represents an official or authoritative law or regulation created by a government or an authority. To indicate applicability of laws within a jurisdiction, the relation [=hasApplicableLaw=] is provided.</p>
  <p>[[[LEGAL]]] provides taxonomies extending these concepts, such as to represent specific countries, their laws, authorities, memberships, adequacy decisions, and other information.</p>

  {{ list_hierarchy(modules['context-jurisdiction']['classes']) }}
  {{ example_aside('dex:E0060') }}

  <aside class="note" title="DPV hasLocation and Location should not be used directly for representing personal data">
    <p>The location concepts in DPV are useful to represent locations associated with activities, and should not be used with personal data i.e. `dpv:hasLocation "Home"` should not be used to indicate 'home location' as personal data by itself. Instead, personal data should always be indicated by using `dpv:hasPersonalData`, and then creating an instance of `dpv:PersonalData` and associating it with the appropriate concept in [[PD]] or another taxonomy to represent the location or relevant concept.</p>
</section>

<section>
  <h2>Vocabulary Index</h2>
  <section id="classes">
    {% set module_combined = modules['context']['classes'].copy() %}
    {% set _ = module_combined.update(modules['context-status']['classes']) %}
    {% set _ = module_combined.update(modules['context-jurisdiction']['classes']) %}
    {{ index_concepts(module_combined, vocab_name, filter="classes") }}
  </section>
  <section id="properties">
    {% set module_combined = modules['context']['properties'].copy() %}
    {% set _ = module_combined.update(modules['context-status']['properties']) %}
    {% set _ = module_combined.update(modules['context-jurisdiction']['properties']) %}
    {{ index_concepts(module_combined, vocab_name, filter="properties") }}
  </section>
  <section id="external-concepts">
    <p>DPV uses the following terms from [[RDF]] and  [[RDFS]] with their defined meanings:</p>
    <ul>
      <li id="rdf:type"><dfn>rdf:type</dfn> to denote a concept is an instance of another concept</li>
      <li id="rdfs:Class"><dfn>rdfs:Class</dfn> to denote a concept is a Class or a category</li>
      <li id="rdfs:subClassOf"><dfn>rdfs:subClassOf</dfn> to specify the concept is a subclass (subtype, sub-category, subset) of another concept</li>
      <li id="rdf:Property"><dfn>rdf:Property</dfn> to denote a concept is a property or a relation</li>
      </ul>
    <p>The following external concepts are re-used within DPV:</p>
    {{ index_concepts(module_combined, vocab_name, filter="external") }}
  </section>
</section>

{% block ACKNOWLEDGEMENTS %}
<section id="contributors">
  <h2>Contributors</h2>
  <p>The following people have contributed to this vocabulary. The names are ordered alphabetically. The affiliations are informative do not represent formal endorsements. Affiliations may be outdated. The list is generated automatically from the contributors listed for defined concepts.</p>
  <ul>
  {% for person in data[vocab_name+'-metadata']['dct:contributor']|ensure_list|sort %}
    <li>{{ person }} ({{person|generate_author_affiliation}})</li>
  {% endfor %}
  </ul>
</section>
<section id="funding-acknowledgements" class="notoc">
  <h2>Funding Acknowledgements</h2>

  <h3>Funding Sponsors</h3>
  {{ funding_acknowledgements() }}

  <h3>Funding Acknowledgements for Contributors</h3>
  <p>The contributions of Harshvardhan J. Pandit have been made with the financial support of Science Foundation Ireland under Grant Agreement No. 13/RC/2106_P2 at the ADAPT SFI Research Centre.</p>

</section>
{% endblock ACKNOWLEDGEMENTS %}
<script type="text/javascript" src="../../diagrams/common.js" defer></script>
</body>
</html>