{% from 'macro_term_table.jinja2' import index_concepts %}
{% from 'macro_term_table.jinja2' import list_hierarchy %}
{% from 'macro_term_table.jinja2' import table_properties %}
{% from 'macro_dpv_document_family.jinja2' import dpv_document_family, sotd, funding_acknowledgements %}
{% from 'macro_example.jinja2' import example_aside %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}Entities{% endblock title %}</title>
  <script src="https://www.w3.org/Tools/respec/respec-w3c" class="remove" defer></script>
  {% block RESPEC %}
  <script class="remove">
   // All config options at https://respec.org/docs/ 
   var respecConfig = {
    shortName: "dpv",
    title: "Entities",
    subtitle: "concepts in Data Privacy Vocabulary (DPV)",
    publishDate: "2024-07-01",
    specStatus: "{{DOCUMENT_STATUS}}",
    group: "dpvcg",
    latestVersion: "https://w3id.org/dpv/dpv/modules/entities",
    canonicalUri: "https://w3id.org/dpv/dpv/modules/entities",
    edDraftURI: "https://dev.dpvcg.org/dpv/modules/entities",
    github: "w3c/dpv",
    subjectPrefix: "[dpv]",
    doJsonLd: true,
    lint: { "no-unused-dfns": false, "local-refs-exist": true },
    editors: [
    {
      name: "Harshvardhan J. Pandit",
      url: "https://harshp.com/",
      "company": "{{ "Harshvardhan J. Pandit" | generate_author_affiliation }}",
    }
    ],
    otherLinks: [
      {
        "key": "This Release",
        "data": [
            {
              "value": "https://w3id.org/dpv/2.0",
              "href": "https://w3id.org/dpv/2.0"
            }
        ]
      },
      {
        "key": "Previous Release",
        "data": [
            {
              "value": "https://w3id.org/dpv/1.0",
              "href": "https://w3id.org/dpv/1.0"
            }
        ]
      },
      {
        "key": "Key Publications",
        "data": [
            {
              "value": "Data Privacy Vocabulary (DPV) -- Version 2 (2024)",
              "href": "https://arxiv.org/abs/2404.13426"
            }
        ]
      }
    ],
    localBiblio: {%  include 'references.json' %}
  };
</script>
{% endblock RESPEC %}
<link rel="stylesheet" type="text/css" href="../../diagrams/common.css">
<link rel="shortcut icon" href="../../diagrams/favicon-16x16.png" type="image/x-icon" sizes="16x16" />
  <link rel="shortcut icon" href="../../diagrams/favicon-32x32.png" type="image/x-icon" sizes="32x32" />
</head>
<body>
{% block ABSTRACT %}
    <section id="abstract">
      <p>This document provides additional details and examples for entity concepts in the Data Privacy Vocabulary [[DPV]], and is a companion to the [[DPV]] specification.</p>
      {{ sotd(data[vocab_name+'-metadata']) }}
      {{ dpv_document_family(document='dpv-spec') }}
      
    </section>
{% endblock ABSTRACT %}
  <section id="vocab-entities">
    <h2>Introduction</h2>
  <figure>
    <img src="../../diagrams/Entities.png" />
    <figcaption></figcaption>
  </figure>
  <p>[=Entity=] in DPV refer to the concept of 'entity' as defined in law and society, which can be organisations or individuals, and which is distinct from the technical concept of 'agent'. A [=LegalEntity=] specifically refers to entities recognised legally or within legal norms. Expanding on these, DPV provides a taxonomy of entities based on their application within laws and use-cases in the form of <a href="#vocab-entities-legalrole"><i>Legal roles</i></a>, such as [=DataController=], [=DataSubject=], and [=Authority=]. Later, these concepts are expanded into taxonomies for different kinds of entities categorised under a common concept. For example, <a href="#vocab-entities-datasubject">categories of <i>Data Subjects</i></a> such as [=Adult=], [=User=], or [=Employee=]; or <a href="#vocab-entities-authority">kinds of <i>Authorities</i></a>, or <a href="#vocab-entities-organisation">categories of <i>Organisations</i></a>.</p>
  <p>The relation [=hasEntity=] is used to refer to an entity or associate it with a context, for example to indicate its involvement. More specific relations are provided to indicate legal roles, such as [=hasDataSubject=], [=hasDataController=], [=hasDataProcessor=], and so on.</p>
  <p>The relation `isImplementedByEntity` indicates the entity that implements the specified context e.g. processing operation or process.</p>

  {{ list_hierarchy(modules['entities']['schemes']['classes']) }}

<figure>
    <img src="../../diagrams/Entities_description.png" />
    <figcaption></figcaption>
  </figure>
  <p>To specify information about entities, DPV provides [=hasName=], [=hasAddress=], [=hasContact=], and [=hasIdentifier=] relations which can be used to indicate the name, address, contact, and identifier of the entity respectively. The properties are useful to indicate this information in a succint manner within a context - such as in documentation and records. However, they are not sufficient to represent all relevant information about the entities, and are also not capable of representing complex information - such as alternate or common names, detailed addresses with cities and postcodes, and different kinds of contact information and identifiers. For this, we recommend using other existing vocabularies such as <a href="https://schema.org/">schema.org</a>.</p>
  </section>

  <section id="vocab-entities-legalrole">
    <h2>Legal Roles</h2>
    <p><i>Legal Role</i> is the role taken on by a legal entity based on definitions or criteria from laws, regulations, or other such normative sources. Legal roles assist in representing the role and responsibility of an entity within the context of processing, and from this to determine the requirements and obligations that should apply, and their compliance or conformance.</p>
    {{ list_hierarchy(modules['entities-legalrole']['schemes']['classes']) }}
    <section id="desc-data-controller">
        <h3>Data Controller</h3>
        <p>A [=DataController=] is the entity responsible for the determination of processing of personal data. The exact meaning of 'responsible' and 'determination' varies across jurisdictions and laws. For example, [[GDPR]] defines a controller as the entity that determines 'means' and 'purposes' of processing personal data i.e. the entity that not only determine which data is being processed, but also the why and how of it. DPV does not prescribe to any particular jurisdictional definition, and the term 'Controller' here is analogous to the ISO term 'PII Controller'.</p>
        <p>To indicate the name, address, and contact details for a controller, the properties `hasName`, `hasAddress`, and `hasContact` are provided. Other properties can also be used to provide this as well as additional details, such as [[[FOAF]]] or <a href="https://schema.org/Organization">Schema.org</a>.</p>
        <p>To indicate an entity acting as the representative of the controller, the concept [=Representative=] and relation [=hasRepresentative=] are provided. Representatives can be present to maintain presence in multiple jurisdictions without the controller having to open new units in those divisions. The location or jurisdiction of representatives can be expressed by using the DPV concepts e.g. `hasLocation` and `hasJurisdiction`.</p>
        {{ example_aside('dex:E0032') }}
    </section>

    <section id="desc-data-processor">
        <h3>Data Processor</h3>
        <p>A Data Processor is an entity which processes personal data on behalf of the controller i.e. the controller provides instructions to the processor for what processing activities to perform. The processor is only responsible for carrying out the processing as stipulated by the controller. The term 'Processor' is analogous to the ISO term 'PII Processor'. Name, address, and contact details of a processor can be specified using the same properties as that of a controller. Similarly, representatives of a processor can also be indicated by using the [=Representative=] and [=hasRepresentative=] concepts.</p>
        <p>The instructions from a Controller to a Processor typically take the form of a `ControllerProcessorAgreement` which is a contract between the two entities. The contract can specify which entity takes on which role, what activities are to be performed by whom, and any other pertinent details regarding processing of personal data.</p>
        {{ example_aside('dex:E0024') }}
    </section>

    <section id="desc-recipient">
        <h3>Data Recipient</h3><span id="vocab-rights"></span>
        <p>[=Recipient=] represents the entity that receives data i.e. is the recipient for data. Recipients receive data through processing operations such as collect, share, and transfer. The relation [=hasRecipient=] indicates the entity that receives data. Recipients can be the controller, processor, or third party in use-cases. Processors are defined as a subcategory of Recipient as they need to receive data in order to process it. To explicitly denote that the recipient is a controller, the relation [=hasRecipientDataController=] is provided. It is useful in situations such as clarifying where the data controller receives data, or to indicate recipients in a joint controller relationships. To indicate a third party is the recipient, the relation [=hasRecipientThirdParty=] is provided.</p>
        {{ example_aside('dex:E0034') }}        
    </section>

    <section id="desc-third-party">
        <h3>Third Party</h3>
        <p>A [=ThirdParty=] is an entity other than the data subject, data controller, data processor, or authority associated with a context or process. The nature of third parties' roles in such contexts are not defined in DPV.</p>
    </section>

    <section id="desc-DPO">
        <h3>Data Protection Officer</h3>
        <p>A [=DataProtectionOfficer=] (DPO) is an entity within or authorised by an organisation to monitor internal compliance, inform and advise on data protection obligations and act as a contact point for data subjects and the supervisory authority. It is indicated by using the relation [=hasDataProtectionOfficer=]. A DPO is a legal entity and a representative of the organisation, and their name, address, and contact details can be specified using the same properties as any other representative or legal entity.</p>
    </section>

    <section id="desc-data-importer-exporter">
        <h3>Data Importer/Exporter</h3>
        <p>When data is being transferred, especially across jurisdictions, the entity sending the data is called the [=DataExporter=] and the entity receiving it is called the [=DataImporter=]. When the exporter and importer are in different jurisdictions, the data transfer is indicated to be `CrossBorderDataTransfer`. Exporters and Importers are indicated by using the relations [=hasDataExporter=] and [=hasDataImporter=].</p>
        {{ example_aside('dex:E0035') }}
    </section>

  </section>

  <section id="vocab-entities-authority">
    <h2>Authorities</h2>
    <p>The concept [=Authority=] is a specific Governmental Organisation authorised to enforce a law or regulation. Authorities can be associated with a specific domain, topic, or jurisdiction. DPV currently defines regional authorities for [=NationalAuthority=], [=RegionalAuthority=], and [=SupraNationalAuthority=], and [=DataProtectionAuthority=] represents authorities associated with data protection and privacy. To associate authorities with concepts, the relations [=hasAuthority=] and [=isAuthorityFor=] are provided.</p>
    {{ list_hierarchy(modules['entities-authority']['classes']) }}

    <section id="desc-DPA">
        <h3>Data Protection Authority</h3>
        <p>A [=DataProtectionAuthority=] (DPA) is responsible for regulating laws associated with data protection and privacy. It is associated by using the relation [=hasAuthority=]. The [[LEGAL]] extensions provide authorities for jurisdictions, such as the DPAs responsible for enforcing [[GDPR]] in EU. For jurisdictional aspects such as 'lead' supervisory authority, see [[EU-GDPR]] extension.</p>
        {{ example_aside('dex:E0036') }}
    </section>
  </section>

  <section id="vocab-entities-organisation">
    <h2>Organisation</h2>
    <p>[=Organisation=] taxonomy allows expressing the category of kind of organisation an entity is. For example, [=GovernmentalOrganisation=] for government departments and units, [=NonGovernmentalOrganisation=] for NGOs, and so on. As these categories are fixed i.e. an entity cannot easily switch between them, the relation to indicate them is `rdf:type`.</p>
    {{ list_hierarchy(modules['entities-organisation']['classes']) }}
    <section id="vocab-entities-organisation-unit">
      <h3>Organisational Units</h3>
      <p>An [=OrganisationalUnit=] is a unit or department or division within an organisation which does not have its own separate legal identity. Such units enable accurately representing how an organisation functions and where the responsibility and accountability within an organisation is located. To indicate an organisation has a unit, the relations [=hasOrganisationalUnit=] and [=isOrganistionalUnitOf=] are used.</p>
      {{ example_aside('dex:E0037') }}
    </section>
    <section id="vocab-entities-organisation-subsidiary">
      <h3>Subsidiaries</h3>
      <p>[=SubsidiaryLegalEntity=] is a company (organisation) owned or controller by another company (organisation). To indicate a subsidiary for an entity, the relations [=hasSubsidiary=] and [=isSubsidiaryOf=] are used. For jurisdictional aspects associated with subsidiaries such as 'establishments' under the GDPR, see the [[EU-GDPR]] extension.</p>
      {{ example_aside('dex:E0038') }}
    </section>
  </section>

  <section id="vocab-entities-datasubject">
    <h2>Data Subjects</h2>
    <p>DPV provides a taxonomy of data subject types to assist with describing what kind of individuals or groups are associated with an use-case. Some examples of such types are agency-based roles: [=Adult=] and [=Child=], [=ParentOfDataSubject=], [=GuardianOfDataSubject=]; those associated with vulnerability: [=VulnerableDataSubject=], [=ElderlyDataSubject=], [=AsylumSeeker=]; domain-specific roles such as [=Patient=], [=Employee=], [=Student=], jurisdictional roles such as [=Citizen=], [=NonCitizen=], [=Immigrant=]; and general roles such as [=User=], [=Member=], [=Participant=], and [=Client=].</p>
    {{ example_aside('dex:E0039') }}
    {{ list_hierarchy(modules['entities-datasubject']['classes']) }}
  </section>

  <section>
  <h2>Vocabulary Index</h2>
  {% set module_combined = modules['entities']['classes'].copy() %}
  {% set _ = module_combined.update(modules['entities-datasubject']['classes']) %}
  {% set _ = module_combined.update(modules['entities-organisation']['classes']) %}
  {% set _ = module_combined.update(modules['entities-authority']['classes']) %}
  {% set _ = module_combined.update(modules['entities-legalrole']['classes']) %}
  {% set _ = module_combined.update(modules['entities']['properties']) %}
  {% set _ = module_combined.update(modules['entities-datasubject']['properties']) %}
  {% set _ = module_combined.update(modules['entities-organisation']['properties']) %}
  {% set _ = module_combined.update(modules['entities-authority']['properties']) %}
  {% set _ = module_combined.update(modules['entities-legalrole']['properties']) %}
  <section id="classes">
    {{ index_concepts(module_combined, vocab_name, filter="classes") }}
  </section>
  <section id="properties">
    {{ index_concepts(module_combined, vocab_name, filter="properties") }}
  </section>
  <section id="external-concepts">
    <p>DPV uses the following terms from [[RDF]] and  [[RDFS]] with their defined meanings:</p>
    <ul>
      <li id="rdf:type"><dfn>rdf:type</dfn> to denote a concept is an instance of another concept</li>
      <li id="rdfs:Class"><dfn>rdfs:Class</dfn> to denote a concept is a Class or a category</li>
      <li id="rdfs:subClassOf"><dfn>rdfs:subClassOf</dfn> to specify the concept is a subclass (subtype, sub-category, subset) of another concept</li>
      <li id="rdf:Property"><dfn>rdf:Property</dfn> to denote a concept is a property or a relation</li>
      </ul>
    <p>The following external concepts are re-used within DPV:</p>
    {{ index_concepts(module_combined, vocab_name, filter="external") }}
  </section>
</section>
{% block ACKNOWLEDGEMENTS %}
<section id="contributors">
  <h2>Contributors</h2>
  <p>The following people have contributed to this vocabulary. The names are ordered alphabetically. The affiliations are informative do not represent formal endorsements. Affiliations may be outdated. The list is generated automatically from the contributors listed for defined concepts.</p>
  <ul>
  {% for person in data[vocab_name+'-metadata']['dct:contributor']|ensure_list|sort %}
    <li>{{ person }} ({{person|generate_author_affiliation}})</li>
  {% endfor %}
  </ul>
</section>
<section id="funding-acknowledgements" class="notoc">
  <h2>Funding Acknowledgements</h2>

  <h3>Funding Sponsors</h3>
  {{ funding_acknowledgements() }}

  <h3>Funding Acknowledgements for Contributors</h3>
  <p>The contributions of Harshvardhan J. Pandit have been made with the financial support of Science Foundation Ireland under Grant Agreement No. 13/RC/2106_P2 at the ADAPT SFI Research Centre.</p>

</section>
{% endblock ACKNOWLEDGEMENTS %}
<script type="text/javascript" src="../../diagrams/common.js" defer></script>
</body>
</html>