{% from 'macro_dpv_document_family.jinja2' import dpv_document_family, sotd %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Guides for Data Privacy Vocabulary</title>
    <style type="text/css">
        body {
            max-width: 38rem;
            margin: auto;
            line-height: 1.5;
        }
    </style>
    <script src="https://www.w3.org/Tools/respec/respec-w3c" class="remove" defer></script>
    <script class="remove">
   // All config options at https://respec.org/docs/ 
   var respecConfig = {
    shortName: "guide",
    title: "Guides for Data Privacy Vocabulary (DPV)",
    specStatus: "CG-DRAFT",
    group: "dpvcg",
    publishDate: "2022-10-06",
    latestVersion: "https://w3id.org/dpv/guides",
    canonicalUri: "https://w3id.org/dpv/guides",
    edDraftURI: "https://w3id.org/dpv/guides",
    github: "w3c/dpv",
    subjectPrefix: "[dpv]",
    doJsonLd: true,
    lint: { "no-unused-dfns": false },
    editors: [{
      name: "Harshvardhan J. Pandit",
      url: "https://harshp.com",
      "company": "{{ "Harshvardhan J. Pandit" | generate_author_affiliation }}"
    }],
    localBiblio: {%  include 'references.json' %}
  };
</script>
<link rel="stylesheet" type="text/css" href="../media/common.css">
</head>
<body>
    <section id="abstract">
        <p>This document lists the various guides created by the DPVCG and the community providing guidance for the adoption and use of DPV in terms of its concepts and serialisations, or regarding the application of DPV for specific applications or domains.</p>
        <p>The <a href="https://www.w3.org/community/dpvcg/">DPVCG</a> invites contributions regarding additional guides as well as updates to existing guides.</blockquote>
    {{ dpv_document_family(document='dpv-guides') }}
    {{ sotd() }}
    </section>

    <section id="guide-owl">
        <h1>[[[DPV-GUIDE-OWL2]]]</h1>
        <p>The [[[DPV-GUIDE-OWL2]]] provides guidance for the use of DPV as an OWL2 ontology, and explains how DPV can be easily encoded in a low-complexity profile of OWL2 called OWL2-PL.</p>
    </section>


<section id="funding-acknowledgements" class="noTOC">
  <h2>Funding Acknowledgements</h2>

  <h3>Funding Sponsors</h3>
  <p>The DPVCG and DPV were initiated as part of the <a href="https://specialprivacy.ercim.eu/">SPECIAL H2020 Project</a>, which received funding from the European Union’s Horizon 2020 research and innovation programme under grant agreement No. 731601. The SPECIAL project ran over a 3-year period from 2017 to 2019.</p>
  <p>Harshvardhan J. Pandit was funded by the Irish Research Council  Government of Ireland Postdoctoral Fellowship Grant#GOIPD/2020/790 for working within the DPVCG and contributing to the DPV. The fellowship lasted from 2020 to 2022.</p>

  <h3>Funding Acknowledgements for Contributors</h3>
  <p>The contributions of Harshvardhan J. Pandit have received funding from the ADAPT SFI Centre for Digital Media Technology is funded by Science Foundation Ireland through the SFI Research Centres Programme and is co-funded under the European Regional Development Fund (ERDF) through Grant#13/RC/2106 (2018 to 2020) and Grant#13/RC/2106_P2 (2021 onwards)</p>

</section>
<script type="text/javascript" src="../media/common.js" defer></script>
</body>
</html>