{% from 'macro_dpv_document_family.jinja2' import dpv_document_family, sotd, funding_acknowledgements, contributors_list, authors_list %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Guides for Data Privacy Vocabulary (DPV)</title>
    <style type="text/css">
        body {
            max-width: 38rem;
            margin: auto;
            line-height: 1.5;
        }
    </style>
    <script src="https://www.w3.org/Tools/respec/respec-w3c" class="remove" defer></script>
    <script class="remove">
   // All config options at https://respec.org/docs/ 
   var respecConfig = {
    shortName: "guide",
    title: "Guides for Data Privacy Vocabulary (DPV)",
    specStatus: "CG-FINAL",
    group: "dpvcg",
    publishDate: "2025-01-16",
    specStatus: "CG-FINAL",
    latestVersion: "https://w3id.org/dpv/guides",
    canonicalUri: "https://w3id.org/dpv/guides",
    edDraftURI: "https://dev.dpvcg.org/guides",
    github: "w3c/dpv",
    subjectPrefix: "[guides]",
    doJsonLd: true,
    lint: { "no-unused-dfns": false },
    editors: [{
      name: "Harshvardhan J. Pandit",
      url: "https://harshp.com",
      "company": "{{ "Harshvardhan J. Pandit" | generate_author_affiliation }}"
    }],
    otherLinks: [
      {
        "key": "Key Publications",
        "data": [
            {
              "value": "Data Privacy Vocabulary (DPV) -- Version 2.0 (2024)",
              "href": "https://doi.org/10.1007/978-3-031-77847-6_10"
            }
        ]
      }
    ],
    localBiblio: {%  include 'references.json' %}
  };
</script>
<link rel="stylesheet" type="text/css" href="../diagrams/common.css">
<link rel="shortcut icon" href="../diagrams/favicon-16x16.png" type="image/x-icon" sizes="16x16" />
  <link rel="shortcut icon" href="../diagrams/favicon-32x32.png" type="image/x-icon" sizes="32x32" />
</head>
<body>
    <section id="abstract">
        <p>This document lists the various guides created by the DPVCG and the community providing guidance for the adoption and use of DPV in terms of its concepts and serialisations, or regarding the application of DPV for specific applications or domains.</p>
        <p>The <a href="https://www.w3.org/community/dpvcg/">DPVCG</a> invites contributions regarding additional guides as well as updates to existing guides.</p>
    </section>
        {{ sotd(DPV_VERSION=DPV_VERSION, metadata='guides', draft=False) }}
        {{ dpv_document_family(document='dpv-guides') }}

    <section id="primer">
        <h2>Primer introducing DPV</h2>
        <p>The Data Privacy Vocabulary [[DPV]] enables expressing machine-readable metadata about the use and processing of personal data based on legislative requirements such as the General Data Protection Regulation [[GDPR]]. The [[[PRIMER]]] [[PRIMER]] introduces the fundamental structuring and use of concepts in DPV. It is intended to be a starting point for those wishing to use the DPV and an orientation for people from all disciplines. [[PRIMER-concise]] is a shorter version (2 pages) of the primer intended for a quick introduction.</p>
    </section>

    <section id="guide-use-dpv">
        <h2>Guides for using DPV concepts</h2>
        <section id="guide-owl">
            <h3>Using DPV with RDFS and SKOS</h3>
            <aside class="issue" data-number="220"></aside>
        </section>

        <section id="guide-owl">
            <h3>Using DPV with OWL2</h3>
            <p>The [[[GUIDE-OWL2]]] [[GUIDE-OWL2]] provides guidance for the use of DPV as an OWL2 ontology, and explains how DPV can be easily encoded in a low-complexity profile of OWL2 called OWL2-PL to perform efficient semantic reasoning.</p>
        </section>

        <section id="guide-json">
            <h3>Using DPV with JSON, CSV, etc.</h3>
            <aside class="issue" data-number="221"></aside>
        </section>

        <section id="guide-odrl">
            <h3>Using DPV with ODRL</h3>
            <p>
                <div class="issue" title="Guide for ODRL - work in progress"></div>
            </p>
            <p>The [[[GUIDE-ODRL]]] [[GUIDE-ODRL]] is a guide that will provide guidance for the use of DPV concepts with [[[ODRL-MODEL]]] and [[[ODRL-VOCAB]]]. ODRL is a W3C standard for machine-readable representations of policies and agreements. The aim of the guide will be to demonstrate the compatibility and alignment of DPV concepts with those from ODRL, and to guide adopters in using DPV concepts within ODRL and vice-versa. This will enable using DPV to represent policies and agreements as defined by the ODRL standard.</p>
            <p>For those interested in this, please refer to publications authored by DPVCG members which have explored this work:</p>
            <ol>
                <li><a href="http://hdl.handle.net/2262/96757">ODRL Profile for Expressing Consent through Granular Access Control Policies in Solid</a> - 2021 article by Beatriz Esteves, Harshvardhan J. Pandit, and Victor Rodriguez Doncel; and </li>
                <li><a href="http://hdl.handle.net/2262/98928">Using the ODRL Profile for Access Control for Solid Pod Resource Governance</a> - 2022 article by Beatriz Esteves, Victor Rodriguez Doncel, Harshvardhan J. Pandit, Nicolas Mondada, and Pat McBennett; and </li>
                <li><a href="https://doi.org/10.3233/SSW230015">Semantics for Implementing Data Reuse and Altruism under EU's Data Governance Act</a> - 2023 article by Beatriz Esteves, Victor Rodriguez Doncel, Harshvardhan J. Pandit, and Dave Lewis; and </li>
                <li><a href="https://ceur-ws.org/Vol-3636/paper5.pdf">Using Patterns to Manage Governance of Solid Apps</a> - 2023 article by Beatriz Esteves and Harshvardhan J. Pandit; and </li>
                <li><a href="https://zenodo.org/doi/10.5281/zenodo.10382092"> Enhancing Data Use Ontology (DUO) for Health-Data Sharing by Extending it with ODRL and DPV</a> - 2024 article by Harshvardhan J. Pandit and Beatriz Esteves.</li>
            </ol>
        </section>
    </section>

    <section id="guide-applications">
        <h2>Guides for DPV Applications</h2>
        <section id="guide-consent">
            <h3>ISO-27560 Consent Records and Receipts</h3>
            <p>[[[ISO-27560]]] provides guidance for the creation and maintenance of records regarding consent as machine-readable information. It also provides guidance on the use of this information to exchange such records between entities in the form of 'receipts'. The [[[GUIDE-Consent-27560]]] [[GUIDE-Consent-27560]] provides implementation of machine-readable consent records and receipts as defined in [[ISO-27560]] by using the <a href="https://w3id.org/dpv">Data Privacy Vocabulary (DPV)</a>. Additionally, it also provides guidance on using [[ISO-27560]] for meeting [[GDPR]] requirements regarding consent.</p>
            <p>For more information on the development process and further use of consent records and receipts implemented using DPV, see the 2024 article preprint <a href="https://osf.io/preprints/osf/3utx8">Implementing ISO/IEC TS 27560:2023 Consent Records and Receipts for GDPR and DGA</a> authored by Harshvardhan J. Pandit, Jan Lindquist, and Georg P. Krog.</p>
        </section>

        <section id="guide-notice">
            <h3>ISO-29184 Privacy Notices</h3>
            <aside class="issue" data-number="91"></aside></p>
        </section>

        <section id="guide-ropa">
            <h3>Record of Processing Activities (ROPA)</h3>
            <aside class="issue" data-number="67"></aside>
        </section>

        <section id="guide-dpia">
            <h3>Data Protection Impact Assessment (DPIA)</h3>
            <aside class="issue" data-number="66"></aside>
        </section>

        <section id="guide-databreach">
            <h3>Data Breach Records and Notifications</h3>
            <aside class="issue" data-number="103"></aside>
        </section>

        <section id="guide-rights">
            <h3>Rights Management</h3>
            <aside class="issue" data-number="191"></aside>
        </section>
    </section>


    <section id="docs">
        <h2>Use-Cases, Requirements, and Examples</h2>
        <aside class="issue" data-number="12"></aside>
        <p>See <a href="../use-cases/">Use-Cases and Requirements</a> page for use-cases and requirements that guided the development of DPV.</p>
        <p>See <a href="../examples/">Examples</a> page for examples demonstrating use of DPV concepts.</p>
    </section>


{% block ACKNOWLEDGEMENTS %}
<section id="funding-acknowledgements" class="notoc">
  <h2>Funding Acknowledgements</h2>

  <h3>Funding Sponsors</h3>
  {{ funding_acknowledgements() }}

  <h3>Funding Acknowledgements for Contributors</h3>
  <p>The contributions of Harshvardhan J. Pandit have been made with the financial support of Science Foundation Ireland under Grant Agreement No. 13/RC/2106_P2 at the ADAPT SFI Research Centre; and the AI Accountability Lab (AIAL) which is supported by grants from following groups: the AI Collaborative, an Initiative of the Omidyar Group; Luminate; the Bestseller Foundation; and the John D. and Catherine T. MacArthur Foundation.</p>

</section>
{% endblock ACKNOWLEDGEMENTS %}

<script type="text/javascript" src="../diagrams/common.js" defer></script>
</body>
</html>