{% from 'macro_term_table.jinja2' import index_concepts, list_items, list_hierarchy, table_properties, ref_dedicated_documentation, language_selector, anchor %}
{% from 'macro_dpv_document_family.jinja2' import dpv_document_family, sotd, funding_acknowledgements %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}{{data[vocab_name+'-metadata']['dct:title']}} ({{vocab_name|upper}}){% endblock title %}</title>
  <script src="https://www.w3.org/Tools/respec/respec-w3c" class="remove" defer></script>
  {% block RESPEC %}
  <script class="remove">
   // All config options at https://respec.org/docs/ 
   var respecConfig = {
    shortName: "p7012",
    title: "{{data[vocab_name+'-metadata']['dct:title']}} ({{vocab_name|upper}})",
    subtitle: "version {{data[vocab_name+'-metadata']['schema:version']}}",
    publishDate: "{{data[vocab_name+'-metadata']['dct:modified']}}",
    specStatus: "{{vocab_name|get_document_status}}",
    group: "dpvcg",
    latestVersion: "https://w3id.org/dpv/standards/p7012",
    canonicalUri: "https://w3id.org/dpv/standards/p7012",
    edDraftURI: "https://dev.dpvcg.org/standards/p7012",
    github: "w3c/dpv",
    subjectPrefix: "[pd]",
    doJsonLd: true,
    lint: { "no-unused-dfns": false, "local-refs-exist": true },
    editors: [
    {
      name: "Harshvardhan J. Pandit",
      url: "https://harshp.com/",
      "company": "{{ "Harshvardhan J. Pandit" | generate_author_affiliation }}"
    }
    ],
    authors: [{% for person in data[vocab_name+'-metadata']['dct:creator']|ensure_list|sort %}
      {
        "name": "{{person}}",
        "company": "{{ person | generate_author_affiliation }}"
      }{{"," if not loop.last}}
      {% endfor %}],
    otherLinks: [
      {
        "key": "This Release",
        "data": [
            {
              "value": "https://w3id.org/dpv/{{DPV_VERSION}}/standards/p7012",
              "href": "https://w3id.org/dpv/{{DPV_VERSION}}/standards/p7012"
            }
        ]
      },
      {
        "key": "Key Publications",
        "data": [
            {
              "value": "Data Privacy Vocabulary (DPV) -- Version 2 (2024)",
              "href": "https://arxiv.org/abs/2404.13426"
            }
        ]
      }
    ],
    localBiblio: {%  include 'references.json' %}
  };
</script>
{% endblock RESPEC %}
<link rel="stylesheet" type="text/css" href="../../diagrams/common.css">
<link rel="shortcut icon" href="../../diagrams/favicon-16x16.png" type="image/x-icon" sizes="16x16" />
  <link rel="shortcut icon" href="../../diagrams/favicon-32x32.png" type="image/x-icon" sizes="32x32" />
</head>
<body>
{% block ABSTRACT %}
  <section id="abstract">
    <p>This extension, abbreviated as [[STANDARD-P7012]], provides concepts that extend the [[DPV]] and its extensions with the goal of providing an information model and practical taxonomy that aids the implementation of [[[IEEE-P7012]]]. The canonical URL for the P7012 extension is <a href="https://w3id.org/dpv/standards/p7012">https://w3id.org/dpv/standards/p7012</a> and the namespace for terms is <a href="https://w3id.org/dpv/standards/p7012#"><code>https://w3id.org/dpv/standards/p7012#</code></a>, the suggested prefix is <code>p7012</code>, and this document along with source and releases are available at <a href="https://github.com/w3c/dpv">https://github.com/w3c/dpv</a>.</p>
  </section>
    {{ sotd(data[vocab_name+'-metadata']) }}
    {{ dpv_document_family(document='p7012-spec') }}
{% endblock ABSTRACT %}
{% block INTRODUCTION %}
  <section>
    <h2>Introduction</h2>
    <p>The [[[IEEE-P7012]]] is an upcoming specification that describes a mechanism for discovering, negotiating, and executing contracts based on machine-readable privacy terms that represent the preferences and decisions of individuals in their interactions with service providers. The draft standard describes processes for the discovery of an individual's acceptable privacy terms - such as on a website, through which a service provider can initiate and execute contracts for the provision of services in accordance with the expressed terms. The standard also includes processes for negotiation to choose between a set of acceptable privacy terms, a common shared registry within which the privacy terms shall be listed for common reference, and how agents - acting on behalf of individuals and service providers - utilise these to complete the contract execution processes.</p>
    <p>The [[IEEE-P7012]] draft standard references [[DPV]] in its appendix as an example of a vocabulary that can be used to express the relevant information for the creation and use of privacy terms in its defined processes. This includes concepts existing in [[DPV]] such as {{ anchor('dpv:Purpose') }} and {{ anchor('dpv:PersonalData') }}, but also includes other concepts which currently not present in [[DPV]] - such as to indicate preferences and to indicate agents that utilise these and negotiate the terms. This document describes and extension to the [[DPV]] specifications for representing the processes and information with the aim of supporting implementations of [[IEEE-P7012]].</p>
    <p>As a broad overview, [[IEEE-P7012]] can be understood through the following concepts:</p>
    <ul>
      <li>[=Person=] is a human individual, who wants to establish an [=Agreement=] with an [=Entity=] Organisation for the purposes of service delivery or to contribute data (e.g. for public good).</li>
      <li>[=PersonAgent=] is a software or machine agent that acts on behalf of the [=Person=], and interacts with the [=EntityAgent=] which acts on behalf of the [=Entity=].</li>
      <li>The [=Person=] can have an [=AgreementPreference=] which is used by the [=PersonAgent=] to communicate acceptable terms with the [=EntityAgent=].</li>
      <li>If the [=EntityAgent=] does not accept the offered terms, it can make a counter-offer through an [=AgreementNegotiation=], which the [=PersonAgent=] evaluates to approve or reject based on established [=AgreementPreference=].</li>
      <li>To avoid arbitrary terms and challenges associated with reasoning over unknown terms, an [=AgreementRegistry=] hosts terms or agreements for agents to use and refer to when interacting with each other. Agreements not hosted in such registries are not supported by agents. This creates consistency in interpretation (as each agreement in the registry has a well-defined interpretation) and ensures interoperability between agents.</li>
      <li>The specifics of the terms, such as what is permitted or prohibited, or what purposes and personal data are involved, can be expressed using the concepts provided in this document as well as the concepts defined in the [[DPV]], [[PD]], and other specifications. Doing this is recommended as it ensures all agents utilise the same concepts for consistency and interoperability, and through which establish standards such as [[ODRL-Model]] can be used to express agreements and contracts with the appropriate vocabulary.</li>
    </ul>
    <aside class="note" title="Scope of IEEE P7012 does not include technical implementation details">
      <p>Further granular details of how agents store and use information, how interactions between agents takes place, and how decisions over agreements are made are not defined within [[IEEE-P7012]]. Therefore, this document also does not consider them to be in scope.</p>
      <p>However, practicality requires guidance on how the [[IEEE-P7012]] and this document can be implemented in specific environments, such as within browsers or in smartphone apps. For this, the DPVCG invites participation and contribution towards creating a guide document that provides information on how this can be implemented using the [[DPV]] specifications. The DPVCG also invites references to existing articles and specifications (which may or may not DPV) that can be listed within such a guide.</p>
    </aside>
    <p>An example of how the [[IEEE-P7012]] can be implemented is visually represented in the following <a href="https://en.wikipedia.org/wiki/Sequence_diagram">UML sequence diagram</a> where a person visits a website, their agent ensures that P7012 is supported and asks the website whether it will accept [=SD-BY=] which is an agreement defined in this document and would be stored in a common repository accessible to all agents. If the entity agent accepts it, both enter into a contract. If not, the entity agent makes a counter-offer to negotiate using an agreement of its choice from the registry. The person's agent then accepts this or refuses this based on whether it satisfies the person's preferences. A step-by-step description is provided after the diagram.</p>
    <figure>
      <img  style="max-height: 90vh;" src="../../diagrams/p7012-process-overview.png">
      <figcaption>Overview of Contract Discovery and Negotiation Process</figcaption>
    </figure>
    <ol>
      <li>The [=Person=] chooses terms or agreements that they are willing to accept from a [=AgreementRegistry=] as a common repository hosting agreements. These choices are stored as [=AgreementPreference=] in a technical system, and are used by the [=PersonAgent=] in interactions with other agents. To avoid putting a lot of burden on the person to choose the correct decision, this document defines a controlled set of terms (see <a href="#vocab-agreement">Section Agreements</a>) based on the popular [[[CC-ABOUT]]]. [=SD-BY=] is one such agreement that only allows for service delivery and prohibits activities such as tracking, profiling, and sharing data by any 2nd/3rd party, and [=SD-BY-AT=] is another agreement that allows the entity organisation to perform analytics and tracking but prohibits any third party from doing the same.</li>
      <li>When the person visits a website, the [=PersonAgent=] checks whether it supports P7012 by querying either the defined [=EntityAgent=] or a [=P7012Endpoint=] (the details of how this works are not part of [[IEEE-P7012]]). The [=EntityAgent=] must acknowledge support in order for the process to continue.</li>
      <li>The [=PersonAgent=] then offers [=SD-BY=] as the agreement, which the [=EntityAgent=] asseses and accepts or refuses. If it accepts, both parties have an agreement, and a contract is established, signed, and both parties retain a copy.</li>
      <li>If the [=EntityAgent=] does not accept [=SD-BY=], it can make a counter-offer to negotiate with an agreement of its choice. This agreement is [=SD-BY-A=], which is another agreement defined in this document and would be in the common registry. As per [[IEEE-P7012]], negotiations are limited to a single counter-offer. Therefore, if the [=PersonAgent=] accepts this agreement (based on the [=AgreementPreference=]), then both parties execute a negotiated contract. If not, then the process terminates without an agreement and the person is informed that the entity organisation does not accept their chosen terms.</li>
      <li>[[IEEE-P7012]] requires the agreements and terms involved in these interactions to be well-defined and interoperable between the agents. Otherwise the [=EntityAgent=] can offer any alternative set of terms and the [=PersonAgent=] will have to evaluate and reason over them - which is challenging and risky if not unfeasible. Therefore, any offer or counter-offer made is always for an agreement hosted in the [=AgreementRegistry=].</li>
      <li>The [=PersonAgent=] and [=EntityAgent=] keep a record of the request, negotiation, and contract by logging each step (as required or when relevant) within a [=AgreementInteractionRecord=]. Such records are useful as evidence for transparency, accountability, and for use in future interactions - such as to know a party has established good behaviour in the past, or to refuse interactions with a party that does not have a favourable record.</li>
    </ol>
  </section>
{% endblock INTRODUCTION %}
{% block VOCAB %}
  <section id="entities-processes">
    <h2>Parties and Processes</h2>
    <section id="vocab-entities">
      <h3>Parties</h3>
      <p>In [[IEEE-P7012]], parties are defined with a specific role in the context of a contract. [=Person=] as the human individual is always the '<i>First Party</i>', the [=Entity=] which is always an {{anchor('dpv:Organisation')}} is always the '<i>Second Party</i>', and any other party is always a '<i>Third Party</i>'.</p>
      <p>[[IEEE-P7012]] requires and relies on [=Agent=] (as in <i>software or machine agents</i>) to express preferences, make decisions, and enter into contracts. To distinguish between agents acting on behalf of parties, a [=PersonAgent=] represents the [=Person=] and an [=EntityAgent=] represents the [=Entity=] organisation.</p>
      {{ list_hierarchy(modules['entities']['classes']) }}
      <aside class="issue" data-number="197"></aside>
    </section>
    <section id="vocab-process">
      <h2>Processes</h2>
      <p>The following concepts represent the activities and artefacts involved in the process:</p>
      {{ list_hierarchy(modules['process']['classes']) }}
    </section>
  </section>

  <section id="agreements">
    <h2>Agreements</h2>
    <section id="controlled-agreements">
      <h3>Model</h3>
      <p>To provide the person (and by extension - organisations) a simple way to select and express terms, the following set of agreements have been developed based on the [[[CC-ABOUT]]] model where a baseline term is defined and further terms are added to have the intended effect. Such as baseline term in the CC model (called CC-BY) represents the requirement to acknowledge authorship and provides a broad permission to other activities with the resource, which is then restricted through additional terms and represented by extending the acronym (see [[CC-CHOOSE]]). To adapt this to P7012, the baseline term must represent the key reason why the term is needed - which is the intention to receive a '<i>service</i>. However, unlike CC-BY, the person is not signalling that the service provider or any (random) third party can do whatever else they want - such as the commonly required but misused activities of analytics, tracking, profiling, or data sharing.</p>
      <p>Based on the above, the following terms have been developed and formulated as acronyms which can be easily understood in combinations:</p>
      <ul>
        <li>Service Delivery <strong>(SD)</strong></li>
        <li>Data Portability <strong>(DP)</strong></li>
        <li>Analytics by Second-Party <strong>(A)</strong></li>
        <li>Analytics and Tracking by Second-Party <strong>(AT)</strong></li>
        <li>Analytics, Tracking, and Profiling by Second-Party <strong>(ATP)</strong></li>
        <li>Share Anonymised Data with Third Party <strong>(S3P)</strong></li>
        <li>Personal Data Contribution <strong>(PDC)</strong> i.e. proactive contribution of data by a person towards some specific objective/purpose</li>
        <li>Intent Casting <strong>(INTENT)</strong></li>
        <li>AI Training and Operation <strong>(AI)</strong></li>
        <li>Public Good <strong>(GOOD)</strong></li>
      </ul>
      <p>The development of the terms consider what activities are commonly required by organisation, whether as part of providing a service, or tangential to it. In this, the activities of analytics, tracking, and profiling were found to be desirable when conducted by an organisation providing the service - such as to understand the usage of service, evaluate performance and response times, and to understand users. However, these same activities were found to be problematic and a widespread issue when conducted by - often unauthorised - third parties. Therefore, the use of these terms in combinations is about expressing how the organisation acting as the second party can or cannot perform these activities, while third parties - who often have no relation to the individual nor do they provide any benefits - are always prohibited.</p>
    </section>
    <section id="vocab-agreement">
      <h3>Defined Agreements</h3>
      <p>The combination of these terms follows a naming model where the terms acknowledged within the acronym expresses what the <i>second party</i> i.e. the entity organisation can do, and which any <i>third party</i> is prohibited to do. If the term is absent, it means it must not be done i.e. it is prohibited for both the second and third party. Thus, the baseline term of [=SD-BY=] offers the 'highest privacy level' as it prohibits most activities, while the term [=SD-BY-ATP-S3P=] offers the 'lowest privacy level' as it permits most activities - however, it is imperative to note that even at this 'lowest' level, it is only the <i>second party i.e. entity organisation</i> which is allowed to perform these activities. Thus, even at the 'lowest' level, the privacy level is still higher than the current norms as third parties are expressly prohibited from being involved in these activities.</p>
      <p>In addition to whether activities may or may not be performed, the term <code>DP</code> represents an obligation to perform 'data portability' i.e. provide involved data back to the individual. This term is optionally added to other terms, and thus represents variations of those agreements. The intention of this term is to ensure that there is no vendor lock-in, and that the data of the individual is provided back to them. The <a href="vocab-privacy-term">Section on Terms</a> expresses further developed concepts which have not been defined in acronyms, but which can be involved in agreements to express specific requirements such as regarding transparency, and to support the consistent interpretation of these terms across jurisdictions.</p>
      <p>Summarising the above, the below table represents a visual overview of the provided agreements and how they permit or prohibit specific terms. In the table, the symbol '✓' means the term is <i>permitted</i> i.e. it MAY BE optionally done, 'X' means the term is <i>prohibited</i> i.e. it MUST NOT be done, and '○' means the term is an <i>obligation</i> i.e. it MUST be done.</p>
      <table style="font-size: 0.75rem;">
        <thead>
          <tr>
              <th>Agreement ID</th>
              <th>Scope</th>
              <th>Service Delivery</th>
              <th>Analytics 2P</th>
              <th>Tracking 2P</th>
              <th>Profiling 2P</th>
              <th>Share Anonymised Data 3P</th>
              <th>Data Portability</th>
          </tr>
        </thead>
        <tbody>
          <tr>
              <td>[=SD-BY=]</td>
              <td>Any Service</td>
              <td style="background-color: #d9e5fc";>○</td>
              <td style="background-color: #fcdde1";>X</td>
              <td style="background-color: #fcdde1";>X</td>
              <td style="background-color: #fcdde1";>X</td>
              <td style="background-color: #fcdde1";>X</td>
              <td style="background-color: #d9e5fc";>○</td>
          </tr>
          <tr>
              <td>[=SD-BY-DP=]</td>
              <td>Any Service</td>
              <td style="background-color: #d9e5fc";>○</td>
              <td style="background-color: #fcdde1";>X</td>
              <td style="background-color: #fcdde1";>X</td>
              <td style="background-color: #fcdde1";>X</td>
              <td style="background-color: #fcdde1";>X</td>
              <td style="background-color: #a1f9a2";>✓</td>
          </tr>
          <tr>
              <td>[=SD-BY-A=]</td>
              <td>Any Service</td>
              <td style="background-color: #d9e5fc";>○</td>
              <td style="background-color: #a1f9a2";>✓</td>
              <td style="background-color: #fcdde1";>X</td>
              <td style="background-color: #fcdde1";>X</td>
              <td style="background-color: #fcdde1";>X</td>
              <td style="background-color: #d9e5fc";>○</td>
          </tr>
          <tr>
              <td>[=SD-BY-A-DP=]</td>
              <td>Any Service</td>
              <td style="background-color: #d9e5fc";>○</td>
              <td style="background-color: #a1f9a2";>✓</td>
              <td style="background-color: #fcdde1";>X</td>
              <td style="background-color: #fcdde1";>X</td>
              <td style="background-color: #fcdde1";>X</td>
              <td style="background-color: #a1f9a2";>✓</td>
          </tr>
          <tr>
              <td>[=SD-BY-AT=]</td>
              <td>Any Service</td>
              <td style="background-color: #d9e5fc";>○</td>
              <td style="background-color: #a1f9a2";>✓</td>
              <td style="background-color: #a1f9a2";>✓</td>
              <td style="background-color: #fcdde1";>X</td>
              <td style="background-color: #fcdde1";>X</td>
              <td style="background-color: #d9e5fc";>○</td>
          </tr>
          <tr>
              <td>[=SD-BY-AT-DP=]</td>
              <td>Any Service</td>
              <td style="background-color: #d9e5fc";>○</td>
              <td style="background-color: #a1f9a2";>✓</td>
              <td style="background-color: #a1f9a2";>✓</td>
              <td style="background-color: #fcdde1";>X</td>
              <td style="background-color: #fcdde1";>X</td>
              <td style="background-color: #a1f9a2";>✓</td>
          </tr>
          <tr>
              <td>[=SD-BY-ATP=]</td>
              <td>Any Service</td>
              <td style="background-color: #d9e5fc";>○</td>
              <td style="background-color: #a1f9a2";>✓</td>
              <td style="background-color: #a1f9a2";>✓</td>
              <td style="background-color: #a1f9a2";>✓</td>
              <td style="background-color: #fcdde1";>X</td>
              <td style="background-color: #d9e5fc";>○</td>
          </tr>
          <tr>
              <td>[=SD-BY-ATP-DP=]</td>
              <td>Any Service</td>
              <td style="background-color: #d9e5fc";>○</td>
              <td style="background-color: #a1f9a2";>✓</td>
              <td style="background-color: #a1f9a2";>✓</td>
              <td style="background-color: #a1f9a2";>✓</td>
              <td style="background-color: #fcdde1";>X</td>
              <td style="background-color: #a1f9a2";>✓</td>
          </tr>
          <tr>
              <td>[=SD-BY-ATP-S3P=]</td>
              <td>Any Service</td>
              <td style="background-color: #d9e5fc";>○</td>
              <td style="background-color: #a1f9a2";>✓</td>
              <td style="background-color: #a1f9a2";>✓</td>
              <td style="background-color: #a1f9a2";>✓</td>
              <td style="background-color: #a1f9a2";>✓</td>
              <td style="background-color: #d9e5fc";>○</td>
          </tr>
          <tr>
              <td>[=SD-BY-ATP-S3P-DP=]</td>
              <td>Any Service</td>
              <td style="background-color: #d9e5fc";>○</td>
              <td style="background-color: #a1f9a2";>✓</td>
              <td style="background-color: #a1f9a2";>✓</td>
              <td style="background-color: #a1f9a2";>✓</td>
              <td style="background-color: #a1f9a2";>✓</td>
              <td style="background-color: #a1f9a2";>✓</td>
          </tr>
          <tr>
              <td>[=PDC-INTENT=]</td>
              <td>Intent Casting</td>
              <td style="background-color: #a1f9a2";>✓</td>
              <td style="background-color: #fcdde1";>X</td>
              <td style="background-color: #fcdde1";>X</td>
              <td style="background-color: #fcdde1";>X</td>
              <td style="background-color: #fcdde1";>X</td>
              <td style="background-color: #a1f9a2";>✓</td>
          </tr>
          <tr>
              <td>[=PDC-AI=]</td>
              <td>Training AI</td>
              <td style="background-color: #a1f9a2";>✓</td>
              <td style="background-color: #fcdde1";>X</td>
              <td style="background-color: #fcdde1";>X</td>
              <td style="background-color: #fcdde1";>X</td>
              <td style="background-color: #fcdde1";>X</td>
              <td style="background-color: #a1f9a2";>✓</td>
          </tr>
          <tr>
              <td>[=PDC-GOOD=]</td>
              <td>Public Good</td>
              <td style="background-color: #a1f9a2";>✓</td>
              <td style="background-color: #fcdde1";>X</td>
              <td style="background-color: #fcdde1";>X</td>
              <td style="background-color: #fcdde1";>X</td>
              <td style="background-color: #fcdde1";>X</td>
              <td style="background-color: #a1f9a2";>✓</td>
          </tr>
        </tbody>
      </table>
      {# {{ list_hierarchy(modules['agreement']['classes']) }} #}
    </section>
    <section id="vocab-privacy-term">
      <h3>Defined Terms</h3>
      <p>While the <a href="vocab-agreement">agreement concepts</a> provide a set of useful concepts to represent entire agreements, their interpretation requires that the agent or system knows about the intended meaning associated with the concept. This requires that each concept be individual coded in to the system e.g. as a set of permissions, prohibitions, and obligations. To simplify and support this process, and provide a 'machine-readable' representation of what specifics each agreement entails, the following concepts represent the granular components which when combined can create the intended meaning as used in the agreement concepts.</p>
      <p>Each concept is represented as a {{anchor('dpv:ContractualClause')}} to reflect its use as terms involved in a larger agreement. To support the expression of what the clause contains, [[DPV]] {{anchor('dpv:Rule')}} concepts are used to represent what the clause models, and are associated with the agreement concepts through contextual relations - {{anchor('dpv:hasPermission')}}, {{anchor('dpv:hasProhibition')}}, and {{anchor('dpv:hasObligation')}}.. Through this, the agreement is defined as a set of clauses or terms representing specific permissions, prohibitions, and obligations.</p>
      <p>To further support implementations and human-oriented reviewing and other activities, the two relations [=hasMachineReadableFormat=] and [=hasHumanReadableFormat=] are provided. Using these, the agreement concepts can have different 'formats' and 'serialisations' to support implementing these in different systems. To express metadata about these, we recommend using [[DCTERMS]], such as `dct:format` and `dct:conformsTo` for machine-readable representations, and `dct:language` for human-readable representations. We also recommend using existing relevant standards for representing and cataloguing terms and agreements, particularly [[[DCAT]]], and using [[[ODRL-MODEL]]] for a standardised structure and interpretation of the terms and to represent and record interactions as 'offers', 'responses', and 'agreements'.</p>
      <p>The terms defined and used to model the agreements are as follows:</p>
      <ul>
        <li>[=TrackingTerm=] for whether tracking is allowed or not, and associated using [=hasTrackingTerm=];</li>
        <li>[=ProfilingTerm=] for whether profiling is allowed or not and associated using [=hasProfilingTerm=];</li>
        <li>[=DataSharingTerm=] for whether data sharing is allowed or not, and associated using [=hasDataSharingTerm=];</li>
        <li>[=PortabilityTerm=] for whether a reciprocal data portability obligation exists to provide a copy of involved data, which is associated using [=hasPortabilityTerm=].</li>
      </ul>
      <p>In addition to these, the following terms are provided to support further expression of relevant terms given common requirements or to address common issues, and to support the consistent interpretation and execution of terms:</p>
      <ul>
        <li>[=TransparencyTerm=] representing a reciprocal obligation to provide information, with further specific concepts for purposes ([=PurposeTransparencyTerm=]), parties ([=PartyTransparencyTerm=]), and data ([=DataTransparencyTerm=]), which are associated using [=hasTransparencyTerm=];</li>
        <li>[=DeonticInterpretationTerm=] for how the terms should be interpreted when there is no specific permission or prohibition covering an activity; which is associated using [=hasDeonticInterpretation=];</li>
        <li>[=ConflictResolutionTerm=] for how conflicts between permissions, prohibitions, and obligations should be handled, which is associated using [=hasConflictResolution=];</li>
        <li>[=AgentBehaviour=] for how agents should behave regarding requests ([=AgentRequestBehaviour=]) and regarding negotiations ([=AgentNegotiationBehaviour=]), which is associated using [=hasAgentBehaviour=];</li>
        <li>[=PreferenceApplicability=] for expressing when a privacy preference should be applicable, which is associated using [=hasPreferenceApplicability=].</li>
      </ul>
      {{ list_hierarchy(modules['privacy_term']['classes']) }}
    </section>
  </section>

  <section id="purpose-data">
    <h2>Purposes and Data</h2>
    <section id="vocab-data">
      <h2>Data</h2> 
      <p>The following are specific data categories required in the expression of [[IEEE-P7012]] style agreements. It is associated using <code>dpv:hasData</code> or <code>dpv:hasPersonalData</code> relations.</p> 
      {{ list_hierarchy(modules['data']['classes']) }}
    </section>
    <section id="vocab-purpose">
      <h2>Purposes</h2>  
      <p>The following are specific purpose categories required in the expression of [[IEEE-P7012]] style agreements. It is associated using <code>dpv:hasPurpose</code> relation.</p>
      {{ list_hierarchy(modules['purpose']['classes']) }}
    </section>
  </section>

  <section id="vocab-status">
    <h2>Statuses</h2>  
    <p>The following are specific statuses for representing the negotiation workflow required in the [[IEEE-P7012]] processes. It is associated using <code>dpv:hasStatus</code> relation.</p>
    {{ list_hierarchy(modules['status']['classes']) }}
  </section>

  <section id="examples">
    <h2>Examples</h2>
    <section>
      <h3>Expressing Privacy Terms using DPV</h3>
      <aside class="issue" title="Example: Privacy Term using DPV"></aside>
    </section>
    <section>
      <h3>Expressing Privacy Terms using ODRL</h3>
      <aside class="issue" title="Example: Privacy Term using ODRL"></aside>
    </section>
    <section>
      <h3>Record showing full contract interaction</h3>
      <aside class="issue" title="Example: Record showing full contract interaction using DPV"></aside>
      <h4>Simple Discovery and Negotiation</h4>
      <ol>
        <li>ServiceProvider queries PrivacyEndpoint of PrivacyAgent to start the privacy negotiation process by using p7012:PrivacyNegotiationRequested</li>
        <li>PrivacyAgent responds to ServiceProvider that it agrees to negotiate by using p7012:PrivacyNegotiationInitiated</li>
        <li>ServiceProvider requests PrivacyAgent to share its p7012:PrivacyPreference</li>
        <li>PrivacyAgent informs ServiceProvider it will accept p7012:SD-BY-ATP-DP</li>
        <li>ServiceProvider queries the PrivacyTermRegistry to retrieve p7012:SD-BY-ATP-DP and analyses whether it is acceptable for it or not</li>
        <li>ServiceProvider informs PrivacyAgent that the PrivacyTerm is acceptable by using p7012:PrivacyTermsAccepted</li>
        <li>PrivacyAgent sends a dpv:StandardFormContract to the ServiceAgent based on the selected PrivacyTerm</li>
        <li>ServiceProvider accepts/signs the contract and sends it to the PrivacyAgent with status dpv:ContractUnderNegotiation (as all parties have not signed it yet)</li>
        <li>PrivacyAgent accepts/signs the contract and sends it to the ServiceProvider with status dpv:ContractAccepted (indicating all parties have signed it)</li>
      </ol>
      <h4>Discovery and Negotiation with CounterOffer</h4>
      <ol>
        <li>ServiceProvider queries PrivacyEndpoint of PrivacyAgent to start the privacy negotiation process by using p7012:PrivacyNegotiationRequested</li>
        <li>PrivacyAgent responds to ServiceProvider that it agrees to negotiate by using p7012:PrivacyNegotiationInitiated</li>
        <li>ServiceProvider requests PrivacyAgent to share its p7012:PrivacyPreference</li>
        <li>PrivacyAgent informs ServiceProvider it will accept p7012:SD-BY-ATP-DP</li>
        <li>ServiceProvider informs PrivacyAgent it will not accept p7012:SD-BY-ATP-DP but will accept p7012:SD-BY-ATP by using p7012:PrivacyNegotiationCounterOfferMade</li>
        <li>PrivacyAgent queries the PrivacyTermRegistry to retrieve p7012:SD-BY-ATP and analyses whether it is acceptable for it or not</li>
        <li>PrivacyAgent informs ServiceProvider that the PrivacyTerm is acceptable by using p7012:PrivacyTermsAccepted</li>
        <li>PrivacyAgent sends a dpv:StandardFormContract to the ServiceAgent based on the selected PrivacyTerm</li>
        <li>ServiceProvider accepts/signs the contract and sends it to the PrivacyAgent with status dpv:ContractUnderNegotiation (as all parties have not signed it yet)</li>
        <li>PrivacyAgent accepts/signs the contract and sends it to the ServiceProvider with status dpv:ContractAccepted (indicating all parties have signed it)</li>
      </ol>
      <h4>Using Contextual Privacy Preference</h4>
      <p>Always express this preference using p7012:PrivacyPreferenceAlwaysApplies and conditionally express using p7012:PrivacyPreferenceConditionallyApplies. Conditional means there is a 'context' that represents the condition, expressed using 'dpv:hasContext' and some 'dpv:Context'. For example,</p>
      <ol>
        <li>Based on type of organisation, e.g. for non-profit (dpv:NonProfitOrganisation), the PrivacyTerm expressed is p7012:PDC-AI and p7012:PDC-GOOD</li>
        <li>Based on location of the individual, e.g. if they are at work (loc:AtWork), the Privacy Term expressed is p7012:SD-BY</li>
        <li>Based on age of the individual, e.g. if they are a child (dpv:Child), the Privacy Term expressed is p7012:SD-BY</li>
      </ol>
      <h4>Using Privacy Terms and Modifiers</h4>
<pre><code>p7012:SD-BY a p7012:PrivacyTerm ;
    dpv:hasPurpose p7012:ServiceDelivery ;
    p7012:hasPrivacyInterpretationModifier p7012:ProhibitiveInterpretation ;
    p7012:hasConflictResolutionModifier p7012:ResolvePreferringProhibition,
          p7012:ResolveOnlyWithinContext ;
    p7012:TrackingModifier p7012:TrackingDisallowed ;
    p7012:hasProfilingModifier p7012:ProfilingDisallowed ;
    p7012:hasDataSharingModifier p7012:DataSharingDisallowed ;
    p7012:hasPortabilityModifier p7012:PortabilityNotRequired ;
    rdfs:comment "lorem ipsum"@en .</code></pre>
    <p>Using PrivacyModifier in a PrivacyTerm, we can also express actions to be taken after the contract process has completed. In the below example, presuming this ia privacy term that is being used for a research organisation like a hospital to use data for research where purposes and parties may not be known ahead of time, the modifiers state that the purposes and data being created and used till that point should be communicated upon request, and that parties involved should be communicated or declared after the processing starts.</p>
<pre><code>ex:Example a p7012:PrivacyTerm ;
    p7012:hasPurposeTransparencyModifier p7012:PurposeTransparencyOnRequest ;
    p7012:hasPartyTransparencyModifier p7012:PartyTransparencyExPost ;
    p7012:hasDataTransparencyModifier p7012:DataTransparencyOnRequest .</code></pre>
    </section>
  </section>

  <section id="vocabulary">
<h2>Vocabulary Index</h2>
  <section id="dpv-classes">
    {{ index_concepts(vocab, vocab_name, filter="classes") }}
  </section>
  <section id="dpv-properties">
    {{ index_concepts(vocab, vocab_name, filter="properties") }}
  </section>
  <section id="external-concepts">
    <p>The following external concepts are re-used within PD:</p>
    {{ index_concepts(vocab, vocab_name, filter="external") }}
  </section>
</section>
  
{% endblock VOCAB %}

<section id="conformance"></section>

{% block ACKNOWLEDGEMENTS %}
{% if data[vocab_name+'-metadata']['dct:contributor'] %}
<section id="contributors">
  <h2>Contributors</h2>
  <p>The following people have contributed to this vocabulary. The names are ordered alphabetically. The affiliations are informative do not represent formal endorsements. Affiliations may be outdated. The list is generated automatically from the contributors listed for defined concepts.</p>
  <ul>
  {% for person in data[vocab_name+'-metadata']['dct:contributor']|ensure_list|sort %}
    <li>{{ person }} ({{person|generate_author_affiliation}})</li>
  {% endfor %}
  </ul>
</section>
{% endif %}
<section id="funding-acknowledgements" class="notoc">
  <h2>Funding Acknowledgements</h2>

  <h3>Funding Sponsors</h3>
  {{ funding_acknowledgements() }}

  <h3>Funding Acknowledgements for Contributors</h3>
  <p>The contributions of Beatriz Esteves have received funding through the <a href="https://protect-network.eu/">PROTECT ITN Project</a> from the European Union’s Horizon 2020 research and innovation programme under the Marie Skłodowska-Curie grant agreement No 813497. Beatriz Esteves is funded by <a href="https://solidlab.be/">SolidLab Vlaanderen</a> (Flemish Government, EWI and RRF project VV023/10).</p>
  <p>The contributions of Harshvardhan J. Pandit have been made with the financial support of Science Foundation Ireland under Grant Agreement No. 13/RC/2106_P2 at the ADAPT SFI Research Centre.</p>

</section>
{% endblock ACKNOWLEDGEMENTS %}

{% block PROPOSED %}
{% if proposed %}
<section id="proposed-terms" class="appendix">
  <h2>Proposed Terms</h2>
  <p>The following terms have been proposed for inclusion, and are under discussion. They are provided here for illustrative purposes and should not be considered as part of DPV.</p>
  <ul>{% for term in proposed %}
      <li>{{term}}</li>
    {% endfor %}</ul>
</section>
{% endif %}
{% endblock PROPOSED %}

{# <section class="appendix" id="issue-summary"></section> #}

<script type="text/javascript" src="../../diagrams/common.js" defer></script>
</body>
</html>