<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Validation Errors</title>
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="description" content="" />
  <style type="text/css">
    body {
      max-width: 800px;
      margin: auto;
    }
    section {
      border: 2px solid lightgray;
      padding: 2px;
    }
  </style>
</head>
<body>
  <h1>Validation Errors</h1>
  <hr/>
  <p><strong>Table of Contents</strong></p>
  <ul>
    {% for vocab, errors in data.items()|sort(attribute=0) %}
    <li><a href="#{{vocab}}">{{vocab}}</a><ul>
      {% for error, concepts in errors.items()|sort(attribute=0) %}
      <li><a href="#{{vocab}}-error{{loop.index}}">{{error}}</a> - {{concepts|length}} concepts</li>
      {% endfor %}</ul>
    </li>{% endfor %}
  </ul>
  <hr/>

  {% for vocab, errors in data.items()|sort(attribute=0) %}
  <section id="{{vocab}}">
    <h2>{{vocab}}</h2>
    {% for error, concepts in errors.items()|sort(attribute=0) %}
    <section id="{{vocab}}-error{{loop.index}}">
      <h3>{{error}}</h3>
      <ol>{% for concept in concepts|sort %}
        <li>{{concept}}</li>
      {% endfor %}</ol>
    </section>
    {% endfor %}
  </section>
  <hr/>
  {% endfor %}
</body>
</html>